#quickImg {float:left;position:relative; overflow:hidden;}
.quickImg ul{position:relative; overflow:hidden; width:110px; border:solid 4px #75A0CF; padding-bottom: 10px; }
.hand{cursor:pointer;}
#quickEnd{position: relative; padding: 0px 0px 0px 0px; margin: 0px 0px 0px 0px;}

.qtop{
  display:block; 
  width:110px;
  height:59px;
  background:url(/contents/images/quick/quickLink_bg01.gif) no-repeat;
}

a.q1 span{
  display:none;
}

a.q1{
  display:block; 
  width:118px;
  height:23px;
  background:url(/contents/images/quick/q_1.gif) no-repeat;
}
a:hover.q1{
  background:url(/contents/images/quick/q_1-2.gif) no-repeat;
}
a.q1 span{
  display:none;
}

a.q2{ 
 display:block; 
  width:118px;
  height:23px;
  background:url(/contents/images/quick/q_2.gif) no-repeat;
}
a:hover.q2{
  background:url(/contents/images/quick/q_2-2.gif) no-repeat;
}
a.q2 span{
  display:none;
}

a.q3{
  display:block; 
  width:118px;
  height:24px;
  background:url(/contents/images/quick/q_3.gif) no-repeat;
}
a:hover.q3{
  background:url(/contents/images/quick/q_3-2.gif) no-repeat;
}
a.q3 span{
  display:none;
}

a.q4{
  display:block; 
  width:118px;
  height:24px;
  background:url(/contents/images/quick/q_4.gif) no-repeat;
}
a:hover.q4{
  background:url(/contents/images/quick/q_4-2.gif) no-repeat;
}
a.q4 span{
  display:none;
}

a.q5{
  display:block; 
  width:118px;
  height:25px;
  background:url(/contents/images/quick/q_5.gif) no-repeat;
}
a:hover.q5{
  background:url(/contents/images/quick/q_5-2.gif) no-repeat;
}
a.q5 span{
  display:none;
}

a.q6{
  display:block; 
  width:118px;
  height:25px;
  background:url(/contents/images/quick/q_6.gif) no-repeat;
}
a:hover.q6{
  background:url(/contents/images/quick/q_6-2.gif) no-repeat;
}
a.q6 span{
  display:none;
}

a.q7{
  display:block; 
  width:118px;
  height:23px;
  background:url(/contents/images/quick/q_7.gif) no-repeat;
}
a:hover.q7{
  background:url(/contents/images/quick/q_7-2.gif) no-repeat;
}
a.q7 span{
  display:none;
}

a.q8{
  display:block; 
  width:118px;
  height:25px;
  background:url(/contents/images/quick/q_8.gif) no-repeat;
}
a:hover.q8{
  background:url(/contents/images/quick/q_8-2.gif) no-repeat;
}
a.q8 span{
  display:none;
}

a.q9{
  display:block; 
  width:118px;
  height:25px;
  background:url(/contents/images/quick/q_9.gif) no-repeat;
}
a:hover.q9{
  background:url(/contents/images/quick/q_9-2.gif) no-repeat;
}
a.q9 span{
  display:none;
}

a.q10{
  display:block; 
  width:118px;
  height:24px;
  background:url(/contents/images/quick/q_10.gif) no-repeat;
}
a:hover.q10{
  background:url(/contents/images/quick/q_10-2.gif) no-repeat;
}
a.q10 span{
  display:none;
}

a.q11{
  display:block; 
  width:118px;
  height:25px;
  background:url(/contents/images/quick/q_11.gif) no-repeat;
}
a:hover.q11{
  background:url(/contents/images/quick/q_11-2.gif) no-repeat;
}
a.q11 span{
  display:none;
}

a.q12{
  display:block; 
  width:118px;
  height:22px;
  background:url(/contents/images/quick/q_12.gif) no-repeat;
}
a:hover.q12{
  background:url(/contents/images/quick/q_12-2.gif) no-repeat;
}
a.q12 span{
  display:none;
}

a.q13{
  display:block; 
  width:118px;
  height:30px;
  background:url(/contents/images/quick/q_13.gif) no-repeat;
  
  
}
a:hover.q13{
  background:url(/contents/images/quick/q_13-2.gif) no-repeat;
}
a.q13 span{
  display:none;
}