@charset "utf-8";
/* base */

body {font-family:dotum, "돋움", sans-serif; font-size:12px; color:#555;}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, address, big, cite, code,
del, dfn, em, font, img, ins, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, 
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, 
table, caption, tbody, tfoot, thead, tr, th, td, br {margin: 0; padding: 0; border:0;  line-height: 1.5em; }

input, select { font-family:dotum, "돋움", sans-serif; font-size:12px; color:#555; margin:0; padding:1px 0 1px 0 ;}

li {list-style:none;}
p {text-align:justify;}

h1, h2, h3, h4, h5, h6, h7 { clear:both;}


a { text-decoration:none; color:#555; cursor:pointer;}
a:hover { color:#000;}

.Hidden {visibility:hidden; overflow:hidden; width:0; height:0; font-size:0; line-height:0; position:absolute; padding:0 !important;}

textarea, textarea:hover, textarea:active, textarea:visited { font-size:11px; padding:10px; margin:0;}

img { vertical-align:bottom;}


