@charset "utf-8";
/* board */


.BoardList { border-collapse:collapse; width:100%; margin-bottom:20px;}
.BoardList thead th { border-top:#039 solid 2px;  border-bottom:#ddd solid 1px; padding:8px 0;}
.BoardList tbody td { border-bottom:#f0f0f0 solid 1px; padding:7px 0; text-align:center;}
.BoardList tbody tr:last-child td {border-bottom:#ddd solid 1px;}
.BoardList tbody td a { display:block;}
.BoardList tr:hover td { background:#f7f7f7;}

.Board .BtnGroup { text-align:right;}
.Board .BtnGroup a { display:inline-block; padding:5px 15px 4px 15px; background:#06C; color:#fff;}
.Board .BtnGroup a:hover { background:#039;}

.Board .Paging { text-align:center;}
.Board .Paging a { display:inline-block; min-width:30px; height:30px; border:#ccc solid 1px; box-sizing:border-box; padding-top:6px; color:#666;vertical-align:middle;}
.Board .Paging a.M_on { font-weight:bold; color:#333; border-color:#039;}
.Board .Paging a.Arrow { border:none; background:#999; color:#fff; }

.BoardView {border-collapse:collapse; width:100%; margin-bottom:10px;}
.BoardView th {border-bottom:#f0f0f0 solid 1px; background:#f7f7f7; box-sizing:border-box;}
.BoardView th:first-child {padding-left:20px;text-align:left;}
.BoardView td { border-bottom:#f0f0f0 solid 1px; padding:7px 10px; box-sizing:border-box;}
.BoardView tr:first-child th, .BoardView tr:first-child td { border-top:#039 solid 2px;}

.BoardViewList {border-collapse:collapse; width:100%; margin-bottom:20px;}
.BoardViewList th {border:#f0f0f0 solid 1px; background:#f7f7f7; text-align:left; padding-left:20px; box-sizing:border-box;}
.BoardViewList td { border:#f0f0f0 solid 1px; padding:7px 10px; box-sizing:border-box;}

.BoardWrite input[type=text] { border:#ddd solid 1px; box-sizing:border-box; height:28px;}
.BoardWrite textarea { border:#ddd solid 1px; box-sizing:border-box; }

.AL_left { text-align:left !important;}
.AL_right { text-align:right !important;}
.AL_center { text-align:center !important;}