@charset "utf-8";
/* CSS Document */

.Cont_List { margin-bottom:30px; padding-top:15px;}
.Cont_List li { background:url(/img/newhelp/bullet_1.png) no-repeat 6px 4px; padding-left:22px; line-height:1.5; text-indent:0; font-weight:normal;}
.Cont_List ul { margin-bottom:15px;} 
.Cont_List ul li { background:url(/img/newhelp/bullet_2.png) no-repeat 2px 8px; padding-left:10px; line-height:1.4; text-indent:0;}
.contents ol li { font-weight:normal; line-height:1.4;}

h2.Type_2 { background:url(/img/newhelp/bullet_1.png) no-repeat 6px 4px; padding-left:22px; line-height:1.5; text-indent:0; font-weight:normal; margin-bottom:15px;}

h2.Type_3 { padding-left:6px; text-indent:0; font-weight:normal; margin:20px 0 0px 0; font-size:16px; color:#06c;}
h2.Type_4 { padding-left:6px; text-indent:0; font-weight:600; margin:30px 0 -20px 0; font-size:14px; color:#fff;padding:5px 15px 5px 22px; border-radius:15px; background:#4584b6; position:relative; display:inline-block; height:27px; box-sizing:border-box; }
h2.Type_4:before { content:''; width:5px; height:5px; display:block; border-radius:3px; background:#fff; position:absolute; left:10px; top:10px;}
h2.Type_4 img { width:135px; margin-top:-5px; vertical-align:middle;}

.contents figure img { width:auto; margin-top:0; max-width:722px;}

figure {margin: 20px 0 30px 8px; display:inline-block;}
figcaption { text-align:center;}


table.indexinfo { border-collapse:collapse; margin-top:20px;width:100%; overflow:visible;border:#a09d9d solid 1px;}
table.indexinfo thead th { background:#dadada; color:#666; font-size:13px; box-sizing:border-box;padding: 4px 0;border:#a09d9d solid 1px;}
table.indexinfo tbody td { border:#a09d9d solid 1px; padding:5px; box-sizing:border-box;}
table.indexinfo thead th:nth-child(1) { width:38px;}
table.indexinfo thead th:nth-child(2) { width:38px;}
table.indexinfo thead th:nth-child(3) { width:90px;}
table.indexinfo thead th:nth-child(4) { width:auto;}
table.indexinfo thead th:nth-child(5) { width:50px;}
table.indexinfo thead th:nth-child(6) { width:90px;}