/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@charset "utf-8"; 
/* 9월 서비스 - css 겹칩 */
/* @font-face {
  font-family:'Dotum';
  font-style:normal;
  font-weight:400;
  src:url(/contents/css/2014_css/css/font/NanumGothic-Regular.eot);
  src:url(/contents/css/2014_css/css/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(/contents/css/2014_css/css/font/NanumGothic-Regular.woff2) format('woff2'),
       url(/contents/css/2014_css/css/font/NanumGothic-Regular.woff) format('woff'),
       url(/contents/css/2014_css/css/font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family:'Dotum';
  font-style:normal;
  font-weight:700;
  src:url(/contents/css/2014_css/css/font/NanumGothic-Bold.eot);
  src:url(/contents/css/2014_css/css/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/contents/css/2014_css/css/font/NanumGothic-Bold.woff2) format('woff2'),
       url(/contents/css/2014_css/css/font/NanumGothic-Bold.woff) format('woff'),
       url(/contents/css/2014_css/css/font/NanumGothic-Bold.ttf) format('truetype');
}  */
/* *{ font-family: 'Dotum', sans-serif; } */
html,body,p, input, select, form, label, mark, ul, ul li, ol, ol li, dl, dl dt, dl dd, img, a, table{ margin:0; padding:0; }
img{ border:0; } 
ul, ol{ list-style:none; }
a{ color:#7c7c7c; text-decoration:none; } 
/* a:hover{ color:#333; text-decoration:none; }  */ /* 9월 서비스 - css 겹칩 */

table{ border:0;  border-collapse:collapse; }
.mb5{ margin-bottom:5px !important; }
.mt5{ margin-top:5px !important; }