@CHARSET "UTF-8";

#tutorialText{width:600px; height:130px; margin:0 auto; border:3px solid #266aa5; background:url(../../img/tutorial/bg.png)no-repeat; background-position:right 0; background-color: white; z-index:12000} 
#tutorialText2{width:600px; height:130px; margin:0 auto; border:3px solid #266aa5; background:url(../../img/tutorial/bg.png)no-repeat; background-position:right 0; background-color: white; z-index:12000} 
.title p {margin:18px 0 11px 17px; font-size:18px;color:#266aa4; font-weight:bold;}
.content{font-size:14px; margin:0 16px 0 16px; line-height:19px; color:#464646;}
.img1{position:absolute; left:52%; top:34px;}
.button{float:right; position:relative; bottom:15px; left:-11px;}
.button1{float:right; position:relative; bottom:15px; left:-11px;}
.tt_button01{float:right; position:relative; bottom:15px; left:-11px;}
.tt_button02{float:right; position:relative; bottom:15px; left:-11px;}
.tt_button03{float:right; position:relative; bottom:15px; left:-11px;}

.tutorialWrapper {position:absolute; width:100%; height:100%; top:0; background:rgba(0,0,0,0.4); z-index:10000;}
.popWrapper {position:absolute; width:100%; height:100%; top:136px; background:rgba(0,0,0,0.4); z-index:20000;}
#mainIndexImg{position:absolute; top:146px; left:-3px; cursor:pointer;  border: 3px outset red;}
#ptotalImg{display:none; position:absolute; top:193px; left:283px; cursor:pointer;  border: 3px outset red;}
#searchImg{display:none; position:absolute; bottom:5px; left:383px;  cursor:pointer; border: 3px outset red;z-index:10001;}
#addrSearchImg{display:none; position:absolute; top:103px; left:127px;}
#dragItemListImg{display:none; position:absolute; top:191px; left:0px; border: 1px solid black;}
#addrChoiceImg{display:none;position: absolute; top: 139px; left:10px; border: 1px solid black; z-index:10001;}
#okImg{display:none;position: absolute; top: 342px; left:133px;  cursor:pointer; border: 3px outset red;z-index:10003;}


#zoomMapImgDiv{display:none;position: absolute; z-index:10001; top:173px; background-image: url("../../img/tutorial/zoomMapImg.png"); background-repeat: no-repeat;}
/*
#zoomMapImg{display:none;position: absolute; z-index:10001; top:173px;}
*/
#zoomInImg{display:none;position: absolute; top: 311px; right:2px;  cursor:pointer; border: 3px outset red;z-index:10002;}
#zoomInMapImg{display:none;position: absolute; top: 173px;}

#zoomMapImg2{display:none;position: absolute; top: 173px;}
#zoomMapInfoImg{display:none;position: absolute; top:346px; left:676px;  cursor:pointer; border: 3px outset red; z-index:10001;}
#MouseoverImg{display:none;position: absolute; top: 329px; left:829px; z-index:10002;}

#zoomOutImg{display:none;position: absolute; top: 397px; right:2px;  cursor:pointer; border: 3px outset red;z-index:10002;}
#zoomOutMapImg{display:none;position: absolute; top: 173px;}

#dataBoardImg{display:none;position: absolute; top: 134px; right:-3px;  cursor:pointer; border: 3px outset red;z-index:10003;}
#dataBoardDetailImg{display:none;position: absolute; top: 138px; right:1px; z-index:10004;}
#dataBoardPyoImg{display:none;position: absolute; top: 300px; right:234px;  cursor:pointer; border: 3px outset red; z-index:10004;}
#dataBoardPyoDetailImg{display:none;position: absolute; top: 138px; right:1px; z-index:10004;}
#showDataImg{display:none;position: absolute; top: 252px; right:6px;  cursor:pointer; border: 3px outset red; z-index:10005;}
#dataBoardYearImg{display:none;position: absolute; top: 138px; right:1px; z-index:10004;}
#dataBoardCloseImg{display:none;position: absolute; top: 135px; right:-2px;  cursor:pointer; border: 3px outset red; z-index:10005;}

#greenLegendImg{display:none;position: absolute; bottom: 235px; left:189px;  cursor:pointer; border: 3px outset red; z-index:10002;}
#greenLegendMapImg{display:none;position: absolute; top: 173px;}

#legendOptionImg{display:none;position: absolute; bottom: 13px; left:177px;  cursor:pointer; border: 3px outset red; z-index:10002;}
/* #legendOptionListImg{display:none;position: absolute; top: 963px; left:222px;} */
#legendTypeImg{display:none;position: absolute; bottom: 12px; left:266px;  cursor:pointer; border: 3px outset red; z-index:10002;}
/* #legendTypeListImg{display:none;position: absolute; top: 804px; left:221px;} */
#legendTypeBubbleImg{display:none;position: absolute; bottom: 129px; left:266px;  cursor:pointer; border: 3px outset red; z-index:10002;}
#legendBubbleMapImg{display:none;position: absolute; top: 173px;}
#cleanImg{display:none;position: absolute; top: 100px; right:159px;  cursor:pointer; border: 3px outset red; z-index:10004;}
#cleanMapImg{display:none;position: absolute; top: 173px;}

#redLegendInfo1{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#redLegendInfo2{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#redLegendInfo3{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#redLegendInfo4{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#redLegendInfo5{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#greenLegendInfo1{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#greenLegendInfo2{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#bottomControlImg1{display:none; position:absolute; bottom:7px; left:8px; z-index:10002;}
#bottomControlImg2{display:none; position:absolute; bottom:7px; left:8px; z-index:10002;}

#addrChoice2Img{display:none; position:absolute; top:139px; left:10px;z-index:10001;}
#zoomMapImg3{display:none; position:absolute; top:173px;}
#zoomOutMap2Img{display:none; position:absolute; top:173px;}
#zoomOutMap3Img{display:none; position:absolute; top:173px;}

#mainMenuImg{display:none; position:absolute; top:139px; left:-3px; border-style:outset; cursor:pointer; border-width:3px; border-color:red; border-radius:7px; z-index:10001;}

#slide1Img{display:none; position:absolute; top:190px; left:-3px; border: 3px outset red;}
#slide2Img{display:none; position:absolute; top:234px; left:-3px; border: 3px outset red;}
#slide3Img{display:none; position:absolute; top:280px; left:-3px; border: 3px outset red;}
#slide4Img{display:none; position:absolute; top:344px; left:-3px; border: 3px outset red;}
#slide5Img{display:none; position:absolute; top:389px; left:-3px; border: 3px outset red;}
#slide6Img{display:none; position:absolute; top:436px; left:-3px; border: 3px outset red;}

#companyBtnImg{display:none; position:absolute; top:280px; left:-3px; border-style:outset; cursor:pointer; border-width:3px; border-color:red;}
#themaListImg{display:none; position: absolute;top: 146px;left: 427px;border: 3px outset red; cursor: pointer; border-top-right-radius:10px; border-top-left-radius:10px;height: 27px;width: 120px;}
#themaRestaurantImg{display:none; position:absolute; position: absolute;top: 430px;left: 287px; border: 3px outset red; cursor: pointer; border-radius: 15px;}
#themaCafeImg{display:none; position:absolute; top:590px; left:410px; border: 3px outset red; cursor: pointer;}
#themaButtonImg{display:none; position:absolute; bottom:5px; left:375px; border: 3px outset red; cursor: pointer;}
#zoomMapImg4{display:none; position:absolute; top:173px;}

#zoomMapImg5{display:none; position:absolute; top:173px;}

#redRegionImg{display:none; position:absolute; top:392px; left:650px; border: 3px outset red; cursor: pointer;}
#redRegionInfoImg{display:none; position:absolute; top:329px; left:530px;}
#whiteRegionImg{display:none; position:absolute; top:390px; left:805px; border: 3px outset red; cursor: pointer;}
#whiteRegionInfoImg{display:none; position:absolute; top:353px; left:852px; }

#companyDataboardImg{display:none; position:absolute; top: 138px; right:-1px; z-index:10002;}
#companyDataboard2Img{display:none; position:absolute; bottom: -40px; right:-1px; z-index:10003;}

#yearChoice2006Img{display:none;position: absolute; right:401px;border: 3px outset red;cursor: pointer;z-index:10003;}
#baseYear2006MapImg{display:none; position:absolute; top:173px;}
#dataBoard2006Img{display:none; position:absolute; bottom: -40px; right:-1px; z-index:10003;}

#yearChoice2010Img{display:none; position:absolute; right:61px; border: 3px outset red; cursor: pointer; z-index: 10003;}
#baseYear2010MapImg{display:none; position:absolute; top:173px;}
#dataBoard2010Img{display:none; position:absolute; bottom: -40px; right:-1px; z-index:10003;}

#yearChoice2014Img{display:none; position:absolute; right:145px;border: 3px outset red;cursor: pointer;z-index:10003;}

#rightControlImg2{display:none; position:absolute; top:103px; right:1px; z-index:10002;}
#rightControlImg3{display:none; position:absolute; top:103px; right:1px; z-index:10002;}

#poiButtonImg{display:none; position:absolute; top:179px; right:2px;border: 3px outset red;cursor: pointer; z-index:10002 ;}
#poiButtonOnImg{display:none; position:absolute; top:179px; right:2px;;border: 3px outset red; cursor: pointer; z-index:10002 }
#poiRestaurantImg{display:none; position:absolute; top:176px; right:287px;border: 3px outset red;cursor: pointer;z-index:10002;}
#poiSubmenuCafeImg{display:none; position:absolute; top:381px; right:347px;border: 3px outset red;cursor: pointer;z-index:10002;}
#poiMapImg{display:none; position:absolute; top:173px;}
#poiGroupMarkerImg{display:none; position:absolute; top:372px; left:616px;border: 3px outset red;cursor: pointer;z-index:10001;}
#poiMap2Img{display:none; position:absolute; top:173px;}
#poiMarkerImg{display:none; position:absolute; top:336px; left:776px; border: 3px outset red;cursor: pointer;z-index:10002;}
#poiMarkerInfoImg{display:none; position:absolute; top:220px; left:660px;z-index:10002;}
#poiCleanImg{display:none; position:absolute; top:177px; right:56px; border: 3px outset red;cursor: pointer;z-index:10002;}
#poiCleanMapImg{display:none; position:absolute; top:173px; left:0px;}
#zoomMapImg6{display:none; position:absolute; top:173px; left:0px;}
#zoomMapImg7{display:none; position:absolute; top:173px; left:0px;}

#toPoint_1{display:none; position:absolute; z-index:11000}
#toPoint_2{display:none; position:absolute; z-index:11000}
#toPoint_3{display:none; position:absolute; z-index:11000}
#toPoint_4{display:none; position:absolute; z-index:11000}

#toPoint_1_1{display:none; position:absolute; z-index:11000}
#toPoint_2_2{display:none; position:absolute; z-index:11000}
#toPoint_3_3{display:none; position:absolute; z-index:11000}
#toPoint_4_4{display:none; position:absolute; z-index:11000}

#toPoint_1_1_1{display:none; position:absolute; z-index:11000}
#toPoint_2_2_2{display:none; position:absolute; z-index:11000}

#sidoBizMainImg{display:none; position:absolute; top:183px; left:-1px; cursor:pointer;  border: 3px outset red;}
#bizMapImg1{display:none; position:absolute; top:170px;}
#sidoBizPoiImg1{display:none; position:absolute; top:392px; left:495px; cursor:pointer;  border: 3px outset red;}
#bizMapImg2{display:none; position:absolute; top:170px;}
#sidoBizDataBoardImg{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#sidoBizDbFoodImg{display:none;position: absolute; top: 307px; right:323px;  cursor:pointer; border: 3px outset red;z-index:10003;}
#sidoBizDataBoardImg2{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#pageClipImg{display:none;position: absolute; top: 275px; right:4px;  cursor:pointer; border: 3px outset red; z-index:10005;}
#sidoBizDataBoardImg3{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}

#sggBizMainImg{display:none; position:absolute; top:224px; left:-2px; cursor:pointer;  border: 3px outset red;}
#restaurantImg{display:none; position: absolute;top: 154px;left: 287px;border: 3px outset red; cursor: pointer; border-top-right-radius:17px; border-top-left-radius:17px; border-bottom-left-radius:17px; border-bottom-right-radius:17px;}
#restaurantOnImg{display:none; position: absolute;top: 154px;left: 287px;border: 3px outset red; cursor: pointer; border-top-right-radius:17px; border-top-left-radius:17px; border-bottom-left-radius:17px; border-bottom-right-radius:17px;}
#cafeImg{display:none; position:absolute; top:418px; left:278px; cursor:pointer;  border: 3px outset red;}
#bizMapImg3{display:none; position:absolute; top:170px;}
#bizRedLegend1{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#sggMapInfoImg{display:none; position:absolute; top:405px; left:665px; z-index:10002; cursor:pointer; border: 3px outset red;}
#sggBizDataBoardImg1{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#sggMapInfoTooltip{display:none;position: absolute; top: 500px; left:540px; z-index:10002;}
#chickenImg{display:none;position: absolute; top: 309px; right:200px;  cursor:pointer; border: 3px outset red;z-index:10003;}
#sggBizDataBoardImg2{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#sggInteriorImg{display:none;position: absolute; top: 313.5px; right:478px;  cursor:pointer; border: 3px outset red;z-index:10003;}
#sggBizDataBoardImg3{display:none;position: absolute; top: 136px; right:0px; z-index:1;z-index:10003;}
#bizMapImg4{display:none; position:absolute; top:170px;}
#sggMapInfoImg2{display:none; position:absolute; top:405px; left:665px; z-index:10002; border: 3px outset red;}
#sggMapInfoTooltip2{display:none;position: absolute; top: 500px; left:540px; z-index:10002;}
#sggBizDataBoardImg4{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#bizMapImg5{display:none; position:absolute; top:170px;}

#areaBizMainImg{display:none; position:absolute; top:270px; left:-3px; cursor:pointer;  border: 3px outset red;}
#serviceImg{display:none; position: absolute;top: 234px;left: 287px;border: 3px outset red; cursor: pointer; border-top-right-radius:17px; border-top-left-radius:17px; border-bottom-left-radius:17px; border-bottom-right-radius:17px;}
#bizMapImg6{display:none; position:absolute; top:170px;}
#areaBizDataBoardImg1{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#areaHeatLegend{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#areaHeatLegend2{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#areaHeatSido{display:none; position:absolute; top:373px; left:558px; cursor:pointer; z-index:10002; border: 3px outset red;}
#bizMapImg7{display:none; position:absolute; top:170px;}
#areaBizDataBoardImg2{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#areaHeatSgg{display:none; position:absolute; top:454px; left:616px; z-index:10002; border: 3px outset red; cursor:pointer;}
#bizMapImg8{display:none; position:absolute; top:170px;}
#areaBizDataBoardImg3{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#areaBizDataBoardImg5{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#area2006Img{display:none;position: absolute; right:456px;border: 3px outset red;cursor: pointer;z-index:10004;}
#heatRadiusImg{display:none; position:absolute; bottom:125px; left:13px; z-index:10002; border: 3px outset red; cursor:pointer;}
#pcImg{display:none; position:absolute; top:496px; left:278px; cursor:pointer;  border: 3px outset red;}

#searchBizMainImg{display:none; position:absolute; top:369px; left:-3px; cursor:pointer;  border: 3px outset red;}
#companyCntImg{display:none; position:absolute; top:238px; left:287px; cursor:pointer;  border: 3px outset red;}
#ccOption{display:none; position:absolute; top:437px; left:559px; cursor:pointer;  border: 3px outset red;}
#companyCntImg{display:none; position:absolute; top:238px; left:287px; cursor:pointer;  border: 3px outset red;}
#employeeImg{display:none; position:absolute; top:240px; left:470px; cursor:pointer;  border: 3px outset red;}
#searchBtnImg{display:none; position:absolute; bottom:6px; left:648px; cursor:pointer;  border: 3px outset red;}
#bizMapImg9{display:none; position:absolute; top:170px;}
#bizMapImg10{display:none; position:absolute; top:170px;}
#addrChoiceImg3{display:none;position: absolute; top: 139px; left:10px;z-index:10002;}
#addrChoiceImg4{display:none;position: absolute; top: 139px; left:10px;z-index:10002;}
#bizMapImg11{display:none; position:absolute; top:170px;}
#bizMapImg12{display:none; position:absolute; top:170px;}
#bizMapImg13{display:none; position:absolute; top:170px;}
#bizMapImg14{display:none; position:absolute; top:170px;}
#pcInfoImg1{display:none; position:absolute; top:576px; left:485px; cursor:pointer; border: 3px outset red;}
#pcInfoImg2{display:none; position:absolute; top:513px; left:440px;}
#dropZone{display:none; position:absolute; top:394px; left:420px; z-index:10000; cursor:pointer;  border: 3px outset red;}
#searchBizDataBoardImg1{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#compareImg{display:none;position: absolute; top: 588px; right:210px;z-index:10003;border: 3px outset red; cursor: pointer; border-top-right-radius:15px; border-top-left-radius:15px; border-bottom-left-radius:15px; border-bottom-right-radius:15px;}
#galmaMapImg{display:none;position: absolute; top: 309px; left:551px; cursor:pointer;  border: 3px outset red;}
#galmaDetailBtn{display:none;position: absolute; top: 498px; right:15px; z-index:10003; cursor:pointer; border: 3px outset red; cursor: pointer; border-top-right-radius:15px; border-top-left-radius:15px; border-bottom-left-radius:15px; border-bottom-right-radius:15px;}
#galmaTooltip{display:none;position: absolute; top: 300px; left:500px; z-index:10002;}
#bizRedLegend2{display:none; position:absolute; bottom:10px; left:10px; z-index:10002;}
#searchBizDataBoardImg2{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#searchBizDataBoardImg3{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#searchBizDataBoardImg4{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#searchBizDataBoardImg5{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}
#searchJobGraphImg{display:none;position: absolute; top: 514px; right:178px; cursor:pointer; border: 3px outset red;z-index:10003;}

#jobOpenImg{display:none; position:absolute; top:515px; left:-3px; cursor:pointer;  border: 3px outset red;}
#jobOpenImg2{display:none; position:absolute; top:314px; left:284px; cursor:pointer;  border: 3px outset red; border-top-right-radius:15px; border-top-left-radius:15px; border-bottom-left-radius:15px; border-bottom-right-radius:15px;}
#jobOpenImg3{display:none; position:absolute; top:350px; left:277px; cursor:pointer;  border: 3px outset red;}
#bizMapImg15{display:none; position:absolute; top:170px;}
#jobOpenDataBoardImg{display:none;position: absolute; top: 136px; right:0px;z-index:10003;}

.tutobtnOn{display:inline; cursor: pointer; border:3px outset red; z-index:10002;}
.tutobgOn{display:inline; z-index:10001;}
