@charset "utf-8";    
.wrapper{background:#131c42;width:100%;height:auto;overflow:hidden;}
.wrapper.main{background:url(../../img/developer/bg_main.jpg) no-repeat center top;background-size:cover;}
.header{width:980px;height:auto;overflow:hidden;margin:0 auto;}
.wrapper.main .header{width:980px;height:auto;overflow:hidden;margin:0 auto;}
.header h1{float:left;margin-top:30px;}
.header ul{float:right;width:182px;height:auto;overflow:hidden;}
.header ul li{float:left;width:91px;height:90px;overflow:hidden;}
.header ul li a{width:91px;height:90px;overflow:hidden;display:block;}

.container{width:100%;height:auto;overflow:hidden;}
.container .sideBox{width:82px;height:auto;overflow:hidden;position:fixed;left:50px;top:130px;}
.container .sideBox .rela{min-height:82px;width:82px;height:auto;overflow:hidden;position:relative;}
.container .sideBox .btnQuick{width:82px;height:82px;overflow:hidden;position:absolute;left:0;top:0;}
.container .sideBox .btnQuick:hover{opacity:1;}
.container .sideBox .sideMenu{margin-top:41px;padding-top:60px;padding-bottom:60px;width:80px;height:auto;overflow:hidden;border-bottom-left-radius:40px;border-bottom-right-radius:40px;border:1px solid #cd4b4b;border-top:0;background:#272f4b;}
.container .sideBox .sideMenu li{width:80px;height:70px;overflow:hidden;}
.container .sideBox .sideMenu li a{font-size:11px;text-align:center;color:#fff;display:block;width:80px;height:70px;line-height:115px;overflow:hidden;}
.container .sideBox .sideMenu li a:hover{opacity:1;}
.container .sideBox .sideMenu li a.m01{background:url(../../img/developer/bg_sidemList01.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m02{background:url(../../img/developer/bg_sidemList02.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m03{background:url(../../img/developer/bg_sidemList03.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m04{background:url(../../img/developer/bg_sidemList04.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m05{background:url(../../img/developer/bg_sidemList05.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m06{background:url(../../img/developer/bg_sidemList06.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m07{background:url(../../img/developer/bg_sidemList07.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m01:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList01_on.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m02:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList02_on.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m03:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList03_on.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m04:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList04_on.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m05:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList05_on.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m06:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList06_on.png) no-repeat center -10px;}
.container .sideBox .sideMenu li a.m07:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList07_on.png) no-repeat center -10px;}
.container .relaBox{width:980px;height:auto;overflow:hidden;margin:0 auto;}
.container .relaBox .aboutText{width:100%;height:auto;overflow:hidden;text-align:center;}
.container .relaBox .aboutText .t01{width:100%;height:auto;overflow:hidden;text-align:center;font-size:50px;color:#fff;}
.container .relaBox .aboutText .t02{width:100%;height:auto;overflow:hidden;text-align:center;font-size:15px;color:#fff;}
.container .relaBox .aboutText .t03{margin-top:15px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:18px;color:#fff;}
.container .relaBox .aboutText .t04{margin-top:10px;width:100%;height:auto;overflow:hidden;text-align:center;font-size:12px;color:#fff;}
.container .relaBox .aboutText a{margin:30px auto;display:block;width:194px;height:40px;line-height:40px;text-align:center;border:2px solid #224d9c;border-radius:5px;background:rgba(30,43,95,.5);color:#fff;font-size:15px;}
.container .latestMenu{margin:30px auto;width:840px;height:auto;overflow:hidden;}
.container .latestMenu li{float:left;width:25%;height:auto;overflow:hidden;}
.container .latestMenu li a{font-size:0;text-indent:-2000px;display:block;width:144px;height:144px;overflow:hidden;margin:0 auto;}
.container .latestMenu li a:hover{opacity:1;}
.container .latestMenu li a.l01{background:url(../../img/developer/bg_latestmList01.png) no-repeat center top;}
.container .latestMenu li a.l02{background:url(../../img/developer/bg_latestmList02.png) no-repeat center top;}
.container .latestMenu li a.l03{background:url(../../img/developer/bg_latestmList03.png) no-repeat center top;}
.container .latestMenu li a.l04{background:url(../../img/developer/bg_latestmList04.png) no-repeat center top;}
.container .latestMenu li a.l01:hover{background:url(../../img/developer/bg_latestmList01_on.png) no-repeat center top;}
.container .latestMenu li a.l02:hover{background:url(../../img/developer/bg_latestmList02_on.png) no-repeat center top;}
.container .latestMenu li a.l03:hover{background:url(../../img/developer/bg_latestmList03_on.png) no-repeat center top;}
.container .latestMenu li a.l04:hover{background:url(../../img/developer/bg_latestmList04_on.png) no-repeat center top;}
.container .latestBtn{width:320px;margin:80px auto 0 auto;height:auto;overflow:hidden;}
.container .latestBtn a.btnAuth{float:left;width:120px;padding-left:30px;height:35px;overflow:hidden;line-height:35px;border:1px solid #cd4b4b;border-radius:5px;color:#fff;font-size:15px;background:url(../../img/developer/ico_key.png) no-repeat left center;}
.container .latestBtn a.btnJoin{float:right;width:110px;padding-left:40px;height:35px;overflow:hidden;line-height:35px;border:1px solid #03a9f4;border-radius:5px;color:#fff;font-size:15px;background:url(../../img/developer/ico_join.png) no-repeat 10px center;}
.container .latestBtn a.btnAuth:hover{opacity:1;background:#cd4b4b url(../../img/developer/ico_key.png) no-repeat left center}
.container .latestBtn a.btnJoin:hover{opacity:1;background:#03a9f4 url(../../img/developer/ico_join.png) no-repeat 10px center}
.container .latestText{width:100%;height:auto;overflow:hidden;text-align:center;color:#fff;font-size:15px;margin:20px auto 10px auto;}
.container .latestGuide{width:760px;margin:0 auto;height:auto;overflow:hidden;}
.container .latestGuide li{width:50%;height:auto;overflow:hidden;float:left;font-size:12px;color:#fff;}
.container .latestGuide li span{color:red;font-size:12px;font-weight:bold;}
.latestList{margin-top:50px;width:100%;height:54px;overflow:hidden;background:#fff;}
.latestList .nbox{width:calc( 100% / 3 );height:54px;overflow:hidden;float:left;background:url(../../img/developer/bg_line01.png) no-repeat left center;}
.latestList .nbox.first{background:none;}
.latestList .nbox h2{font-size:16px;margin-left:30px;float:left;width:150px;height:54px;line-height:54px;overflow:hidden;}
.latestList .nbox a{float:right;margin:15px 15px 0 0;}

.footer{width:100%;height:106px;overflow:hidden;background:#fff;}
.footer .rela{width:980px;height:auto;overflow:hidden;margin:0 auto;}
.footer .rela .pic{width:280px;text-align:right;height:auto;overflow:hidden;float:left;margin-top:30px;}
.footer .rela ul{margin-top:25px;float:left;width:650px;height:auto;overflow:hidden;padding-left:50px;}
.footer .rela ul li{font-size:13px;margin-bottom:3px;width:100%;height:auto;overflow:hidden;color:#666;}

.wrapper.sub{background:#131c42;}
.wrapper.sub .container{position:relative;overflow:hidden;background:#fff;}
.wrapper.sub .container .lnb{width:90px;height:100%;overflow:hidden;background:#2a2d30;float:left;}
.wrapper.sub .container .guideMenu{position:absolute;left:90px;top:0;float:left;width:305px;height:100%;overflow:hidden;overflow-y:auto;background:#f2f4f7;}
.wrapper.sub .container .article{position:absolute;left:425px;top:0;background:#fff;float:left;width:calc( 100% - 425px );height:100%;overflow:hidden;overflow-y:auto;} 
.wrapper.sub .sideMenu li{border-top:1px solid #212325;width:90px;height:100px;overflow:hidden;}
.wrapper.sub .sideMenu li:first-child{border-top:0;}
.wrapper.sub .sideMenu li a{font-size:11px;text-align:center;color:#fff;display:block;width:90px;height:100px;line-height:140px;overflow:hidden;}
.wrapper.sub .sideMenu li a:hover{opacity:1;}
.wrapper.sub .sideMenu li a.m01{background:url(../../img/developer/bg_sidemList01.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m02{background:url(../../img/developer/bg_sidemList02.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m03{background:url(../../img/developer/bg_sidemList03.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m04{background:url(../../img/developer/bg_sidemList04.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m05{background:url(../../img/developer/bg_sidemList05.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m06{background:url(../../img/developer/bg_sidemList06.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m07{color:#cd4b4b;background:url(../../img/developer/bg_sidemList07_on.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m01:hover, 
.wrapper.sub .sideMenu li a.m01.on{background:#cd4b4b url(../../img/developer/bg_sidemList01.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m02:hover,
.wrapper.sub .sideMenu li a.m02.on{background:#cd4b4b url(../../img/developer/bg_sidemList02.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m03:hover,
.wrapper.sub .sideMenu li a.m03.on{background:#cd4b4b url(../../img/developer/bg_sidemList03.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m04:hover,
.wrapper.sub .sideMenu li a.m04.on{background:#cd4b4b url(../../img/developer/bg_sidemList04.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m05:hover,
.wrapper.sub .sideMenu li a.m05.on{background:#cd4b4b url(../../img/developer/bg_sidemList05.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m06:hover,
.wrapper.sub .sideMenu li a.m06.on{background:#cd4b4b url(../../img/developer/bg_sidemList06.png) no-repeat center top;}
.wrapper.sub .sideMenu li a.m07:hover{color:#cd4b4b;background:url(../../img/developer/bg_sidemList07_on.png) no-repeat center top;}
.topItem{width:245px;height:auto;overflow:hidden;margin:20px auto;}
.topItem .searchBox{width:243px;height:38px;overflow:hidden;border:1px solid #dcdcdc;background:#fff;}
.topItem .searchBox input{outline:none;font-size:15px;width:calc( 223px - 38px );border:0;float:left;height:38px;line-height:38px;padding:0 10px;}
.topItem .searchBox a{float:left;width:38px;height:38px;overflow:hidden;}
.topItem .searchBox a img{width:38px;}
.guideList{width:245px;height:auto;overflow:hidden;margin:30px auto;}
.guideList li{width:100%;height:auto;overflow:hidden;margin-bottom:10px;}
.guideList li>a{font-size:18px;font-weight:bold;color:#191919;}
.guideList li>a.on{color:#cd4b4b;}
.guideList li .etcList{margin-top:12px;width:235px;height:auto;overflow:hidden;margin-left:10px;}
.guideList li .etcList li{width:100%;height:auto;overflow:hidden;margin-bottom:2px;padding:5px 0;}
.guideList li .etcList li a{font-size:14px;color:#191919;}
.guideList li .etcList li a:hover{opacity:1;}
.guideList li .etcList li a:hover,
.guideList li .etcList li a.on{padding-left:10px;color:#cd4b4b;background:url(../../img/developer/ico_arr01.png) no-repeat left center;}

.wrapper.sub .container .article .rela{display:block;padding:0 20px;height:auto;overflow:hidden;}
.openMark{margin-top:20px;width:100%;height:auto;overflow:hidden;text-align:right;}
.itemList{width:100%;height:auto;overflow:hidden;}
.itemList.t01{margin-top:50px;}
.itemList dt{font-weight:bold;font-size:25px;color:#191919;width:calc( 100% - 10px );padding-left:10px;height:70px;line-height:70px;overflow:hidden;border-bottom:1px solid #d4d4d4;}
.itemList dd{width:calc( 100% - 10px );padding-left:10px;margin-top:20px;height:auto;overflow:hidden;font-size:15px;color:#191919;}
.itemSet{margin:20px auto 20px auto;width:100%;height:60px;overflow:hidden;}
.itemSet h3{margin-top:10px;margin-left:10px;font-size:20px;color:#cd4b4b;float:left;}
.itemSet.t01{margin-bottom:0;}
.itemSet.t01 h3{margin:0;}
.itemSet h3 span{display:block;font-size:15px;color:#cd4b4b;}
.itemSet a{float:right;margin-right:10px;display:block;width:170px;height:47px;line-height:47px;text-align:center;border-radius:5px;background:#4bae4f;color:#fff;font-size:15px;}
.itemSet a strong{font-weight:bold;font-size:15px;color:#fff;}
.exmpMaker{background:#f1f1f1;width:calc( 100% - 22px );margin:0 10px;height:350px;overflow:hidden;border:1px solid #d4d4d4;}
.normalBox{width:calc( 100% - 20px );height:auto;overflow:hidden;margin:20px 10px 0 10px;}
.normalBox .btnbox{float:left;height:47px;}
.normalBox .txtbox{float:left;margin-top:5px;margin-left:20px;height:auto;overflow:hidden;} 
.normalBox .txtbox .t01{width:100%;height:auto;overflow:hidden;color:#cd4b4b;font-size:15px;}
.normalBox .txtbox .t02{width:100%;height:auto;overflow:hidden;color:#191919;font-size:15px;} 

.sdkBox{width:100%;height:auto;overflow:hidden;}
.sdkBox a{width:120px;height:53px;overflow:hidden;font-size:0;text-indent:-2000px;float:left;}
.sdkBox a:hover{opacity:1;}
.sdkBox a.sdk01{background:url(../../img/developer/btn_sdk01.png) no-repeat;}
.sdkBox a.sdk02{margin-left:5px;background:url(../../img/developer/btn_sdk02.png) no-repeat;}
.sdkBox a.sdk01:hover{background:url(../../img/developer/btn_sdk01_on.png) no-repeat;}
.sdkBox a.sdk02:hover{background:url(../../img/developer/btn_sdk02_on.png) no-repeat;}

.formTable{width:100%;margin-bottom:30px;}
.formTable th{text-align:left;padding:3px 10px;color:#191919;font-size:15px;}
.formTable td{padding:3px 10px;}
.btnToken{display:block;width:100%;height:35px;line-height:35px;text-align:center;color:#fff;font-size:15px;background:#fec006;border-radius:5px;}

.expBox{width:100%;height:auto;overflow:hidden;}
.expBox .fl{float:left;width:calc( 50% - 5px );height:auto;overflow:hidden;}
.expBox .fr{float:right;width:calc( 50% - 5px );height:auto;overflow:hidden;}
.expBox .bar{height:52px;width:calc( 100% - 22px );padding-left:20px;border:1px solid #d4d4d4;font-size:18px;color:#fff;border-bottom:0;background:#999;line-height:52px;}
.expBox .codeArea{width:calc( 100% - 2px );height:250px;overflow:hidden;overflow-y:auto;border:1px solid #d4d4d4;border-top:0;}
.expBox .resultArea{width:calc( 100% - 2px );height:250px;overflow:hidden;overflow-y:auto;border:1px solid #d4d4d4;border-top:0;}
.itemBtn{margin:20px auto 0 auto;width:100%;height:60px;overflow:hidden;text-align:right;}
.itemBtn a{display:inline-block;width:85px;padding-left:50px;font-size:18px;height:43px;line-height:43px;text-align:left;overflow:hidden;border-radius:5px;color:#fff;}
.itemBtn a.btnReset{background:#b0b0b0 url(../../img/developer/bg_reset.png) no-repeat 15px center;}
.itemBtn a.btnFull{background:#b0b0b0 url(../../img/developer/bg_zoom.png) no-repeat 15px center;}
.side .gnb li a img,
.side .gnb li a span{-webkit-transition:all 0.2s ease;
-moz-transition:all 0.2s ease;
-ms-transition:all 0.2s ease;
-o-transition:all 0.2s ease;
transition:all 0.2s ease;}  
.side .gnb li a:hover img,
.side .gnb li a:hover span{
-ms-transform: scale(1.05,1.05);
-webkit-transform: scale(1.05,1.05);
transform: scale(1.05,1.05);
}

.picbox a, .picbox a:hover{opacity:1;}
.picbox a img,
.picbox a span{-webkit-transition:all 0.2s ease;
-moz-transition:all 0.2s ease;
-ms-transition:all 0.2s ease;
-o-transition:all 0.2s ease;
transition:all 0.2s ease;}  
.picbox a:hover img{
-ms-transform: scale(1.05,1.05);
-webkit-transform: scale(1.05,1.05);
transform: scale(1.05,1.05);
}


html.sub, html.sub body{width:100%;height:100%;overflow:hidden;} 
html.sub .wrapper.sub{width:100%;height:100%;overflow:hidden;}
html.sub .container{width:100%;height:calc( 100% - 90px );overflow:hidden;} 
html.sub .wrapper.sub .container .article .rela{width:calc( 100% - 40px );}
