@charset "utf-8";    
@import url('./default.css');    
@import url('./datepicker.css');     
  
*{ font-family:'Malgun Gothic', sans-serif;font-size:15px;color:#666;-webkit-overflow-scrolling: touch;letter-spacing:-1px;}
html,body,p, input, select, form, label, mark, ul, ul li, ol, ol li, dl, dl dt, dl dd, img, a, table, h1, h2, h3, h4, h5{margin:0;padding:0;}
img{ border:0; } 
ul, ol{ list-style:none; }
a{color:#555;text-decoration:none; } 
a:hover{text-decoration:none; }  
table{border:0;border-collapse:collapse;table-layout:fixed;}  
 

::-webkit-input-placeholder { color:#cbcbcb; letter-spacing:-1px;font-size:13px;} 

.wSize60{width:60px !important;}
.wSize100{width:100px !important;}
.wSize110{width:112px !important;}
.wSize203{width:203px !important;}
.wSize336{width:336px !important;}
.wSize595{width:595px !important;}

.ml10{margin-left:10px}
.mt0{margin-top:0px !important}
.mt10{margin-top:10px !important}
.mt20{margin-top:20px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}
 
input[type="checkbox"]{-webkit-appearance:none;width:22px;height:22px;overflow:hidden;background:url(../../include/img/ico/ico_rdoff.png);background-size:22px 22px;}
input[type="checkbox"]:checked{background:url(../../include/img/ico/ico_rdon.png);background-size:22px 22px;}
input[type="radio"]{-webkit-appearance:none;width:22px;height:22px;overflow:hidden;background:url(../../include/img/ico/ico_rdoff.png);background-size:22px 22px;}
input[type="radio"]:checked{background:url(../../include/img/ico/ico_rdon.png);background-size:22px 22px;}
.select{letter-spacing:-1px;color:#333;-webkit-appearance:none;-webkit-box-flex:1;display:-webkit-box;height:43px;line-height:43px;border-radius:5px;background:#fff url(../../include/img/etc/bg_select.png) no-repeat right center;background-size:44px 43px;border:1px solid #cbcbcb;padding:0 5px;color:#a5a3a3;font-size:15px;padding-right:50px;}  
.select01{letter-spacing:-1px;color:#333;-webkit-box-flex:1;display:-webkit-box;height:30px;line-height:30px;border-radius:5px;color:#a5a3a3;font-size:13px;}  

.inp{letter-spacing:-1px;height:43px;line-height:43px;border-radius:0;background:#fff;border:1px solid #cbcbcb;padding:0 5px;color:#5d5d5d;font-size:15px;border-radius:5px;}
.inp01{letter-spacing:-1px;-webkit-box-flex:1;display:-webkit-box;height:33px;line-height:33px;border-radius:5px;background:#fff;border:1px solid #cbcbcb;padding:0 5px;color:#333;font-size:15px;} 
.inp01.readonly{border:1px solid #fff;;}
.textarea{letter-spacing:-1px;height:160px;line-height:1.5em;border-radius:5px;background:#fff;resize:none;border:1px solid #cbcbcb;padding:0 5px;color:#a5a3a3;font-size:15px;}
form{display:-webkit-box;-webkit-box-orient:vertical;}

.boxBtn{-webkit-box-align:center;-webkit-box-pack:center;display:-webkit-box;width:100%;-webkit-box-flex:1;border-radius:5px;height:50px;overflow:hidden;font-size:18px;color:#feffff;}
.boxBtn.red{background:#e51937;}
.boxBtn.gray{background:#696c71;}
.roundBtn{-webkit-box-align:center;-webkit-box-pack:center;width:90px;height:33px;overflow:hidden;display:-webkit-box;border-radius:5px;background:#fff;border:1px solid #e51937;color:#e51937;font-size:13px;margin-left:10px;}
.roundBtn.on{color:#fff;background:#51a1d6;border-color:#51a1d6;}
.roundBtn.red{color:#fff;background:#e51937;border-color:#e51937;}
.noundBtn{-webkit-box-align:center;-webkit-box-pack:center;width:92px;height:33px;overflow:hidden;display:-webkit-box;border-radius:5px;background:#fff;color:#e51937;font-size:13px;margin-left:10px;} 
.roundBtn.s01{margin-left:0;width:150px;}

input[type="password"]{font-family:'RobotoR', sans-serif;}