@charset "utf-8";   

html, body{overflow:hidden;width:100%;height:100%;}
.wrapper, .viewpage{width:100%;height:100%;overflow:hidden;display:-webkit-box;-webkit-box-orient:vertical;}
.header{border-bottom:1px solid #4a7ebb;display:-webkit-box;height:50px;width:100%;overflow:hidden;-webkit-box-orient:horizontal;background:#fff;} 
.header .fl{display:-webkit-box;width:80px;height:50px;overflow:hidden;margin-left:10px;} 
.header .logo{font-size:18px;color:#333;-webkit-box-align:center;-webkit-box-pack:center;display:-webkit-box;width:100%;height:50px;overflow:hidden;-webkit-box-flex:1;} 
.header .fr{display:-webkit-box;width:50px;height:50px;overflow:hidden;-webkit-box-pack:center;-webkit-box-align:center;margin-right:10px;}
.header .fl a, .header .fr a{display:-webkit-box;width:80px;height:50px;overflow:hidden;font-size:0;}
        
.header .fr{display:-webkit-box;width:50px;height:50px;overflow:hidden;-webkit-box-pack:end;-webkit-box-align:center;}
.header .fl a, .header .fr a{display:-webkit-box;width:80px;height:50px;overflow:hidden;font-size:0;}
.header .fr .aMenu{background:url(../../include/img/bg/bg_total.png) no-repeat center center;width:33px;height:33px;background-size:33px 33px;}
.aPrev{background:url(../../include/img/etc/logo.png) no-repeat left center;background-size:80px 39px;} 
.aSearch{margin-right:13px;background:url(../../include/img/bg/bg_search.png) no-repeat;background-size:33px 33px;}
.aReload{background:url(../../include/img/bg/bg_reload.png) no-repeat;background-size:46px 46px;}
.aSave{margin-right:10px;background:url(../../include/img/bg/bg_save.png) no-repeat;background-size:46px 46px;}
.header .fr a.aDel{width:33px;height:46px;margin-right:7px;background:url(../../include/img/bg/bg_del.png) no-repeat center center;background-size:33px 33px;}

.container{-webkit-box-orient:vertical;display:-webkit-box;width:100%;height:100%;-webkit-box-flex:1;overflow:hidden;overflow-y:auto;position:relative;}
 
/*totalMenu*/
.totalMenu{display:-webkit-box;-webkit-box-orient:vertical;width:100%;height:100%;overflow:hidden;position:absolute;right:-2000px;top:0;z-index:991;background:rgba(0,0,0,0);}
.totalMenu .mClose{font-size:0;position:absolute;z-index:992;;right:0;top:0;background:url(../../include/img/bg/bg_close.png) no-repeat;background-size:50px 50px;display:block;width:50px;height:100%;overflow:hidden;}
.totalMenu .mHeader{-webkit-box-align:end;-webkit-box-pack:center;display:-webkit-box;height:63px;width:auto;margin-left:50px;overflow:hidden;-webkit-box-orient:horizontal;background:#1bb498;background-size:57px 50px;}
.totalMenu .mHeader .fl{margin-bottom:2px;display:-webkit-box;height:43px;-webkit-box-flex:1;-webkit-box-align:center;-webkit-box-pack:start;}
.totalMenu .mHeader .fl p{font-size:18px;color:#fff;display:-webkit-box;margin-left:18px;}
.totalMenu .mHeader .fr{margin-bottom:2px;display:-webkit-box;height:43px;-webkit-box-align:center;-webkit-box-pack:start;}
.totalMenu .mHeader .fr a{display:-webkit-box;}
.totalMenu .mHeader .fr a img{width:23px;}
.totalMenu .mContainer{-webkit-box-orient:vertical;background:#f4f4f4;display:-webkit-box;width:auto;margin-left:50px;height:100%;-webkit-box-flex:1;overflow:hidden;overflow-y:auto;} 

.lnb{width:100%;height:auto;overflow:hidden;}
.lnb li{width:100%;height:auto;overflow:hidden;background:#f4f4f4;border-bottom:1px solid #e1e1e1;background-size:23px 54px;}
.lnb li:first-child{border-top:1px solid #f0f0f0;}
.lnb li a{display:-webkit-box;width:100%;height:41px;overflow:hidden;-webkit-box-align:center;-webkit-box-pack:center;}
.lnb li a img{display:-webkit-box;width:30px;height:31px;margin:0 10px;}
.lnb li a span.txt{display:-webkit-box;-webkit-box-flex:1;font-size:14px;color:#5d5d5d;}
.lnb li a span.num{display:-webkit-box;font-size:11px;color:#e5314a;margin-right:34px;}
 
/*contents*/
.logintxt{padding-bottom:10px;position:relative;display:-webkit-box;font-size:22px;color:#444;margin:50px 10px 20px 10px}
.logintxt:before{content:"";width:100%;height:4px;overflow:hidden;position:absolute;left:0;bottom:0;background:#ccc url(../../include/img/etc/bg_line.png) no-repeat left top;}
.loginbox{display:-webkit-box;-webkit-box-orient:vertical;margin:10px;border:2px solid #26b79c;}
.memForm{display:-webkit-box;width:100%;height:auto;margin:10px 0 0 0;overflow:hidden;-webkit-box-align:center;-webkit-box-pack:center;}
.memForm span{display:-webkit-box;width:90px;margin-left:10px;}
.memForm input{display:-webkit-box;width:100%;-webkit-box-flex:1;margin-right:10px;}
.memForm select{display:-webkit-box;width:100%;-webkit-box-flex:1;margin-right:10px;}
.btnMem01{display:-webkit-box;width:100%;-webkit-box-flex:1;margin-right:10px;margin-left:10px;height:43px;background:#696c71;-webkit-box-align:center;-webkit-box-pack:center;font-size:15px;color:#fff;border-radius:5px;margin-bottom:10px;}

.searchbox{background:#ccc;width:100%;height:auto;overflow:hidden;display:-webkit-box;padding:5px 0;}
.searchbox select{margin-left:5px;-webkit-box-flex:1;display:-webkit-box;width:100%;}
.searchbox a{height:30px;width:40px;line-height:30px;font-size:13px;overflow:hidden;border-radius:5px;margin:0 5px;background:#333;color:#fff;-webkit-box-align:center;-webkit-box-pack:center;display:-webkit-box;}

.dotted{width:100%;height:4px;overflow:hidden;background:#ccc;}
.lnbBtnbox{width:100%;height:auto;overflow:hidden;padding:12px 0;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;}
.btnType01{margin:0 6px;display:-webkit-box;background:#13b194;width:90px;height:35px;border-radius:5px;overflow:hidden;-webkit-box-align:center;-webkit-box-pack:center;}
.btnType01 img{display:-webkit-box;}
.btnType01 span{display:-webkit-box;font-size:13px;color:#fff;}

.rqListBox li a{font-size:11px;;letter-spacing:-1px;text-align:center;display:table;width:42px;height:42px;overflow:hidden;background:#333;color:#fff;border-radius:50%;}
.rqListBox li a span{font-size:11px;color:#fff;position:absolute;left:-5000px;display:table-cell;vertical-align:middle;text-align:center}
.rqListBox li a:hover, .rqListBox li a.on, .rqListBox li a.over{background-color:#21b69a}

.rqListBox a:before{display:block;content:"";width:42px;height:42px;overflow:hidden;}

.rqListBox .ico_side_jf:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat 0 -186px;}
.rqListBox .ico_side_join:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat 0 -229px;}
.rqListBox .ico_side_fixed:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat 0 -272px;}
.rqListBox .ico_side_lv:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -43px -186px;}
.rqListBox .ico_side_lv0:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -43px -229px;}
.rqListBox .ico_side_lv1:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -43px -272px;}
.rqListBox .ico_side_lv2:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -43px -315px;}

.rqListBox .ico_side_Select:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -86px -186px;}
.rqListBox .ico_side_gae:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -86px -229px;}
.rqListBox .ico_side_won:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -86px -272px;}
.rqListBox .ico_side_sakak:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -86px -315px;}
.rqListBox .ico_side_dakak:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -86px -358px;}

.rqListBox .ico_side_map:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -129px -186px;}
.rqListBox .ico_side_kuri:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -129px -229px;}
.rqListBox .ico_side_munjuk:before{background:url(../../include/img/ico/ico_sideList.png) no-repeat -129px -272px;}
.rqListBox .ico_side_haejae:before{display:none} 
.rqListBox .ico_side_haejae span{position:static;}

.rqListBox.rq06 li{width:34px;}
.rqListBox .ico_side_gps01, .rqListBox .ico_side_gps02{width:34px;height:34px;margin-top:3px;} 
.rqListBox .ico_side_gps01:before{width:34px;height:34px;background:url(../../include/img/ico/ico_sideList.png) no-repeat -118px -94px;}
.rqListBox .ico_side_gps02:before{width:34px;height:34px;background:url(../../include/img/ico/ico_sideList.png) no-repeat -118px -49px;display:none}
.rqListBox .ico_side_gps02 span{position:static;}

.rqListBox.rq02 li:last-child{width:34px;}
.rqListBox .ico_side_reset{width:34px;height:34px;margin-top:3px;} 
.rqListBox .ico_side_reset:before{width:34px;height:34px;background:url(../../include/img/ico/ico_sideList.png) no-repeat -175px -189px;}
.rqListBox a.over:before, .rqListBox a.on:before{display:none}
.rqListBox a.over span, .rqListBox a.on span{position:static;}

.rqListBox.rq01 a:before{display:none}
.rqListBox.rq01 a span{position:static}
.rightQuick{text-align:center;z-index:10;border-radius:50%;position:absolute;right:5px;top:50px;width:34px;height:34px;overflow:hidden;background-color:#28425b;color:#fff;}
.rightQuick.rq01:before{content:"";width:13px;height:17px;overflow:hidden;background:url(../../include/img/ico/ico_sideList.png) no-repeat -30px 0;margin:9px auto 0 auto;display:block;}
a.rightQuick:hover, a.rightQuick.on{background-color:#00bcd4}
.rightQuick.rq01{top:28px;}
.rightQuick.rq02{top:73px;}
.rightQuick.rq01 span, .rightQuick.rq02 span, .rightQuick.rq06 span{position:absolute;left:-2000px;}
.rightQuick.rq02:before{content:"";width:17px;height:17px;overflow:hidden;background:url(../../include/img/ico/ico_sideList.png) no-repeat 0 0;margin:9px auto 0 auto;display:block;}
.rightQuick.rq03{top:161px;text-indent:-2000px;height:32px;border-bottom-left-radius:0;border-bottom-right-radius:0;
background-image:url(../../include/img/ico/ico_plus01.gif);
background-repeat:no-repeat;
background-position:center center;
}
.rightQuick.rq07{top:192px;text-indent:-2000px;height:32px;
background-image:url(../../include/img/ico/ico_moveType01.png);border-radius:0;
background-repeat:no-repeat;
background-position:center center;}
a.rightQuick.rq07:hover{background-image:url(../../include/img/ico/ico_moveType03.png) !important;}
a.rightQuick.rq07.on{background-color:#28425b;}
a.rightQuick.rq07.on:hover{background-color:#00bcd4;}
a.rightQuick.rq07.on:hover{background-image:url(../../include/img/ico/ico_moveType04.png) !important;}
.rightQuick.rq04{top:224px;height:20px;line-height:20px;font-size:10px;border-radius:0;background:#28425b;}
.rightQuick.rq05{top:244px;text-indent:-2000px;height:32px;border-top-left-radius:0;border-top-right-radius:0;
background-image:url(../../include/img/ico/ico_mius01.gif);
background-repeat:no-repeat;
background-position:center center;
} 
.rightQuick.rq06{top:116px;}
.rightQuick.rq06:before{content:"";width:23px;height:22px;overflow:hidden;background:url(../../include/img/ico/ico_sideList.png) no-repeat -82px 0;margin:6px auto 0 auto;display:block;}
 
.rqListBox{display:inline;position:absolute;right:-540px;top:75px;}
.rqListBox.rq02{top:72px}
.rqListBox.rq06{top:113px}
.rqListBox li{float:left;width:42px;height:auto;margin:0 2px;}
.rqListBox li a{font-size:11px;;letter-spacing:-1px;text-align:center;display:table;width:42px;height:42px;overflow:hidden;background:#333;color:#fff;border-radius:50%;}
.rqListBox li a span{position:absolute;left:-5000px;display:table-cell;vertical-align:middle;text-align:center}
.rqListBox li a:hover, .rqListBox li a.on, .rqListBox li a.over{background-color:#21b69a}
.rqListBox li>ul{display:none}
.rqListBox li>ul>li{margin:2px 0 0 0}
.rqListBox li>ol{display:none;position:absolute;margin-top:15px;margin-left:-180px;width:190px;padding:10px;height:auto;border:1px solid #dcdcdc;background:#fff}
.rqListBox li>ol:before{position:absolute;content:"";display:block;width:15px;height:15px;overflow:hidden;background:url(../../include/img/ico/ico_arr02.png);margin:-25px 0 0 170px}
.rqListBox li>ol>li{width:50%;height:24px;overflow:hidden;float:left;margin:5px auto;}
.rqListBox li>ol>li>a{color:#555;border-radius:0;position:relative;background-color:#fff;display:block;width:100%;text-indent:30px;height:24px;line-height:24px;overflow:hidden;}
.rqListBox li>ol>li>a>img{height:24px;width:25px;display:block;overflow:hidden;position:absolute;left:0;top:0;}
.rqListBox li>ol>li>a:hover{background-color:#fff}
.rqListBox li>ol.etc{padding:0;width:210px}
.rqListBox li>ol.etc>li{height:auto;line-height:1em;width:100%;margin:0}
.rqListBox li>ol.etc:before{margin:-14px 0 0 170px}

.mapContents{width:100%;height:100%;overflow:hidden;display:-webkit-box;-webkit-box-flex:1;}

.treeSubj{display:block;margin:10px 10px 5px 10px;font-size:13px;color:#555;}
.normalBox{background:#fff;display:block;height:150px;overflow:hidden;border:1px solid #ccc;overflow:auto;margin:0 10px;}

.tableBox{background:#fff;display:block;height:auto; max-height:250px;overflow:hidden;border:1px solid #ccc;overflow:auto;margin:0 10px;}
.wmTable{min-width:100%;width:600px;font-size:13px;table-layout:fixed;}
.wmTable caption{display:none} 
.wmTable th{font-size:11px;font-weight:normal;height:30px;border:1px solid #555;border-bottom:0;background:#f1f1f1;}
.wmTable th:first-child{border-left:1px solid #555;}
.wmTable th:last-child{border-right:1px solid #555;}
.wmTable td{font-size:11px;background:#fff;border:1px solid #555;height:30px;text-align:center;padding:0 5px;}
.wmTable td.al{text-align:left;padding:0 10px;}
.wmTable td a{font-size:11px;text-decoration:underline;}
.wmTable td a.btn{text-decoration:none;border:1px solid #ccc;background:#f1f1f1;padding:3px 5px;}

.boSearch{display:-webkit-box;width:100%;height:auto;overflow:hidden;padding:5px 0;border-bottom:1px solid #ccc;-webkit-box-align:center;-webkit-box-pack:center;margin-bottom:10px;}
.boSearch span{display:-webkit-box;width:90px;font-size:13px;margin-left:10px;}
.boSearch select{display:-webkit-box;-webkit-box-flex:1;margin-right:10px;}

.popAreaResult{background:#fff;position:absolute;left:50%;margin-left:-150px;top:20%;width:300px;height:250px;border-radius:10px;box-shadow:3px 3px 10px #333;}
.popAreaResult:before{content:"";position:absolute;width:0;height:0;overflow:hidden;bottom:-18px;left:50%;margin-left:-10px;border-left: 20px solid transparent;
border-right: 20px solid transparent;
border-top: 20px solid #fff;}
.popAreaResult .bar{border-top-left-radius:10px;border-top-right-radius:10px;height:30px;width:100%;color:#fff;overflow:hidden;line-height:30px;margin-bottom:20px;text-align:center;font-size:15px;colro:#fff;background:#019878;}
.popAreaResult .txt01{width:260px;height:auto;overflow:hidden;margin:0 auto;font-size:12px;color:#666;margin-top:5px;} 
.popAreaResult  .btn{margin-top:10px;width:100%;height:auto;overflow:hidden;}
.popAreaResult  .btn a{display:block;height: 30px;width:80px; line-height: 30px;font-size: 13px;overflow: hidden;border-radius: 5px;margin: 0 auto;background: #333;color: #fff;text-align:center;}

.dialog{position:absolute;left:0;top:0;z-index:90;width:100%;height:100%;overflow:hidden;background:rgba(0,0,0,.5);-webkit-box-align:center;-webkit-box-pack:center;}
.dialog .rela{width:100%;height:100%;overflow:hidden;display:-webkit-box;-webkit-box-align:center;-webkit-box-pack:center;}
.dialog .box{border-top:1px solid #ccc;border-radius:5px;-webkit-box-orient:vertical;width:300px;height:300px;overflow:hidden;display:-webkit-box;background:#fff;-webkit-box-align:center;-webkit-box-pack:start;}
.dialog .box .img{margin-top:39px;margin-bottom:20px;display:-webkit-box;width:100%;height:auto;overflow:hidden;-webkit-box-align:center;-webkit-box-pack:center;} 
.dialog .dialogBar{background:#13b194;border-top-left-radius:5px;border-top-right-radius:5px;width:100%;height:40px;display:-webkit-box;overflow:hidden;}
.dialog .dialogBar span{line-height:40px;font-size:13px;color:#fff;width:100%;-webkit-box-flex:1;margin-left:10px;height:40px;overflow:hidden;display:-webkit-box;}
.dialog .dialogBar a{width:40px;height:40px;overflow:hidden;display:-webkit-box;background:url(../../include/img/bg/bg_close.png) no-repeat center center;background-size:40px 40px;font-size:0;}
.dialog .btn a{display:-webkit-box;width:116px;height:35px;overflow:hidden;border-radius:5px;background:#333;font-size:13px;color:#fff;-webkit-box-align:center;-webkit-box-pack:center;margin-top:10px;}
.dialogForm{width:100%;height:auto;overflow:hidden;margin:10px 0;display:-webkit-box;}
.dialogForm textarea{display:-webkit-box;-webkit-box-flex:1;width:100%;margin:0 10px;border:1px solid #ccc;border-radius:5px;height:170px;}
.dialogForm .inp{display:-webkit-box;-webkit-box-flex:1;width:100%;margin:0 10px;border:1px solid #ccc;border-radius:5px;}
.dialog .box.t01{height:auto;padding-bottom:10px;}

@media (max-width:359px){
	
}




