@import url("/css/common.css");
@import url("./default.css");

.containerBox{width:970px;height:auto;overflow:hidden;margin:0 auto;}
.mpGuide{font-size:15px;margin:30px 0 50px 0;color:#273c50;width:100%;height:auto;overflow:hidden;}
.mpGuide span{color:#273c50}
.mpSubTitle{width:100%;height:auto;overflow:hidden;position:relative;}
.mpSubTitle h3{font-size:28px;color:#273c50;} 
.mpSubTitle p{color:#575757;font-size:14px;margin-top:10px;}
.mpSubTitle a{color:#727272;font-size:14px;display:block;background:#ccc;height:34px;line-height:34px;text-align:center;width:150px;position:absolute;right:0px;bottom:0;border-radius:17px}
.mpForm{margin-top:35px;text-align:right;width:100%;height:auto;padding:25px 0;overflow:hidden;border-top:2px solid #00498f;}
.mpForm input{width:120px;height:34px;line-height:34px;padding:0 10px;font-size:13px;border:1px solid #e4e4e4;}
.mpForm select{width:100px;height:34px;font-size:13px;border:1px solid #e4e4e4;}
.mpForm select.type01{font-size:20px;background:#ccc;color:#333;border-radius:17px;padding-left:15px;width:60px;}
.mpForm .etc{font-size:20px;display:inline-block;width:60px;height:34px;line-height:34px;background:#ccc;color:#333;border-radius:17px;text-align:center;overflow:hidden;}
.mpForm a{margin:0;display:inline-block;width:93px;height:34px;line-height:34px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#21b69a;}
.mpForm span, .mpForm label, .mpForm input, .mpForm select, .mpForm a{vertical-align:middle}
#localFile{position:absolute;left:-2000px;}

.mpSelect{display:inline-block;width:80px;height:34px;font-size:13px;border:1px solid #e4e4e4;}
.mpSelect.type01{font-size:20px;background:#ccc;color:#333;border-radius:17px;padding-left:15px;width:60px;}
.mpSpan.etc{display:inline-block;font-size:20px;display:inline-block;width:60px;height:34px;line-height:34px;background:#ccc;color:#333;border-radius:17px;text-align:center;overflow:hidden;}
.mpBtn{margin:0;display:inline-block;width:93px;height:34px;line-height:34px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#21b69a;}

.mpTable{width:100%;font-size:13px;}
.mpTable caption{display:none}
.mpTable th{border:1px solid #d5d7e1;background:#f0f0f2;color:#2c68af;border-bottom:1px solid #2c68af;height:34px;}
.mpTable td{text-align:center;height:34px;border:1px solid #e7e7e7;}
.mpTable td a{text-decoration:underline;}
.mpTable td a.btn{text-decoration:none;border:1px solid #ccc;background:#f1f1f1;padding:3px 5px;}
.pageNum{width:100%;height:auto;overflow:hidden;text-align:center;padding:30px 0;}
.pageNum li{display:inline;}
.pageNum li a{border:1px solid #ccc;display:inline-block;width:34px;height:34px;line-height:34px;text-align:center;font-size:13px;color:#333;background:#f1f1f1;}
.pageNum li a:hover{background:#333;color:#fff;}
.btnbox{border-top:1px solid #ccc;padding:30px 0;width:100%;height:auto;overflow:hidden;text-align:center;}
.btnbox.type02{padding:0 0 10px 0;border:0;}
.btnbox.type01{border-top:2px solid #00498f;margin-top:35px}
.btnbox .fl{float:left;text-align:left}
.btnbox .fr{float:right;text-align:right;}
.btnbox a{width:120px;}
.mpfInput{width:100%;height:auto;overflow:hidden;}
.mpfInput li{width:100%;height:auto;overflow:hidden;margin:5px auto;text-align:left}
.mpfInput li label{display:inline-block;width:120px;}
.mpfInput li input{width:200px}
.mpfInput li input.address{width:600px}
.mpfInput li label, .mpfInput li input{vertical-align:middle}

.searchReslutBox{width:100%;height:auto;overflow:hidden;} 
.mpSearchList{margin:45px 0;display:block;height:auto;overflow:hidden;border-top:1px solid #d6d6d6;}
.mpSearchList li{width:100%;height:auto;margin-bottom:30px;overflow:hidden;}
.mpSearchList li .mpLink{width:100%;height:auto;overflow:hidden;}
.mpSearchList li .mpLink a{font-size:17px;color:#3b3b3b;}
.mpSearchList li .mpLink a, .mpSearchList li .mpLink img{vertical-align:middle}
.mpSearchList li .mpLink input{vertical-align:middle}
.mpSearchList li .mpLink input.inp{width:400px;height:30px;padding:0 10px;line-height:30px;border:1px solid #ccc;font-size:13px;}
.mpSearchList li .mpLink input.saveTitle{cursor:pointer;margin:0 10px;height:32px;padding:0 10px;border:0;background:#0070c0;color:#fff;font-size:13px;}
.mpSearchList li .mpEtc{margin:5px 0;color:#727272;font-size:13px;width:100%;height:auto;overflow:hidden;}
.mpSearchList li .mpSpan{width:100%;height:auto;overflow:hidden;margin:10px auto;}
.mpSearchList li .mpSpan .al{float:left;}
.mpSearchList li .mpSpan .ar{float:right}
.searchReslutBox .fc{width:100%;height:auto;overflow:hidden;}
.searchReslutBox .fc .mpSearchList{margin:0;}
.searchReslutBox .fc .mpSearchList li{margin-bottom:0;border-bottom:1px solid #d6d6d6;width:auto;display:block;padding:20px 0;}
.spbox{display:inline-block;min-width:40px;text-align:center;margin:0 5px 0 0;padding:0 10px;height:34px;line-height:34px;width:90px;text-align:center;color:#fff;font-size:13px;}
.spbox.type01{background:#7f7f7f;} 
.spbox.type01:hover{background:#0070c0;}
.spbox.type02{background:#2c3a45}
.spbox.type02:hover{background:#ff6600;}
.spbox.type03{background:#bfbfbf;}
 
.rstxt{color:#606060;font-size:15px;display:block;padding:10px 20px;border-bottom:1px solid #d6d6d6;} 

.mpTabs{width:100%;height:40px;overflow:hidden;margin:20px auto;}
.mpTabs li{float:left;width:33%;height:40px;overflow:hidden;}
.mpTabs li:first-child{width:34%;}
.mpTabs li a{display:block;text-align:center;line-height:40px;color:#fff;background:#ccc;}
.mpTabs li a.on{background:#333;}

.tsList{width:100%;height:auto;overflow:hidden;}
.tsList li{width:25%;height:auto;overflow:hidden;float:left;}
.tsList li.last{width:75%;text-align:right;padding-top:20px}
.tsList li.last.pt0{padding-top:0}
.tsList li.last select, .tsList li.last span, .tsList li.last a{vertical-align:middle}
.dbTypeSubj{margin:10px 2px;height:26px;font-size:11px;text-align:center;line-height:26px;background:#dcdcdc;color:#555;border-radius:13px;}
.dbTypeSubj.on{color:#fff;background:#333;}
.dbTypeSubj.type01{width:280px}
.dbTypeSubj label{float:left;margin:1px 0 0 15px}
.dbTypeGps{position:relative;margin:10px auto;display:inline-block;text-indent:-2000px;border-radius:50%;width:34px;height:34px;overflow:hidden;background-color:#28425b;color:#fff;}
.dbTypeGps:before{position:absolute;left:11px;top:0;content:"";width:17px;height:17px;overflow:hidden;background:url(/img/ico/ico_sideList.png) no-repeat -30px 0;margin:9px auto 0 auto;display:block;}
.popContents .dbTypeSubj select{width:120px;}
.dbColorbar{width:80px;height:20px;overflow:hidden;margin:0;display:inline-block}
.dbColorbar li{width:20px;height:20px;overflow:hidden;float:left;} 
.dbColorbar li span{position:absolute;left:-2000px}
.dbColorbar li:nth-child(1){background:#f9bbd0;}
.dbColorbar li:nth-child(2){background:#f06292;}
.dbColorbar li:nth-child(3){background:#ea1e63;}
.dbColorbar li:nth-child(4){background:#c2175b;}
.dbColorbar li:nth-child(5){background:#890e4f;}

.dbRingList{position:relative;width:80px;height:60px;overflow:hidden;margin:0 auto;display:inline-block}
.dbRingList li{overflow:hidden;position:absolute;bottom:0;border-radius:50%;}
.dbRingList li:nth-child(1){width:50px;height:50px;border:3px solid #f9bbd0;left:5px;}
.dbRingList li:nth-child(2){width:40px;height:40px;border:2px solid #f06292;left:10px;}
.dbRingList li:nth-child(3){width:30px;height:30px;border:1px solid #ea1e63;left:15px;}
.dbRingList li:nth-child(4){width:20px;height:20px;border:1px solid #c2175b;left:20px;}
.dbRingList li:nth-child(5){width:10px;height:10px;border:1px solid #890e4f;left:25px;}

.dbTypeSubj select{height:20px;float:right;margin:3px 15px 0 0}
.dbTypeCk{width:100%;height:auto;overflow:hidden;text-align:center;margin:5px auto;}
.dbTypeCk input{position:absolute;left:-2000px;}
.dbTypeCk input:checked:before{background:url(/img/ico/ico_ckbox_on.gif);}
.dbTypeCk label, .dbTypeCk select, .dbTypeCk .dbColorbar, .dbTypeCk .dbRingList{vertical-align:middle}
.dbTypeCk select{height:20px;}
.dbTypeCk label{background:url(/img/ico/ico_ckbox.gif) no-repeat left center;padding-left:25px;line-height:20px;display:inline-block;}
.dbTypeCk label.on{background:url(/img/ico/ico_ckbox_on.gif) no-repeat left center;}

.dbRangeBox{width:530px;height:auto;overflow:hidden;margin:10px 0;}
.dbRangeBox .fl{width:280px;height:auto;overflow:hidden;float:left;}
.rbSelectBox{float:right;width:124px;overflow:hidden;height:auto;}
.dbRangeBox .fl #rbSlide{width:260px;margin:10px auto;}
.rbSelectBox{float:right;width:200px;overflow:hidden;height:auto;}
.rbSelectBox select,.rbSelectBox span{font-size:11px;vertical-align:middle}
.rbSelectBox select{width:80px;height:26px;}
 
/*slide*/
.ui-slider {position:relative;text-align:left;}
.ui-slider .ui-slider-handle {
    position:absolute;z-index:2;width:20px;height:20px;
    cursor:default;-ms-touch-action:none;touch-action:none;background:url("/img/ico/slider_btn01.png") no-repeat left 2px;
}
.ui-slider .ui-slider-range {
    position: absolute;z-index: 1;font-size: .7em;display: block;
    border: 0;background-position: 0 0;
}
/* support: IE8 - See #6727 */
.ui-slider.ui-state-disabled .ui-slider-handle,
.ui-slider.ui-state-disabled .ui-slider-range {
    filter: inherit;
}

.ui-slider-horizontal { height: .3em; } 
.ui-slider-horizontal .ui-slider-handle { top: -8px; margin-left: -.6em; }
.ui-slider-horizontal .ui-slider-range { top: 0; height: 100%; }
.ui-slider-horizontal .ui-slider-range-min { left: 0; }
.ui-slider-horizontal .ui-slider-range-max { right: 0; }
.ui-slider-vertical { width: .8em; height: 100px; }
.ui-slider-vertical .ui-slider-handle { left: -.3em; margin-left: 0; margin-bottom: -.6em; }
.ui-slider-vertical .ui-slider-range { left: 0; width: 100%; }
.ui-slider-vertical .ui-slider-range-min { bottom: 0; }
.ui-slider-vertical .ui-slider-range-max { top: 0; } 

.latest{width:100%;height:auto;overflow:hidden;text-align:left;border-top:2px solid #00498f;margin-top:35px;}
.latest li{width:485px;border-bottom:1px solid #bfbfbf;float:left;height:130px;overflow:hidden;background-position:30px 30px;background-repeat:no-repeat}
.latest li.on{background-color:#f1f1f1;}
.latest li:nth-child(even){border-left:1px solid #bfbfbf;width:484px;}
.latest li:nth-child(1){background-image:url(/img/bg/bg_mypage01.png);}
.latest li:nth-child(2){background-image:url(/img/bg/bg_mypage02.png);}
.latest li:nth-child(3){background-image:url(/img/bg/bg_mypage03.png);}
.latest li:nth-child(4){background-image:url(/img/bg/bg_mypage04.png);}
.latest li h4{font-size:20px;color:#0070c0;margin:30px 0 0 100px}
.latest li h4 a{color:#0070c0;}
.latest li p{font-size:13px;color:#666;margin:10px 0 0 100px;width:300px;}

.mpfileBox{width:100%;height:auto;overflow:hidden;}
.mpfileBox input{position:absolute;left:-2000px;}
.mpfileBox label{display:inline-block;height:35px;line-height:35px;padding-left:42px;overflow:hidden;margin-top:10px;background:url(/img/ico/ico_folder.png) no-repeat 0 center;}
.inp{height:32px;line-height:32px;padding:0 10px;font-size:13px;border:1px solid #e4e4e4;}

.mpFormArea{margin-top:35px;width:100%;height:auto;padding:25px 0;overflow:hidden;border-top:2px solid #00498f;}
.dataMenuBox{width:100%;height:auto;overflow:hidden;}
.dataMenuBox .dmFile{width:100%;height:auto;margin:10px auto;overflow:hidden;}
.dataMenuBox .dmFile #mpsFile{position:absolute;left:-2000px}
.dataMenuBox .dmFile .inp{width:423px}
.dataMenuBox .dmFile label{display:inline-block;}
.dataMenuBox .dmFile input, .mpFormArea .dmFile label{vertical-align:middle}
.dataMenuBox .dmBtn{width:100%;height:auto;overflow:hidden;}
.dataMenuBox .dmBtn li{display:inline-block;margin-right:5px;}
.dataMenuBox .dmBtn li a{width:auto}
.dataMenuBox h3{display:inline-block;height:35px;line-height:35px;padding-left:42px;overflow:hidden;margin-top:10px;background:url(/img/ico/ico_folder.png) no-repeat 0 center;}
.mpfaSubj{width:100%;height:auto;overflow:hidden;}
.mpfaSubj .fl{float:left;width:800px;height:auto;overflow:hidden;}
.mpfaSubj .fl .inp{width:650px}
.mpfaSubj .fl label{display:inline-block;background:#dcdcdc;width:100px;height:34px;line-height:34px;overflow:hidden;text-align:center;font-size:13px;}
.mpfaSubj .fl .inp, .mpfaSubj .fl label{vertical-align:middle}
.mpfaSubj .fr{margin-top:6px;float:right;width:170px;height:auto;overflow:hidden;}
.mpfaSubj .fr input, .mpfaSubj .fr label, .mpfaSubj .fr img{vertical-align:middle}
.mpfText01{font-size:13px;margin:5px 0}
.mpfText02{font-size:13px;margin:5px 0;color:#0070c0;}

.ui-tooltip{background:#fff}
.ui-tooltip *{font-size:11px !important;}
.ui-tooltip .subj{display:block;height:20px;margin:0 0 5px 0;font-size:11px;padding-left:20px;line-height:20px;background:url(/img/ico/ico_tooltip.png) no-repeat 5px center;}
.arrow {width:70px;height:16px;overflow:hidden;position:absolute;left:50%;margin-left:-35px;bottom:-16px;background:transparent;}
.arrow.top{top:-16px;bottom: auto;}
.arrow.left{left:20%;}
.arrow:after{content:"";position:absolute;left:20px;
    top: -20px;width:15px;height:25px;box-shadow:6px 5px 9px -9px black;
    -webkit-transform:rotate(45deg);-ms-transform:rotate(45deg);transform:rotate(45deg);
}
.arrow.top:after{bottom:-20px;top:auto;}

.popBox{border:1px solid #ccc;background:#fff;width:400px;height:auto;overflow:hidden;position:absolute;left:50%;margin-left:-200px;top:25%;}
.popBox .topbar{border-bottom:1px solid #ccc;width:100%;height:32px;line-height:32px;overflow:hidden;background:#f5f5f5;position:relative;}
.popBox .topbar>span{display:block;margin:0 0 0 10px}
.popBox .topbar a{opacity:.4;display:block;width:32px;height:32px;overflow:hidden;position:absolute;right:0;top:0;background:url(/img/ico/ico_close01.png) no-repeat center center;text-indent:-2000px;  transition-duration: .3s; transition-property: transform; transition-timing-function: ease-in-out;}
.popBox .topbar a:hover{transform: rotate(90deg);opacity:1;}
.popBox .popContents{width:100%;height:auto;overflow:hidden;padding:15px 0;}
.popBox .listFormPop{display:block;margin:10px;}
.popBox .listFormPop li{margin:5px auto;width:100%;height:auto;overflow:hidden;}
.popBox .listFormPop li .label{display:inline-block;font-size:13px;width:60px;height:25px;line-height:25px;}
.popBox .listFormPop li .inp{width:280px;padding:0 10px;height:25px;line-height:25px;}
.popBox .listFormPop li .date{width:104px;padding:0 10px;height:25px;line-height:25px;}
.popBox .listFormPop li .mr20{margin-right:20px}
.popBox .listFormPop li span, .popBox .listFormPop li input, .popBox .listFormPop li label, .popBox .listFormPop li button, .popBox .listFormPop li img{vertical-align:middle}
.popBox .txt{position:relative;display:block;height:auto;overflow:hidden;margin:20px;color:#666;font-size:13px;line-height:1.5em;text-align:center;}.txt01{position:relative;display:block;height:auto;padding-left:15px;overflow:hidden;margin:5px 10px;color:#666;font-size:11px;line-height:1.5em;text-align:left;}
.txt01:before{content:"※";font-size:13px;position:absolute;left:0;top:0;}
.popBox .btnBox{width:100%;height:auot;overflow:hidden;margin:15px auto 0 auto;text-align:center;}
.popBox .lvSelect, .popBox .inpSelect{position:absolute;left:110px;top:4px;height:25px;font-size:11px;}
.popBox .inpSelect{top:0}
.popBox .inpSelect input, .popBox .inpSelect label{vertical-align:middle}
.popBox.hangjungArea{width:840px;border:0;background:transparent;}
.popBox.hangjungArea p{background:#dcdcdc;width:75px;height:32px;line-height:1.3em;font-size:13px;padding:10px;overflow:hidden;float:left}
.popBox.hangjungArea ul{width:560px;float:left;margin-left:10px;}
.popBox.hangjungArea ul li{float:left;margin-right:10px;height:auto;overflow:hidden;}
.popBox.hangjungArea ul li label{display:block;margin-bottom:5px;}
.popBox.hangjungArea ul li select{height:30px;border:1px solid #ccc;}
.popBox.hangjungArea .btnStyle01{float:right;margin-top:20px;margin-right:20px;}
.popBox.hangjungArea a.hanClose{text-indent:-2000px;float:left;width:30px;height:30px;border:1px solid #555;border-radius:50%;background:#f5f5f5 url(../img/ico/ico_close01.png) no-repeat center center;}
.popBox.hangjungArea a.hanClose:hover{transform: rotate(90deg);}
.popBox.hangjungArea .rela{float:right;background:#fff;border:1px solid #ccc;padding:10px;position:relative;width:780px;height:auto;overflow:hidden;}
.popBox.hangjungArea .resizeIcon{display:block;text-indent:-2000px}
.popBox.hangjungArea.on ul,
.popBox.hangjungArea.on .btnStyle01{display:none}
.popBox.hangjungArea.on p{width:760px;height:auto;line-height:6px}
.popBox.hangjungArea.on .resizeIcon{right:10px;bottom:10px}
.popBox.map{width:1000px;height:600px;left:50%;top:50%;margin:-300px 0 0 -500px}
.popBox.map .rela{width:100%;height:600px;overflow:hidden;position:relative;}
.popBox.map .topbar{background:#ff0066}
.popBox.map .topbar span{color:#fff}
.popBox.map .popContents{padding:0;position:absolute;left:0;top:33px;height:567px;}
.popBox.map .pfl{width:249px;height:567px;overflow:hidden;overflow-y:auto;float:left;border-right:1px solid #dcdcdc}
.popBox.map .pfl dl{display:block;margin:20px;}
.popBox.map .pfl dl dt{width:100%;height:30px;line-height:30px;text-indent:10px;font-size:13px;background:#dcdcdc;border-radius:15px}
.popBox.map .pfl dl dd{width:100%;height:auto;overflow:hidden;}
.popBox.map .pfl dl dd ul{display:block;margin:10px;}
.popBox.map .pfl dl dd ul li{padding:2px 0;height:auto;width:100%;overflow:hidden;}
.popBox.map .pfl dl dd ul li label, .popBox.map .pfl dl dd ul li input{vertical-align:middle}
.popBox.map .pfl dl dd ul li label{display:inline-block;width:60px;font-size:12px}
.popBox.map .pfr{width:750px;height:567px;overflow:hidden;float:left;}

ul.radio li input{position:absolute;left:-2000px;} 
ul.radio li label{height:20px;padding-left:24px;line-height:20px;background:url(/img/ico/ico_rdbox.gif) no-repeat left center;}
ul.radio li label.on{background:url(/img/ico/ico_rdbox_on.gif) no-repeat left center;}
ul.ckbox li input{position:absolute;left:-2000px;} 
ul.ckbox li label{height:20px;padding-left:24px;line-height:20px;background:url(/img/ico/ico_ckbox.gif) no-repeat left center;}
ul.ckbox li label.on{background:url(/img/ico/ico_ckbox_on.gif) no-repeat left center;}


