/************ 전체 스타일 지정 **********/
body {margin:0px ; font-family:"dotum,verdana";font-size:12px;color:#666666;line-height:17px; background:url(/images/kr/common/blue/top_bg1.gif) repeat-x;}
td				{font-family:"dotum,verdana";font-size:12px;color:#666666;line-height:17px;}
img				{border:none;}
select			{font-size:12px;font-family:"dotum";color:#666666;background-color:#FFFFFF;}
textarea		{font-size:12px;font-family:"dotum";color:#666666;background-color:#FFFFFF;}

hr { display:none; }
noscript p {position:absolute;}

/************ 스크롤바 색상 **********/
body  {
scrollbar-face-color:#efefef;
scrollbar-shadow-color:#999999;
scrollbar-highlight-color:#ffffff;
scrollbar-3dlight-color:#ffffff;
scrollbar-darkshadow-color:#ffffff;
scrollbar-track-color:#ffffff;
scrollbar-arrow-color:#000000;
}


/************ 기본 링크 스타일 **********/
A:link    {color:#666666;text-decoration:none;letter-spacing:0; font-weight:bold;}
A:visited {color:#666666;text-decoration:none;letter-spacing:0; font-weight:bold;}
A:active  {color:#666666;text-decoration:none;letter-spacing:0; font-weight:bold;}
A:hover    {color:#006db8;text-decoration:none;letter-spacing:0; font-weight:bold;}

/************ 기본 링크 ov 스타일 **********/
A.ov:link    {color:#006db8;text-decoration:none;letter-spacing:0; font-weight:bold;}
A.ov:visited {color:#006db8;text-decoration:none;letter-spacing:0; font-weight:bold;}
A.ov:active  {color:#006db8;text-decoration:none;letter-spacing:0; font-weight:bold;}
A.ov:hover    {color:#006db8;text-decoration:none;letter-spacing:0; font-weight:bold;}


/************ 폰트를 작게할때 **********/
.s0 {font-family:"dotum"; font-size:12px; }
.s0 {font-family:"dotum"; font-size:12px; text-decoration:underline;}
.s1 { color:#666666; font-family:"dotum"; font-size:12px; }
.s2 {font-family:"dotum"; font-size:12px; font-weight:bold;}
.s3 {font-family:"dotum"; font-size:12px; color:#000000;}
.s4 {font-family:"dotum"; font-size:12px; font-weight:bold;}
.s5 {font-family:"dotum"; font-size:12px; color:#ff3300;}
.s6 {font-family:"dotum"; font-size:12px; color:#454545; font-weight:bold; text-decoration:underline;}
.s_txt_01 {font-family:"dotum"; font-size:12px; color:#a13a3a;}
.bold_none {font-weight:normal;}


/************ 색이 들어가는 text **********/
.c { color:#00cccc }
.r { color:#ff3300 }
.g { color:#009900 }
.b { color:#33698f }
.o { color:#ff6600; font-size:12px;}
.blue { color:#148ac5; font-size:12px;}
.bla { color:#000000; }	
.intro_color{ color:#098F5F; }
.txt12 {font-size:12px;}


/************ 색이 들어가는 bold text **********/
.c_b { color:#00cccc; font-weight:bold;}
.r_b { color:#ff3300; font-weight:bold;}
.g_b { color:#009900; font-weight:bold;}
.b_b { color:#33698f; font-weight:bold;}
.o_b { color:#ff6600; font-weight:bold;}
.bla_b { color:#000000; font-weight:bold;}


/************ 타이틀 **********/
.or_ti_01 { color:#ff6600; font-size:14; font-weight:bold; letter-spacing:-1;}
.or_ti_06 { color:#1e8c32; font-size:14; font-weight:bold; letter-spacing:-1;}
.bk_ti_01 { color:#333333; font-size:12; font-weight:bold; letter-spacing:-1;}
.cont_06 { color:#454545; font-size:12; font-weight:bold; letter-spacing:-1; }

/************ 라인 **********/


/************ 정렬 **********/
.left {float:left;}
.img_left{float:left;}
.img_left img{margin-right:15px;margin-left:5px;}
.right {float:right;}
.img_right{float:right;}
.img_right img{margin-left:25px;}
.clear {clear:both;}
.center {text-align:center;}

/************ margin **********/
.none_mar {margin:0;}

.top_mar_0 {margin-top:0px;}
.top_mar_5 {margin-top:5px;}
.top_mar_10 {margin-top:10px;}
.top_mar_15 {margin-top:15px;}
.top_mar_20 {margin-top:20px;}
.top_mar_25 {margin-top:25px;}
.top_mar_30 {margin-top:30px;}
.top_mar_40 {margin-top:40px;}
.top_mar_50 {margin-top:50px;}
.top_mar_70 {margin-top:70px;}
.top_mar_100 {margin-top:100px;}

.top_mar_m5 {margin-top:-5px;}
.top_mar_m10 {margin-top:-10px;}
.top_mar_m15 {margin-top:-15px;}
.top_mar_m20 {margin-top:-20px;}
.top_mar_m25 {margin-top:-25px;}
.top_mar_m30 {margin-top:-30px;}
.top_mar_m40 {margin-top:-40px;}

.left_mar_0 {margin-left:0px;}
.left_mar_5 {margin-left:5px;}
.left_mar_10 {margin-left:10px;}
.left_mar_15 {margin-left:15px;}
.left_mar_20 {margin-left:20px;}
.left_mar_25 {margin-left:25px;}
.left_mar_30 {margin-left:30px;}
.left_mar_35 {margin-left:35px;}
.left_mar_40 {margin-left:40px;}
.left_mar_50 {margin-left:50px;}
.left_mar_52 {margin-left:52px;}
.left_mar_60 {margin-left:60px;}
.left_mar_62 {margin-left:62px;}
.left_mar_70 {margin-left:70px;}

.left_mar_m5 {margin-left:-5px;}
.left_mar_m10 {margin-left:-10px;}
.left_mar_m15 {margin-left:-15px;}
.left_mar_m20 {margin-left:-20px;}
.left_mar_m30 {margin-left:-30px;}
.left_mar_m40 {margin-left:-40px;}
.left_mar_m60 {margin-left:-60px;}

.right_mar_0 {margin-right:0px;}
.right_mar_5 {margin-right:5px;}
.right_mar_10 {margin-right:10px;}
.right_mar_15 {margin-right:15px;}
.right_mar_20 {margin-right:20px;}
.right_mar_30 {margin-right:30px;}
.right_mar_40 {margin-right:40px;}
.right_mar_50 {margin-right:50px;}
.right_mar_60 {margin-right:60px;}

.right_mar_m5 {margin-right:-5px;}
.right_mar_m10 {margin-right:-10px;}
.right_mar_m15 {margin-right:-15px;}
.right_mar_m20 {margin-right:-20px;}
.right_mar_m30 {margin-right:-30px;}
.right_mar_m40 {margin-right:-40px;}
.right_mar_m60 {margin-right:-60px;}

.bott_mar_0 {margin-bottom:0px;}
.bott_mar_5 {margin-bottom:5px;}
.bott_mar_10 {margin-bottom:10px;}
.bott_mar_15 {margin-bottom:15px;}
.bott_mar_20 {margin-bottom:20px;}
.bott_mar_25 {margin-bottom:25px;}
.bott_mar_30 {margin-bottom:30px;}
.bott_mar_35 {margin-bottom:35px;}
.bott_mar_40 {margin-bottom:40px;}

.bott_mar_m5 {margin-bottom:-5px;}
.bott_mar_m10 {margin-bottom:-10px;}
.bott_mar_m15 {margin-bottom:-15px;}
.bott_mar_m20 {margin-bottom:-20px;}
.bott_mar_m30 {margin-bottom:-30px;}
.bott_mar_m40 {margin-bottom:-40px;}


/************테이블**********/
.table1 {margin:5px 0px 0px 0px; padding:0px; border-collapse:collapse;}
.table1 caption{display: none;}
.table1 th{color:#33698f; background-color:#e3f0f9; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; padding:5px 7px; font-size:12px;}
.table1 td{font-weight:normal;text-align:justify;  border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; padding:5px 7px;}
.table1 .t_end{ border-right:none; }
.table1 .td_top{ border-top:2px solid #72aacf;}
.table1 .td_bottom{ border-bottom:none;}
.table1 .cell_left {text-align:left;}
.table1 .cell_right{text-align:right;}
.table1 .cell_center{text-align:center;}
.table1 .cell_point {background:#f3faff;}


/************테이블기본**********/
.table_no {margin:0; padding:5 0 0 0; border-collapse:collapse;}
.table_no caption{display: none;}
.table_no th{color:#0B6F96; background-color:ffffff; text-decoration:underline; border:none; height:25; font-size:12px;}
.table_no td{font-weight:normal;text-align:justify;  border:none; padding:6 6 6 10;}

.no_bold{font-weight:normal;}
.no_bul{background:none;}
.no_left_mar{margin-left:0px;}
.unit{font-family:"dotum"; font-size:12px; letter-spacing:-1px; font-weight:normal; color:#666666; float:right; margin-bottom:-5px;}



/************ 박스스타일 **********/
.tab {width:650px;height:27px;background:url(/contents/images/tab_background.gif) repeat-x;}
.tab ul {margin:0;padding:0;list-style:none;}
.tab li {float:left;margin-right:4px;}

.box_style_1 {width:650px;}
.box_style_1_top {width:650px;height:20px;background:url(/contents/images/box_style_1_top.gif) no-repeat;}
.box_style_1_middle {width:650px;background:url(/contents/images/box_style_1_middle.gif) repeat-y;}
.box_style_1_bottom {width:650px;height:20px;background:url(/contents/images/box_style_1_bottom.gif) no-repeat;}
.box_style_3_top {width:650px;height:10px;font-size:1px;background:url(/contents/images/box_style_3_top.gif) no-repeat;}
.box_style_3_middle {width:650px;background:url(/contents/images/box_style_3_middle.gif) repeat-y;}
.box_style_3_bottom {width:650px;height:10px;font-size:1px;background:url(/contents/images/box_style_3_bottom.gif) no-repeat;}
.box_style_4_top {width:650px;height:5px;font-size:1px;background:url(/contents/images/box_style_4_top.gif) no-repeat;}
.box_style_4_middle {width:650px;background:url(/contents/images/box_style_4_middle.gif) repeat-y;}
.box_style_4_bottom {width:650px;height:5px;font-size:1px;background:url(/contents/images/box_style_4_bottom.gif) no-repeat;}
.box_style_5_top {width:650px;height:10px;font-size:1px;background:url(/contents/images/box_style_5_top.gif) no-repeat;}
.box_style_5_middle {width:650px;background:url(/contents/images/box_style_5_middle.gif) repeat-y;}
.box_style_5_bottom {width:650px;height:10px;font-size:1px;background:url(/contents/images/box_style_5_bottom.gif) no-repeat;}




/************ 타이틀 스타일 **********/
h1 {margin:15px 0px 5px 5px; padding-left:15px;font-size:14px; color:#0e4d9c; font-weight:bold; font-family:"dotum";background:url(/contents/images/h1_bullet.gif) no-repeat left 3px; text-align:justify; letter-spacing:-1px; line-height:19px;}

h2 {margin:10px 0px 0px 20px;padding-left:14px;font-size:12px; color:#0b68a4;font-weight:normal; font-family:"dotum"; background:url(/contents/images/h2_bullet.gif) no-repeat left 4px;text-align:justify; letter-spacing:0px; line-height:19px;}

h3 {margin:5px 0px 0px 35px;padding-left:12px;font-size:12px; color:#454545; font-weight:bold; font-family:"dotum"; background:url(/contents/images/h3_bullet.gif) no-repeat left 5px;text-align:justify; letter-spacing:0px; line-height:17px;}

h4 {margin:3px 0px 3px 50px;padding-left:8px;font-size:12px; color:#666666; font-weight:normal; font-family:"dotum";}

h5 {margin:8px 0px 0px 10px;padding-left:20px;font-size:12px; color:#454545; font-weight:bold; font-family:"dotum";}








.top{height:152px; width:100%;}
.top_login{background:url(/contents/images/top_login_background.gif) repeat-x; width:429px; height:38px; position:absolute; left:511px; top:28px; z-index:10;}
.top_login input{width:77px; height:18px; border:1px solid #006db8; padding:0px; margin:0px; vertical-align:5px;}
.top_login_content{margin-left:11px; margin-top:7px; width:408px; height:20px;}
.top_logo{width:1031px; height:52px;}
.top_menu{width:1031px; height:100px; padding:0px; margin:0px; list-style:none; background:url(/contents/images/first_top_menu_background.gif) no-repeat;}
.top_menu li{float:left;}
#top_menu_first_1{visibility:visible; position:absolute;}
#top_menu_first_2{visibility:visible; position:absolute;}
#top_menu_first_3{visibility:visible; position:absolute;}
#top_menu_first_4{visibility:visible; position:absolute;}
#top_menu_first_5{visibility:visible; position:absolute;}

#top_menu_first_1_over{visibility:hidden; position:relative; z-index:11;}
#top_menu_first_2_over{visibility:hidden; position:relative; z-index:11;}
#top_menu_first_3_over{visibility:hidden; position:relative; z-index:11;}
#top_menu_first_4_over{visibility:hidden; position:relative; z-index:11;}
#top_menu_first_5_over{visibility:hidden; position:relative; z-index:11;}

#top_menu_second_1{position:absolute; visibility:visible; list-style:none; padding:0px; margin:0px; width:908px; margin-top:-5px; z-index:12; left:30px;background:url(/contents/images/top_menu_second_background_2line.gif) repeat-x; height:50px; list-style:none;}
#top_menu_second_2{position:absolute; visibility:hidden; list-style:none; padding:0px; margin:0px; width:908px; z-index:12; margin-top:-5px; left:30px;background:url(/contents/images/top_menu_second_background_1line.gif) repeat-x; height:35px; list-style:none;}
#top_menu_second_3{position:absolute; visibility:hidden; list-style:none; padding:0px; margin:0px; width:908px; z-index:12; margin-top:-5px; left:30px;background:url(/contents/images/top_menu_second_background_1line.gif) repeat-x; height:35px; list-style:none;}
#top_menu_second_4{position:absolute; visibility:hidden; list-style:none; padding:0px; margin:0px; width:908px; z-index:12; margin-top:-5px; left:30px;background:url(/contents/images/top_menu_second_background_1line.gif) repeat-x; height:35px; list-style:none;}
#top_menu_second_5{position:absolute; visibility:hidden; list-style:none; padding:0px; margin:0px; width:908px; z-index:12; margin-top:-5px; left:30px;background:url(/contents/images/top_menu_second_background_1line.gif) repeat-x; height:35px; list-style:none;}


.top_menu_second_content{padding-left:52px; padding-top:9px; background:url(/contents/images/top_second_menu_title.gif) no-repeat 10px 9px;}


.top_fastlink_menu{padding:0px; margin:0px; list-style:none; height:45px; margin-top:8px; clear:both; float:right; background:url(/contents/images/top_fastlink_background.gif) repeat-x;}
.top_fastlink_menu li{float:left; margin-top:0px; height:45px; padding-top:13px;}
.top_fastlink_menu li.top_fastlink_menu_first{background:url(/contents/images/top_fastlink_first_background.gif) no-repeat; padding-left:10px;}
.top_fastlink_menu li.top_fastlink_menu_last{background:url(/contents/images/top_fastlink_last_background.gif) no-repeat right top; padding-right:10px;}










		



.middle_left{width:257px; float:left;}
.left_title{width:257px; height:66px;}
.left_menu{width:257px; background:url(/contents/images/left_middle_background.gif) repeat-y; padding:0px; margin:0px; list-style:none;}
.left_menu li{width:177px; border-bottom:1px solid #e1e1e1; margin-left:46px; line-height:27px; text-indent:14px; background:url(/contents/images/left_point.gif) no-repeat 7px 10px;}
.left_menu_2set{padding:0px; margin:0px; list-style:none; background:url(/contents/images/left_menu_2set_background.gif) repeat-y; width:177px; margin-bottom:5px;}
.left_menu_2set li.left_menu_2set_top{background:url(/contents/images/left_menu_2set_top_background.gif) no-repeat; height:7px; font-size:7px; line-height:7px;}
.left_menu_2set li.left_menu_2set_bottom{background:url(/contents/images/left_menu_2set_bottom_background.gif) no-repeat; height:7px; font-size:7px; line-height:7px;margin-bottom:0px;}
.left_menu_2set li{margin:0px; padding:0px; border:none; background:url(/contents/images/left_menu_2set_bul.gif) no-repeat 20px 12px; text-indent:30px; height:20px;}
*html .left_menu_2set li{margin-bottom:-4px;}
.left_menu_2set li a:link{font-weight:normal;}
.left_menu_2set li a:visited{font-weight:normal;}
.left_menu_2set li a:active{font-weight:normal;}
.left_menu_2set li a:hover{font-weight:normal;}


.left_bottom{width:257px; height:58px; background:url(/contents/images/left_bottom_background.gif) no-repeat;}
.middle_right{width:774px; float:left;}
.content_title{background:url(/contents/images/content_title_point.gif) no-repeat 5px 19px; width:666px; height:47px; border-bottom:3px solid #006db8; padding-left:13px;}
.content_title img{margin-top:19px; float:left;}
.navigation{float:right; height:18px; padding:0px; margin:0px; list-style:none; margin-top:19px;}
.navigation li{float:left;}
.navigation li img{margin-top:4px; margin-right:5px;}



.main_middle_box{width:980px; height:719px;}
.main_middle_box_first{width:336px; height:719px; float:left;}
.main_middle_box_first_flash{width:336px; height:509px;}
.main_middle_box_first_notics{width:336px; height:210px;}



.main_middle_box_second{width:413px; height:719px; float:left;}
.main_middle_box_second_mapbox{width:413px; height:320px;}
.main_middle_box_second_searchbox{width:413px; height:189px;}
.main_middle_box_second_notics{width:413px; height:210px;}

.main_middle_box_three{width:282px; height:719px; float:left;}
.main_middle_box_three_sgisbox{width:210px; height:312px;}
.main_middle_box_three_sgisbox_title {width:200px;height:28px;}
.main_middle_box_three_sgisbox_link {width:200px;}
.main_middle_box_three_sgisbox_link ul {margin:17px 0 0 0;padding:0;list-style:none;}
.main_middle_box_three_sgisbox_link li {margin:9px 0;}
.main_middle_box_three_apibox{width:210px; height:113px;}
.main_middle_box_three_sitebox{width:210px; height:294px; background:url(/contents/images/main_middle_box_three_sitebox_background.gif) no-repeat;}







.main_middle_box_second_mapbox_search_box{width:400px; height:30px; background:url(/contents/images/main_middle_box_second_mapbox_search_background.gif) no-repeat; margin-top:5px; margin-left:4px;}

.main_middle_box_second_mapbox_search_box input{border:none; width:223px; height:20px; margin-left:2px; margin-top:5px; vertical-align:top;}
*html .main_middle_box_second_mapbox_search_box input{margin-top:4px;}
.main_middle_box_second_mapbox_background{background:url(/contents/images/main_middle_box_second_mapbox_background.gif) no-repeat; width:400px; height:284px; padding-top:9px;}
.main_middle_box_second_mapbox_menu{width:376px; height:35px; border-bottom:3px solid #5fabbe; margin-left:12px;}
.main_middle_box_second_mapbox_menu_left_button{width:11px; height:35px; float:left;}
.main_middle_box_second_mapbox_menu_right_button{width:11px; height:35px; float:left;}
.main_middle_box_second_mapbox_menu_content{width:334px; height:24px; float:left; margin-left:12px; margin-right:8px; margin-top:6px;}
.main_iframe{margin-left:12px; width:376px; height:228px;};


.main_middle_box_second_search_title{width:400px; margin-left:4px;}
.main_middle_box_second_search_content{width:410px; margin-left:4px; padding:0px; margin:0px; list-style:none;}
.main_middle_box_second_search_content li{float:left; height:158px;}




.main_middle_box_second_search_content li#main_middle_box_second_search_content_background_1{width:316px; height:162px; background:url(/contents/images/main_middle_box_second_search_content_background.gif) no-repeat; display:block;}
.main_middle_box_second_search_content li#main_middle_box_second_search_content_background_2{width:316px; height:162px; background:url(/contents/images/main_middle_box_second_search_content_background.gif) no-repeat; display:none;}
.main_middle_box_second_search_content li#main_middle_box_second_search_content_background_3{width:316px; height:162px; background:url(/contents/images/main_middle_box_second_search_content_background.gif) no-repeat; display:none;}


#main_middle_box_second_search_content_button_01{display:none;}
#main_middle_box_second_search_content_button_02{display:block;}
#main_middle_box_second_search_content_button_03{display:block;}

.main_middle_box_second_search_content_background_box{width:295px; margin-left:9px; margin-top:5px;}
.main_middle_box_second_search_content_background_box_title{width:295px; margin-bottom:10px;}
.main_middle_box_second_search_content_background_box_content{width:295px; margin-top:10px; padding:0px; margin:0px; list-style:none;}
.main_middle_box_second_search_content_background_box_content li{float:left; height:26px; margin-bottom:0px;}
.main_middle_box_second_search_content_background_box_content img{vertical-align:-5px;}
*html .main_middle_box_second_search_content_background_box_content img{vertical-align:-2px;}




.main_middle_box_three_api_background_1{width:210px; height:65px;}
.main_middle_box_three_api_background_2{background:url(/contents/images/main_middle_box_three_api_background_2.gif) no-repeat; width:210px; height:48px;}
.main_middle_box_three_api_list_left{width:19px; height:27px; float:left; margin-top:4px; margin-left:14px;}
.main_middle_box_three_api_list_center{width:119px; height:27px; margin-left:12px; margin-right:13px; float:left; margin-top:4px;}
.main_middle_box_three_api_list_right{width:19px; height:27px; float:left; margin-top:4px;}







.bottom{width:1031px; height:92px; background:url(/contents/images/bottom_background.gif) no-repeat;}
.bottom_logo{width:215px; height:44px; display:inline; margin-left:42px; margin-top:15px; float:left;}
.bottom_address{width:536px; height:44px; float:left; margin-top:15px;}
.bottom_navigation{height:21px;}
.address{height:23px;}
.today_count{width:140px; height:44px; float:left; padding:0xp; margin:0px; margin-top:15px;}
.today_count dt{height:14px; width:60px; float:left; margin:0px; padding:0px;}
.today_count dd{height:14px; width:80px; float:left; margin:0px; padding:0px; text-align:right;}
*html .today_count dd{margin-top:-3px;}

.content {clear:both;width:670px;margin:10px 0 20px 10px;}





/************ 상단 텍스트박스 스타일 **********/
.notice_text_box_top {width:650px;height:8px;font-size:1px;background:url(/contents/images/notice_text_box_top.gif) no-repeat left top;}
.notice_text_box {width:650px;background:url(/contents/images/notice_text_box_bottom.gif) no-repeat left bottom;padding-bottom:10px;}
.notice_text_box_icon {float:left;width:107px;text-align:center;}
.notice_text_box_text {float:left;width:525px;}
.notice_text_box_text div {width:524px;height:23px;line-height:23px;background:url(/contents/images/notice_text_box_title.gif) no-repeat;text-indent:15px;color:#666666;font-weight:bold;}
.notice_text_box_text strong {color:#ff6b11;}
.notice_text_box_text p {margin:13px 15px 0 15px;padding:0;width:504px;text-align:justify;}
.view_li {height:15px;}










/************메인 공지사항*************/
.main_middle_box_first_notics_ti{width:281px; height:31px; float:left;}
.main_middle_box_first_notics_more{width:55px; height:31px; float:left;}
.main_middle_box_first_notics_ul{padding:0px; margin:0px; list-style:none;background:url(/contents/images/main_middle_box_first_notics_ti_background.gif) no-repeat left top; width:300px; margin-left:20px; height:25px;}
.main_middle_box_first_notics_ul li{float:left;}
.main_middle_box_first_notics_ul li.main_norice_left_right_button{float:right; margin-right:7px;}
.main_middle_box_first_notics_ul li.main_norice_left_right_button img{margin-right:3px;}


#main_middle_box_first_notics_menu_1{visibility:hidden; position:absolute;}
#main_middle_box_first_notics_menu_2{visibility:visible; position:absolute;}

#main_middle_box_first_notics_menu_1_over{visibility:visible; position:relative;}
#main_middle_box_first_notics_menu_2_over{visibility:hidden; position:relative;}


#main_middle_box_first_notics_menu_con_1 {visibility:visible;position:absolute;width:300px;margin:0; left:28px; padding:0;list-style:none;margin-top:9px; height:20px;}
#main_middle_box_first_notics_menu_con_2 {visibility:hidden;position:absolute;width:300px;margin:0; left:28px; padding:0;list-style:none;margin-top:9px; height:20px;}
.main_middle_box_first_notics_ul li dt {float:left;margin:0;padding:0;width:90px;padding:0px 0 2px 0; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 7px; text-indent:15px; font-family:"dotum"; font-size:12px; color:#666666; height:20px;}
.main_middle_box_first_notics_ul li dd {float:left;margin:0;padding:0;width:210px;text-align:left;color:#666666;padding:0px 0 2px 0; font-family:"dotum"; font-size:12px; color:#666666; height:20px;}
.main_middle_box_first_notics_ul li dd img{vertical-align:middle; margin-bottom:-2px;}
.main_middle_box_first_notics_ul li dd a:link{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;}
.main_middle_box_first_notics_ul li dd a:visited{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;}
.main_middle_box_first_notics_ul li dd a:active{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;}
.main_middle_box_first_notics_ul li dd a:hover{font-weight:normal; font-family:"dotum"; font-size:12px; color:#006db8;}


/*************************************************/
.main_middle_box_second_notics_ti{width:397px; height:28px; text-align:left;}
*html .main_middle_box_second_notics_ti{margin-top:4px;}

.main_middle_box_second_notics_ul{padding:0px; margin:0px; list-style:none;background:url(/contents/images/main_middle_box_second_notics_ti_background.gif) no-repeat left top; width:397px; margin-left:6px; height:25px;}
.main_middle_box_second_notics_ul li{float:left;}
.main_middle_box_second_notics_ul li.main_norice_left_right_button{float:right; margin-right:7px;}
.main_middle_box_second_notics_ul li.main_norice_left_right_button img{margin-right:3px;}


#main_middle_box_second_notics_menu_1{visibility:hidden; position:absolute;}
#main_middle_box_second_notics_menu_2{visibility:visible; position:absolute;}
#main_middle_box_second_notics_menu_3{visibility:visible; position:absolute;}

#main_middle_box_second_notics_menu_1_over{visibility:visible; position:relative;}
#main_middle_box_second_notics_menu_2_over{visibility:hidden; position:relative;}
#main_middle_box_second_notics_menu_3_over{visibility:hidden; position:relative;}


#main_middle_box_second_notics_menu_con_1 {visibility:visible;position:absolute;width:397px;margin:0; padding:0;list-style:none;margin-top:9px; height:20px;}
#main_middle_box_second_notics_menu_con_2 {visibility:hidden;position:absolute;width:397px;margin:0; margin-left:-114px; padding:0;list-style:none;margin-top:9px; height:20px;}
#main_middle_box_second_notics_menu_con_3 {visibility:hidden;position:absolute;width:397px;margin:0; margin-left:-216px; padding:0;list-style:none;margin-top:9px; height:20px;}
#main_middle_box_second_notics_menu_con_1 li {margin:0;padding:0;width:397px;padding:0px 0 2px 0; background:url(/contents/images/main_middle_box_first_notics_dot.gif) no-repeat left bottom; font-family:"dotum"; font-size:12px; color:#666666; height:20px;}
#main_middle_box_second_notics_menu_con_1 li.main_middle_box_second_notics_2line{background:#f1f7f8 url(/contents/images/main_middle_box_first_notics_dot.gif) no-repeat left bottom;}


#main_middle_box_second_notics_menu_con_1 li img{vertical-align:middle; margin-bottom:-2px;}
#main_middle_box_second_notics_menu_con_1 li a:link{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666; padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_1 li a:visited{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_1 li a:active{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_1 li a:hover{font-weight:normal; font-family:"dotum"; font-size:12px; color:#006db8;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}


#main_middle_box_second_notics_menu_con_2 li {margin:0;padding:0;width:397px;padding:0px 0 2px 0; background:url(/contents/images/main_middle_box_first_notics_dot.gif) no-repeat left bottom; font-family:"dotum"; font-size:12px; color:#666666; height:20px;}
#main_middle_box_second_notics_menu_con_2 li.main_middle_box_second_notics_2line{background:#f1f7f8 url(/contents/images/main_middle_box_first_notics_dot.gif) no-repeat left bottom;}


#main_middle_box_second_notics_menu_con_2 li img{vertical-align:middle; margin-bottom:-2px;}
#main_middle_box_second_notics_menu_con_2 li a:link{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666; padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_2 li a:visited{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_2 li a:active{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_2 li a:hover{font-weight:normal; font-family:"dotum"; font-size:12px; color:#006db8;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}

#main_middle_box_second_notics_menu_con_3 li {margin:0;padding:0;width:397px;padding:0px 0 2px 0; background:url(/contents/images/main_middle_box_first_notics_dot.gif) no-repeat left bottom; font-family:"dotum"; font-size:12px; color:#666666; height:20px;}
#main_middle_box_second_notics_menu_con_3 li.main_middle_box_second_notics_2line{background:#f1f7f8 url(/contents/images/main_middle_box_first_notics_dot.gif) no-repeat left bottom;}



#main_middle_box_second_notics_menu_con_3 li img{vertical-align:middle; margin-bottom:-2px;}
#main_middle_box_second_notics_menu_con_3 li a:link{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666; padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_3 li a:visited{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_3 li a:active{font-weight:normal; font-family:"dotum"; font-size:12px; color:#666666;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}
#main_middle_box_second_notics_menu_con_3 li a:hover{font-weight:normal; font-family:"dotum"; font-size:12px; color:#006db8;  padding-left:15px; background:url(/contents/images/main_middle_box_first_notics_menu_point.gif) no-repeat 8px 5px;}

.main_middle_box_second_notics_percent{font-size:12px; font-weight:bold; color:#ff5926; margin-left:10px;}


/****************메인 관련사이트 **********************/
.main_middle_box_three_sitebox_content{width:176px; padding-top:16px; margin-left:17px;}	
.main_middle_box_three_sitebox_content_banner{margin-bottom:6px;}
.main_middle_box_three_sitebox_site{width:176px; height:98px;}
.main_middle_box_three_sitebox_site_banner{width:176px; height:52px; background:url(/contents/images/main_middle_box_three_sitebox_site_banner_background.gif) no-repeat;}
.main_middle_box_three_sitebox_site_banner ul{padding:0px; margin:0px; list-style:none; padding-top:6px;}
.main_middle_box_three_sitebox_site_banner ul li{float:left;}
.main_middle_box_three_sitebox_site_banner ul li.main_middle_box_three_sitebox_site_banner_1set{width:21px; text-align:left;}
.main_middle_box_three_sitebox_site_banner ul li.main_middle_box_three_sitebox_site_banner_2set{width:132px;}
.main_middle_box_three_sitebox_site_banner ul li.main_middle_box_three_sitebox_site_banner_3set{width:23px; text-align:right;}
.img_align{vertical-align:middle;}
.search_site{width:98px; height:20px; margin-left:5px; margin-top:5px; vertical-align:top;behavior:url('/contents/style/family_site.htc');font-size:12px;}


