@import url(common.css); 

*{margin:0; padding:0;}
/*.wrapper_1{width:100%; height:100%; margin-left:29%; margin-top:11%;}*/
.wrapper{width:819px; height:459px; border:1px solid #dbdbdb; background:#fff url(image/bg.png)no-repeat center;}
.content{width:786px; height:328px; vertical-align:middle; margin:17px 19px;}
.left_1{float:left; width:579px; height:328px; border:1px solid #dbdbdb;}
.right_1{float:right; width:193px; height:328px; border:1px solid #dbdbdb; background:#fff;}
.title_1{margin:19px 23px;}
.button{width:153px; margin-top:12px;}
 a:active{color:red;}