@charset "utf-8";

/* 레이아웃 */

#wrap{margin:0;padding:0;background:url('../../images/main/bg_mainnew.jpg') repeat-x;width:100%;}
#con_wrap{overflow:hidden;position:relative;margin:0px auto;width:1200px;background:url('../../images/main/bg_mainnew3.gif') no-repeat; }

#con2_wrap{float:left;overflow:hidden;position:relative;padding-left:28px;width:971px;}
#m_quick{float:left;overflow:hidden;position:relative;margin:68px 0px 0px 3px;width:78px;}

#top{overflow:hidden;position:relative;padding:0px;margin:0px;width:971px;}
#middle{overflow:hidden;position:relative;margin:0px;padding:0px;width:971px;height:600px; }
#footer{overflow:hidden;position:relative;padding:0px;width:100%;height:74px;background:#F3F3F3;border-top:1px solid #B4B4B4;}

/* 레이아웃 */

/* top */
#main_top{overflow:hidden;position:relative;margin:0px;height:27px;}
h1{position:absolute;top:17px;left:8px;}
#topLogin{float:right;padding:0px;margin:8px 26px 0px 0px;height:19px;}
.topLogin{float:right;}
.topLogin li{float:left;}

.main_login {overflow:hidden;position:relative;padding:7px 0px 0px 25px;margin:7px 0px 0px 492px;color:#5A5A5B;width:455px;height:28px;background:url('../../images/main/bg_m_loginbox.gif') no-repeat;z-index:99;}
.main_login li{float:left;padding-left:3px;}
.main_login .last{padding-left:6px;}

.main_logout {overflow:hidden;position:relative;padding:7px 0px 0px 160px;margin:7px 0px 0px 492px;width:455px;height:28px;background:url('../../images/main/bg_m_loginbox.gif') no-repeat;z-index:99;}
.main_logout li{float:left;padding-left:5px;font-size:11px;font-family:gulim;font-weight:bold;color:#98999B;}
.main_logout .text{color:#464646;}
/* //top */

/* middle */
#main_con{overflow:hidden;position:relative;margin:0px;padding:0px;}
#main_left{float:left;overflow:hidden;position:relative;width:600px;}
#main_right{float:right;overflow:hidden;position:relative;margin-right:10px;}

.main_notice{position:relative;padding:0;margin:105px 0px 0px 0px;width:297px;height:80px;}
.main_notice #tabArea{position:relative;margin-top:0px;background:none;}
.main_notice #tabArea h3{display:inline;}
.main_notice #tabArea h3.step1{position:absolute;top:-19px;left:0px;}
.main_notice #tabArea h3.step2{position:absolute;top:-19px;left:68px;}
.main_notice #tabArea h3.step3{position:absolute;top:-19px;left:136px;}
.main_notice #tabArea h3.step4{position:absolute;top:-19px;left:204px;}
.main_notice #tabArea ul{overflow:hidden;padding-top:12px;border-top:1px solid #BABFC4;font-size:11px;font-family:gulim;color:#464646;}
.main_notice #tabArea li.first-child{position:absolute;top:-15px;right:5px;background:none;}
.main_notice #tabArea li{margin-left:7px;padding:0px 0px 0px 7px;background:url('../../images/main/bul_blue1.gif') no-repeat 0 8px;color:#464646;}
.main_notice #tabArea li span{float:right;background:none;color:#464646;}
.main_notice #tabArea li a{color:#464646;}
.main_notice #tabArea li a:link{text-decoration:none;}
.main_notice #tabArea li a:visited{text-decoration:none;}
.main_notice #tabArea li a:hover{text-decoration:none;}
.main_notice #tabArea li a:active{text-decoration:none;} 

.main_notice2{overflow:hidden;position:relative;width:297px;height:137px;margin:17px 0px 0px 0px;background:url('../../images/main/bg_m_notice.gif') no-repeat;}
.main_notice2 ul{overflow:hidden;margin:17px 0px 0px 25px;height:18px;}
.main_notice2 li{float:left;padding-right:5px;height:16px;}
p.notice2_con{margin-left:10px;padding-top:10px;}

.main_banner{overflow:hidden;margin:17px 0px 0px 0px;padding-left:95px;}
.main_banner li{padding-bottom:10px;}
p.main{position:absolute;left:140px;top:75px;}


/* //middle */

#allmenu{display:none;position:absolute;top:0px;left:615px;z-index:999; width:100%}
#allmenuBox{background:url('../../images/main/allmenu_BoxB.gif') no-repeat 0 bottom;width:384px;}
.allmenuBoxT{background:url('../../images/main/allmenu_BoxT.gif') no-repeat 0 top;padding:20px 20px 0px 20px;width:384px;}
.allmenuBoxT li ul{padding:5px 0px 5px 0px;margin:0px;}
.allmenuBoxT li li{padding-left:17px;line-height:20px;color:#555;letter-spacing:-0.1em;}
.allmenuBoxT .text{padding-left:5px;color:#008BCE; font-size: 11px;}
#allmenu a:link,a:visited,a:active{text-decoration:none; color:#555;} 
.allmenuBoxT .bgline{width:350px;background:url('../../images/main/bg_line.gif') repeat-x 0 bottom;}
.allmenuBoxT .last{padding-bottom:5px;}
.allmenuBoxT .first{padding-top:5px;}
.menuView{margin-left:285px;}
p.menu{margin-left:278px;}

/* middle */
.m_quick {overflow:hidden;width:78px;height:342px;padding:5px 0px 0px 5px;background:url('../../images/main/bg_quick.gif') no-repeat;}
.m_quick li{padding:0;margin:0;}
/* //middle */

/* footer */
#footer_con{overflow:hidden;position:relative;margin:0px auto;padding:0px;width:971px;}
dl.copy{overflow:hidden;float:left;margin:17px 0px 0px 43px;padding:0;width:600px;}
dl.copy dt{float:left;}
dl.copy dd{float:right;display:inline;padding-right:10px;}
dl.copy dd li{line-height:20px;color:#666;}
dl.copy dd li a{color:#666;font-weight:bold;}
ul.today{float:right;overflow:hidden;position:relative;margin:16px 0px 0px 20px;width:173px;}
ul.today li{position:relative;padding:0px 0px 0px 11px;background:url('../../images/main/ico_today.gif') no-repeat left 4px;line-height:14px;color:#464646;font-weight:bold;}
ul.today .num{position:absolute;right:5px;top:0px;color:#98999B;font-weight:normal;}
/* //footer */

/*family site */

#family{ position:absolute;  width:200px; top:700px; left:390px; z-index:10000;
   }
#family_sub{text-align:left;
      
          width:150px;     
}
#fa_out {position:absolute;  width:120px; height:22px; border:1px solid #bfbfbf; z-index:800; padding: 0px 0px 0px 0px; text-align: left;background:#fff;}
#top1 {display:none; position:absolute; top:-110px; background:#fff; padding: 0px 0px 0px 0px; width:120px; height:140px; border:1px solid #bfbfbf;  z-index:999;}
.tx01 {margin:5px 0px 0px  3px; padding: 0px; width:110px; text-align:left;padding:0px 0px 0px 15px;	 }
.tx01 a:link { text-decoration: none; color:#6c6c6c; font-size:9pt; font-family:"돋움","arila";} 
.tx01 a:visited { text-decoration: none; color:#6c6c6c; font-size:9pt; font-family:"돋움","arila";} 
.tx01 a:active { text-decoration: none; color:#6c6c6c; font-size:9pt; font-family:"돋움","arila";} 
.tx01 a:hover {color:#71A6C5; text-decoration:none; font-size:9pt; font-family:"돋움","arila";}


/*quickLink */
#quickCon{ position:absolute; width: 100%; top:40px; left:580px; z-index:10000;}
#quick{ width:150px; margin: auto;}
#goTop{position:absolute;  width:120px; height:20px; text-align: left;}
/* //quickLink */
