@charset "utf-8";

/* 레이아웃 */
#wrap{margin:0;padding:0;background:url('../../images/main/main_bg.gif') repeat-x;width:100%;}
#wrap2{margin:0;padding:0;background:url('../../images/main/main_bg2.gif') repeat-x;width:100%;}
#con_wrap{overflow:hidden;position:relative;margin:0 auto;width:1042px;}

#top{overflow:hidden;position:relative;padding:0;width:1042px;height:80px;}
#middle{overflow:hidden;position:relative;margin:0;padding:0;width:1042px;}
#footer{overflow:hidden;position:relative;padding:0;width:1042px;height:68px;}

/* 레이아웃 */

/* top */
#map_top{float:left;}
h1.map{position:absolute;top:23px;left:32px;}
h2.title{position:relative;padding:0 0 10px 0;text-align:center;}
.top_info{float:left;padding:17px 0 0 264px;margin:0;}
.top_info li{float:left;}
.top_info li.info{padding-top:5px;}
p.help{position:absolute;top:0;right:0;}
p.pyra{position:absolute;top:0;right:101px;}
/* //top */

/* middle */
#main_con{overflow:hidden;position:relative;margin:0;padding:0;}
.mapbox{overflow:hidden;position:relative;margin:0;padding:0;width:1042px;background:url('../../images/main/mapbox.gif') no-repeat 0 bottom;}
.mapbox_t{width:1042px;padding:11px;background:url('../../images/main/mapbox_t.gif') no-repeat 0 top;}
.s_mapbox{overflow:hidden;position:relative;margin:0;padding:0;width:1020px;background:url('../../images/main/s_mapbox.gif') no-repeat 0 bottom;}
.s_mapbox_t{width:1020px;padding:12px;background:url('../../images/main/s_mapbox_t.gif') no-repeat 0 top;}
.s_mapbox_g{overflow:hidden;position:relative;margin:0;padding:0;width:1020px;background:url('../../images/main/s_mapbox_g.gif') no-repeat 0 bottom;}
.s_mapbox_g_t{width:1020px;padding:12px;background:url('../../images/main/s_mapbox_g_t.gif') no-repeat 0 top;}
.titbox{overflow:hidden;width:959px;height:56px;margin:0;padding:10px 10px 0 20px;background:url('../../images/main/bg_title.gif') no-repeat;}
ul.titbox1 li{line-height:20px;}

ul.titbox2{float:left;width:580px;}
ul.titbox2 li{line-height:20px;}
ul.titboxbt{float:right;}
ul.titboxbt li{line-height:20px;padding-left:10px;}
ul.titboxbt li.last{padding-left:180px;}
ul.titboxbt li.last2{padding-left:250px;}
ul.titboxbt li img{padding-bottom:5px;}

ul.menulist{padding:32px 0 0 0;}
ul.menulist input{margin:0;padding:0;}
ul.menulist li{padding:2px 0 0 13px;background:url('../../images/main/bg_menu.gif') no-repeat;font-weight:bold;color:#fff;line-height:20px;}
ul.menulist li a{color:#fff;}
ul.menulist li a:link{text-decoration:none;}
ul.menulist li a:visited{text-decoration:none;}
ul.menulist li a:hover{text-decoration:none;}
ul.menulist li a:active{text-decoration:none;}
ul.menulist ul{display:block;padding:3px 0 3px 0;}
ul.menulist li li{margin-left:-5px;padding:2px 0 1px 0;background:none;font-weight:normal;color:#000;line-height:15px;letter-spacing:-0.1em;}
ul.menulist li li a{color:#666;}
ul.menulist li li a:link{text-decoration:none;}
ul.menulist li li a:visited{text-decoration:none;}
ul.menulist li li a:hover{text-decoration:none;color:#F26522;}
ul.menulist li li a:active{text-decoration:none;}

.map_intro{position:relative;padding:175px 0 0 0;margin:25px 0 0 25px;width:943px;height:363px;background:url('../../images/main/bg_mapintro.jpg') no-repeat;}
.map_intro li{text-align:center;line-height:35px;}
.graph_intro{position:relative;padding:175px 0 0 0;margin:25px 0 0 25px;width:943px;height:363px;background:url('../../images/main/bg_graphintro.jpg') no-repeat;}
.graph_intro li{text-align:center;line-height:35px;}

.tab_name{overflow:hidden;height:46px;margin:0;padding:10px 0 0 35px;}
.tab_name li{float:left;padding-right:5px;height:19px;}

.search_bar{overflow:hidden;padding:8px 0 0 28px;margin:0;width:966px;height:30px;background:url('../../images/main/bg_search.gif') no-repeat;}
.search_bar li{float:left;padding-right:5px;height:20px;}

span.search{font-weight:bold;color:#226EB6;}
.name_map{overflow:hidden;width:994px;margin-top:10px;}
.name_left{float:left;padding:5px;width:484px;height:499px;background:url('../../images/main/namebox.gif') no-repeat;}
.name_right{float:right;padding:5px;width:484px;height:499px;background:url('../../images/main/namebox.gif') no-repeat;}

.future_map{overflow:hidden;position:relative;width:992px;height:640px;background:url('../../images/main/bg_graph.gif') no-repeat;}
.future_left{float:left;width:118px;z-index:999;}
p.ico1{position:absolute;left:160px;top:30px;z-index:9999;}
p.ico2{position:absolute;left:160px;top:133px;z-index:9999;}
p.ico3{position:absolute;left:160px;top:232px;z-index:9999;}
p.ico4{position:absolute;left:160px;top:420px;z-index:9999;}
.future_right{position:relative;float:left;width:872px;}

.e_map{overflow:hidden;position:relative;padding:0;margin:40px 0 0 17px;height:450px;}
.e_map li{float:left;}
.e_date{overflow:hidden;margin:90px 0 0 20px;padding:0;width:823px;height:41px;}

ul.date li{float:left;font-family:"굴림",Gulim;color:#666;font-weight:bold;font-size:18px;}
p.icomap{position:absolute;top:30px;left:0;}
p.pointer{position:absolute;top:17px;left:560px;}
p.pointer2{position:absolute;top:17px;left:280px;}
.map_exe{position:absolute;top:435px;left:210px;}
.map_exe2{position:absolute;top:435px;left:490px;}
.map_exe3{position:absolute;top:435px;left:790px;}

/* //middle */

/* footer */
#footer_info{float:right;}
#footer_info {padding:20px 120px 0 0;}
#footer_info li{text-align:right;line-height:16px;font-size:12px;color:#555;font-family:"돋움",Dotum;font-style:normal;}
#footer_info .logo{position:absolute;top:17px;right:51px;}
/* //footer */



