@charset "utf-8";

.search-result {height: 49px;line-height: 49px;color: #999;border-bottom: solid 1px #d6d6d6;letter-spacing: -0.5px;font-size: 16px;}
.count {color: #ee7200;}

.listLeft{width:150px; height:95px; border-right:solid 1px #d6d6d6; text-align:center; font-size:18px; color:#222222; font-family:"나눔고딕B";  display: inline-block; padding:27px 0 20px 0;}
.listRight{display: inline-block;  padding:20px 20px 20px 20px;   position: absolute;}
.listRight a:hover{text-decoration: underline;}
.listTilte{font-family:"나눔고딕B"; font-size:18px; line-height:22px; color:#333;}
.listTilte span{font-weight:100; font-size:13px;}
.listGroup{line-height:22px; font-size:13px; color:#888;}
.listSummary{text-overflow: ellipsis;}
.pagenation{clear: both;}




.article-search3 {width: 100%;padding-bottom: 30px;border-bottom: solid 1px #00498f;   border-top: solid 3px #00498f;   padding-top: 30px;}
#article-wrap .article-search3 form {position: relative;margin: 0 auto;overflow: hidden; width:800px;}
#article-wrap .article-search3 form fieldset {position: relative;display:inline-block;border: none;}
#article-wrap .article-search3 form fieldset .el-h {position: absolute;top: 12px;left: 10px;font-size: 14px;letter-spacing: -0.5px;}
#article-wrap .article-search3 form fieldset input[type="text"] {width: 347px;height: 38px;line-height: 38px;font-size: 14px;border: solid 1px #e4e4e4;}
#article-wrap .article-search3 form .sbm {float: left;}
#article-wrap .article-search3 form .sbm input[type="submit"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #ee7200;font-weight: bold;}
#article-wrap .article-search3 form .sbm input[type="button"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #21b69a;font-weight: bold;}

#article-wrap .article-search3 form fieldset .f-el {float: left;position: relative;}
#article-wrap .article-search3 form fieldset .f-el-select {width: 160px;margin-right: 10px;}
#article-wrap .article-search3 form fieldset .f-el-select .el-h {display: none;}
#article-wrap .article-search3 form fieldset .f-el-select a {display: block;width: 158px;height: 38px;line-height: 38px;font-size: 14px;color: #666;border: solid 1px #ddd;  background: url(../images/tm/bg_sel_box.gif) no-repeat 100% 0;text-indent: 9px;}
#article-wrap .article-search3 form fieldset .selectbox {width: 158px;}

/*no form*/
#article-wrap .article-search3 {position: relative;margin: 0 auto;overflow: hidden; padding:15px 0; box-sizing:border-box;}
#article-wrap .article-search3 div { float:left;}
#article-wrap .article-search3 fieldset {position: relative; border: none;}
#article-wrap .article-search3 fieldset .el-h {position: absolute;top: 12px;left: 10px;font-size: 14px;letter-spacing: -0.5px;}
#article-wrap .article-search3 fieldset input[type="text"] {width: 488px;height: 38px;line-height: 38px;font-size: 14px;border: solid 1px #e4e4e4;}
#article-wrap .article-search3 .sbm {float: right;}
#article-wrap .article-search3 .sbm input[type="submit"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #ee7200;font-weight: bold;}
#article-wrap .article-search3 .sbm input[type="button"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #21b69a;}

#article-wrap .article-search3 fieldset .f-el {float: left;position: relative;}
#article-wrap .article-search3 fieldset .f-el-select {width: 160px;margin-right: 10px;}
#article-wrap .article-search3 fieldset .f-el-select .el-h {display: none;}
#article-wrap .article-search3 fieldset .f-el-select a {display: block;width: 158px;height: 38px;line-height: 38px;font-size: 14px;color: #666;border: solid 1px #ddd;  background: url(../images/tm/bg_sel_box.gif) no-repeat 100% 0;text-indent: 9px;}
#article-wrap .article-search3 fieldset .selectbox {width: 158px;}



.data-modify{margin-bottom: 50px;padding-top: 0;}
.account-join form.account-info {}
.account-join form.account-info fieldset {margin-bottom: 50px;padding: 40px 40px 0;border: solid 1px #d9d9d9;border-top: solid 3px #00498f;}
.account-join form.account-info fieldset .f-el {position: relative;margin-bottom: 13px;font-size: 0;vertical-align: middle;   line-height: 40px;}
.account-join form.account-info fieldset .f-el * {vertical-align: middle;}
.account-join form.account-info fieldset .f-el .el-h {display: inline-block;width: 105px;font-size: 14px; font-weight: bold;color: #333;letter-spacing: -0.6px;}
.account-join form.account-info fieldset .f-el .el-b {display: inline-block;font-size: 14px;color: #666;}
.account-join form.account-info fieldset .f-el .el-b label {display: inline-block;margin-right: 10px;height: 40px; line-height: 40px;}
.lineHeight {line-height:1; height:40px;}
.account-join form.account-info fieldset .f-el .el-b input[type="text"],
.account-join form.account-info fieldset .f-el .el-b input[type="password"] {width: 252px;height: 38px;line-height: 38px;border: solid 1px #ddd;font-size: 14px;letter-spacing: -0.5px;color: #333;background-color: #fafafa;}
.account-join form.account-info fieldset .f-el .el-b input[type="radio"] {margin-top: -2px;}
.account-join form.account-info fieldset .f-el .el-b .check {display: inline-block;margin-left: 10px;font-weight: bold;color: #333;width: 102px;height: 38px;line-height: 38px;border: solid 1px #aaa;text-align: center;background-color: #fafafa;letter-spacing: -0.25px;}
.account-join form.account-info fieldset .f-el .el-b .desc {margin-left: 20px;font-size: 12px;color: #999;display: inline-block;height: 40px;line-height: 40px;background: url(../images/common/bl2.gif) no-repeat 0 50%;padding-left: 10px;}
.account-join form .sbm {text-align: center;font-size: 0;}
.account-join form .sbm input[type="submit"],
.account-join form .sbm input[type="button"],
.account-join form .sbm a {display: inline-block;font-size: 14px;border: none;background: none;width: 140px;height: 40px;line-height: 40px;font-weight: bold;color: #fff;letter-spacing: -0.6px;margin: 0 5px;vertical-align: top;}
.account-join form .sbm input[type="submit"] {background-color: #3385d3;}
.account-join form .sbm input[type="button"] {background-color: #3385d3;}
.account-join form .sbm a {background-color: #333;}


.account-join form.account-info fieldset .f-el .el-b .desc02 {font-size: 12px;color: #999; height: 40px;line-height: 40px;background: url(../images/common/bl2.gif) no-repeat 0 50%;padding-left: 10px;}


/* 공통 */
strong, b, h1, h2, h3, h4, h5, dt {font-weight:normal !important;}