@charset "utf-8";
/* 공지사항 게시물 */
#article-wrap {}
#article-wrap .article-search {width: 100%;padding-bottom: 30px;border-bottom: solid 1px #00498f;}
#article-wrap .article-search form {width: 660px;position: relative;margin: 0 auto;overflow: hidden;}
#article-wrap .article-search form fieldset {position: relative;float: left;margin-right: 10px;border: none;}
#article-wrap .article-search form fieldset .el-h {position: absolute;top: 12px;left: 10px;font-size: 14px;letter-spacing: -0.5px;}
#article-wrap .article-search form fieldset input[type="text"] {width: 548px;height: 38px;line-height: 38px;font-size: 14px;border: solid 1px #e4e4e4;}
#article-wrap .article-search form .sbm { float: left; }
#article-wrap .article-search form .sbm input[type="submit"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #ee7200;font-weight: bold;}
#article-wrap .article-search form .sbm input[type="button"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #ee7200;font-weight: bold;}

#article-wrap .article-list {clear: both;margin-bottom: 50px;}
#article-wrap .article-list ul {border-bottom: solid 1px #9e9e9e;}
#article-wrap .article-list ul li {border-top: solid 1px #d6d6d6;}
#article-wrap .article-list ul li:first-child {border-top: none;}
#article-wrap .article-list ul li .inner {padding: 20px 20px;}
#article-wrap .article-list ul li .inner .subject {margin-bottom: 20px;font-size: 17px;line-height: 16px;font-weight: bold;color: #333;}
#article-wrap .article-list ul li .inner .subject a {color: #333;}
#article-wrap .article-list ul li .active .inner .subject a {color: #3c9cd7;}
#article-wrap .article-list ul li .inner .date,
#article-wrap .article-list ul li .inner .term {margin-bottom: 7px;color: #999;}
#article-wrap .article-list ul li .inner .summary {letter-spacing: -0.6px;}
#article-wrap .article-list ul li .inner .inner-content {margin-top: 30px;padding-top: 30px;background: url(/img/common/bg_ctit.gif) no-repeat 0 0;}
#article-wrap .article-list ul li .inner .inner-content p {margin-bottom: 25px;line-height: 1.7;letter-spacing: -0.6px;}


#article-wrap .pagenation {position: relative;margin: 0 auto;text-align: center;overflow: hidden;font-size: 0; padding-bottom: 20px;}
#article-wrap .pagenation a {display: inline-block;min-width: 27px;height: 27px;border: solid 1px #d6d6d6;font-size: 12px;line-height: 27px;text-align: center;vertical-align: top;}
#article-wrap .pagenation span {display: inline-block;min-width: 27px;height: 27px;border: solid 1px #d6d6d6;font-size: 12px;line-height: 27px;text-align: center;vertical-align: top;}
#article-wrap .pagenation .btn {background-color: #eceae8;color: #666;}
#article-wrap .pagenation .prev {border-right: none;}
#article-wrap .pagenation .next {border-left: none;}
#article-wrap .pagenation .pages .page {border-left: none;color: #666;font-weight: bold;}
#article-wrap .pagenation .pages .page:first-child {border-left: solid 1px #d6d6d6;}
#article-wrap .pagenation .pages .current {background-color: #4f87b6;border: solid 1px #134582;color: #fff;}

#article-wrap .pagenation1 {position: relative;margin: 0 auto;text-align: center;overflow: hidden;font-size: 0; padding-bottom: 20px;}
#article-wrap .pagenation1 a {display: inline-block;min-width: 27px;height: 27px;border: solid 1px #d6d6d6;font-size: 12px;line-height: 27px;text-align: center;vertical-align: top;}
#article-wrap .pagenation1 .btn {background-color: #eceae8;color: #666;}
#article-wrap .pagenation1 .prev {border-right: none;}
#article-wrap .pagenation1 .next {border-left: none;}
#article-wrap .pagenation1 .pages .page {border-left: none;color: #666;font-weight: bold;}
#article-wrap .pagenation1 .pages .page:first-child {border-left: solid 1px #d6d6d6;}
#article-wrap .pagenation1 .pages .current {background-color: #4f87b6;border: solid 1px #134582;color: #fff;}

#article-wrap .pagenation2 {position: relative;margin: 0 auto;text-align: center;overflow: hidden;font-size: 0; padding-bottom: 20px;}
#article-wrap .pagenation2 a {display: inline-block;min-width: 27px;height: 27px;border: solid 1px #d6d6d6;font-size: 12px;line-height: 27px;text-align: center;vertical-align: top;}
#article-wrap .pagenation2 .btn {background-color: #eceae8;color: #666;}
#article-wrap .pagenation2 .prev {border-right: none;}
#article-wrap .pagenation2 .next {border-left: none;}
#article-wrap .pagenation2 .pages .page {border-left: none;color: #666;font-weight: bold;}
#article-wrap .pagenation2 .pages .page:first-child {border-left: solid 1px #d6d6d6;}
#article-wrap .pagenation2 .pages .current {background-color: #4f87b6;border: solid 1px #134582;color: #fff;}


/* notice */
#article-wrap .exp_list > ul { padding-top: 20px; padding-bottom: 20px;}
#article-wrap .exp_list > ul > li { padding-bottom: 20px; line-height: 18px; border-bottom: 1px solid #d6d6d6; margin-bottom: 25px;}
#article-wrap .exp_list > ul > li > a { color: #333333; font-size: 17px; font-weight: bold; line-height: 18px; display: block; padding-left: 20px;}
#article-wrap .exp_list > ul > li.on > a { color: #3c9cd7;}
#article-wrap .exp_list > ul > li > p { margin-top: 25px; padding-top: 30px; background: url(/img/um/bg_faq_list.gif) no-repeat 20px top; color: #666666; font-size: 13px; line-height: 20px; padding-left: 20px;}
#article-wrap .exp_list > ul > li > dl { padding: 25px 0 0 20px;}
#article-wrap .exp_list > ul > li > dl .request { margin-bottom: 20px;}
#article-wrap .exp_list > ul > li > dl .date { line-height: 13px; margin-bottom: 6px; color: #999999; font-size: 13px;}
#article-wrap .exp_list > ul > li > dl .list_con { color: #666666; font-size: 13px; line-height: 16px; height: 37px; overflow: hidden;}


/* faq */
#article-wrap .faq_list > ul { padding-top: 20px; padding-bottom: 20px;}
#article-wrap .faq_list > ul > li { padding-bottom: 20px; line-height: 18px; border-bottom: 1px solid #d6d6d6; margin-bottom: 25px;}
#article-wrap .faq_list > ul > li > a { color: #333333; font-size: 17px; font-weight: bold; line-height: 18px; display: block; padding-left: 20px; cursor: pointer}
#article-wrap .faq_list > ul > li.on > a { color: #3c9cd7;}
#article-wrap .faq_list > ul > li > p { margin-top: 25px; padding-top: 30px; background: url(/img/um/bg_faq_list.gif) no-repeat 20px top; color: #666666; font-size: 13px; line-height: 20px; padding-left: 20px;}

#article-wrap .faq_list > ul > li .title { color: #333333; font-size: 18px; font-weight: bold; line-height: 18px; display: block; padding-left: 20px;;}
#article-wrap .faq_list > ul > li.on .title { color: #3c9cd7;}

/* qna */
#article-wrap .qna_list > ul { padding-top: 20px; padding-bottom: 20px;}
#article-wrap .qna_list > ul > li { padding-bottom: 20px; line-height: 18px; border-bottom: 1px solid #d6d6d6; margin-bottom: 25px;}
#article-wrap .qna_list > ul > li > a { color: #333333; font-size: 17px; font-weight: bold; line-height: 18px; display: block; padding-left: 20px;}
#article-wrap .qna_list > ul > li.on > a { color: #3c9cd7;}
#article-wrap .qna_list > ul > li > p { margin-top: 20px; padding-top: 20px; background: url(/img/um/bg_faq_list.gif) no-repeat 20px top; color: #666666; font-size: 13px; line-height: 20px; padding-left: 20px;}
#article-wrap .qna_list > ul > li > dl { padding: 20px 0 0 20px;}
#article-wrap .qna_list > ul > li > dl .request { margin-bottom: 20px;}
#article-wrap .qna_list > ul > li > dl .date { line-height: 13px; margin-bottom: 6px; color: #999999; font-size: 13px;}
#article-wrap .qna_list > ul > li > dl .list_con { color: #666666; font-size: 13px; line-height: 17px; height: 16px; overflow: hidden;}

#article-wrap .qna_list > ul > li > dl .modify {width: 100px;height: 30px;font-size: 11px;color: #fff;background-color: #4e86b5;font-weight: bold; margin-bottom: 20px;}
#article-wrap .qna_list > ul > li > dl .delete {width: 100px;height: 30px;font-size: 11px;color: #fff;background-color: #ee7200;font-weight: bold; margin-bottom: 20px;}

/* thema */
#article-wrap .thema_list > ul { padding-top: 20px; padding-bottom: 20px;}
#article-wrap .thema_list > ul > li { padding-bottom: 20px; line-height: 18px; border-bottom: 1px solid #d6d6d6; margin-bottom: 25px;}
#article-wrap .thema_list > ul > li > a { color: #333333; font-size: 17px; font-weight: bold; line-height: 18px; display: block; padding-left: 20px;}
#article-wrap .thema_list > ul > li.on > a { color: #3c9cd7;}
#article-wrap .thema_list > ul > li > p { margin-top: 20px; padding-top: 20px; background: url(/img/um/bg_faq_list.gif) no-repeat 20px top; color: #666666; font-size: 13px; line-height: 20px; padding-left: 20px;}
#article-wrap .thema_list > ul > li > dl { padding: 20px 0 0 20px;}
#article-wrap .thema_list > ul > li > dl .request { margin-bottom: 20px;}
#article-wrap .thema_list > ul > li > dl .date { line-height: 13px; margin-bottom: 6px; color: #999999; font-size: 13px;}
#article-wrap .thema_list > ul > li > dl .list_con { color: #666666; font-size: 13px; line-height: 17px; height: 16px; overflow: hidden;}

#article-wrap .thema_list > ul > li > dl .modify {width: 100px;height: 30px;font-size: 11px;color: #fff;background-color: #4e86b5;font-weight: bold; margin-bottom: 20px;}
#article-wrap .thema_list > ul > li > dl .delete {width: 100px;height: 30px;font-size: 11px;color: #fff;background-color: #ee7200;font-weight: bold; margin-bottom: 20px;}

/* searchbox */
#article-wrap .article-search2 {width: 100%;padding-bottom: 30px;border-bottom: solid 1px #00498f;}
#article-wrap .article-search2 form {position: relative;margin: 0 auto;overflow: hidden;}
#article-wrap .article-search2 form fieldset {position: relative;float: left;margin-right: 10px;border: none;}
#article-wrap .article-search2 form fieldset .el-h {position: absolute;top: 12px;left: 10px;font-size: 14px;letter-spacing: -0.5px;}
#article-wrap .article-search2 form fieldset input[type="text"] {width: 548px;height: 38px;line-height: 38px;font-size: 14px;border: solid 1px #e4e4e4;}
#article-wrap .article-search2 form .sbm {float: left;}
#article-wrap .article-search2 form .sbm input[type="submit"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #ee7200;font-weight: bold;}
#article-wrap .article-search2 form .sbm input[type="button"]{width: 100px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #ee7200;font-weight: bold;}

#article-wrap .article-search2 form fieldset .f-el {float: left;position: relative;}
#article-wrap .article-search2 form fieldset .f-el-select {width: 160px;margin-right: 10px;}
#article-wrap .article-search2 form fieldset .f-el-select .el-h {display: none;}
#article-wrap .article-search2 form fieldset .f-el-select a {display: block;width: 158px;height: 38px;line-height: 38px;font-size: 14px;color: #666;border: solid 1px #ddd;  background: url(../images/tm/bg_sel_box.gif) no-repeat 100% 0;text-indent: 9px;}
#article-wrap .article-search2 form fieldset .selectbox {width: 158px;}
#article-wrap .textbox { display: inline-block; height: auto !important; position: relative;}
#article-wrap .textbox input { width: 100% !important; text-indent: 9px;}


/* btn */
.loginbox { border-top: 1px solid #00498f; border-bottom: 1px solid #d6d6d6; padding: 30px 0; text-align: center; background: #f2f2f2;}
.loginbox p { text-align: center; color: #333333; font-size: 14px; margin-bottom: 15px; font-weight: bold;}
.loginbox .anc-btn { margin: 0 3px;height: 28px;line-height: 28px;}
.loginbox .main {background-color: #333;}

/* board */
.board_qna { padding: 25px 0 40px 0; border-bottom: 1px solid #00498f;}
.board_qna table { border-collapse: collapse; width: 100%;}
.board_qna table tbody tr th { padding: 6px 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;}
.board_qna table tbody tr th span { margin-left: 40px; color: #333333; font-size: 14px; font-weight: bold;}
.board_qna table tbody tr td { padding: 6px 0; }
.board_qna table tbody tr td .input_style01 { margin: 0 5px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_qna table tbody tr td .input_style02 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_qna table tbody tr td .textarea_style01 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; letter-spacing: -0.5px; line-height: 18px;}
.board_qna table tbody tr td .check { background-color: #fafafa; border: 1px solid #aaa; color: #333; display: inline-block; font-weight: bold; height: 38px; letter-spacing: -0.25px; line-height: 38px; margin-left: 10px; text-align: center; width: 102px;}

.board_qna table tbody tr td.code .textbox { margin-left: 6px;}
.board_qna table tbody tr td.code input { margin: 0 5px; text-indent: 9px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_qna table tbody tr td.title .textbox { margin-left: 6px;}
.board_qna table tbody tr td.title input { margin: 0 5px; text-indent: 9px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_qna table tbody tr td.content .textbox { margin-left: 6px;}
.board_qna table tbody tr td.content input { margin: 0 5px; text-indent: 9px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_qna table tbody tr td.content textarea { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 24px;}

.board_qna table tbody tr td.file .textbox { margin-left: 6px;}
.board_qna table tbody tr td.file input { margin: 0 5px; text-indent: 9px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

#article-wrap .board_qna table tbody tr td.content .textbox { height: 186px !important; margin-left: 6px;}
#article-wrap .board_qna table tbody tr td.content textarea { width: 670px !important; height: 186px !important; margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; }

/* board_thema */
.board_thema { padding: 25px 0 40px 0; border-bottom: 1px solid #00498f;}
.board_thema table { border-collapse: collapse; width: 100%;}
.board_thema table tbody tr th { padding: 6px 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;}
.board_thema table tbody tr th span { margin-left: 40px; color: #333333; font-size: 14px; font-weight: bold;}
.board_thema table tbody tr td { padding: 6px 0; }
.board_thema table tbody tr td .input_style01 { margin: 0 5px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_thema table tbody tr td .input_style02 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_thema table tbody tr td .textarea_style01 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; letter-spacing: -0.5px; line-height: 18px;}
.board_thema table tbody tr td .check { background-color: #fafafa; border: 1px solid #aaa; color: #333; display: inline-block; font-weight: bold; height: 38px; letter-spacing: -0.25px; line-height: 38px; margin-left: 10px; text-align: center; width: 102px;}

.board_thema table tbody tr td.code .textbox { margin-left: 6px;}
.board_thema table tbody tr td.code input { margin: 0 5px; text-indent: 9px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_thema table tbody tr td.title .textbox { margin-left: 6px;}
.board_thema table tbody tr td.title input { margin: 0 5px; text-indent: 9px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_thema table tbody tr td.content .textbox { margin-left: 6px;}
.board_thema table tbody tr td.content input { margin: 0 5px; text-indent: 9px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_thema table tbody tr td.content textarea { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 24px;}

.board_thema table tbody tr td.file .textbox { margin-left: 6px;}
.board_thema table tbody tr td.file input { margin: 0 5px; text-indent: 9px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

#article-wrap .board_thema table tbody tr td.content .textbox { height: 186px !important; margin-left: 6px;}
#article-wrap .board_thema table tbody tr td.content textarea { width: 670px !important; height: 186px !important; margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; }


.btn_board { padding-top: 22px; text-align: center;}
.btn_board .anc-btn { margin: 0 3px; height: 40px;line-height: 40px; background: #4e86b5;}
.btn_board .black {background-color: #333333;}


.bullet_01_tit { padding-left: 28px; margin-left: 20px; background: url("/img/nm/bullet_01.gif") no-repeat left center; font-size: 16px; font-weight: bold; color: #4f87b6;}

.box_sop_introduce { width: 100%; }
.box_sop_introduce:after { content: ''; display: block; clear: both;}
.box_sop_introduce > li { float: left; width: 450px; margin-right: 20px; margin-bottom: 40px;}
.box_sop_introduce > li.last {width: 430px; margin-left: 530px; margin-top: -354px; margin-bottom: 50px}
.box_sop_introduce > li > p { margin-bottom: 14px;}
.box_sop_introduce > li > dl > dt { color: #333333; font-size: 18px; font-weight: bold; line-height: 18px; margin-bottom: 10px;}
.box_sop_introduce > li > dl > dd.introduce_sop_txt01 { color: #333333; font-size: 14px; margin-bottom: 15px; line-height: 10px;}
.box_sop_introduce > li > dl > dd.introduce_sop_txt02 { color: #999999; font-size: 14px; line-height: 20px; margin-bottom: 15px;}
.box_sop_introduce > li > dl > dd.introduce_sop_txt03 { color: #999999; font-size: 14px; line-height: 20px; margin-bottom: 5px}
.box_sop_introduce > li > dl > dd.introduce_service {margin-left: 130px; margin-top: -35px; margin-bottom: 15px;}

.btn_arr_link1 a { display: block; padding-right: 40px; background: #224d9c url("/img/common/icon_btn_link.gif") no-repeat right top; height: 40px; line-height: 40px; width: 100px; text-align: center; font-size: 14px; color: #ffffff;}
.btn_arr_link a { display: block; /* padding-right: 40px; */ background: #224d9c url("/img/common/icon_btn_link.gif") no-repeat right top; height: 40px; line-height: 40px; width: 180px; text-align: center; font-size: 14px; color: #ffffff;}
.box_arr_txt { padding-top: 25px;}
.box_arr_txt dt { color: #333333; font-size: 18px; font-weight: bold; line-height: 18px; margin-bottom: 18px;}
.box_arr_txt dd { color: #999999; font-size: 14px; line-height: 20px; padding-bottom: 25px; border-bottom: 1px solid #e1e1e1;}

.notic_earea ul { width: 100%; border-top: 1px solid #e1e1e1;}
.notic_earea ul:after { content: ''; display: block; clear: both;}
.notic_earea ul li { float: left; width: 479px; padding: 30px 0 50px 0; border-bottom: 1px solid #e1e1e1; height: 140px;}
.notic_earea ul li.last { width: 449px; border-left: 1px solid #e1e1e1; padding: 30px 0 50px 30px;}
.notic_earea ul li > p { float: left; width: 110px;}
.notic_earea ul li > dl { float: left; width: 330px;}
.notic_earea ul li > dl dt { font-size: 18px; color: #222222; font-weight: bold; line-height: 18px; margin-bottom: 10px;}
.notic_earea ul li > dl .narea_txt01 { color: #999999; font-size: 14px; line-height: 13px; margin-bottom: 15px;}
.notic_earea ul li > dl .narea_txt02 { color: #666666; font-size: 14px; line-height: 20px; margin-bottom: 12px;}

.combo {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
	margin-left: 6px;
}

#article-wrap .select_box .combo input { border: none !important; line-height: 38px !important; text-indent: 9px; height: 38px;}

#article-wrap .select_box .combo {
    background-color: #fff;
	height: 38px !important;
	border: 1px solid #ddd;
}

.textbox-addon {
    position: absolute;
    top: 0;
}

.combo-arrow {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: visible;
    vertical-align: top;
    width: 18px;
}

.combo-panel { height: auto !important; background: #fff; border: 1px solid #ddd;}
.combobox-item { padding: 5px;}

.textbox-icon {
    background-position: center center;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: visible;
    text-decoration: none;
    vertical-align: top;
    width: 18px;
}

.combo-arrow {
    border: 1px solid #ddd;
}

.select_box .combo-arrow {
    background: url("/img/tm/bg_sel_box.gif") no-repeat right top;
    border: none !important;
    color: #666;
    display: block !important;
    font-size: 14px;
    height: 38px !important;
    line-height: 38px !important;
    text-indent: 9px;
    width: 155px !important;
}

.file_input_textbox {
	float: left;
	margin: 0 5px; 
	text-indent: 9px; 
	border: 1px solid #ddd; 
	font-size: 12px; 
	height: 38px; 
	letter-spacing: -0.5px; 
	line-height: 38px;
}

.file_input_div {
	position: relative;
	width: 200px;
	height: 38px;
	overflow: hidden;
}

.file_input_button {
	width: 150px;
	position: absolute;
	top: 0px;
	background-color: #4e86b5;
	color: #ffffff;
}

/* .file_input_hidden { */
/* 	font-size: 45px; */
/* 	position: absolute; */
/* 	right: 0px; */
/* 	top: 0px; */
/* 	opacity: 0; */
	
/* 	filter: alpha(opacity=0); */
/* 	-ms-filter: "alpha(opacity=0)"; */
/* 	-khtml-opacity: 0; */
/* 	-moz-opacity: 0; */
/* } */

.file_input_hidden {
	width: 0;
	height: 0;
}

.layer_alarm_pop {/* width: 252px; */ background: #f9efe2;}
.layer_alarm_pop p { padding: 0 10px 0 10px; color: #433a2f; line-height: 20px; font-size: 12px; font-weight: normal;}
.layer_alarm_pop span { position: absolute; left: -10px; top: 10px;}

.layer_alarm_pop2 { z-index: 20; position: absolute; left: 307px; top: 11px; border: 1px solid #d8c8b4; width: 252px; box-shadow: 4px 4px 5px -2px #dcdbd8; background: #f9efe2;}
.layer_alarm_pop2 p { padding: 10px; color: #433a2f; line-height: 20px; font-size: 11px; font-weight: normal;}
.layer_alarm_pop2 span { position: absolute; left: -10px; top: 10px;}

.alarm_content { position: relative; z-index: 20;}









