@charset "utf-8";
#container .smr {margin-bottom: 45px;}
#container .tabs {margin-bottom: 0;}
/* 아이디/비밀번호 찾기 */
.account-wp .section {position: relative;padding: 40px 40px 30px;border: solid 1px #d9d9d9;border-top: none;}
.account-wp .section h3 {font-size: 20px;color: #333;border: none;margin: 0 0 17px;padding: 0;letter-spacing: -0.4px;}
.account-wp .section h4 {margin-bottom: 10px;font-size: 14px;color: #333;letter-spacing: -0.6px;}
.account-wp .section ul.bl1 li,
.account-wp .section p.bl1 {background: url(../images/common/bl1.gif) no-repeat 0 50%;padding-left: 14px;color: #333;}
.account-wp .section ul.bl1 {margin-bottom: 25px;font-size: 14px;color: #333;}
.account-wp .section ul.bl1 li {line-height: 24px;letter-spacing: -0.5px;}
.account-wp .section ul.bl1 li .get-ipin {color: #00498f;margin-left: 3px;border-bottom: dotted 1px #00498f;}
.account-wp .section1 label {margin-right: 14px;color: #666;font-size: 14px;}
.account-wp .section1 label * {vertical-align: middle;}
.account-wp .section1 label input[type="radio"] {-webkit-appearance: radio;margin-top: -2px;}
.account-wp .section form {}
.account-wp .section form span.bl2 {display: block;margin-top: 12px;background: url(../images/common/bl2.gif) no-repeat 0 50%;font-size: 12px;padding-left: 11px;color: #999;}
.account-wp .section form fieldset {border: none;margin-bottom: 15px;}
.account-wp .section form fieldset .f-el {position: relative;margin-bottom: 20px;font-size: 0;vertical-align: middle;}
.account-wp .section form fieldset .f-el * {vertical-align: middle;}
.account-wp .section form fieldset .f-el .el-h {display: inline-block;width: 75px;font-size: 14px;line-height: 40px;vertical-align: top;font-weight: bold;color: #333;letter-spacing: -0.6px;}
.account-wp .section form fieldset .f-el .el-b {display: inline-block;font-size: 14px;color: #666;}
.account-wp .section form fieldset .f-el .el-b input[type="text"] {height: 38px;line-height: 38px;border: solid 1px #ddd;font-size: 14px;letter-spacing: -0.5px;color: #333;background-color: #fafafa;}
.account-wp .section form fieldset .f-el .el-b .cert-receive {display: inline-block;margin-left: 10px;font-weight: bold;color: #333;width: 102px;height: 38px;line-height: 38px;border: solid 1px #aaa;text-align: center;background-color: #fafafa;letter-spacing: -0.25px;}
.account-wp .section form fieldset .tooltip {display: none;position: absolute;top: -6px;left: 0;padding: 12px 0 0 22px;font-size: 12px;letter-spacing: -0.25px;color: #433a2f;line-height: 18px;}
.account-wp .section form fieldset .tooltip em {color: #f2430d;}
.account-wp .section form fieldset .tooltip1 {width: 324px;height: 100px;left: 262px;background: url(../images/um/bubble1.png) no-repeat 0 0;}
.account-wp .section form fieldset .tooltip2 {width: 323px;height: 100px;left: 262px;background: url(../images/um/bubble2.png) no-repeat 0 0;}
.account-wp .section form fieldset .qst {margin-left: 9px;cursor: pointer;}
.account-wp .section form .sbm {text-align: center;}
.account-wp .section form .sbm input[type="submit"] {width: 140px;height: 40px;font-size: 14px;border: none;background: none;color: #fff;background-color: #4e86b5;font-weight: bold;cursor: pointer;}

/* 회원가입 */
.account-join {padding-top: 45px;}
.account-join .title {padding-bottom: 30px;border-bottom: solid 3px #00498f;}
.account-join-agreement .title {margin-bottom: 18px;}
.account-join .title h3 {margin-bottom: 15px;font-size: 30px;font-weight: bold;color: #4f87b6;letter-spacing: -0.5px;}
.account-join .title p {color: #999;font-size: 14px;letter-spacing: -0.5px;}
/* 이용약관 */
.account-join form.terms {}
.account-join form.terms fieldset {border: none;margin-bottom: 20px;}
.account-join form.terms fieldset.allow-all {margin: 40px 0 30px;border-top: solid 1px #d9d9d9;padding-top: 49px;text-align: center;}
.account-join form.terms fieldset h4 {margin-bottom: 20px;font-size: 16px;font-weight: bold;color: #333;letter-spacing: -0.6px;}
.account-join form.terms fieldset .term-box {margin-bottom: 20px;padding: 15px 20px;height: 134px;border: solid 1px #d9d9d9;background-color: #fafafa;color: #777;letter-spacing: -0.6px;font-size: 12.5px;line-height: 22px;overflow: auto;}
.account-join form.terms fieldset p {text-align: right;}
.account-join form.terms fieldset label {font-size: 14px;color: #666;letter-spacing: -0.6px;}
.account-join form.terms fieldset label input[type="checkbox"]{margin-top: -2px;}
.account-join form .sbm {text-align: center;font-size: 0;}
.account-join form .sbm input[type="submit"],
.account-join form .sbm a {display: inline-block;font-size: 14px;border: none;background: none;width: 140px;height: 40px;line-height: 40px;font-weight: bold;color: #fff;letter-spacing: -0.6px;margin: 0 5px;vertical-align: top;}
.account-join form .sbm input[type="submit"] {background-color: #3385d3;}
.account-join form .sbm a {background-color: #333;}
/* 본인인증 */
.account-join-cert .cert-way {margin-bottom: 30px;border: solid 1px #ddd;border-top: none;background-color: #fafafa;overflow: hidden;}
.account-join-cert .cert-way li {width: 478px;float: left;height: 280px;text-align: center;background: url(../images/um/cert_pin.gif) no-repeat 50% 41px;}
.account-join-cert .cert-way li:first-child {width: 479px;border-right: solid 1px #ddd;background: url(../images/um/cert_mobile.gif) no-repeat 50% 41px;}
.account-join-cert .cert-way li .anc-btn {margin: 158px 0 19px;}
.account-join-cert .cert-way li p {letter-spacing: -0.6px;line-height: 18px;color: #666;font-size: 12px;}
.account-join-cert .desc {padding-right: 25px;}
.account-join-cert .desc li {line-height: 24px;font-size: 14px;color: #666;letter-spacing: -0.6px;padding-left: 13px;background: url(../images/common/bl3.gif) no-repeat 0 9px;}
/* 회원정보 입력 */
.account-join form.account-info {}
.account-join form.account-info fieldset {margin-bottom: 50px;padding: 40px 40px 0;border: solid 1px #d9d9d9;border-top: none;}
.account-join form.account-info fieldset .f-el {position: relative;margin-bottom: 13px;font-size: 0;vertical-align: middle;}
.account-join form.account-info fieldset .f-el * {vertical-align: middle;}
.account-join form.account-info fieldset .f-el .el-h {display: inline-block;width: 105px;font-size: 14px;line-height: 40px;vertical-align: top;font-weight: bold;color: #333;letter-spacing: -0.6px;}
.account-join form.account-info fieldset .f-el .el-b {display: inline-block;font-size: 14px;color: #666;}
.account-join form.account-info fieldset .f-el .el-b label {display: inline-block;margin-right: 10px;height: 40px;line-height: 40px;}
.account-join form.account-info fieldset .f-el .el-b input[type="text"],
.account-join form.account-info fieldset .f-el .el-b input[type="password"] {width: 252px;height: 38px;line-height: 38px;border: solid 1px #ddd;font-size: 14px;letter-spacing: -0.5px;color: #333;background-color: #fafafa;}
.account-join form.account-info fieldset .f-el .el-b input[type="radio"] {margin-top: -2px;}
.account-join form.account-info fieldset .f-el .el-b .check {display: inline-block;margin-left: 10px;font-weight: bold;color: #333;width: 102px;height: 38px;line-height: 38px;border: solid 1px #aaa;text-align: center;background-color: #fafafa;letter-spacing: -0.25px;}
.account-join form.account-info fieldset .f-el .el-b .desc {margin-left: 20px;font-size: 12px;color: #999;display: inline-block;height: 40px;line-height: 40px;background: url(../images/common/bl2.gif) no-repeat 0 50%;padding-left: 10px;}
/* 회원가입 완료 */
.account-complete {text-align: center;}
.account-complete h3 {margin-bottom: 16px;padding-top: 20px;font-size: 36px;letter-spacing: -0.5px;color: #00498f;}
.account-complete p {margin-bottom: 80px;line-height: 24px;letter-spacing: -0.5px;color: #666;}
.account-complete .anc-btn {width: 140px;margin: 0 3px;height: 40px;line-height: 40px;}
.account-complete .main {background-color: #333;}

/* 회원정보 수정 */
.account-modify {margin-bottom: 50px;padding-top: 0;border-top: solid 3px #00498f;}
.account-modify form.account-info fieldset {padding-bottom: 26px;}
.account-modify form.account-info fieldset .f-el .el-b input[type="text"] {font-size: 12px;letter-spacing: 0;color: #666;}
.account-modify form.account-info .cert {display: inline-block;margin-left: 10px;font-weight: bold;color: #fff;width: 104px;height: 40px;line-height: 40px;text-align: center;background-color: #ee7200;letter-spacing: -0.6px;font-size: 14px;}
/* 회원정보 탈퇴 */
.account-draw {text-align: center;}
.account-draw h3 {margin-bottom: 25px;text-align: left;font-size: 36px;color: #00498f;font-weight: bold;letter-spacing: -0.5px;}
.account-draw p {margin-bottom: 50px;border: solid 1px #d9d9d9;padding: 40px 0;letter-spacing: -0.5px;color: #666;line-height: 24px;}
.account-draw p em {color: #00498f;}
.account-draw a {display: inline-block;font-weight: bold;color: #fff;width: 140px;height: 40px;line-height: 40px;text-align: center;background-color: #3385d3;letter-spacing: -0.6px;}

/* 인터렉티브맵 */
#article-wrap {}
#article-wrap .article-list {clear: both;margin-bottom: 50px;}
#article-wrap .article-list ul {border-bottom: solid 1px #a3a3a3;}
#article-wrap .article-list ul li {border-top: solid 1px #e1e1e1;}
#article-wrap .article-list ul li:first-child {border-top: none;}
#article-wrap .article-list ul li .inner {padding: 30px 20px;}
#article-wrap .article-list ul li .inner .date {margin-bottom: 20px;font-size: 18px;line-height: 16px;font-weight: bold;color: #333;}
#article-wrap .article-list ul li .inner .locale,
#article-wrap .article-list ul li .inner .condition a {font-size: 12px;line-height: 20px;color: #666;}
#article-wrap .pagenation {position: relative;margin: 0 auto;text-align: center;overflow: hidden;font-size: 0;}
#article-wrap .pagenation a {display: inline-block;min-width: 27px;height: 27px;border: solid 1px #d6d6d6;font-size: 12px;line-height: 27px;text-align: center;vertical-align: top;}
#article-wrap .pagenation .btn {background-color: #eceae8;color: #666;}
#article-wrap .pagenation .prev {border-right: none;}
#article-wrap .pagenation .next {border-left: none;}
#article-wrap .pagenation .pages .page {border-left: none;color: #666;font-weight: bold;}
#article-wrap .pagenation .pages .page:first-child {border-left: solid 1px #d6d6d6;}
#article-wrap .pagenation .pages .current {background-color: #4f87b6;border: solid 1px #134582;color: #fff;}

/* 아이디.비밀번호 찾기 */
.line24 { line-height: 24px;}

.member_idsearch { border-left: 1px solid #d9d9d9; border-right: 1px solid #d9d9d9;}
.member_idsearch .idsearch_section01 { border-bottom: 1px solid #d9d9d9; padding: 30px 40px 20px 40px;}
.member_idsearch .idsearch_section02 { border-bottom: 1px solid #d9d9d9; padding: 30px 40px 20px 40px;}
.member_idsearch .idsearch_section03 { border-bottom: 1px solid #d9d9d9; padding: 30px 40px 20px 40px;}

.member_idsearch .idsearch_title { color: #333333; font-size: 20px; font-weight: bold; margin-bottom: 15px;}
.member_idsearch .idsearch_list { margin-bottom: 25px;}
.member_idsearch .idsearch_list li { background: url(../images/um/bullet_01.gif) no-repeat left center; color: #333333; font-size: 14px; padding-left: 13px; line-height: 14px; margin-bottom: 8px;}
.member_idsearch .idsearch_list li a { color: #00498f; border-bottom: 1px dotted #4f87b6;}
.member_idsearch .idsearch_stitle { color: #333333; font-size: 14px; font-weight: bold; margin-bottom: 10px; line-height: 14px;}
.member_idsearch .type01 { font-size: 14px; color: #666666; line-height: 14px;}

/* board */
.board_idsearch { padding: 0 0 10px 0;}
.board_idsearch table { border-collapse: collapse; width: 100%;}
.board_idsearch table tbody tr th { padding: 6px 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;}
.board_idsearch table tbody tr th span { color: #333333; font-size: 14px; font-weight: bold;}
.board_idsearch table tbody tr td { padding: 6px 0; }
.board_idsearch table tbody tr td .input_style01 { margin: 0 5px; background-color: #fafafa; border: 1px solid #ddd; color: #333333; font-size: 14px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_idsearch table tbody tr td .input_style02 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #333333; font-size: 14px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.board_idsearch table tbody tr td .textarea_style01 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #333333; font-size: 14px; letter-spacing: -0.5px; line-height: 18px;}
.board_idsearch table tbody tr td .check { background-color: #fafafa; border: 1px solid #aaa; color: #333; display: inline-block; font-weight: bold; height: 38px; letter-spacing: -0.25px; line-height: 38px; margin-left: 10px; text-align: center; width: 102px;}

.btn_board { padding-top: 32px; text-align: center;}
.btn_board .anc-btn { margin: 0 3px; height: 40px;line-height: 40px; background: #4e86b5;}
.btn_board .black {background-color: #333333;}
.btn_board .anc-btn.blue { background: #3385d3;}

.bullet_txt01 { background: url(../images/um/bullet_02.gif) no-repeat left center; color: #999999; font-size: 12px; padding-left: 13px; line-height: 12px; position: relative;}
.bullet_txt01 img { vertical-align: middle;}
.bullet_txt01 .message_pop { position: absolute; left: 200px; top: -50px; border: 1px solid #d8c8b4; width: 260px; padding: 10px; background: #f9efe2; font-size: 12px; color: #433a2f; line-height: 18px; box-shadow: 0 0 8px #e4e4e4;}
.bullet_txt01 .message_pop span { position: absolute; left: -10px; bottom: 15px;}
.bullet_txt01 .message_pop strong { color: #f2430d;}

.deem { width: 100%; height: 100%; background: #000; position: fixed; left: 0; top: 0; opacity: 0.7; filter: alpha(opacity=70); /* For IE8 and earlier */ z-index: 100;}

.idpwsearchpop { position: fixed; left: 50%; top: 50%; z-index: 101; background: #fff;}
.idpwsearchpop .idpwsearch_tit { height: 55px; background: #eeeeee; border-bottom: 1px solid #dadada; padding-left: 19px; line-height: 55px; color: #333333; font-size: 16px; font-weight: bold;}
.idpwsearchpop .idpwsearch_con { padding: 25px 0; text-align: center; color: #333333; font-size: 14px; line-height: 23px;}
.idpwsearchpop .btn_closp { position: absolute; right: 17px; top: 17px;}

.idpwsearchpop2 { position: fixed; left: 50%; top: 50%; z-index: 101; background: #fff;}
.idpwsearchpop2 .idpwsearch_tit { height: 55px; background: #eeeeee; border-bottom: 1px solid #dadada; padding-left: 19px; line-height: 55px; color: #333333; font-size: 16px; font-weight: bold;}
.idpwsearchpop2 .idpwsearch_con { padding: 25px 0; text-align: center; color: #333333; font-size: 14px; line-height: 23px;}
.idpwsearchpop2 .idpwsearch_con span { color: #00498f; font-size: 20px; font-weight: bold;}
.idpwsearchpop2 .btn_closp { position: absolute; right: 17px; top: 17px;}

.idpwsearchpop3 { position: fixed; left: 50%; top: 50%; z-index: 101; background: #fff;}
.idpwsearchpop3 .idpwsearch_tit { height: 55px; background: #eeeeee; border-bottom: 1px solid #dadada; padding-left: 19px; line-height: 55px; color: #333333; font-size: 16px; font-weight: bold;}
.idpwsearchpop3 .idpwsearch_con { padding: 25px 0; text-align: center; color: #333333; font-size: 14px; line-height: 23px;}
.idpwsearchpop3 .idpwsearch_txt01 { margin-bottom: 25px; color: #333333; font-size: 14px; line-height: 23px;}
.idpwsearchpop3 .btn_closp { position: absolute; right: 17px; top: 17px;}

.idpwsearch_board { margin: 0 20px 16px 20px; border: 1px solid #d9d9d9; border-top: 3px solid #666666; padding: 20px 0 0 0;}
.idpwsearch_board table { border-collapse: collapse; width: 100%;}
.idpwsearch_board table tbody tr th { padding: 6px 0; color: #333333; font-size: 14px; font-weight: bold; text-align: left;}
.idpwsearch_board table tbody tr th span { color: #333333; font-size: 14px; font-weight: bold; margin-left: 30px;}
.idpwsearch_board table tbody tr td { padding: 6px 0;  text-align: left;}
.idpwsearch_board table tbody tr td .input_style01 { margin: 0 5px; background-color: #fafafa; border: 1px solid #ddd; color: #333333; font-size: 14px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.idpwsearch_board table tbody tr td .input_style02 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #333333; font-size: 14px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}
.idpwsearch_board table tbody tr td .textarea_style01 { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #333333; font-size: 14px; letter-spacing: -0.5px; line-height: 18px;}
.idpwsearch_board table tbody tr td .check { background-color: #fafafa; border: 1px solid #aaa; color: #333; display: inline-block; font-weight: bold; height: 38px; letter-spacing: -0.25px; line-height: 38px; margin-left: 10px; text-align: center; width: 102px;}
.idpwsearch_board table tbody tr.last th,
.idpwsearch_board table tbody tr.last td { padding-bottom: 25px;}
.idpwsearch_board_com { padding: 26px 30px 20px 30px; background: #eeeeee; border-top: 1px solid #d9d9d9;}
.idpwsearch_board_com ul li { background: url(../images/um/bullet_01.gif) no-repeat left center; color: #333333; font-size: 12px; padding-left: 15px; line-height: 12px; text-align: left; margin-bottom: 11px;}
.idpwsearch_con .agree { text-align: left; color: #606060; font-size: 12px; margin-left: 20px; padding-bottom: 10px;}

/* jquery easyui */
.board_idsearch table tbody tr td.name .textbox { margin-left: 6px;}
.board_idsearch table tbody tr td.name input { margin: 0 5px; width: 250px !important; text-indent: 9px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_idsearch table tbody tr td.phone .textbox { margin-left: 6px;}
.board_idsearch table tbody tr td.phone input { margin: 0 5px; width: 51px !important; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_idsearch table tbody tr td.email .textbox { margin-left: 6px;}
.board_idsearch table tbody tr td.email input { margin: 0 5px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_idsearch table tbody tr td.snum .textbox { margin-left: 6px;}
.board_idsearch table tbody tr td.snum input { margin: 0 5px; width: 250px !important; text-indent: 9px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.board_idsearch table tbody tr td.file .textbox { margin-left: 6px;}
.board_idsearch table tbody tr td.file input { margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

#article-wrap .board_idsearch table tbody tr td.content .textbox { height: 186px !important; margin-left: 6px;}
#article-wrap .board_idsearch table tbody tr td.content textarea { width: 670px !important; height: 186px !important; margin: 0 5px; background-color: #fff; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.combo {
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
	margin-left: 6px;
}

.board_idsearch table tbody tr td.select_box .combo input { border: none !important; line-height: 38px !important; text-indent: 9px; height: 38px; width: auto !important;}
.select_box .combo input { border: none !important; line-height: 38px !important; text-indent: 9px; height: 38px; width: auto !important;}

.select_box .combo {
    background-color: #fff;
	height: 38px !important;
	border: 1px solid #ddd;
	position: relative;
}

.board_idsearch table tbody tr td.select_box2 .combo input { background: none !important; border: none !important; line-height: 38px !important; text-indent: 9px; height: 38px; width: auto !important;}
.select_box2 .combo input { border: none !important; line-height: 38px !important; text-indent: 9px; height: 38px; width: auto !important;}

.select_box2 .combo {
    background-color: #fff;
	height: 38px !important;
	border: 1px solid #ddd;
	position: relative;
}

.textbox-addon {
    position: absolute;
    top: 0;
}

.combo-arrow {
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: visible;
    vertical-align: top;
    width: 18px;
}

.combo-panel { height: auto !important; background: #fff; border: 1px solid #ddd;}
.combobox-item { padding: 5px;}

.textbox-icon {
    background-position: center center;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    opacity: 0.6;
    overflow: visible;
    text-decoration: none;
    vertical-align: top;
    width: 18px;
}

.combo-arrow {
    border: 1px solid #ddd;
}

.select_box .combo .combo-arrow {
    background: url("../images/tm/bg_sel_box.gif") no-repeat right top;
    border: none !important;
    color: #666;
    display: block !important;
    font-size: 14px;
    height: 38px !important;
    line-height: 38px !important;
    text-indent: 9px;
    width: 99px !important;
}

.select_box2 .combo .combo-arrow {
    background: url("../images/tm/bg_sel_box.gif") no-repeat right top;
    border: none !important;
    color: #666;
    display: block !important;
    font-size: 14px;
    height: 38px !important;
    line-height: 38px !important;
    text-indent: 9px;
    width: 158px !important;
}

.idpwsearch_board table tbody tr td.name .textbox { margin-left: 6px;}
.idpwsearch_board table tbody tr td.name input { margin: 0 5px; width: 250px !important; text-indent: 9px; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.idpwsearch_board table tbody tr td.phone .textbox { margin-left: 6px;}
.idpwsearch_board table tbody tr td.phone input { margin: 0 5px; width: 51px !important; background-color: #fafafa; border: 1px solid #ddd; color: #666666; font-size: 12px; height: 38px; letter-spacing: -0.5px; line-height: 38px;}

.idpwsearch_board table tbody tr td.select_box .combo input { background: none !important;}
/* end jquery easyui */

.mem_info_history dl dt { font-size: 36px; font-weight: bold; color: #00498f; line-height: 36px; height: 52px; margin-top: -5px;}
.mem_info_history dl dd { font-size: 14px; color: #999999; line-height: 14px; margin-bottom: 25px;}

#article-wrap .article-list.type2 ul li { border-top: 1px solid #e1e1e1;}
#article-wrap .article-list.type2 ul li .mf_history { padding: 5px 0 10px 0;}
.mf_history { padding: 5px 0 10px 0;}

/* 로그인 */
.login_popbox { position: fixed; z-index: 105; background: #fff;}
.login_popbox .login_con { padding: 25px 20px 40px 20px;}
.login_popbox .login_con .login_title { height: 50px; background: url("../images/um/bg_logintit.gif") no-repeat left bottom; margin-bottom: 23px;}
.login_popbox .login_con .login_txt { color: #666666; font-size: 13px; line-height: 20px; text-align: center; margin-bottom: 14px;}
.login_popbox .login_con .login_btn_center { text-align: center;}
.login_popbox .btn_close_b { position: absolute; right: 20px; top: 25px;}
.login_popbox .login_con .boxlogincon { width: 378px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 3px; background: #f1f1f1; margin-bottom: 30px; position: relative;}
.login_popbox .login_con .boxlogincon > div { padding: 20px;}
.login_popbox .login_con .boxlogincon > div > dl { width: 255px;}
.login_popbox .login_con .boxlogincon > div > dl:after { content: ''; display: block; clear: both;}
.login_popbox .login_con .boxlogincon > div > dl dt { float: left; width: 55px; margin-right: 15px; height: 30px; text-align: right; color: #333333; font-size: 14px; font-weight: bold; line-height: 28px;}
.login_popbox .login_con .boxlogincon > div > dl dd { float: left; width: 184px; height: 30px;}
.login_popbox .login_con .boxlogincon > div > dl dd input { height: 28px; line-height: 26px; color: #999999; text-indent: 13px; border: 1px solid #dddddd; width: 182px !important;}
.login_popbox .login_con .boxlogincon > div > p { position: absolute; right: 20px; top: 20px;}
.login_popbox .login_con .boxlogincon > div > p a { height: 63px; display: block; width: 73px; border: 1px solid #aaaaaa; text-align: center; line-height: 63px; background: #fafafa; color: #333333; font-size: 14px; font-weight: bold;}