#aging_wrapper {width:1020px;height:735px;background:url(/contents/shortcut/images/background.jpg) no-repeat;}
.aging_title {width:1020px;height:80px;}
.aging_title h1 {margin:0 0 0 12px;padding:19px 0 0 0;width:410px;height:65px;background:none;}
.aging_title p {margin:0;padding:0;position:absolute;margin:-41px 0 0 819px;}
.aging_title p img {margin-right:5px;}
*html .aging_title p {margin-top:-31px;}
.aging_title div {position:absolute;top:0;left:958px;}
.aging_service_menu {float:left;width:225px;height:640px;margin-left:12px;}
*html .aging_service_menu {display:inline;}
.aging_service_substance {float:left;width:740px;margin:0 10px 0 19px;padding-top:10px;}
.aging_service_substance_title {width:740px;height:33px;background:url(/contents/shortcut/images/popup_title_background.gif) repeat-x left bottom;}
.aging_service_substance_title h2 {float:left;margin:0 0 0 5px;padding:6px 0 0 10px;background:url(/contents/shortcut/images/popup_title_bullet.gif) no-repeat left 8px;font-size:14px;font-weight:bold;color:#000000;}
.aging_service_substance_title div {float:right;}
.aging_service_substance_title img {margin-left:4px;margin-top:3px;}
.aging_service_substance_content {margin-top:10px;}
.aging_service_substance_table {width:740px;margin-bottom:15px;}
.aging_service_substance_table table {margin:5px 0;}
.aging_service_substance_table .service_list_table th {padding:2px 0 0 0;}
.aging_service_substance_table .service_list_table td {height:20px;}
.aging_service_substance_result_map01 {float:left;width:303px;height:160px;}
.aging_service_substance_result_map02 {float:left;margin-left:12px;width:303px;height:160px;}
.aging_service_substance_text {width:740px;height:142px;margin-top:10px;}
.aging_service_substance_text h2 {margin:0 0 5px 0;font-weight:bold;}
.aging_service_substance_text h3 {margin:0 0 0 10px;}
.aging_service_substance_text p {margin:0 0 5px 22px;}
.service_login {width:209px;height:89px;background:url(/contents/shortcut/images/service_login_background.gif) no-repeat;margin-top:8px;margin-left:7px;}
.service_login h2 {position:absolute;margin:8px 0 0 8px;padding:0;background:url(/contents/shortcut/images/service_login_title_bg.gif) no-repeat;width:193px;height:24px;font-size:12px;font-family:dotum;color:#ffffff;font-weight:bold;line-height:24px;text-indent:30px;}
.service_login p {margin:0;padding:36px 0 6px 19px;color:#666666;}
.service_login strong {font-weight:bold;color:#000000;margin-right:5px;}
.service_login div {width:209px;text-align:center;margin-top:3px;}
.service_login img {margin:0 3px;}
.service_button {width:209px;height:47px;text-align:center;margin:7px 0 0 7px;}
.service_button img {margin:0;vertical-align:-4px;}
.service_area {width:209px;height:91px;background:url(/contents/shortcut/images/sevice_list_background.gif) no-repeat;margin:4px 0 0 7px;}
.service_area dl {margin:0 0 0 7px;padding:6px 0 0 0;width:195px;}
.service_area dt {float:left;margin:0;padding:3px 0;width:65px;font-weight:bold;color:#000000;line-height:20px;}
.service_area dd {float:left;margin:0;padding:3px 0;width:130px;}
.service_area span {letter-spacing:-2px;}
.service_area img {position:relative; vertical-align:middle;}
*html .service_area img {vertical-align:-4px;}
.service_area select {width:130px;height:20px;}
.service_age {width:209px;margin:8px 0 0 7px;text-indent:7px;}
.service_age h2 {margin:0;padding:0;width:209px;height:23px;background:url(/contents/shortcut/images/sevice_title_background.gif) no-repeat;font-weight:bold;color:#ffffff;line-height:23px;}
.service_age div {position:relative;margin-left:-6px;margin-top:5px;}
.service_age input {vertical-align:middle;}
.service_age input.text {margin:0;padding:0;width:47px;height:21px;font-size:11px;font-family:dotum;line-height:18px;}
.service_creation {width:209px;margin:8px 0 0 7px;text-indent:7px;}
.service_creation h2 {margin:0 0 5px 0;padding:0;width:209px;height:23px;background:url(/contents/shortcut/images/sevice_title_background.gif) no-repeat;font-weight:bold;color:#ffffff;line-height:23px;}
.service_creation div {position:relative;margin-left:-6px;margin-bottom:2px;}
.service_creation select {width:208px;height:19px;margin-left:6px;font-size:11px;color:#000000;font-family:dotum;}
.service_creation input {vertical-align:middle;}
.service_creation input.text {margin:0;padding:0;width:82px;height:21px;font-size:11px;font-family:dotum;line-height:16px;}
.service_action {width:209px;height:33px;background:url(/contents/shortcut/images/sevice_action_background.gif) no-repeat;margin:5px 0 0 7px;text-align:center;}
.service_action img {margin:3px 3px;vertical-align:-4px;}
.service_button_box {width:209px;margin:10px 0 0 7px;}
.service_button_box img {vertical-align:-4px;margin-bottom:5px;}
.service_list {width:209px;margin:0px 0 0 7px;}
.service_list h2 {margin:0 0 5px 0;padding:0;background:url(/contents/shortcut/images/service_list_icon.gif) no-repeat 3px 3px;font-weight:bold;text-indent:22px;color:#000000; font-size:14px; font-weight:bold;}
.service_list span {color:#ff6600;}
.service_list_table {border-top:2px solid #71bebb;}
.service_list_table caption {display:none;}
.service_list_table th {height:30px;color:#0c5c62;background-color:#e3f1ef;border-right:1px solid #71bebb;border-bottom:1px solid #71bebb;font-size:12px;}
.service_list_table td {height:24px;text-align:center;border-right:1px solid #71bebb;border-bottom:1px solid #71bebb}
.service_list_table .t_end {border-right:none;}
.service_list_table .cell_point {background-color:#e3f1ef;color:#0c5c62;font-weight:bold;}
.state_box {margin:5px 0 20px 8px;}
.state_box_top {width:600px;height:5px;font-size:1px;background:url(/contents/shortcut/images/state_box_top.gif) no-repeat;}
.state_box_middle {width:600px;background:url(/contents/shortcut/images/state_box_middle.gif) repeat-y;padding:5px 0;}
.state_box_bottom {width:600px;height:5px;font-size:1px;background:url(/contents/shortcut/images/state_box_bottom.gif) no-repeat;}
.state_box h2 {margin:0 0 0 10px;color:#000000;}
ul.state_result_form {margin:0 0 0 15px;padding:5px 0;list-style:none;}
ul.state_result_form li {float:left;font-size:11px;font-weight:bold;}
ul.state_result_form li.state_result_form_title {font-size:11px;font-weight:bold;width:170px;}
ul.state_result_form li.state_result_form_button {width:45px;}
ul.state_result_form span {background:url(/contents/images/bullet_02.gif) no-repeat left 4px;padding-left:8px;margin-right:10px;font-size:12px;font-weight:normal;}
ul.state_result_form input {width:50px;height:19px;border:1px solid #c2c2c2;margin-right:5px;font-size:12px;text-align:right;}





.tell_background{width:650px; height:31px; background:url(/contents/shortcut/images/tell_background.gif) no-repeat;}
.tell_title{width:105px; height:16px; margin-top:7px; margin-left:34px; font-family:"dotum"; font-size:12px; color:#FFFFFF; font-weight:bold; float:left; display:inline;}
.tell_content{margin-top:7px; float:left;}


.index_top_background{width:650px; height:263px; background:url(/contents/shortcut/images/index_top_background.gif) no-repeat;}
.index_top_title{width:403px; height:92px;}
.index_top_text{width:373px; height:132px; margin-top:39px; margin-left:30px;}
.index_top_text span{font-weight:bold; color:#000000;}
.index_menu{margin-left:30px;}
.index_menu img{margin-right:30px; margin-bottom:18px;}

.openapi_top {width:650px;height:232px;background:url(/contents/shortcut/images/openapi_topcontent_bg.gif) no-repeat;}
.openapi_top_text {width:443px;height:36px;margin-left:44px;margin-bottom:30px;padding-top:28px;}
.openapi_top p {margin:0 0 10px 50px;padding:0;width:545px;text-align:left;}
.openapi_top strong {color:#000000;}
.openapi_key {float:left;width:311px;}
.openapi_key h4 {margin:0 0 6px 0;padding:0 0 0 14px;background:url(/contents/shortcut/images/openapi_key_bullet.gif) no-repeat left 3px;font-size:14px;font-weight:bold;font-family:dotum;color:#000000;}
.openapi_key_box {width:311px;height:201px;background:url(/contents/shortcut/images/openapi_key_background.gif) no-repeat;text-align:center;}
.openapi_key_box p {margin:0;padding:0;text-align:left;}
.openapi_key_box strong {color:#000000;}
.openapi_key_box p.openapi_key_text01 {padding-top:38px;margin-left:95px;width:200px;}
.openapi_key_box p.openapi_key_text02 {width:275px;margin:16px 0 12px 21px;}
.openapi_tutorial {float:left;width:311px;margin-left:28px;}
.openapi_tutorial h4 {margin:0 0 6px 0;padding:0 0 0 14px;background:url(/contents/shortcut/images/openapi_tutorial_bullet.gif) no-repeat left 3px;font-size:14px;font-weight:bold;font-family:dotum;color:#000000;}
.openapi_tutorial_box {width:311px;height:201px;background:url(/contents/shortcut/images/openapi_tutorial_background.gif) no-repeat;text-align:center;}
.openapi_tutorial_box p {margin:0 0 72px 90px;padding:47px 0 0 0;width:220px;text-align:left;}
.openapi_tutorial_box strong {color:#000000;}
.openapi_special {width:650px;margin-top:22px;}
.openapi_special_content {background:url(/contents/shortcut/images/openapi_special.gif) no-repeat 22px 20px;}
.openapi_special_content p {margin:0 0 0 75px;padding:15px 0 0 0;width:560px;color:#238880;font-weight:bold;border-bottom:1px solid #cedee1;padding-bottom:6px;text-indent:6px;}
.openapi_special_content ul {margin:12px 0 0 82px;padding:0;list-style:none;height:62px;}
.openapi_special_content li {float:left;width:185px;background:url(/contents/shortcut/images/openapi_download_button.gif) no-repeat left 3px;text-indent:14px;}
.openapi_special_content a:link {font-weight:normal;}, .openapi_special_content a:visited {font-weight:normal;}
.openapi_special_content a:active {font-weight:normal;}, .openapi_special_content a:hover {font-weight:normal;}
.openapi_use_text {width:560px;height:120px;overflow-y:scroll;margin-left:45px;margin-top:60px;}
.openapi_use_text h4 {margin:0 0 10px 0;padding:0;font-size:14px;font-weight:bold;font-family:dotum;color:#000000;}
.openapi_use_text p {margin:0 0 12px 0;padding:0;width:540px;text-align:justify;}
.openapi_form table {margin-left:17px;margin-top:0;}
.openapi_form th {text-align:left;}
.openapi_form td {text-align:left;}
.openapi_form input {margin:0;padding:0;height:18px;border:1px solid #d9d9d9;margin-bottom:1px;font-size:12px;}
.openapi_form textarea {display:block;margin:0;padding:0;border:1px solid #d9d9d9;margin-bottom:1px;font-size:12px;width:450px;height:52px;}
img.icon_sign {position:absolute;margin:-1px 0 0 5px;}
.openapi_form_tip {position:absolute;margin:-20px 0 0 520px;}
.openapi_form_tip img {vertical-align:-2px;}
.openapi_text_content {width:650px;}
.openapi_text_content p {margin:0 0 0 20px;padding:0;text-align:justify;}
.openapi_text_content ul {margin-top:0;margin-right:0;margin-bottom:0;padding:0;list-style:none;}
.staticmap_api_top {width:650px;height:160px;background:url(/contents/shortcut/images/staticmap_top_background.gif) no-repeat left top;}
.staticmap_api_top2 {width:650px;height:160px;background:url(/contents/shortcut/images/staticmap_top_background2.gif) no-repeat left top;}
.staticmap_api_top_text {float:left;width:370px;padding-top:37px;}
.staticmap_api_top_text p {width:315px;margin:0 0 10px 26px;padding:0;}
.staticmap_api_top_text strong {color:#000000;}
.staticmap_api_top_button {float:left;width:270px;margin-top:90px;}
.staticmap_api_top_button img {margin-right:15px;}
span.api_download {background:url(/contents/shortcut/images/button_download.gif) no-repeat right 1px;padding-right:15px;}
span.api_download a:link {text-decoration:underline;font-weight:bold;color:#0a6aa9;}
span.api_download a:visited {text-decoration:underline;font-weight:bold;color:#0a6aa9;}
span.api_download a:active {text-decoration:underline;font-weight:bold;color:#0a6aa9;}
span.api_download a:hover {text-decoration:underline;font-weight:bold;color:#0a6aa9;}
.overlap_content {margin:0 10px;}
.shortcut_api_toptext strong {color:#000000;}
.shortcut_api_toptext p {float:left;margin:0 0 0 30px;padding:18px 0 0 0;width:320px;}
.shortcut_api_topimg {float:left;text-align:center;width:255px;margin-left:20px;}
.shortcut_api_topimg img {margin:0 5px;}
.api_list {position:absolute;margin:-24px 0 0 80px;}