@charset "utf-8";
/* style_housemap */
.cont_policy h2, .cont_policy li, .cont_policy a, .cont_policy div, .cont_policy dt {box-sizing:border-box; }
.cont_policy select {border:#ddd solid 1px; height:26px;-webkit-appearance: none;  padding:0 20px 0 0; 
 background:#fff url(/img/house/select_arrow.png) no-repeat right center; cursor:pointer; font-size:12px;}
.cont_policy select::-ms-expand {display: none;}
.cont_policy { padding:0 15px; box-sizing:border-box;border-bottom: 1px solid #ccc;}
.cont_policy h2 { font-family: "나눔고딕";display:block; position:fixed; left:50%; width:300px; margin-left:-150px; color:#333; font-size:14px; font-weight:normal; z-index:1000;}
.cont_policy input[type=checkbox] { position:absolute; right:10px; top:7px;}

.SetArea { overflow:auto; margin-bottom:20px;}
.SetArea dt { font-family: "나눔고딕";width:100%; font-size:12px; padding:5px;}
.SetArea dd { width:100%; margin-bottom:5px;}
.SetArea dd select { width: calc((100% / 3) - 3px);}



/* 소지역정보 탭 */

.ThisAreaInfo { width:100%;height:300px; margin-bottom:15px; border:#ccc solid 1px; border-radius:5px;}
.ThisAreaInfo ul { position:relative;}
.ThisAreaInfo ul li { float:left; width:33.3%;}/* 25% -> 33.3%로 변경 */
.ThisAreaInfo ul li a { display:block; text-align:center; font-size:12px; border-left:#ccc solid 1px;border-bottom:#ccc solid 1px; background:#f2f2f2; height:22px; padding-top:5px; color:#999;}
.ThisAreaInfo ul li:first-child a { border-left:none; border-top-left-radius:5px;}
.ThisAreaInfo ul li:last-child a { border-top-right-radius:5px;}

.ThisAreaInfo ul li a:hover {color:#333;}
.ThisAreaInfo ul li.M_on a.Title { background:#fff; border-bottom:none; color:#333;}
.ThisAreaInfo ul li .chart { position:absolute; width:100%; height:240px; left:0; top:35px; background:#fff; padding:0 15px; box-sizing:border-box; display:none;}
.ThisAreaInfo ul li .chart .radio { border-bottom: 1px solid #e1e1e1;padding-bottom: 10px;padding-top:5px;font-size: 11px;}
.ThisAreaInfo ul li.M_on .chart { display:block;}



/*  */
.sideQuick.sq01_01,
.sideQuick.sq01_02{top:36px;z-index:2000;width:auto; padding:0 7px;}
.sideQuick.sq01_01{left:5px;}
.sideQuick.sq01_02{left:125px;}
.sideQuick span {padding:0 5px 0 0;}
/* 
.quickBox,.quickBox .scrollBox{width:345px;}20160721 .quickBox,.quickBox .scrollBox{width:345px;}
.quickBox.step01{top:68px;left:-346px;}20160721 .quickBox.step01{top:68px;left:-478px;}
 */


.interactiveBar a > img {vertical-align:top !important; margin:6px 0 0 0 !important;} 


#view2 .mapContents { border-left:#333 solid 2px;}

/* radio */
.OpenTab ul{width:260px;height:auto;font-size:12px; font-family:'나눔고딕';overflow:hidden;margin:0 0 0 10px;padding:0;}
.OpenTab ul>li{width:100%;height:auto;min-height:25px;overflow:hidden;position:relative;}
.OpenTab ul>li input, .stepBox ul>li label, .stepBox ul>li a, .OpenTab ul>li select{vertical-align:middle;} 
.OpenTab ul>li input, .box_area_option02 input{position:absolute;left:-2000px;}
.OpenTab ul>li input:checked:before{background:url(/img/ico/ico_rdbox_on.gif);}
.OpenTab ul>li label, .box_area_option02 label{background:url(/img/ico/ico_rdbox.gif) no-repeat left center;padding-left:25px;line-height:20px;display:inline-block;}
.OpenTab ul>li label.on, .box_area_option02 label.on{background:url(/img/ico/ico_rdbox_on.gif) no-repeat left center;}
.OpenTab ul>li select, .houseArea select, .stepBox select{height:30px;border:1px solid #ccc;}

/* 폴딩 */
.OpenTab dt { background: #dcdcdc url(/img/ico/ico_down02.png) no-repeat right 15px center; height:30px; border-radius:15px; font-size:14px; padding:7px 0 0 15px; position:relative; cursor:pointer; margin-bottom:5px;}
.OpenTab dt.M_on {background: #00bcd4 url(/img/ico/ico_up01.gif) no-repeat right 15px center; color:#fff;}
.OpenTab dd { padding:0; height:0; overflow:hidden; position:absolute;}
.OpenTab dt.M_on + dd { height:auto; overflow:visible;padding:5px 0 15px 0; position:relative;}


/* 타이틀 및 관리자버튼 */
.SearhTitle { font-size:14px; color:#666; position:absolute; left:50%; top:42px; width:300px; margin-left:-150px; z-index:1000; text-align:center;}
.BtnAdmin { position:absolute; right:5px; top:3px; z-index:1000;}
.BtnAdmin button { height:27px; border:#ccc solid 1px; border-radius:3px; font-size:12px; font-family:'나눔고딕B'; color:#333; padding:0 5px;}
.BtnAdmin button img { vertical-align:middle; margin-right:5px;}



/* 년도선택 */
select.select_year { position:absolute; z-index:1000; top:80px; right:12px; font-size:14px; color:#333; border:#333 solid 2px; padding:2px 4px;}

/* 융합버튼 
.btn_fuse {background:url(/img/button_fuse.png) no-repeat center center; width:94px; height:94px; font-family:'나눔고딕B'; font-size:16px; color:#fff; text-shadow:#000 1px 1px 0px; position:absolute; left:calc(50% - 46px); top:calc(50% - 47px); z-index:1000;}*/
/* 융합버튼 */
.Btn_fuse { width:200px; height:60px;position:absolute; left:calc(50% - 100px); top:calc(50% - 30px);z-index:1000;} /* 2017-08-20 [개발팀] z-index 변경 */
.Btn_fuse button {-webkit-transition-duration:0.1s; transition-duration:0.1s;}
.btn_fuse {background:#28425d; width:78px; height:78px; font-family:'나눔고딕B'; font-size:16px; color:#fff; position:absolute; left:calc(50% - 39px); border-radius:39px; border-right:#59739c solid 2px; border-left:#59739c solid 2px; z-index:2; top:-9px;}
.btn_fuse img { display:block; margin:0 auto; margin-bottom:3px; }
.btn_fuse_operation { position:absolute; width:75px; height:60px; left:0; text-align:left; padding-left:10px;font-family:'나눔고딕'; font-size:12px; color:#fff;background:#28425d; border-top-left-radius:10px;border-bottom-left-radius:10px; z-index:1;}
.btn_fuse_buffer { position:absolute; width:75px; height:60px; right:0; text-align:right; padding-right:10px;font-family:'나눔고딕'; font-size:12px; color:#fff;background:#28425d;border-top-right-radius:10px;border-bottom-right-radius:10px; z-index:1;}
.Btn_fuse button:hover { background:#3366cc;}
.Btn_fuse .btn_fuse:hover { background:#000; width:84px; height:84px; left:calc(50% - 42px); margin-top:-3px; border-radius:42px;}
.Btn_fuse button.off { background:#ccc;} 



/* 융합결과 */
.FuseResult_layer {display:block; width:0%; height:0%; left:-1000px; top:-1000px; position:fixed; background:rgba(0, 0, 0, 0.7); z-index:1001; }
.FuseResult_layer.M_on {width:100%; height:100%; left:0; top:0;}
.FuseResult { width:1000px; height:600px; background:#fff; position:absolute; left:calc(50% - 500px); top:calc(50% - 300px);}
.FuseResult h3 { display:block; height:43px; box-sizing:border-box;font-family:'나눔고딕B'; color:#333; font-size:16px; padding-top:5px;width: 700px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap; }
.FuseResult .btn_close { display:block; background:url(/img/policyStatic/fusion_btn_close.png) no-repeat center center; width:15px; height:15px; border:none; position:absolute; right:15px; top:13px; text-indent:-1000px; overflow:hidden;}

/*.FuseResult h3 span { display:inline-block; background:url(/img/policyWrite/fusion_title_bg.png) no-repeat left top; width:81px; height:32px; box-sizing:border-box; color:#fff; margin-left:-3px; padding:7px 0 0 13px; font-size:14px;font-family:'나눔고딕'; vertical-align:middle; margin-right:10px;}*/
.FuseResult h3 span { display:inline-block; background:url(/img/policyWrite/fusion_title_bg.png) no-repeat right center; height:32px; box-sizing:border-box; color:#fff; margin-left:-3px; padding:7px 15px 0 13px; font-size:14px;font-family:'나눔고딕'; vertical-align:middle; margin-right:10px; position:relative;}
.FuseResult h3 span:before { content:''; display:block; background:url(/img/policyWrite/fusion_title_bg_fst.png) no-repeat left top; width:3px; height:32px; position:absolute; left:0; top:0;}

.FR_MapArea { width:615px; height:555px;margin-top: 1px;}
.FR_Data { position:absolute; width:385px; height:calc(100% - 43px); right:0; top:43px; border-left:#369 solid 1px; box-sizing:border-box;margin-top:1px;}

.FR_Data .Tab { overflow:hidden;}
.FR_Data .Tab li { width:50%; float:left; }
.FR_Data .Tab li a { display:block; height:36px;padding-top:8px; background:#036;box-sizing:border-box; text-align:center; color:#ccd6e0; font-size:14px;}
.FR_Data .Tab li a:hover { color:#fff;}
.FR_Data .Tab li.M_on a { background:#fff; font-size:15px;font-family:'나눔고딕B'; color:#333;}

.DataBox { padding:20px 15px 15px 15px;}
.FR_Basic {width: 340px; box-sizing:border-box; border:#ddd solid 1px; background:#fafafa; padding:10px; border-radius:5px; font-size:12px; color:#666; margin-bottom:15px;}
.FR_Basic li { margin-bottom:6px;}
.FR_Basic li span { display:inline-block; margin-right:25px;}
.FR_Basic li:last-child { margin-bottom:0;}

.DataBox.FR_single .Chart { height:365px; overflow:auto;}

.FuseResult .Btn_Group { text-align:center;}
.FuseResult .Btn_Group button {min-width:100px;padding:0 10px; height:30px; box-sizing:border-box; background:#06c; font-size:14px; color:#fff;}
/* .FuseResult .Btn_Group button:first-child { background:#999;} */

.DataSetup { display:block; padding-bottom:6px;border-bottom:#ddd solid 1px; text-align:right; margin-bottom:8px; margin-top:-4px;}
.DataBox.FR_fuse .Chart { height:341px; overflow:auto;}




/* 1103 */
.viewTitle span { position: absolute; color:#555; left: 0px; top: 34px; background: none !important; width:auto; padding-left:10px; border-left:#ddd solid 1px;}
.Btn_CallData { height:28px; background:#28425d url(/img/policyWrite/icon_data.png) no-repeat 10px center; padding:0 10px 0 30px; color:#fff; font-size:12px; position:absolute; left:0; top:68px; z-index:100;}
.Btn_CallData:hover {background-color:#00bcd4;}

/* 새창(레이어) 및 정책통계지도작성 팁 */
.New_layer {display:block; width:0%; height:0%; left:-1000px; top:-1000px; position:fixed; background:rgba(0, 0, 0, 0.7); z-index:10003; }
.New_layer.M_on {width:100%; height:100%; left:0; top:0;}
.New_layer .Cont { width:1000px; height:600px; background:#fff; position:absolute; left:calc(50% - 500px); top:calc(50% - 300px);}
.New_layer  h3 { display:block; height:43px; border-bottom:#036 solid 1px; box-sizing:border-box;font-family:'나눔고딕B'; color:#333; font-size:16px; padding-top:5px; }

.New_layer h3 span { display:inline-block; background:url(/img/policyWrite/fusion_title_bg.png) no-repeat right center; height:32px; box-sizing:border-box; color:#fff; margin-left:-3px; padding:7px 15px 0 13px; font-size:14px;font-family:'나눔고딕'; vertical-align:middle; margin-right:10px; position:relative;}
.New_layer h3 span:before { content:''; display:block; background:url(/img/policyWrite/fusion_title_bg_fst.png) no-repeat left top; width:3px; height:32px; position:absolute; left:0; top:0;}
.New_layer .btn_close { display:block; background:url(/img/policyWrite/fusion_btn_close.png) no-repeat center center; width:15px; height:15px; border:none; position:absolute; right:15px; top:13px; text-indent:-1000px; overflow:hidden;}
.New_layer .Btn_Group { text-align:center;}
.New_layer .Btn_Group button {min-width:100px; height:30px; box-sizing:border-box; background:#06c; font-size:14px; color:#fff; padding:0 10px;}

.New_layer .LayerCont { padding:30px; word-break:keep-all;}
.New_layer .LayerCont p { line-height:1.4; margin-bottom:20px;}
.New_layer .LayerCont p img { vertical-align:middle; margin-right:5px;}

.New_layer .LayerCont .map_ex { overflow:auto;}
.New_layer .LayerCont .map_ex .Hint { display:block; text-align:center; font-size:14px; margin-bottom:15px;}
.New_layer .LayerCont .map_ex dl { width:49%; display:inline-block; position:relative; float:left;}
.New_layer .LayerCont .map_ex dt { width:25%; height:160px; position:absolute; left:0; top:0; background:#036; color:#fff; font-size:15px; padding:15px; box-sizing:border-box;}
.New_layer .LayerCont .map_ex dt strong {font-family:'나눔고딕B'; font-size:18px; margin-bottom:4px; display:block;}
.New_layer .LayerCont .map_ex dd {padding:15px 15px 15px 28%; height:160px;box-sizing:border-box; display:inline-block; border:#ddd solid 1px; width:100%;font-family:'나눔고딕B'; font-size:16px; color:#333;}
.New_layer .LayerCont .map_ex dl:last-child { margin-left:2%;}
.New_layer .LayerCont .map_ex dd ul { padding-top:25px;}
.New_layer .LayerCont .map_ex dd li {font-family:'나눔고딕'; font-size:14px; color:#666; margin-bottom:10px;}

/* 1104 */
/* 버퍼설정하기 */
.rangeinput { padding:0 25px; position:relative; margin-bottom:20px;}
.rangeinput label { font-size:14px; display:inline-block; }
.rangeinput input[type=text] { width:118px; height:28px;display:inline-block;border:#ccc solid 1px; box-sizing:border-box; padding-right:20px;}
.rangeinput span { position:absolute; right:30px; top:5px}
.rangeSlide {margin-bottom:20px; padding:0 25px; width:300px; position:relative; margin-left:20px;}


.stepBox_cont { padding-top:10px;}

.DataBoxScroll { width:385px; height:calc( 100% - 50px ); overflow:hidden; position:relative;}


.New_layer .LayerCont .map_ex dt button {
    background: #fff;
    font-size: 11px;
    display: block;
    padding: 4px 20px 4px 10px;
    margin-top: 10px;
    text-align: left;
    border-radius: 3px;
    position: relative;}
 
.New_layer .LayerCont .map_ex dt button:before {
    content: '>';
    position: absolute;
    right: 8px;
}
 
 
/* 연산 */
.calculation {padding:0 25px; overflow:auto;}
.calculation dl { width:145px; height:125px; float:left;border:#ddd solid 1px;}
.calculation dl dt {background:#f1f1f1; border-bottom:#ddd solid 1px; text-align:center; font-size:12px; padding:5px; box-sizing:border-box; height:25px;}
.calculation dl dd { font-size:14px; text-align:center; padding:15px; box-sizing:border-box; max-height:100px; overflow:auto;}
.calculation .symbol { float:left; width:55px;height:125px; text-align:center; padding-top:18px; box-sizing:border-box;}
.calculation .symbol button { display:block; width:20px; height:20px;background:#fff; border:#ddd solid 1px; border-radius:10px; color:#999; font-size:16px; margin:0 auto;box-sizing:border-box; margin-bottom:2px;-webkit-transition-duration:0.1s; transition-duration:0.1s;}
.calculation .symbol button:hover { width:26px; height:26px; border-radius:13px; font-size:18px;}
.calculation .symbol button.M_on {width:26px; height:26px; border-radius:13px; padding-top:0; font-size:24px; border:none; background:#28425b; color:#fff; }


/* 2016.12.29 - 정책통계지도 작성 */
.Make_map {}
.Make_map h4 { font-family:'나눔고딕B'; font-size:14px; margin-bottom:8px;}
.Make_map h4 .Count { font-size:11px; color:#666; }
.Make_map h4 .Help {  text-indent:-1000px; display:inline-block; width:13px; height:13px; background:#999; border-radius:7px; position:relative; vertical-align:middle; margin-top:-2px; }
.Make_map h4 .Help:before {content:'!';font-family:'나눔고딕B';width:13px; height:13px; display:inline-block;line-height:13px; text-align:center; position:absolute; left:0; top:0;color:#fff; text-indent:0; font-size:11px;}
.Make_map input[type=text] {background:#f4f4f4; border:#ddd solid 1px; font-size:14px; color:#555; width:100%; padding:4px; box-sizing:border-box; margin-bottom:15px;}

.Make_map textarea {background:#f4f4f4; border:#ddd solid 1px; font-size:14px; color:#555; width:100%; padding:4px; box-sizing:border-box; height:130px; margin-bottom:15px;}

.CommunityList {border:#ddd solid 1px; font-size:14px; color:#555; width:100%;box-sizing:border-box;margin-bottom:15px; height:110px;overflow: scroll;}
.CommunityList li label { position:relative; border-bottom:#ddd dotted 1px; display:block; height:28px;box-sizing:border-box; padding:5px 0 0 10px; overflow:hidden;background: url(/img/ico/ico_rdbox.gif) no-repeat right 7px center;}
.CommunityList li label.on {background: url(/img/ico/ico_rdbox_on.gif) no-repeat right 7px center;}
.CommunityList li:last-child label {border-bottom:none;}
.CommunityList li label input { position:absolute; left:-1000px; }

.static-iframe{background: none;}
.static-iframe #policy-popup-header{display:none;}
.static-iframe .FuseResult{width: 100%;height: 100%;position: relative;left:0;top:0;}
.static-iframe .FR_MapArea{background-color:#fff;width: calc(100% - 385px);height:100%;}
.static-iframe .FR_Data{height:100%;top:0;}
.static-iframe #step1>ul.Tab>li{width:127px;}
.static-iframe #step1>ul.Tab>li:last-child{border-right:1px solid #ddd;}
.static-iframe .DataBoxScroll{position : absolute;height : calc( 100% - 100px ) !important;}

.pasing { text-align:center; margin-top:30px;}
.pasing a { vertical-align:middle;margin:0 1px;}
.pasing a img { vertical-align:middle;}
.pasing a.off { opacity:0.4;}
.pasing span {font-size:14px; margin:0 10px; vertical-align:middle; padding-top:2px;}
.pasing span strong {font-family:'나눔고딕EB'; color:#333;}

.data-list-box{width:264px;}
.data-list{overflow:visible;padding-left:20px;}
.data-list li{margin-bottom: 10px;}
.policy-infowindow{bottom: 0px !important;}
.dummy-right{width: calc(100%/2);height: 100%;position: fixed;background: #666;content: ' ';z-index: 10001;opacity: 0.8;color: #fff;font-size: 25px;font-weight: bold;text-align: center;padding-top: 30%;}

/* 2017-08-18 [개발팀] */
/* .quickBox.step03{z-index:10005 !important;}
.quickBox.step02{z-index:10006 !important;}
.quickBox.step01{z-index:10007 !important;} */

.navi-content{z-index:10008 !important;}
div#durianMask,.submenuBox{z-index:10010 !important;}
.ui-tooltip{z-index:110000000;}

/*============= 2017.08.13 [개발팀] 정책통계지도 리뉴얼 START ==============*/
.policyResultBox{z-index:90;position:absolute;top:50%;left:50%;width:124px;overflow:hidden;display:block;margin:-62px auto 0 -60px;height:124px; border:0px; background:none;}
.policyResultBox span{font-size:0;text-indent:-2000px;display:block;width:124px;height:124px;overflow:hidden;position:relative;background:url(/img/policyStatic/btn_resultView.png) no-repeat;}
.policyResultBox:hover span:before{display:block;content:"";width:124px;z-index:10;height:124px;overflow:hidden;position:absolute;left:0;top:0;background:url(/img/policyStatic/btn_resultView_on.png) no-repeat;}
.policyResultBox:hover{opacity:1;} /*2017.08.11 [개발팀] 융합버튼 개선  */
.policy_fn{position:relative;height:34px;overflow:hidden;float:left;}
.interactiveBar a.btn_dataload{float:left;margin:3px;width:127px;height:28px;background:#00bcd4;border-radius:3px;line-height:28px;overflow:hidden;text-align:center;opacity:0.5}
.interactiveBar a.btn_dataload.on{opacity:1;}
.btn_dataload img{vertical-align:middle;}
.btn_dataload span{font-size:12px;color:#fff;vertical-align:middle;}
.btn_dataload:hover{opacity:0.7}
.navi_title{float: left;font-size:12px;border-radius:15px;display:inline-block;padding:0 20px 0 20px;color:#555;height:24px;line-height:23px; margin:5px 0 0 10px;vertical-align: middle;background-color: #e5e7e8 !important;}
.policySelectBox{width:188px;height:auto;overflow:hidden;background:#fff;border:1px solid #dbdbdd;position:absolute;right:0;top:0;z-index:14;border-top:0;}
.policySelectBox .policyBar{background:#f5f5f5;width:100%;height:35px;overflow:hidden;line-height:35px;}
.policySelectBox .policyBar span{display:blcok;margin-left:10px;font-size:13px;color:#555;}
.policySelectBox .policyBar a{float:right;margin-right:10px;}
.policySelectBox .policySelectItem{height:auto;width:100%;overflow:hidden;}
.policySelectBox .policySelectItem .select{border:1px solid #dbdbdd;width:calc( 100% - 20px );height:31px;margin:10px 10px;}

.dialogbox{display:none;width:100%;height:100%;overflow-y:auto;z-index:10000;position:absolute;left:0;top:0;background:rgba(0,0,0,.5);} /* 2018.01.08 [개발팀] */
.dialogbox .dimbox{width:1100px;height:600px;z-index:94;position:absolute;left:50%;top:50%;margin:-300px 0 0 -500px;overflow:hidden;}
.dialogbox .dimbox .cont{float:left;width:1070px;height:600px;overflow:hidden;background:#fff;}
.dialogbox .dimbox .cont .bar{width:100%;height:50px;overflow:hidden;background:#019879;}
.dialogbox .dimbox .cont .bar span{height:50px;line-height:50px;color:#fff;font-size:15px;float:left;margin-left:20px;}
.dialogbox .dimbox .cont .bar .compareBox{width:100px;height:50px;float:right;margin-right:20px;}
.dialogbox .dimbox .cont .bar .compareBox .typeBox{float:left;margin-top:12px;}
.dialogbox .dimbox .cont .bar .compareBox .dimPrint{float:left;margin:7px 0 0 10px}
.dialogbox.pwType{min-height:700px;/* overflow-y:auto; */}
.policyWriteBox{margin:50px auto;max-width:1500px;height:700px;overflow:hidden;background:#fff;box-shadow:-1px 1px 5px #ccc;}
.policyWriteBox .bar{position:relative;width:100%;height:33px;overflow:hidden;background:#444b5b}
.policyWriteBox .bar span{display:block;height:33px;line-height:33px;padding-left:20px;color:#fff;font-size:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;width:calc(100% - 100px);}
.policyWriteBox .bar>a{position:absolute;right:10px;top:10px;}
.policyWriteBox .bar>a:hover{transform: rotate(90deg);}
.policyWriteBox .dataSlider{width:73px;height:9px;float:right;margin:12px 40px 0 0}
.policywContents{position:relative;width:100%;height:calc( 100% - 33px );overflow:hidden;}
.policywScroll{width:100%;height:100%;overflow:hidden;}
.policywContents .num{display:block;margin:20px auto 0 auto;text-align:center;font-size:30px;color:#26415c;}
.policywContents .txt{display:block;margin:10px auto;width:200px;height:auto;overflow:hidden;text-align:center;font-size:15px;color:#26415c;}
.policyMapArea{float:left;width:740px;height:667px;overflow:hidden;position:absolute;}
.policyFormArea{float:right;width:450px;height:647px;padding-bottom:20px;overflow:hidden;overflow-y:scroll;border-left:1px solid #aaa;background:#fff;z-index:1000}
.pcGuide{width:100%;height:auto;overflow:hidden;position:relative;}
.pcGuide ul{display:block;padding:0 20px 0 20px;overflow:hidden;}
.pcGuide ul li{width:100%;overflow:hidden;}
.pcGuide ul li .t01{color:#606060;font-size:14px;float:left;width:70px;font-weight:bold;margin-bottom:10px;}
.pcGuide ul li .t02{color:#606060;font-size:14px;float:left;width:40px;font-weight:bold;margin-bottom:10px;}
.pcGuide ul li .none{float:left;width:40px;padding-left:10px;}
.pcGuide ul li .t03{color:#606060;font-size:13px;float:left;}
.pcGuide a{position:absolute;right:10px;top:20px;display:block;width:89px;line-height:24px;line-height:24px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#0099ff;}
.pcTabs{margin-top:10px;width:100%;height:auto;overflow:hidden;padding-left:10px;}
.pcTabs li{border-top:1px solid #ccc;width:50%;height:auto;overflow:hidden;float:left;}
.pcTabs li a{cursor:pointer;font-weight:bold;width:100%;height:30px;line-height:30px;display:block;text-align:center;overflow:hidden;background:#f5f5f5;color:#333;font-size:13px;}
.pcTabs li a.on{background:#22b599;color:#fff;}
.pcTable01{margin-top:10px;width:425px;}
.pcTable01 .select{width:100%;height:30px;overflow:hidden;border:1px solid #ccc;font-size:13px;color:#333;padding-left:5px;}
.pcTable01 .textarea{width:calc( 100% - 22px );height:150px;overflow:hidden;padding:10px;line-height:1.5em;border:1px solid #ccc;font-size:11px;color:#666;overflow-y:auto;}
.pcTable01 .textarea div{font-size:11px;color:#666;}
.pcTable01 th{vertical-align:top;text-align:left;padding:12px 0 5px 20px;font-size:14px;color:#333;}
.pcTable01 th.none{padding-top:5px;}
.pcTable01 th span{float:right;color:#606060;font-size:11px;}
.pcTable01 td{padding:5px 0;vertical-align:top;}
.pcTable01 td .inp.t01{border-top:0;}
.pcTable01 td .select{float:left;}
.pcTable01 td .select.t01{width:200px;}
.pcTable01 td .select.t02{width:calc( 100% - 210px );margin-left:10px;}
.policywContents .dscList{width:405px;margin:0 auto;margin-left:10px;}
.policywContents .dscList dt>a{background:#fff;text-indent:0px;color:#333;}
.policywContents .dscList dt>a.on{background:url(/img/ico/ico_down04.png) no-repeat 460px center;}
.policywContents .dscList span{color:#333;font-size:14px;font-weight:bold;height:20px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;width:400px;}
 
.pcTable02{width:100%;margin-top:10px;}
.pcTable02 th{border-bottom:1px solid #ccc;border-top:1px solid #ccc;height:32px;background:#f5f5f5;color:#606060;font-size:13px;}
.pcTable02 td{border-bottom:1px solid #ccc;text-align:center;height:32px;color:#666;font-size:11px;}
.pcTable02 .border{border-left:1px solid #ccc;}
.pcAddBox{display:block;margin-left:20px;height:auto;overflow:hidden;width:407px;}
.pcAddBox span{font-size:14px;color:#333;font-weight:bold;float:left;}
.pcAddBox a{float:right;}
.pcAddList{display:block;margin-left:20px;height:auto;overflow:hidden;}
.pcAddList li{display:block;width:100%;height:auto;overflow:hidden;}
.pcAddList li a{display:block;width:395px;border:1px solid #ccc;width:Scalc( 100% - 12px );padding-left:10px;height:28px;line-height:28px;background:url(/img/policyStatic/ico_mius01.png) no-repeat right center;overflow:hidden;}
.pcAddList li a img{vertical-align:middle;}
.pcAddList li a span{font-size:13px;vertical-align:middle;}
.pcBtn{border-top:1px solid #ccc;padding-top:20px;width:407px;margin-left:20px;height:auto;overflow:hidden;margin-top:20px;margin-bottom:10px;}
.pcBtn a{float:left;width:134px;border-left:1px solid #fff;height:40px;line-height:40px;text-align:center;color:#fff;font-size:13px;background:#666;overflow:hidden;float:left;}
.pcBtn a:hover{opacity:0.7}
.inp{width:calc( 100% - 22px );height:28px;overflow:hidden;padding:0 10px;border:1px solid #ccc;font-size:13px;color:#333;}

.pcTable03 {width:330px;margin-top:15px;}
.pcTable03 th{height:25px;;color:#606060;font-size:14px;text-align:left;padding-left:20px;}
.pcTable03 td {font-size:14px;}
.pcTable04{width:100%;margin-top:10px;}
.pcTable04 th{border:1px solid #ccc;height:32px;background:#f5f5f5;color:#606060;font-size:14px;}
.pcTable04 td{border:1px solid #ccc;text-align:center;height:32px;color:#666;font-size:13px;}

.unitInputBox{width:188px;float:left;padding:0 0 0 10px;}
.stepBox .demandIdxChart{text-align:center; margin:0 auto; width:200px;}
.stepBox .demandIdxChart li{float:left; width:100px;}
.demandIdx_stepBox {border-bottom:0px;padding:20px 0 10px 0;}

.FuseResult_Layer {display:block; width:100%; height:100%; left:0; top:0; position:fixed; background:rgba(0, 0, 0, 0.7); z-index: 10001; }
.FuseResult_Layer .relationMapArea {width:740px;height:400px;background:#fff;position:absolute;margin:0 auto;left:calc(50% - 370px);top:calc(50% - 150px);}
.relationMapArea h3 {width:100%; height:43px; box-sizing:border-box;color:#fff;background:#444b5b; font-size:16px; padding-top:10px;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;text-align:center;border-bottom: 1px solid #666; }
.relationMapArea h3 span { display:inline-block;height:32px; box-sizing:border-box; color:#fff; margin-left:-3px; padding:7px 15px 0 13px; font-size:14px;vertical-align:middle; margin-right:10px; position:relative;}
.relationMapArea .btn_close { display:block; background:url(/img/policyStatic/fusion_btn_close.png) no-repeat center center; width:15px; height:15px; border:none; position:absolute; right:15px; top:13px; text-indent:-1000px; overflow:hidden;}
.relationMapArea .contents{height:270px;padding: 10px 20px 0 20px;}

.pagenation1{position: relative;margin: 0 auto;text-align: center;overflow: hidden;padding-bottom: 20px; padding-top:20px;}
.pagenation1 a{display: inline-block;min-width: 27px;height: 27px;border: solid 1px #d6d6d6;font-size: 12px;line-height: 27px;text-align: center;vertical-align: top;}
.pagenation1 a.page.data{background-color: #4f87b6;border: solid 1px #134582;color: #fff;}
.pagenation1 a.page{border-left: none;color: #666;}
a.paging-item, a.paging-side{margin: 0em;}
.rel_select{width:370px;margin-left:20px;height:31px;float:left;font-size:13px;}
.del_img{margin-left:6px;border:1px solid #ccc;border-left:0px;}
.rel_img:hover{opacity:0.7;}

.calcBox{z-index:12;position:absolute;top:50%;left:50%;margin-top:-100px;margin-left:-235px;width:470px;height:auto;overflow:hidden;background:#fff;box-shadow:-1px 1px 5px #ccc;}
.calcBox .bar{border-bottom:1px solid #cecece;position:relative;width:100%;height:39px;overflow:hidden;background:#f5f5f5}
.calcBox .bar span{display:block;text-align:center;height:39px;line-height:39px;color:#333;font-size:13px;}
.calcBox .bar>a{position:absolute;right:5px;top:5px;}
.calcBox .bar>a:hover{transform: rotate(90deg);}
.calcBox .select{width:70px;height:35px;font-size:26px;padding-left:5px;}
.calcContents{position:relative;width:100%;height:auto;overflow:hidden;}
.calcItem{margin-top:10px;display:blcok;height:auto;overflow:hidden;padding:0 20px;}
.calcItem .ccLeft{font-size:13px;float:left;width:178px;height:30px;line-height:30px;text-align:center;color:#fff;overflow:hidden;border-radius:15px;background:#22b599;}
.calcItem .ccCenter{width:calc( 100% - 356px );height:auto;overflow:hidden;float:left;text-align:center;}
.calcItem .ccRight{font-size:13px;float:left;width:178px;height:30px;line-height:30px;text-align:center;color:#fff;overflow:hidden;border-radius:15px;background:#22b599;}
.calcItem.t01 .ccLeft{width:160px;color:#666;background:#fff;line-height:170%;overflow:none;height:auto;}
.calcItem.t01 .ccCenter{width:calc( 100% - 320px );}
.calcItem.t01 .ccRight{width:160px;color:#666;background:#fff;line-height:170%;overflow:none;height:auto;}
.calcBtn{width:100%;height:auto;overflow:hidden;padding:10px 0 6px 0;margin-top:10px;border-top:1px solid #ccc;text-align:center;}
.calcBtn a{display:inline-block;width:117px;height:30px;line-height:30px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#666;}
.calcBtn a:hover{opacity:0.7;}
.calcChange:hover{opacity:0.7;}
#clearMapBtn:hover{opacity:0.7;}
#policyWriteCancel:hover{opacity:0.7;}
.poiBtn{margin:0 auto; margin-top:10px;padding:0 10px;display:block;width:260px;height:30px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap; line-height: 30px; border:#ebebeb solid 1px;box-sizing: border-box; background:#00bcd4;position:relative;opacity:0.8;}
.poiBtn .text {font-size:13px;color:#fff;text-overflow:ellipsis;white-space:nowrap;display:inline-block;width:calc(100% - 15px);overflow:hidden;}
.poiBtn .sqdel{position:absolute;right:10px;top:2px;}
.stepBox .checkBtn{background:url(/img/ico/ico_ckbox.gif) no-repeat left center;padding-left:25px;line-height:20px;display:inline-block;}
.stepBox .checkBtn.on{background:url(/img/ico/ico_ckbox_on.gif) no-repeat left center;}
.policyPoiTooltip{text-align:left;width:auto;white-space:nowrap;word-break:break-all;padding:5px;}
.policyPoiTooltip th{word-break:break-all;width:30%;padding:5px;color: #3792de;font-size:14px;font-weight:bold;}
.policyPoiTooltip td{font-size:12px;padding-left:5px;}

.policyPoiBox{z-index:1600;position:absolute;top:50%;left:50%;margin-top:-240px;margin-left:-200px;width:400px;padding-bottom:10px;height:auto;overflow:hidden;background:#fff;box-shadow:-1px 1px 5px #666;}
.policyPoiBox .bar{border-bottom:1px solid #ccc;position:relative;width:100%;height:39px;overflow:hidden;background:#f5f5f5}
.policyPoiBox .bar.t01{border-top:1px solid #ccc;}
.policyPoiBox .bar span{display:block;text-align:center;height:39px;line-height:39px;color:#333;font-size:13px;}
.policyPoiBox .bar>a{position:absolute;right:5px;top:5px;}
.policyPoiBox .bar>a:hover{transform: rotate(90deg);}
.policyPoiContents{position:relative;width:100%;height:calc( 100% - 33px );overflow:hidden;}
.policyPoiContents .stepBox{width:100%;margin:0 auto;height:500px;padding-bottom:10px;}
.policyPoiBtn{width:100%;height:auto;overflow:hidden;padding-top:13px;text-align:center;}
.policyPoiBtn a{display:inline-block;width:117px;height:30px;line-height:30px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#666;}
.policyPoiBtn a:hover{opacity:0.7;}
a.roundTextBox{width:360px;margin:10px auto 0 auto;text-align:left;background:#dcdcdc url(/img/ico/ico_up02.png) no-repeat 330px center;}
/* a.roundTextBox span{display:block;margin-left:20px;} */
a.roundTextBox.on{background:#00bcd4 url(/img/ico/ico_down02.png) no-repeat 330px center;}
.poiTop{width:100%;height:auto;overflow:hidden;border-bottom:1px solid #ccc;padding-bottom:5px;}

.policyPoiContents .stepBox .dbTypeCk{width:340px;margin:0 auto;padding:10px 0;}
.policyPoiContents .stepBox .poiTop .dbTypeCk{padding:0;}
.policyPoiContents .stepBox .poiTop .dbTypeCk li{float:left;width:50%;text-align:center;}
.policyPoiContents .stepBox .dbTypeCk.po01 li{width:20%;float:left;}
.policyPoiContents .stepBox .dbTypeCk.po01 li label{padding-left:18px;height:31px;}
.policyPoiContents .stepBox .dbTypeCk.po02 li{text-align:center;width:16%;float:left;}
.policyPoiContents .stepBox .dbTypeCk.po02 li label{position:relative;display:block;background:none;padding-left:0;text-align:center;height:35px;}
.policyPoiContents .stepBox .dbTypeCk.po02 li label.on:before{content:"";width:16px;height:15px;display:block;margin-left:-8px;margin-top:-8px;overflow:hidden;position:absolute;left:50%;top:50%;background:url(/img/policyStatic/ico_ck02.png);}
.policyPoiContents .stepBox .dbTypeCk.po03 li{text-align:center;width:20%;float:left;}
.policyPoiContents .stepBox .dbTypeCk.po03 li label{position:relative;display:block;background:none;padding-left:0;text-align:center;height:35px;}
.policyPoiContents .stepBox .dbTypeCk.po03 li label.on:before{content:"";width:16px;height:15px;display:block;margin-left:-8px;margin-top:-8px;overflow:hidden;position:absolute;left:50%;top:50%;background:url(/img/policyStatic/ico_ck02.png);}
.slider-range{width:220px;float:left;margin-left:10px;}
.joinDefault{width:360px;height:auto;overflow:hidden;margin:0 auto;}
.joinDefault .select{float:left;width:80px;margin:5px 10px 0 10px;}
.joinDefault .input{float:left;width:80px;margin:5px 10px 0 20px;text-align:center;height:30px;border:1px solid #ccc;}
.joinDefault label{font-size:13px;float:left;line-height:34px;}
.joinDefault label.fullLabel{width:calc( 100% - 130px );text-align:right;}
.policy_radio{position:absolute;left:20px;top:7px;display:inline-block;width:49px;height:26px;overflow:hidden;background:#ec8f25;border-radius:10px;}
.policy_radio a{width:22px;margin-top:2px;height:22px;background:#fff;border-radius:50%;overflow:hidden;text-indent:-2000px}
.policy_radio .fl{background:#fff;float:left;margin-left:2px;}
.policy_radio .fr{background:transparent;float:right;margin-right:2px;} 

.btn_gpsSetting{display:table;position:absolute;left:20px;bottom:28px;width:90px;height:82px;color:#fff;text-align:center;overflow:hidden;background:url(/img/policyStatic/btn_gpsInfo01.png) no-repeat center center;border-radius: 10px;border-radius:10px;}
.btn_gpsSetting span{display:table-cell;text-align:center;vertical-align:middle;color:#fff;line-height:1.5em;}
.btn_gpsSetting:hover{opacity:0.7;}

.btn_heatMapSetting{display:table;position:absolute;left:0;bottom:0;margin-left:-110px;width:90px;height:82px;color:#fff;text-align:center;overflow:hidden;background:url(/img/policyStatic/btn_gpsInfo01.png) no-repeat center center;border-radius: 10px;border-radius:10px;}
.btn_heatMapSetting span{display:table-cell;text-align:center;vertical-align:middle;color:#fff;line-height:1.5em;}
.btn_heatMapSetting:hover{opacity:0.7;}

.helpSliderText{position:absolute;margin-top:25px;height:27px;font-size:10px;}

.policyPreViewBox{margin:30px auto;max-width:1500px;height:700px;overflow:hidden;background:#fff;/* box-shadow:-1px 1px 5px #ccc; */}
.policyPreViewBox .bar{position:relative;width:100%;height:33px;overflow:hidden;background:#444b5b}
.policyPreViewBox .bar span{display:block;height:33px;line-height:33px;padding-left:20px;color:#fff;font-size:13px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;display:inline-block;width:calc(100% - 100px);}
.policyPreViewBox .bar>a{position:absolute;right:10px;top:10px;}
.policyPreViewBox .bar>a:hover{transform: rotate(90deg);}
.policyPreViewBox .pcBtn2{width:410px;height:auto;overflow:hidden;margin:0 auto;}
.policyPreViewBox .pcBtn2 a{float:left;width:200px;border-left:1px solid #fff;height:40px;line-height:40px;text-align:center;color:#fff;font-size:13px;background:#666;overflow:hidden;}
.policyPreViewBox .pcBtn2 a:hover{opacity:0.7;}
.policyPreViewBox iframe {width:100%; height:calc(100% - 50px);} 

#slider-range2, .slider-range {margin-left:10px;width:235px;}
.policyPoiContents .joinDefault {width:360px;}
.policyPoiContents #slider-range2, .slider-range {margin-left:10px;width:220px;}
.mgb_12 select, .mgb_12 span {font-size:13px;}
.defaultLine select {font-size:13px;}
/*============= 2017.08.13 [개발팀] 정책통계지도 리뉴얼 END ==============*/

