@charset 'utf-8';

.wrapper{background:#bee1e5; width:880px; height:auto; overflow:hidden; padding:20px;}
.titleWrapper{margin:0 auto; height:132px; background:url(../images/info/title_bg.png) repeat-x 0 0; line-height:140px; text-align:left;   padding-left:33px; border-top:solid 1px  #b7bbbb; border-left:solid 1px  #b7bbbb; border-right:solid 1px  #b7bbbb;}
/*.TitleFont{font-size:23px; color:#505050; font-weight:bold;   padding-top: 22px;  line-height: 40px; letter-spacing: -1px; } */
.TitleFont{font-size:23px; color:#505050; font-weight:bold;   padding-top: 12px;  line-height: 40px; letter-spacing: -1px; } 
.titleFontColor1{color:#ef7c1a;}
.titleFontColor2{color:#1c2e63;}

.contentWrapper{margin:0 auto; height:auto; overflow:hidden; background:#fff; border-left:solid 1px  #b7bbbb; border-bottom:solid 1px  #b7bbbb; border-right:solid 1px  #b7bbbb; }
.content{background:url(../images/info/bg.png) no-repeat right bottom; padding-left:33px;}
.contentTitle{background:#5c7dbc; padding:10px; height:14px; line-height:14px; color:#fff; font-size:16px; text-align:left; }
.contentTitle span{color:#fffd77;padding-right: 5px; }
.content p{padding:20px 0 20px 10px; font-size:16px; color:#4e4e4e; text-align:left; line-height:25px; }

.list{border:solid 1px #dadada; background:#f8f8f8; font-size:15px; padding:20px; width:753px; }
.list ul{  padding-left: 18px;}
.list li {color:#424242; line-height:28px;}
.listType{list-style-type: disc;}
.list a{color:#5c7dbc; font-weight:bold; text-decoration: underline;}
.list a:hover{color:#5c7dbc; text-decoration: underline; font-weight:bold;}






.w10{width:10px;}
.w20{width:20px;}
.w30{width:30px;}
.w40{width:40px;}
.w50{width:50px;}
.w60{width:60px;}
.w70{width:70px;}
.w80{width:80px;}
.w90{width:90px;}
.w100{width:100px;}
.w110{width:110px;}
.w120{width:120px;}
.w130{width:130px;}
.w140{width:140px;}
.w150{width:150px;}
.w160{width:160px;}
.w170{width:170px;}
.w180{width:180px;}
.w190{width:190px;}
.w200{width:200px;}
.w210{width:210px;}
.w220{width:220px;}
.w230{width:230px;}
.w240{width:240px;}
.w250{width:250px;}
.w270{width:270px;}
.w285{width:285px;}
.w310{width:310px;}
.w370{width:370px;}
.w390{width:390px;}
.w400{width:400px;}
.w430{width:430px;}
.w440{width:440px;}
.w500{width:500px;}
.w510{width:510px;}
.w748{width:748px;}
