@import url("/contents/css/common/base.css");

/* bbs list */
.bbs_list {clear:both; width:670px; border-top:solid 2px #72AACF; border-bottom:solid 1px #cbcfd2;}
.bbs_list thead {font-weight:bold; background-color:#E3F0F9;}
.bbs_list thead th {color:#33698f; background-color:#e3f0f9; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; text-align:center; padding:3px;}
.bbs_list tbody td {text-align:center; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; padding:3px 3px 3px 5px;}
.bbs_list .t_end {border-right:none;}
.bbs_list .tl {text-align:left;}

.bbs_list .w34 {width:34px;}
.bbs_list .w48 {width:48px;}
.bbs_list .w58 {width:58px;}
.bbs_list .w61 {width:61px;}
.bbs_list .w65 {width:65px;}
.bbs_list .w77 {width:77px;}

.bbs_list .w80 {width:80px;}
.bbs_list .w81 {width:81px;}
.bbs_list .w82 {width:82px;}
.bbs_list .w83 {width:83px;}
.bbs_list .w84 {width:84px;}
.bbs_list .w85 {width:84px;}
.bbs_list .w86 {width:86px;}
.bbs_list .w95 {width:95px;}

.bbs_list .w100 {width:100px;}
.bbs_list .w103 {width:103px;}
.bbs_list .w105 {width:105px;}
.bbs_list .w107 {width:107px;}
.bbs_list .w114 {width:114px;}
.bbs_list .w115 {width:115px;}
.bbs_list .w135 {width:135px;}
.bbs_list .w141 {width:141px;}
.bbs_list .w143 {width:143px;}
.bbs_list .w167 {width:167px;}
.bbs_list .w168 {width:168px;}
.bbs_list .w186 {width:186px;}
.bbs_list .w229 {width:229px;}
.bbs_list .w254 {width:254px;}
.bbs_list .w315 {width:315px;} 
.bbs_list .w354 {width:354px;}
.bbs_list .w364 {width:364px;}


/* bbs list_01 */
.bbs_list_01{clear:both; width:650px; border-top:solid 2px #72AACF;}
.bbs_list_01 thead {font-weight:bold; background-color:#E3F0F9;}
.bbs_list_01 thead th {color:#33698f; background-color:#e3f0f9; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; text-align:center; padding:3px;}
.bbs_list_01 tbody td {height:21px; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; padding:3px 3px 3px 5px;}
.bbs_list_01 .t_end {border-right:none;}
.bbs_list_01 .w175 {width:175px;}
.bbs_list_01 .w75{width:75px; text-align:center; }
.bbs_list_01 .w132 {width:132px;}
.bbs_list_01 .w218 {width:218px;}
.bbs_list_01 .w125 {width:125px;}
.bbs_list_01 .w225 {width:225px;}

/*board paging*/
.paging {clear:both; text-align:center;}
.paging span {text-align:center;}
.paging img { vertical-align:middle;}
.paging a:link {color:#666;}
.paging a:hover,
.paging a:active,
.paging a:focus {color:#4885b2;}

/*board search*/
.list_search {clear:both; padding:5px 0; text-align:center; border:0;}
.list_search legend {display:none;}
.list_search img {vertical-align:middle;}


/* bbs view info*/
.form_wrap {clear:both; border:0;}
.form_wrap legend {display:none;}
.form1, .form1 dt, .form1 dd {float:left;}
.form1 {clear:both; background:#E3F0F9; width:670px; border-top:#72AACF solid 2px; border-bottom:1px solid #CBCFD2;}
.form1 dt  {width:158px; border-top:1px solid #CBCFD2; font-weight:bold; color:#33698F;  text-align:center;}
.form1 dt label {color:#33698F;}
.form1 dd {width:487px; border-top:1px solid #CBCFD2; background:#fff; border-left:1px solid #CBCFD2;}
.form1 .t_left {border-left:none;}
.form1 dt, .form1 dd {padding:4px 6px 2px;}
.form1 dd.w2 {width:153px;}
.form1 dd.w3 {width:151px;}
.form1 dd.w4 {width:658px;}
.form1 .h21 {height:21px;}
.form1 .h22 {height:22px;}
.form1 input {height:18px;}
.form1 textarea{width:450px; height:197px;}

.form4, .form4 dt, .form4 dd {float:left;}
.form4 {clear:both; background:#E3F0F9; width:670px; border-top:#72AACF solid 2px; border-bottom:1px solid #CBCFD2;}
.form4 dt  {width:115px; border-top:1px solid #CBCFD2; font-weight:bold; color:#33698F;  text-align:center;}
.form4 dt label {color:#33698F;}
.form4 dd {width:195px; border-top:1px solid #CBCFD2; background:#fff; border-left:1px solid #CBCFD2;}
.form4 .t_left {border-left:none;}
.form4 dt, .form4 dd {padding:4px 6px 2px;}
.form4 dd.w2 {width:530px;}
.form4 dd.w3 {width:151px;}
.form4 dd.w4 {width:658px;}
.form4 .h21 {height:21px;}
.form4 .h22 {height:22px;}
.form4 input {height:22px;}
.form4 textarea{width:520px; height:197px;}


/* bbs 자료신청*/
.bbs_top { clear:both; width:650px; height:21px; background:url('../../../contents/shortcut/images/new/table_top_bg.gif') no-repeat top left;  font-size:0px;}
.bbs_center {width:633px; border-left:solid 1px #D4D4D4; border-right:solid 1px #D4D4D4; padding: 0 0 0 15px; float:left;}
.bbs_bottom { clear:both; width:650px; height:21px; background:url('../../../contents/shortcut/images/new/table_bot_bg.gif') no-repeat top left;  font-size:0px;}
.p_bg { width:625px; height:33px; background:url('../../../contents/images/new/p_bg.gif') no-repeat top left; margin-top:20px; text-align:center; padding-top:20px;}

.agreement_text_box { width:600px; overflow:auto; height:240px; padding:5px;}
.agreement_text_box h5 { font-size:14px; font-weight:bold; padding-top:10px;}
.agreement_text_box h6 {padding-top:5px; margin-top:30px;}
.agreement_text_box ul { padding-top:5px;}
.agreement_text_box ul li { padding-top:5px;}
.agreement_text_box ul li ul { padding-top:5px;}


.form_wrap01 {clear:both; border:0;}
.form_wrap01 legend {display:none;}
.form2, .form2 dt, .form2 dd {float:left;}
.form2 {clear:both; background:#E3F0F9; width:615px; border-top:#72AACF solid 2px; border-bottom:1px solid #CBCFD2;}
.form2 dt  {width:140px; border-top:1px solid #CBCFD2;  font-weight:bold; color:#33698F;  text-align:center;}
.form2 dt label {color:#33698F;}
.form2 dd {width:450px; border-top:1px solid #CBCFD2; background:#fff; border-left:1px solid #CBCFD2;}
.form2 .t_left {border-left:none;}
.form2 dt, .form2 dd {padding:4px 6px 2px;}
.form2 .h21 {height:21px;}
.form2 .h22 {height:22px;}
.form2 input {height:18px;}
.form2 textarea{width:430px; height:197px;}
.form2 .texterea_f {width:430px; height:50px;}



/* pop */
.form_wrap01 .shrtcut_pop { width:170px; float:left;  position:absolute; left:670px; top:410px; background:#FFFFFF; border: solid 1px #999999; z-index:50; height:200px; overflow:auto;}
.shrtcut_warp { border:0;}
.shrtcut_warp legend{ display:none;}
.shrtcut_warp .shrtuct {width:150px; }
.shrtcut_warp .shrtuct dl, .shrtcut_warp .shrtuct dd, .shrtcut_warp .shrtuct dt {float:left; height:24px;}
.shrtcut_warp .shrtuct dt { width:50px;}
.shrtcut_warp .shrtuct dd { width:100px;}
.shrtcut_warp .shrtuct .w100 { width:100px;}
.shrtcut_warp .shrtuct .h24{ height:24px;}

/* bbs 개인정보*/
.form_wrap02 {clear:both; border:0;}
.form_wrap02 legend {display:none;}
.form3, .form3 dt, .form3 dd {float:left;}
.form3 {clear:both; background:#E3F0F9; width:670px; border-top:#72AACF solid 2px; border-bottom:1px solid #CBCFD2;}
.form3 dt  {width:125px; border-top:1px solid #CBCFD2;  font-weight:bold; color:#33698F;  text-align:left;}
.form3 dt label {color:#33698F;}
.form3 dd {width:520px; border-top:1px solid #CBCFD2; background:#fff; border-left:1px solid #CBCFD2;}
.form3 .t_left {border-left:none;}
.form3 dt, .form3 dd {padding:5px 6px 2px;}
.form3 .h21 {height:21px;}
.form3 .h22 {height:22px;}
.form3 input {height:18px; padding:0 5px 0 0;}
.form3 p {padding:3px 3px 3px 0; }
.form3 radio{padding:3px 3px 3px 0; }

/* bbs 약관*/
.form_wrap03 {clear:both; border:0;}
.form_wrap03 legend {display:none;}
.form_wrap03 textarea{width:600px; height:197px; border:none;}

/* 알림정보*/
.bbs_list01 {clear:both; width:670px; border:solid 2px #DFECF5;}
.bbs_list01 table { width:670px; }
.bbs_list01 thead {font-weight:bold;}
.bbs_list01 thead th {text-align:left; padding:3px;}
.bbs_list01 tbody td {text-align:left; height:25px;  padding:3px 3px 3px 5px; font-weight:bold;}
.bbs_list01 .tl {text-align:left;}
.bbs_list01 .w194 {width:194px;}
.bbs_list01 .w476 {width:476px;}

/* btn */
.btn_area {text-align:center; clear:both; margin-bottom:2px; padding-top:10px;}
.btn_area img, .btn_area input {vertical-align:middle;}

.btn_area_fr {text-align:right; clear:both; margin-bottom:2px; padding-top:10px; }
.btn_area_fl {text-align:left; clear:both; margin-bottom:2px; padding-top:10px;}


/* bbs list_02 */

.bbs_list_02 {clear:both; width:450px; border-top:solid 2px #72AACF; border-bottom:solid 1px #cbcfd2;}
.bbs_list_02 thead {font-weight:bold; background-color:#E3F0F9;}
.bbs_list_02 thead th {color:#33698f; background-color:#e3f0f9; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; text-align:center; padding:3px;}
.bbs_list_02 tbody td {text-align:center; border-right:1px solid #cbcfd2; border-bottom:1px solid #cbcfd2; padding:3px 3px 3px 5px;}
.bbs_list_02 .t_end {border-right:none;}
.bbs_list_02 .tl {text-align:left;}

.bbs_list_02 .w34 {width:34px;}
.bbs_list_02 .w48 {width:48px;}
.bbs_list_02 .w50 {width:50px;}
.bbs_list_02 .w58 {width:58px;}
.bbs_list_02 .w61 {width:61px;}
.bbs_list_02 .w65 {width:65px;}
.bbs_list_02 .w77 {width:77px;}

.bbs_list_02 .w80 {width:80px;}
.bbs_list_02 .w81 {width:81px;}
.bbs_list_02 .w82 {width:82px;}
.bbs_list_02 .w83 {width:83px;}
.bbs_list_02 .w84 {width:84px;}
.bbs_list_02 .w85 {width:84px;}
.bbs_list_02 .w86 {width:86px;}
.bbs_list_02 .w95 {width:95px;}

.bbs_list_02 .w100 {width:100px;}
.bbs_list_02 .w103 {width:103px;}
.bbs_list_02 .w105 {width:105px;}
.bbs_list_02 .w107 {width:107px;}
.bbs_list_02 .w114 {width:114px;}
.bbs_list_02 .w115 {width:115px;}
.bbs_list_02 .w135 {width:135px;}
.bbs_list_02 .w141 {width:141px;}
.bbs_list_02 .w143 {width:143px;}
.bbs_list_02 .w167 {width:167px;}
.bbs_list_02 .w168 {width:168px;}
.bbs_list_02 .w186 {width:186px;}
.bbs_list_02 .w200 {width:200px;}
.bbs_list_02 .w229 {width:229px;}
.bbs_list_02 .w254 {width:254px;}
.bbs_list_02 .w315 {width:315px;}
.bbs_list_02 .w350 {width:350px;}
.bbs_list_02 .w354 {width:354px;}
.bbs_list_02 .w364 {width:364px;}
.bbs_list_02 .w400 {width:400px;}