.deem { width: 100%; height: 100%; position: fixed; left: 0; top: 0; z-index: 100;}

.layerpop { position: absolute; left: 50%; top: 210px; z-index: 101; background: #fff;}

.layerpop_board intput, .layerpop_board select{border: 1px solid #e6e6e6; heigth:28px; font-size: 13px; color: #787878; text-indent: 10px;}

/* .mr10 {margin-right: 10px;}
.mr20 {margin-right: 10px;}
.tableBtn {border-radius: 5px; background: #666666; font-size: 13px; color: #fff; width: 83px; height: 30px; text-align: center; line-height: 30px;}
.noticButton .orange{background:#3385d3;}
.noticButton{ background:#3385d3; color: #fff; line-height:14px; padding:12px 29px; display:inline-block;} */


.file_input_button{width: 150px; position: absolute;}
.file_input_text_box{float: left; margin: 0 5px;}
.file_input_hidden{width: 0;}

.btn_area2{text-align: center;}
.mb40{margin-bottom: 40px;}
.btn_blue2 {background: #3385d3; color: #ffffff; font-weight: bold; font-size: 14px; line-height: 14px; padding: 10px 20px; display: inline-block; text-align: center;}
.btn_area2 .btn_blue2 { background: #3385d3; color: #ffffff; font-weight: bold; font-size: 14px; line-height: 14px; padding: 12px 29px; display: inline-block;}
.btn_area2 .btn_blue3 { background: #333333; color: #ffffff; font-weight: bold; font-size: 14px; line-height: 14px; padding: 12px 29px; display: inline-block;}


.layerpop_board { border-bottom: 1px solid #e3e3e3; padding-bottom: 20px; margin-bottom: 30px; border-bottom: 1px solid #e3e3e3;}
.layerpop_board table tbody tr th.top {vertical-align: top;}
.layerpop_board table tbody tr th { padding: 8px 0 8px 8px; color: #333333; font-size: 14px; font-weight: bold; text-align: left;}
/* .layerpop_board table tbody tr td.file input {text-indent:9px; background-color: #fff; border:1px solid #ddd; color:#666666; font-size: 12px; height: 38px; letter-spacing: 0.5px; line-height: 38px;} */
.layerpop .layerpop_tit { height: 55px; background: #eeeeee; border-bottom: 3px solid #1c3f80; padding-left: 19px; line-height: 55px; color: #333333; font-size: 16px; font-weight: bold;}