@charset 'utf-8';
#wrap {position: relative;width: 100%;}

/* header */
#header { height: 153px; width: 100%;margin-bottom: 30px;background: url(../images/common/bg_header.gif) repeat-x 0 103px;}
#header .gnb {position: relative; max-width: 960px; margin: 0 auto; z-index: 15;}
#header .gnb h1 {float: left;padding: 41px 0 22px;}
#header .gnb h1 img {vertical-align: top;}
#header .gnb .account {float: right;margin-top: 55px;font-size: 14px;}
#header .gnb .account li {float: left;letter-spacing: -0.5px;}
#header .gnb .account li a {color: #999;}
#header .gnb .account li a:hover { color: #3792de; text-decoration: underline;}
.gnbbox { background: url(../images/common/bg_header.gif) repeat-x left top;}
.gnb_section > div { clear: both; max-width: 960px; height: 50px; font-size: 0; margin: 0 auto;}
.gnb_section .gn-lst { width: 102%; height: 50px; font-size: 0;}
.gnb_section .gn-lst li {display: inline-block;width: 24.5%;font-size: 14px;font-weight: bold;letter-spacing: -0.6px;border-left: solid 1px #264872;}
.gnb_section .gn-lst li.on { background: #00498f;}
.gnb_section .gn-lst .gn3 {width: 24.5%;}
.gnb_section .gn-lst .gn4 {border-right: solid 1px #264872;}
.gnb_section .gn-lst li a {color: #fff;display: block;height: 50px;line-height: 50px;text-align: center;}
.gnb_section { }
.dpeth_menu { position: absolute; left: 0; top: 50px; width: 100%; background: #fff url(../images/common/bg_depth.gif) repeat-x left bottom; height: 211px; z-index: 5;}
.depth2 { margin: 0 auto; width: 960px; position: relative;}
.depth2 > ul { width: 102%;}
.depth2 > ul:after { content: ''; display: block; clear: both;}
.depth2 > ul > li { float: left; width: 24.5%; border-left: 1px solid #e4e4e4;}
.depth2 > ul > li.last { border-right: 1px solid #e4e4e4;}
.depth2 > ul > li > div { height: 192px;}
.depth2 > ul > li > div.on { background: #f2f2f2;}
.depth2 > ul > li > div > ul { padding: 28px 0 0 20px;}
.depth2 > ul > li > div > ul li { line-height: 14px; margin-bottom: 15px;}
.depth2 > ul > li > div > ul li a { display: block; font-size: 14px; color: #333333; line-height: 14px; padding-left: 12px; background: url(../images/common/bullet_depth_off.gif) no-repeat left center;}
.depth2 > ul > li > div > ul li a:hover { background: url(../images/common/bullet_depth_on.gif) no-repeat left center; color: #3792de; text-decoration: underline;}
.depth2 .dpeth_img { position: absolute; right: -220px; top: 21px;}

/* header - 통합검색 */
#header .gnb .search {position: absolute;width: 504px;height: 38px;top: 40px;left: 241px;border: solid 2px #4081b2;}
#header .gnb .search form {width: 100%;}
#header .gnb .search form fieldset {border: none;}
#header .gnb .search form fieldset .f-el .el-h {position: absolute;top: 12px;left: 10px;}
#header .gnb .search form fieldset .f-el .el-b {display: block;margin: 5px 0 0 10px;}
#header .gnb .search form fieldset .f-el .el-b input[type="text"] {border: none;width: 450px;height: 30px;line-height: 30px;}
#header .gnb .search form .sbm {position: absolute;top: 11px;right: 10px;}
#header .gnb .search form .sbm input {vertical-align: top;}
/* 컨텐츠 영역 */
#container {position: relative;margin: 0 auto;max-width: 960px;padding-bottom: 50px;}
#container .path {text-align: left;height: 17px;margin-bottom: 30px;line-height: 17px;}/*2015.05.20 text-align:right 수정*/
#container .path span {display: inline-block;font-size: 14px;margin: 0 0px;}/*2015.05.20 font-size: 12px;margin: 0 10px; 수정*/
#container .path span.path_home {margin: 0;padding-left: 27px;background: url(../images/common/path_home.gif) no-repeat 0 50%;}
#container .path span.current {color: #3c9cd7;text-decoration: underline;}
#container .ctit {margin-bottom: 19px;padding-top: 28px;/*background: url(../images/common/bg_ctit.gif) no-repeat 0 0;*/color: #00498f;font-weight: bold;font-size: 28px;letter-spacing: -0.5px;line-height: 1;}/*2015.05.20 font-size: 36px background: url(../images/common/bg_ctit.gif) no-repeat 0 0;수정*/
#container .smr {margin-bottom: 50px;color: #999;}
#container #contents {clear: both;}
#container #contents h3.ptit {margin-bottom: 30px;padding-bottom: 30px;border-bottom: solid 3px #00498f;font-size: 30px;color: #4f87b6;letter-spacing: -0.5px;line-height: 1;}
#container #contents .ptit_stit { color: #999999; font-size: 14px; padding-top: 15px; font-weight: normal;}
#container #contents #content {position: relative;}
#container #contents #content h4.itit {margin-bottom: 24px;font-size: 20px;color: #333;letter-spacing: -0.6px;line-height: 1;}

/* 탭처리 공통 */
.tabs {width: 100%;margin-bottom: 50px;font-size: 0;overflow: hidden;}
.tabs span,
.tabs a {float: left;width: 50%;height: 60px;background-color: #d9d9d9;font-size: 18px;line-height: 60px;font-weight: bold;color: #fff;text-indent: 20px;}
.tabs-quad span {width: 25%;}
.tabs .active,
.tabs .active {background-color: #4f87b6;}
.tabs * {vertical-align: top;}
.tabs em {font-weight: bold;font-size: 24px;line-height: 60px;}

/* 테이블 공통 */
.tbl-normal {border-top: solid 1px #e1e1e1;width: 100%;}
.tbl-normal th,
.tbl-normal td {padding: 12px 0;border-bottom: solid 1px #e1e1e1;font-size: 14px;color: #222;font-weight: normal;letter-spacing: -0.5px;}
.tbl-normal td {padding-left: 0px;}
.tbl-normal.none-head th {text-align: left;text-indent: 0px;background: url(../images/common/bg_tbl_th.gif) no-repeat 100% 100%;}

/* 셀렉트박스 스타일링 */
.nui-selectbox-select {border: solid 1px #ddd;background-color: #fff;border-top: none; z-index: 150;}
.nui-selectbox-select a {display: block;padding: 7px 5px;}
.nui-selectbox-select a:hover {background-color: #e1e1e1;}
.selectbox_selectArea a {display: block;height: 38px;line-height: 38px;font-size: 14px;color: #666;border: solid 1px #ddd;background: url(../images/tm/bg_sel_box.gif) no-repeat 100% 0;text-indent: 9px;}

/* footer */
#footer {clear: both;width: 100%;padding-top: 23px; padding-bottom: 40px;background-color: #414141;}
#footer .footer-in {position: relative; max-width: 960px;margin: 0 auto;background: url(../images/common/f_logo.gif) no-repeat 0 3px;}
#footer .footer-in .terms {float: left;font-size: 0;margin: 0 0 17px 200px;padding-top: 3px;}
#footer .footer-in .terms li {display: inline-block;font-size: 13px;height: 12px;line-height: 1;letter-spacing: -0.25px;margin-left: 10px;padding-left: 10px;border-left: solid 1px #6b6b6b;}
#footer .footer-in .terms li:first-child {margin-left: 0;padding-left: 0;border-left: none;}
#footer .footer-in .terms li a {color: #fff;}
#footer .footer-in .relation {float: right;}
#footer .footer-in .relation li {float: left;}
#footer .footer-in .info {clear: both;margin-left: 200px;color: #999;}
#footer .footer-in .info:after { content: ''; display: block; clear: both;}
#footer .footer-in .info .address {font-size: 11px;line-height: 16px;margin-bottom: 6px; float: left; padding-right: 25px;}
#footer .footer-in .info .tel {font-size: 0; float: left;}
#footer .footer-in .info .tel dt,
#footer .footer-in .info .tel dd {display: inline-block;font-size: 11px;}
#footer .footer-in .info .tel dt {margin-right: 4px;}
#footer .footer-in .info .tel dd {margin-right: 14px;}
#footer .footer-in .copyright {color: #999;margin-left: 200px;font-size: 11px;}