.sop-pane {
	left: 0px; top: 0px; position: absolute;
}
.sop-tile {
	left: 0px; top: 0px; position: absolute;
}
.sop-marker-icon {
	left: 0px; top: 0px; position: absolute;
}
.sop-marker-shadow {
	left: 0px; top: 0px; position: absolute;
}
.sop-tile-container {
	left: 0px; top: 0px; position: absolute;
}
.sop-map-pane svg {
	left: 0px; top: 0px; position: absolute;
}
.sop-map-pane canvas {
	left: 0px; top: 0px; position: absolute;
}
.sop-zoom-box {
	left: 0px; top: 0px; position: absolute;
}
.sop-image-layer {
	left: 0px; top: 0px; position: absolute;
}
.sop-layer {
	left: 0px; top: 0px; position: absolute;
}
.sop-container {
	overflow: hidden; -ms-touch-action: none;
}
.sop-tile {
	-webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-user-drag: none;
}
.sop-marker-icon {
	-webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-user-drag: none;
}
.sop-marker-shadow {
	-webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-user-drag: none;
}
.sop-safari .sop-tile {
	image-rendering: -webkit-optimize-contrast;
}
.sop-safari .sop-tile-container {
	width: 1600px; height: 1600px; -webkit-transform-origin: 0 0;
}
.sop-marker-icon {
	display: block;
}
.sop-marker-shadow {
	display: block;
}
.sop-container img {
	max-width: none !important;
}
.sop-container img.sop-image-layer {
	max-width: 15000px !important;
}
.sop-tile {
	visibility: hidden; filter: inherit;
}
.sop-tile-loaded {
	visibility: inherit;
}
.sop-zoom-box {
	width: 0px; height: 0px; z-index: 8; box-sizing: border-box; -moz-box-sizing: border-box;
}
.sop-overlay-pane svg {
	-moz-user-select: none;
}
.sop-pane {
	z-index: 4;
}
.sop-tile-pane {
	z-index: 2;
}
.sop-overlay-pane {
	z-index: 4;
}
.sop-shadow-pane {
	z-index: 5;
}
.sop-marker-pane {
	z-index: 6;
}
.sop-infowindow-pane {
	z-index: 7;
}
.sop-map-pane canvas {
	z-index: 1;
}
.sop-map-pane svg {
	z-index: 2;
}
.sop-vml-shape {
	width: 1px; height: 1px;
}
.lvml {
	display: inline-block; position: absolute; behavior: url(#default#VML);
}
.sop-control {
	position: relative; z-index: 7; pointer-events: auto;
}
.sop-top {
	position: absolute; z-index: 1000; pointer-events: none;
}
.sop-bottom {
	position: absolute; z-index: 1000; pointer-events: none;
}
.sop-top {
	top: 0px; z-index: 1001;
}
.sop-right {
	right: 0px;
}
.sop-bottom {
	bottom: 0px;
}
.sop-left {
	left: 0px;
}
.sop-control {
	clear: both; float: left;
}
.sop-right .sop-control {
	float: right;
}
.sop-top .sop-control {
	margin-top: 10px;
}
.sop-bottom .sop-control {
	margin-bottom: 10px;
}
.sop-left .sop-control {
	margin-left: 10px;
}
.sop-right .sop-control {
	margin-right: 10px;
}
.sop-fade-anim .sop-tile {
	transition:opacity 0.2s linear; opacity: 0; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear;
}
.sop-fade-anim .sop-infowindow {
	transition:opacity 0.2s linear; opacity: 0; -webkit-transition: opacity 0.2s linear; -moz-transition: opacity 0.2s linear; -o-transition: opacity 0.2s linear;
}
.sop-fade-anim .sop-tile-loaded {
	opacity: 1;
}
.sop-fade-anim .sop-map-pane .sop-infowindow {
	opacity: 1;
}
.sop-zoom-anim .sop-zoom-animated {
	transition:transform 0.25s cubic-bezier(0, 0, 0.25, 1); -webkit-transition: -webkit-transform 0.25s cubic-bezier(0, 0, 0.25, 1); -moz-transition: -moz-transform 0.25s cubic-bezier(0, 0, 0.25, 1); -o-transition: -o-transform 0.25s cubic-bezier(0, 0, 0.25, 1);
}
.sop-zoom-anim .sop-tile {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.sop-pan-anim .sop-tile {
	transition:none; -webkit-transition: none; -moz-transition: none; -o-transition: none;
}
.sop-zoom-anim .sop-zoom-hide {
	visibility: hidden;
}
.sop-clickable {
	cursor: pointer;
}
.sop-container {
	
}
.sop-crosshair {
	cursor: crosshair;
}
.sop-crosshair .sop-clickable {
	cursor: crosshair;
}
.sop-infowindow-pane {
	cursor: auto;
}
.sop-control {
	cursor: auto;
}
.sop-dragging .sop-container {
	cursor: move;
}
.sop-dragging .sop-clickable {
	cursor: move;
}
.sop-container {
	background: rgb(221, 221, 221); outline: 0px;
}
.sop-container a {
	color: rgb(0, 120, 168);
}
.sop-container a.sop-active {
	outline: orange solid 2px;
}
.sop-zoom-box {
	background: rgba(255, 255, 255, 0.5); border: 2px dotted rgb(51, 136, 255); border-image: none;
}
.sop-container {
	font: 11px/normal Dotum, Arial, Helvetica, sans-serif; font-size-adjust: none; font-stretch: normal;
}
.sop-bar {
	border-radius: 4px; box-shadow: 0px 1px 5px rgba(0,0,0,0.65);
}
.sop-bar a {
	width: 26px; height: 26px; text-align: center; color: black; line-height: 26px; text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; display: block; background-color: rgb(255, 255, 255);
}
.sop-bar a:hover {
	width: 26px; height: 26px; text-align: center; color: black; line-height: 26px; text-decoration: none; border-bottom-color: rgb(204, 204, 204); border-bottom-width: 1px; border-bottom-style: solid; display: block; background-color: rgb(255, 255, 255);
}
.sop-bar a {
	background-position: 50% 50%; display: block; background-repeat: no-repeat;
}
.sop-control-layers-toggle {
	background-position: 50% 50%; display: block; background-repeat: no-repeat;
}
.sop-bar a:hover {
	background-color: rgb(244, 244, 244);
}
.sop-bar a:first-child {
	border-top-left-radius: 4px; border-top-right-radius: 4px;
}
.sop-bar a:last-child {
	border-bottom-color: currentColor; border-bottom-width: medium; border-bottom-style: none; border-bottom-right-radius: 4px; border-bottom-left-radius: 4px;
}
.sop-bar a.sop-disabled {
	color: rgb(187, 187, 187); cursor: default; background-color: rgb(244, 244, 244);
}
.sop-touch .sop-bar a {
	width: 30px; height: 30px; line-height: 30px;
}
.sop-control-zoom-in {
	font: bold 18px/normal "Lucida Console", Monaco, monospace; text-indent: 1px; font-size-adjust: none; font-stretch: normal;
}
.sop-control-zoom-out {
	font: bold 18px/normal "Lucida Console", Monaco, monospace; text-indent: 1px; font-size-adjust: none; font-stretch: normal;
}
.sop-control-zoom-out {
	font-size: 20px;
}
.sop-touch .sop-control-zoom-in {
	font-size: 22px;
}
.sop-touch .sop-control-zoom-out {
	font-size: 24px;
}
.sop-control-layers {
	background: rgb(255, 255, 255); border-radius: 5px; box-shadow: 0px 1px 5px rgba(0,0,0,0.4);
}
.sop-control-layers-toggle {
	width: 36px; height: 36px; background-image: url("images/layers.png");
}
.sop-retina .sop-control-layers-toggle {
	background-image: url("images/layers-2x.png"); background-size: 26px 26px;
}
.sop-touch .sop-control-layers-toggle {
	width: 44px; height: 44px;
}
.sop-control-layers .sop-control-layers-list {
	display: none;
}
.sop-control-layers-expanded .sop-control-layers-toggle {
	display: none;
}
.sop-control-layers-expanded .sop-control-layers-list {
	display: block; position: relative;
}
.sop-control-layers-expanded {
	background: rgb(255, 255, 255); padding: 6px 10px 6px 6px; color: rgb(51, 51, 51);
}
.sop-control-layers-selector {
	top: 1px; margin-top: 2px; position: relative;
}
.sop-control-layers label {
	display: block;
}
.sop-control-layers-separator {
	margin: 5px -10px 5px -6px; height: 0px; border-top-color: rgb(221, 221, 221); border-top-width: 1px; border-top-style: solid;
}
.sop-container .sop-control-attribution {
	background: rgba(255, 255, 255, 0.7); margin: 0px;
}
.sop-control-attribution {
	padding: 0px 5px; color: rgb(51, 51, 51);
}
.sop-control-scale-line {
	padding: 0px 5px; color: rgb(51, 51, 51);
}
.sop-control-attribution a {
	text-decoration: none;
}
.sop-control-attribution a:hover {
	text-decoration: underline;
}
.sop-container .sop-control-attribution {
	font-size: 11px;
}
.sop-container .sop-control-scale {
	font-size: 11px;
}
.sop-left .sop-control-scale {
	margin-left: 5px;
}
.sop-bottom .sop-control-scale {
	margin-bottom: 5px;
}
.sop-control-scale-line {
	background: rgba(255, 255, 255, 0.5); border-width: medium 2px 2px; border-style: none solid solid; border-color: currentColor rgb(119, 119, 119) rgb(119, 119, 119); padding: 2px 5px 1px; border-image: none; text-align: center; line-height: 1.1; overflow: hidden; font-size: 11px; white-space: nowrap; box-sizing: content-box; text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px #fff; -moz-box-sizing: content-box;
}
.sop-control-scale-image {
	background-position: -78px -332px; width: 54px; height: 10px; overflow: hidden; font-size: 11px; margin-top: -4px; white-space: nowrap; box-sizing: content-box; background-repeat: no-repeat; -moz-box-sizing: content-box;
}
.sop-control-scale-title {
	text-align: center; text-shadow: -1px 0px white, 0px 1px white, 1px 0px white, 0px -1px #fff;
}
:not(:first-child).sop-control-scale-line {
	margin-top: -2px; border-top-color: rgb(119, 119, 119); border-bottom-color: currentColor; border-top-width: 2px; border-bottom-width: medium; border-top-style: solid; border-bottom-style: none;
}
:not(:first-child):not(:last-child).sop-control-scale-line {
	border-bottom-color: rgb(119, 119, 119); border-bottom-width: 2px; border-bottom-style: solid;
}
.sop-touch .sop-control-attribution {
	box-shadow: none;
}
.sop-touch .sop-control-layers {
	box-shadow: none;
}
.sop-touch .sop-bar {
	box-shadow: none;
}
.sop-touch .sop-control-layers {
	border: 2px solid rgba(0, 0, 0, 0.2); border-image: none; background-clip: padding-box;
}
.sop-touch .sop-bar {
	border: 2px solid rgba(0, 0, 0, 0.2); border-image: none; background-clip: padding-box;
}
.sop-infowindow {
	text-align: center; position: absolute;
}
.sop-infowindow-content-wrapper {
	padding: 1px; border-radius: 12px; text-align: left;
}
.sop-infowindow-content {
	margin: 13px 19px; line-height: 1.4;
}
.sop-infowindow-content p {
	margin: 18px 0px;
}
.sop-infowindow-tip-container {
	margin: 0px auto; width: 40px; height: 20px; overflow: hidden; position: relative;
}
.sop-infowindow-tip {
	margin: -10px auto 0px; padding: 1px; width: 17px; height: 17px; transform: rotate(45deg); -webkit-transform: rotate(45deg); -moz-transform: rotate(45deg); -o-transform: rotate(45deg);
}
.sop-infowindow-content-wrapper {
	background: white; box-shadow: 0px 3px 14px rgba(0,0,0,0.4);
}
.sop-infowindow-tip {
	background: white; box-shadow: 0px 3px 14px rgba(0,0,0,0.4);
}
.sop-container a.sop-infowindow-close-button {
	background: none; font: bold 16px/14px Tahoma, Verdana, sans-serif; padding: 4px 4px 0px 0px; top: 0px; width: 18px; height: 14px; text-align: center; right: 0px; color: rgb(195, 195, 195); text-decoration: none; position: absolute; font-size-adjust: none; font-stretch: normal;
}
.sop-container a.sop-infowindow-close-button:hover {
	color: rgb(153, 153, 153);
}
.sop-infowindow-scrolled {
	overflow: auto; border-top-color: rgb(221, 221, 221); border-bottom-color: rgb(221, 221, 221); border-top-width: 1px; border-bottom-width: 1px; border-top-style: solid; border-bottom-style: solid;
}
.sop-oldie .sop-infowindow-content-wrapper {
	-ms-zoom: 1;
}
.sop-oldie .sop-infowindow-tip {
	margin: 0px auto; width: 24px;
}
.sop-oldie .sop-infowindow-tip-container {
	margin-top: -1px;
}
.sop-oldie .sop-control-zoom {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
.sop-oldie .sop-control-layers {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
.sop-oldie .sop-infowindow-content-wrapper {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
.sop-oldie .sop-infowindow-tip {
	border: 1px solid rgb(153, 153, 153); border-image: none;
}
.sop-control-background {
	background-image: url("images/controls-static.png");
}
.sop-control-pan {
	background-position: -52px 0px; width: 60px; height: 63px;
}
.sop-control-pan-left {
	background-position: -104px -63px; width: 8px; height: 13px;
}
.sop-control-pan-right {
	background-position: -130px -77px; width: 8px; height: 13px;
}
.sop-control-pan-left:hover {
	background-position: -130px -90px; width: 8px; height: 13px;
}
.sop-control-pan-right:hover {
	background-position: -125px -112px; width: 9px; height: 12px;
}
.sop-control-pan-up:hover {
	background-position: -125px -156px; width: 12px; height: 10px;
}
.sop-control-pan-up {
	background-position: -125px -166px; width: 12px; height: 10px;
}
.sop-control-pan-down:hover {
	background-position: -125px -124px; width: 12px; height: 9px;
}
.sop-control-pan-down {
	background-position: -130px -243px; width: 12px; height: 9px;
}
.sop-div-icon {
	background: rgb(255, 255, 255); border: 1px solid rgb(102, 102, 102); border-image: none;
}
.sop-control-zoomSlider-wrap {
	border-bottom-color: rgb(204, 204, 204); border-bottom-width: 0px; border-bottom-style: solid; background-color: transparent;
}
.sop-control-zoomSlider-bar-deactive {
	background-position: -26px 0px !important; border: 0px currentColor; border-image: none; width: 26px; height: 180px;
}
.sop-control-zoomSlider-bar-active {
	background-position: 0px 0px !important; border: 0px currentColor; border-image: none; width: 26px; height: 180px;
}
.sop-control-zoomSlider-bar-levelInfo-background {
	background-image: url("images/controls-static2.png");
}
.sop-control-zoomSlider-bar-levelInfo-left {
	left: 30px; top: 30px; position: absolute;
}
.sop-control-zoomSlider-bar-levelInfo-left-1 {
	background-position: 0px -347px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-left-3 {
	background-position: 0px -332px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-left-5 {
	background-position: 0px -317px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-left-8 {
	background-position: 0px -302px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-left-11 {
	background-position: 0px -287px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-left-13 {
	background-position: -78px -301px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-right {
	left: -45px; top: 30px; position: absolute;
}
.sop-control-zoomSlider-bar-levelInfo-right-1 {
	background-position: -39px -347px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-right-3 {
	background-position: -39px -332px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-right-5 {
	background-position: -39px -317px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-right-8 {
	background-position: -39px -302px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-right-11 {
	background-position: -39px -287px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-bar-levelInfo-right-13 {
	background-position: -78px -301px; width: 39px; height: 15px;
}
.sop-control-zoomSlider-slider {
	background-position: -110px -243px; width: 20px; height: 11px; margin-left: 3px; position: relative;
}
.sop-control-zoomSlider-bar-deactive:hover {
	cursor: pointer;
}
.sop-control-zoomSlider-bar-active:hover {
	cursor: pointer;
}
.sop-control-zoomSlider-slider:hover {
	cursor: default;
}
.sop-control-zoomSlider-slider:active {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider-wrap {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider-bar-deactive {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider-bar-active {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider a {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider a.sop-control-zoomSlider-disabled {
	cursor: move;
}
.sop-dragging .sop-control-zoomSlider-slider:hover {
	cursor: move;
}
.sop-container .sop-control-zoomSlider {
	margin-top: 10px; margin-left: 10px; box-shadow: none;
}
.sop-control-zoomSlider a {
	width: 26px; height: 26px; text-align: center; color: black; text-decoration: none; display: block;
}
.sop-control-zoomSlider a:hover {
	background-color: rgb(244, 244, 244);
}
.sop-control-zoomSlider-in {
	background-position: -112px -26px !important; font: bold 18px/normal "Lucida Console", Monaco, monospace; width: 26px; height: 26px; font-size-adjust: none; font-stretch: normal;
}
.sop-control-zoomSlider-in::after {
	content: "";
}
.sop-control-zoomSlider-out {
	background-position: -112px 0px !important; font: bold 22px/normal "Lucida Console", Monaco, monospace; width: 26px; height: 26px; font-size-adjust: none; font-stretch: normal;
}
.sop-control-zoomSlider-out::after {
	content: "";
}
.sop-control-zoomSlider a.sop-control-zoomSlider-disabled {
	color: rgb(187, 187, 187); cursor: default;
}
.sop-touch .sop-control-zoomSlider-bar-active {
	background-position: 10px 0px;
}
.sop-touch .sop-control-zoomSlider-bar-deactive {
	background-position: 10px 0px;
}
.sop-touch .sop-control-zoomSlider-slider {
	width: 16px; margin-left: -7px;
}
.sop-touch .sop-control-zoomSlider a {
	width: 30px; line-height: 30px;
}
.sop-touch .sop-control-zoomSlider a:hover {
	width: 30px; line-height: 30px;
}
.sop-touch .sop-control-zoomSlider-in {
	line-height: 29px; font-size: 24px;
}
.sop-touch .sop-control-zoomSlider-out {
	line-height: 30px; font-size: 28px;
}
.sop-touch .sop-control-zoomSlider {
	border: 4px solid rgba(0, 0, 0, 0.3); border-image: none;
}
.icon {
	background-position: -110px -243px; width: 20px; height: 11px; margin-left: 3px; position: relative;
}
.sop-caption {
	padding-top: 10px; font-size: 9pt; font-weight: bold; white-space: nowrap; position: absolute; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-user-drag: none;
}
.sop-caption-span {
	padding: 2px;
}
.sop-control-measure {
	margin-top: 10px; margin-left: 10px; box-shadow: none;
}
.sop-distance-out {
	background-position: -52px -63px; width: 26px; height: 25px;
}
.sop-distance-selected {
	background-position: -112px -52px; width: 26px; height: 25px;
}
.sop-area-selected {
	background-position: -104px -77px; width: 26px; height: 25px;
}
.sop-area-out {
	background-position: -78px -63px; width: 26px; height: 25px;
}
.sop-clear-out {
	background-position: -78px -88px; width: 26px; height: 24px;
}
.sop-clear-out:hover {
	background-position: -52px -88px; width: 26px; height: 24px;
}
.sop-distance-start {
	background-position: -75px -265px; width: 37px; height: 21px;
}
.sop-distance-icon {
	background-position: -127px -145px; width: 11px; height: 11px;
}
.sop-distance-delete {
	background-position: -107px -156px; width: 18px; height: 17px; position: absolute;
}
.sop-area-icon {
	background-position: -127px -134px; width: 11px; height: 11px;
}
.sop-area-delete {
	background-position: -107px -112px; width: 18px; height: 17px;
}
.sop-measure-infoWindow {
	line-height: normal; font-size: 12px; font-style: normal; font-weight: bold; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none; -webkit-user-drag: none; align: center;
}
.sop-masure-infoValue {
	padding-left: 10px;
}
.sop-measure-bluemouse {
	background-position: -112px -254px; width: 11px; height: 16px; display: inline-block;
}
.sop-measure-orangeemouse {
	background-position: -124px -254px; width: 11px; height: 16px; display: inline-block;
}
.sop-measusre-distanceInfo {
	padding-top: 3px; font-size: 12px; font-style: normal; font-weight: bold; margin-top: 5px;
}
.sop-measusre-areaInfo {
	padding-top: 3px; font-size: 12px; font-style: normal; font-weight: bold; margin-top: 5px;
}
.sop-cluster-anim .sop-marker-icon {
	transition:transform 0.3s ease-out, opacity 0.3s ease-in; -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in; -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
}
.sop-cluster-anim .sop-marker-shadow {
	transition:transform 0.3s ease-out, opacity 0.3s ease-in; -webkit-transition: -webkit-transform 0.3s ease-out, opacity 0.3s ease-in; -moz-transition: -moz-transform 0.3s ease-out, opacity 0.3s ease-in; -o-transition: -o-transform 0.3s ease-out, opacity 0.3s ease-in;
}
.marker-cluster-small1 {
	background-image: url("images/markercluster/markercluster-1.png");
}
.marker-cluster-small2 {
	background-image: url("images/markercluster/markercluster-2.png");
}
.marker-cluster-small3 {
	background-image: url("images/markercluster/markercluster-3.png");
}
.marker-cluster-medium1 {
	background-image: url("images/markercluster/markercluster-4.png");
}
.marker-cluster-medium2 {
	background-image: url("images/markercluster/markercluster-5.png");
}
.marker-cluster-medium3 {
	background-image: url("images/markercluster/markercluster-6.png");
}
.marker-cluster-large {
	background-image: url("images/markercluster/markercluster-7.png");
}
.marker-cluster {
	
}
.marker-cluster div {
	font: 12px/normal "Helvetica Neue", Arial, Helvetica, sans-serif; border-radius: 15px; width: 50px; height: 50px; text-align: center; margin-top: 5px; margin-left: 5px; font-size-adjust: none; font-stretch: normal;
}
.marker-cluster span {
	color: rgb(255, 255, 255); line-height: 50px;
}
.statsData {
	font-family: "³ª´®¹Ù¸¥°íµñ", "NanumBarunGothic", nbg;
}
.sop-tooltip {
	background: padding-box rgba(255, 255, 255, 1); font: bold 12px/20px "³ª´®¹Ù¸¥°íµñ", "NanumBarunGothic", nbg; padding: 1px 6px; border-radius: 10px; border: 4px solid rgba(255, 255, 255, 0); color: rgb(17, 17, 17); display: block; white-space: nowrap; position: absolute; z-index: 6; font-size-adjust: none; font-stretch: normal; pointer-events: none; -ms-user-select: none; -webkit-user-select: none; -moz-user-select: none; user-select: none;
}
.sop-clickable.sop-tooltip {
	cursor: pointer; pointer-events: auto;
}
.sop-tooltip::before {
	top: 5px; border-top-color: transparent; border-bottom-color: transparent; border-top-width: 6px; border-bottom-width: 6px; border-top-style: solid; border-bottom-style: solid; position: absolute; content: none;
}
.sop-tooltip::after {
	top: 5px; border-top-color: transparent; border-bottom-color: transparent; border-top-width: 6px; border-bottom-width: 6px; border-top-style: solid; border-bottom-style: solid; position: absolute; content: none;
}
.sop-tooltip::before {
	left: -10px; border-right-color: inherit; border-right-width: 6px; border-right-style: solid;
}
.sop-tooltip::after {
	right: -10px; border-left-color: inherit; border-left-width: 6px; border-left-style: solid;
}
.sop-tooltip-right::before {
	content: "";
}
.sop-tooltip-left::after {
	content: "";
}
