.wrapper {
	width: 100%;
	height: auto;
	overflow: hidden;
	min-width: 960px;
}

.header {
	width: 100%;
	height: auto;
	overflow: hidden;
	padding: 0;
	margin: 0 auto;
	background: white;
	position: relative;
}

.container {
	width: 900px;
	height: auto;
	overflow: hidden;
	margin: 0 auto;
	position: relative;
	min-height: 500px;
}

.containerFull {
	width: 100%;
	height: auto;
	/* overflow: hidden; */
	margin: 0 auto;
	position: relative;
	min-height: 500px;
}

.header .defaultbox {
	width: 900px;
	height: auto;
	overflow: hidden;
	position: relative;
	margin: 0 auto;
	text-align: center;
	line-height: 45px;
}

.header .nav {
	width: 900px;
	height: 45px;
	overflow: hidden;
	margin: auto;
}
.header .nav ul {
	width: 900px;
	height: 42px;
	overflow: hidden;
	margin: 0 auto;
}
.header .nav ul li {
	float: left;
	list-style: none;
	width: 210px;
	height: 42px;
	overflow: hidden;
	line-height: 42px;
	text-align: center;
	font-size: 15px;
}
.header .nav ul li:first-child {
	background: none;
}
.header .nav ul li a {
	color: #333;
	display: block;
	height: 40px;
}
.header .nav ul li a.nvalist01{
	color: #333;
	border-bottom: 2px solid #607089;
}
.header .nav ul li a.nvalist02{
	color: #333;
	border-bottom: 2px solid #5ea989;
}
.header .nav ul li a.nvalist03{
	color: #333;
	border-bottom: 2px solid #d46447;
}
.header .nav ul li a.nvalist04{
	color: #333;
	border-bottom: 2px solid #6d4292;
}
.header .nav ul li a.nvalist05{
	color: #333;
	border-bottom: 2px solid #d1a462;
}

.submenu {
	width: 830px;
	height: auto;
	overflow: hidden;
	background-color: #EAEAEA;
	position: absolute;
	left: 1;
	top: 85px;
	z-index: 990;
	padding: 15px;
}
.submenu a {
	display: block;
	width: 160px;
	height: 20px;
	overflow: hidden;
	line-height: 20px;
	margin: 5px auto;
}
.header .nav .submenu ul {
	width: 900px;
	height: 42px;
	overflow: hidden;
	margin: auto;
}
.header .nav .submenu ul li {
	float: left;
	list-style: none;
	width: 160px;
	height: 42px;
	overflow: hidden;
	line-height: 42px;
	text-align: center;
	font-size: 15px;
}
.header .defaultbox>.etc {
	position: absolute;
	right: 25px;
	top: 6px;
	display: inline;
}

.bottom {
	width: 100%;
	height: 150px;
	background: #E7E7E7;
	text-align: center;
	line-height: 200px;
}

.submenu_title {
	width: 208px;
	text-align: center;
}

#board_lists_paging{text-align:center;}
	a.paging-item,a.paging-side{margin:0 .25em;}
	a.paging-item.selected{font-weight:bold; color:RED;}