@import url("/contents/css/common/base.css");

/*header*/
#wrap {width:100%;}
#header {position:relative; width:940px; height:130px; margin-bottom:17px; margin-left:38px;}
#header h1 {position:absolute; top:9px; left:0; z-index:3;}
#header #gnb {float:right; margin:26px 0 10px 10px; padding-right:20px;}
#header #gnb li {float:left;}
#header #gnb li.ny_dot {padding:0 5px 0 18px; background:url('../../contents/images/ny_dot_01.gif') 4px 2px no-repeat;}

#q_lnb, #q_snb, #q_contents, #q_footer {font-size:0; height:0; visibility:hidden;}

/*gnbž�޴�*/
#lnb {position:absolute; top:57px; left:0px; width:525px; height:38px; z-index:10; background:url('../../contents/images/ny_top_bg.gif') 15px 0 no-repeat;}
#lnb img {vertical-align:top;}
#lnb #lnb1,
#lnb #lnb2,
#lnb #lnb3,
#lnb #lnb4{text-align:center; font-weight:bold; color:#666;}
#lnb #lnb1 {left:0; width:143px; font-size:14px;}
#lnb #lnb2 {width:147px; font-size:14px;}
#lnb #lnb3 {width:129px; font-size:14px;}
#lnb #lnb4 {width:96px; font-size:14px;}
#lnb1 a, #lnb2 a, #lnb3 a, #lnb4 a {display:block; height:38px; text-align:center; padding-top:5px;}
#lnb a:link span, 
#lnb a:visited span {color:#666; display:block;}
#lnb a:hover span, 
#lnb a:active span {color:#006DB8; display:block;}
#lnb li a:link, 
#lnb li a:visited {color:#666; text-align:center;}
#lnb li a:hover, 
#lnb li a:active {color:#1a3f7b; text-align:center;}
#lnb li li a {display:inline; height:32px;}
#lnb ul ul {position:absolute;	font-size:12px;	background:url('../../contents/images/bx_lnb_bg.gif') no-repeat; height:32px; left:8px;}
#lnb #lnb101 {width:918px; margin-left:-10px;}
#lnb #lnb201 {width:918px; margin-left:-10px;}
#lnb #lnb301 {width:918px; margin-left:-10px;}
#lnb #lnb401 {width:918px; margin-left:-10px;}
#lnb ul {padding:0; margin:0;}
#lnb li {float:left;}
#lnb li .over {background:url('../../contents/images/bx_lnb_point.gif') no-repeat bottom; height:38px; font-size:14px; color:#207ACD; font-weight:bold;}
#lnb li li {float:left; letter-spacing:-1px; white-space:nowrap; padding:7px 3px 0 18px; background:url('../../contents/images/bx_lnb_bar.gif') 8px 10px no-repeat;}
#lnb li.nb {background-image:none; border:none;}

/*�α��ο���*/
#login {position:absolute; left:518px; top:57px; width:397px; z-index:10;}
#login .login_top_bg{background:url('../../contents/images/search_ny_top.gif') no-repeat; width:397px; height:10px;}
#login .login_center{width:393px; border-left:solid 2px #117FD3; border-right:solid 2px #117FD3; margin-top:-2px; height:32px;}
#login .search_t {border:0; letter-spacing:-1px; vertical-align:middle;}
#login .search_t legend {display:none;}
#login .search_t img {vertical-align:middle;}
#login .search_t input.inp {width:89px; border:solid 1px #B0D2E9;}
#login .search_t dt, #login .search_t dd, #login .search_t dl {float:left;}
#login .search_t dt, #login .search_t dd{padding:5px 3px 0 7px; text-align:center;}
#login .search_t ul li{font-size:11px; padding:6px 0 0 0; line-height:9px; margin-top:-2px; marin-left:-2px;}

/*container ��������ü*/
#container {position:relative; width:940px; float:left; padding-left:38px;}

/*nav����޴�����*/
#subnav {float:left; width:216px;}
#snb {float:left; width:216px; padding-bottom:20px;  background:url('../../contents/intro/images/intro_left_bottom.gif') no-repeat bottom left;}
#snb h2 {padding:23px 0 0 24px; height:35px; background:url('../../contents/intro/images/intro_left_title.gif') no-repeat;}
#snb ul {width:181px; padding-left:14px; letter-spacing:-1px; font-weight:bold;}
#snb ul ul {width:167px; padding-left:14px; letter-spacing:-1px;  border:solid 1px #CAE3EE; background:#EAF4FB; font-weight:normal;}
#snb li {border-bottom:solid 1px #e1e1e1; font-size:12px; display:liline; padding:2px 0 2px 0;}
#snb li a:link, 
#snb li a:visited {color:#666; display:block; padding:5px 10px 5px 12px; background:url('../../contents/intro/images/intro_left_dot.gif') 6px 10px no-repeat;}
#snb li a:hover, 
#snb li a:active {color:#006DB8; display:block; padding:5px 10px 5px 12px; background:url('../../contents/intro/images/intro_left_dot.gif') 6px 10px no-repeat;}
#snb li li { border:0; line-height:0; padding:0; font-size:12px; line-height:100%; padding:5px 0 1px 0;}
#snb li li a:link, 
#snb li li a:visited {color:#666; display:block; padding:0 3px 0 10px; background:url('../../contents/intro/images/intro_left_dot_01.gif') 1px 5px no-repeat;}
#snb li li a:hover, 
#snb li li a:active {color:#006DB8; display:block;  padding:0 3px 0 10px; background:url('../../contents/intro/images/intro_left_dot_01.gif') 1px 5px no-repeat;}

/*contants*/
#contents {float:left; width:680px; border:1px solid #ccc; margin-left:10px; display:inline;}
#contents #loc {float:right; text-align:right; background-color:#CCCC66;}
#contents h3 {padding:5px;}
#contents .titletext {width:670px; padding-left:10px;}
#contents .subbox {width:640px; padding-top:30px; padding-left:40px; overflow:auto;}
#contents .subbox li{float:left; width:168px; height:83px; border:1px solid #ccc; margin-right:40px; margin-top:20px;}
#contents .notice_text_box{ width:645px; margin:13px; border:1px solid #ccc; overflow:auto; padding:5px;}
ul.left_ball li {padding-left:18px; background:url('../../images/dot_01.gif') 6px 6px no-repeat;}

/*footer*/
#footer {clear:both; position:relative; width:940px; height:71px; background-color:#D0F7F2; margin-left:39px;}
#footer .f_logo {padding:20px; width:200px;}
#footer .f_policy {position:absolute; left:150px; top:20px;}
#footer .f_policy li {float:left; padding:0 5px;}
#footer address {position:absolute; left:155px; top:50px;}
#footer .f_count {position:absolute; left:770px; top:16px; width:142px; height:37px; border:1px solid #ccc; background-color:#348FC7;}
.today_count{width:140px; height:44px; float:left; padding:0xp; margin:0px; margin-top:15px;}
.today_count dt{height:14px; width:60px; float:left; margin:0px; padding:0px;}
.today_count dd{height:14px; width:80px; float:left; margin:0px; padding:0px; text-align:right;}

