@import url("/contents/css/common/base.css");
@import url("/contents/css/common/bbs.css");
@import url("/contents/css/common/common.css");

/*header*/
#wrap {position:relative;margin:0 auto; width:100%; background-position: center; }
#header {position:relative; width:1024px; height:89px; margin-bottom:10px; margin-left:20px;  background-position: center; z-index:998;}
#header h1 { position:absolute; top:9px; left:0;  width:230px; height:40px; z-index:5;}
#header .mainbtn_img {position:absolute; top:30px; right:205px; z-index:5; height:20px;}
#header .mainbtn_img_01 {position:absolute; top:30px; right:295px; z-index:5; height:20px;}
#header #gnb {position:absolute; width:174px; height:20px; background:url('/contents/images/new/gnb_bg.gif') no-repeat; top:30px; right:25px;}
#header #gnb li {float:left; display:inline; margin:0 10px 0 5px;}
#header #gnb li a{ color:#FFFFFF;}
#header #gnb li.ny_dot {background:url('/contents/images/new/ny_dot_01.gif') no-repeat 4px 2px ; padding-left:17px;}

#header #gnb_01 {position:absolute; width:264px; height:20px; background:url('/contents/images/new/mypage_bg.gif') no-repeat; top:30px; right:25px;}
#header #gnb_01 li {float:left; display:inline; margin:0 10px 0 5px;}
#header #gnb_01 li a{ color:#FFFFFF;}
#header #gnb_01 li.ny_dot {background:url('/contents/images/new/ny_dot_01.gif') no-repeat 4px 2px ; padding-left:17px;}

#q_lnb, #q_snb, #q_contents, #q_footer {font-size:0; height:0; visibility:hidden;}

/*gnb�깙硫붾돱*/
#lnb {clear:both; position:relative; width:525px; height:38px; padding-top:60px;}
#lnb img {vertical-align:top;}
#lnb #lnb1, #lnb #lnb2, #lnb #lnb3, #lnb #lnb4 {text-align:left; font-weight:bold; color:#666;}
#lnb #lnb1 {left:0; width:143px; font-size:14px;}
#lnb #lnb2 {width:147px; font-size:14px;}
#lnb #lnb3 {width:129px; font-size:14px;}
#lnb #lnb4 {width:96px; font-size:14px;}
#lnb1 a, #lnb2 a, #lnb3 a, #lnb4 a {display:block; height:38px; vertical-align:top;}
#lnb li a:link, #lnb li a:visited {color:#666; text-align:center;}
#lnb li a:hover, #lnb li a:active {color:#1a3f7b; text-align:center;}
#lnb li li a {height:38px; display:inline;}
#lnb ul ul {position:absolute;	font-size:12px;	background:url('/contents/images/new/bx_lnb_bg.gif') no-repeat; height:36px; left:8px;}

#lnb #lnb101 {width:936px; margin-left:-10px;}
#lnb #lnb101_over {width:936px; margin-left:-10px; background:url('/contents/images/new/bx_lnb_bg_01.gif') no-repeat;}

#lnb #lnb201 {width:936px; margin-left:-10px;}
#lnb #lnb201_over {width:936px; margin-left:-10px; background:url('/contents/images/new/bx_lnb_bg_02.gif') no-repeat;}

#lnb #lnb301 {width:936px; margin-left:-10px;}
#lnb #lnb301_over {width:936px; margin-left:-10px; background:url('/contents/images/new/bx_lnb_bg_03.gif') no-repeat;}

#lnb #lnb401 {width:936px; margin-left:-10px;}
#lnb #lnb401_over {width:936px; margin-left:-10px; background:url('/contents/images/new/bx_lnb_bg_04.gif') no-repeat;}

#lnb ul {padding:0; margin:0;}
#lnb li {float:left;}
#lnb li li {letter-spacing:-1px; white-space:nowrap; background:url('/contents/images/new/bx_lnb_bar.gif') 8px 16px no-repeat; padding:13px 5px 0 18px; }
#lnb li.nb {background-image:none; border:none;}

/*濡쒓렇�씤�쁺�뿭*/
#login {position:absolute; left:518px; top:60px; width:397px; z-index:11;}
#login .login_top_bg{background:url('/contents/images/new/search_ny_top.gif') no-repeat; width:397px; height:10px; font-size:0px;}
#login .login_center{width:393px; border-left:solid 2px #117FD3; border-right:solid 2px #117FD3;  height:25px;}
#login .search_t {border:0;}
#login .search_t legend {display:none;}
#login .search_t img {vertical-align:middle;}
#login .search_t input.inp {width:89px;}
#login .search_t dt, #login .search_t dd, #login .search_t dl {float:left; padding:1px 3px 0 5px;}
#login .search_t ul {float:left;}
#login .search_t ul li{font-size:11px; padding-top:2px; line-height:9px; margin:0;}

#login .search_t .search_d { float:right;}
#login .search_t .search_d img { vertical-align:middle;}

/*濡쒓렇�븘�썐*/
#login .search_t01 { border:0;}
#login .search_t01 legend {display:none;}
#login .search_t01 img {vertical-align:middle;}
#login .search_t01 dt, #login .search_t01 dd, #login .search_t01 dl {float:left; padding:1px 3px 0 5px;}
#login .search_t01 dl {padding-left:50px;}
#login .search_t01 ul {float:left;}
#login .search_t01 ul li{font-size:11px; padding-top:2px; line-height:9px; margin:0;}

/* main */
#main_container {position:relative; width:1030px; float:left; }
#main_contents {float:left; width:970px; padding-bottom:20px;}

/*left*/
#main_contents #main_left { width:336px; float:left;}

/*popup*/
#main_left .in_pop {width:294px; float:left; margin-left:23px; display:inline;  background:#2461A2; position:relative; z-index:5; }
#main_left .in_pop h3 {color:#FFFFFF; padding-top:8px; height:25px; padding-left:10px; float:left;}

#main_left .in_pop .play_stop { padding-top:10px; height:23px; padding-left:10px; float:left;}

#main_left .in_pop dl {width:292px; height:212px; border:solid 1px #D3DFEB; background:#FFFFFF; float:left;} 
#main_left .in_pop dt img {vertical-align:top;}
#main_left .in_pop .main_title {position:absolute; top:3px; left:90px; width:115px; color:#fff;}
#main_left .in_pop .a_text_01 {position:absolute; top:192px; right:55px; z-index:3;}
#main_left .in_pop .a_text_02 {position:absolute; top:192px; right:5px; z-index:3; }
#main_left .in_pop .view_text { width:280px; height:150px; overflow:auto; border:solid 1px #C3C3C3; position:absolute; top:213px; left:0px; background:#FFFFFF; padding:5px;}
#main_left .in_pop .main_pop_img {position:absolute; top:35px; left:2px; margin:0; padding:0; z-index:5; background:#FFFFFF; height:208px;}
#main_left .in_pop .main_close {position:absolute; top:374px; left:242px; height:18px; z-index:3;}

#main_left .in_pop .num01 { position:absolute; top:9px; left:88px; }
#main_left .in_pop .num02 { position:absolute; top:9px; left:106px;}
#main_left .in_pop .num03 { position:absolute; top:9px; left:125px; }
#main_left .in_pop .num04 { position:absolute; top:9px; left:143px;}
#main_left .in_pop .num05 { position:absolute; top:9px; left:161px;}
#main_left .in_pop .num06 { position:absolute; top:7px; right:3px;}

#main_left .swf_box {width:330px; clear:both;}

/* notice */
#main_left #main_notice {position:relative; width:300px; margin-left:20px; background:url('/contents/images/new/left_bar.gif') no-repeat; clear:both; z-index:3;}
#main_left #main_notice #h4_tab01{position:absolute; top:35px; left:8px; color:#727272; height:19px; z-index:1;}
#main_left #main_notice #h4_tab02{position:absolute; top:35px; left:78px; color:#727272;  height:19px; z-index:1;}
#main_left #main_notice #h4_tab03{position:absolute; top:35px; left:150px; color:#727272;  height:19px; z-index:1;}
#main_left #main_notice #h4_tab04{position:absolute; top:35px; left:222px; color:#727272;  height:19px; z-index:1;}

#main_left #main_notice .notice_more {position:absolute; top:12px; left:250px; z-index:1;}
#main_left #main_notice .notice_area {clear:both; width:300px; padding-top:35px; height:147px;}
#main_left #main_notice .notice_area li {clear:both; width:290px; background:url('/contents/images/new/left_dot.gif') no-repeat 3px 8px; padding-left:12px; height:20px;}
#main_left #main_notice .notice_area li a {float:left; font-size:12px;}
#main_left #main_notice .notice_area li span {float:left; font-size:12px; color:#8E8E8E; padding-right:20px;}



/*center*/
#main_contents #main_center { width:425px; float:left; position:relative;}
#main_center .main_search_box {width:416px; background:#4C9FDE; float:left; padding:2px; border:0; margin-bottom:8px;}
#main_center .main_search_box legend { display:none;}
#main_center .main_search_box p {background:#fff; float:left; padding:3px;}

#main_center .second_mapbox {width:395px; border:solid 2px #4C9FDE; padding:10px; float:left; position:relative; background:#fff;}
#main_center .second_mapbox h4{ float:left;}
#main_center .second_mapbox .right_button {position:absolute; top:18px; left:21px;}
#main_center .second_mapbox .left_button {position:absolute; top:18px; right:87px;}
#main_center .second_mapbox .second_tab01 {position:absolute; top:11px; left:44px;}
#main_center .second_mapbox .second_tab02 {position:absolute; top:11px; left:170px;}

#main_center .second_mapbox .main_sub_tab {position:absolute; top:41px; left:10px; background:url('/contents/images/new/meny_f_bg.gif') no-repeat; z-index:50; width:183px; height:31px;}
#main_center .second_mapbox .main_sub_tab h5 { float:left; padding-left:10px; padding-top:7px;}

#main_center .second_mapbox .second_area { padding-top:30px; width:390px; height:230px; background:#D2E7F7;  z-index:40;}
#main_center .second_mapbox .second_area_01 { width:390px; height:249px; background:url('/contents/images/new/graying.jpg') no-repeat; clear:both;}
#main_center .second_mapbox .second_area_01 li { float:left; width:135px; margin-left:50px; display:inline; height:30px; color:#004A57; font-size:12px; font-weight:bold; letter-spacing:-2px;}
#main_center .second_mapbox .news_long { width:390px; margin-top:2px; float:left; background:#D2E7F7; padding-bottom:5px; padding-top:7px;}
#main_center .second_mapbox .news_long .longhid{ width:310px; float:left; overflow:hidden; font-size:12px; font-weight:bold; color:#000000; height:15px;}

#main_center .deep_search { width:425px; clear:both; padding-top:10px;}
#main_center .deep_search  h4{ float:left; padding:0 5px 0 5px;}
#main_center .deep_search  h5{ padding-top:5px; padding-left:5px;}
#main_center .deep_search .main_top_01 {background:url('/contents/images/new/main_top.gif') no-repeat; width:313px; height:5px; font-size:0;}
#main_center .deep_search .main_bom_01 {background:url('/contents/images/new/main_bom.gif') no-repeat; width:313px; height:5px;  font-size:0;}
#main_center .deep_search .main_cen_01 {background:url('/contents/images/new/main_cen.gif') repeat-y; width:313px; height:148px;}
#main_center .deep_search_box { border:0; float:left;}
#main_center .deep_search_box legned{ display:none;}
#main_center .deep_search_box dl, #main_center .deep_search_box dt, #main_center .deep_search_box dd{float:left;}
#main_center .deep_search_box dl { width:300px; padding:5px;}
#main_center .deep_search_box dt { width:95px; padding-top:5px; padding-left:12px; background:url('/contents/images/new/main_dot.gif') 2px 10px no-repeat;}
#main_center .deep_search_box dd {width:190px; padding-top:5px;}

#main_center #main_information {position:relative; width:397px; background:url('/contents/images/new/information_bar.gif') no-repeat;}
#main_center #main_information .info_tab01{position:absolute; top:3px; left:8px; color:#727272; height:17px;}
#main_center #main_information .info_tab02{position:absolute; top:3px; left:109px; color:#727272;  height:17px;}
#main_center #main_information .info_tab03{position:absolute; top:3px; left:209px; color:#727272;  height:17px;}
#main_center #main_information .info_area {clear:both; width:380px; padding-top:30px; height:147px;}
#main_center #main_information .info_area li {clear:both; width:380px; background:url('/contents/images/new/left_dot.gif') no-repeat 3px 8px; padding-left:12px; height:20px;  }
#main_center #main_information .info_area li a {float:left; font-size:12px;}
#main_center #main_information .info_area li img {float:left; vertical-align:middle;}
#main_center #main_information .info_area li span {float:left; font-size:12px; color:#FF5926; padding-right:20px;}

.main_f { width:390px; height:297px; background:url('/contents/images/new/main_f.gif') no-repeat;}
.main_f .indexmap_box { width:370px; padding:5px; border:0;}
.main_f .indexmap_box legend { display:none;}
.main_f .indexmap_box dl,.main_f .indexmap_box dt,.main_f .indexmap_box dd{float:left;}
.main_f .indexmap_box dl { width:260px; padding:5px;}
.main_f .indexmap_box dt { width:95px; padding-top:5px; padding-left:12px; background:url('/contents/images/new/main_dot.gif') 2px 10px no-repeat; font-weight:bold; height:20px;}
.main_f .indexmap_box dd {width:150px; padding-top:5px;  height:20px;}



/*right*/
#main_contents #main_right { width:200px; float:left;}
#main_right .right_one { margin-top:10px; margin-bottom:10px;}
#main_right .right_one .right_top {background:url('/contents/images/new/right_top.gif') no-repeat; width: 200px; height:7px; font-size:0;  clear:both;} 
#main_right .right_one .right_bom {background:url('/contents/images/new/right_bom.gif') no-repeat; width: 200px; height:7px; font-size:0; clear:both;}
#main_right .right_one .right_cen {background:url('/contents/images/new/right_cen.gif') repeat-y; width: 200px; height:295px; padding:2px; float:left;}
#main_right .right_one .right_cen ul li{ float:left; padding-bottom:16px;}

#main_right .right_two { margin-top:10px; margin-bottom:10px;}
#main_right .right_two .right_top01 {background:url('/contents/images/new/right_top.gif') no-repeat; width: 200px; height:7px; font-size:0;  clear:both;} 
#main_right .right_two .right_bom01 {background:url('/contents/images/new/right_bom.gif') no-repeat; width: 200px; height:7px; font-size:0; clear:both;}
#main_right .right_two .right_cen01 {background:url('/contents/images/new/right_cen.gif') repeat-y; width: 200px; padding:2px; float:left;}
#main_right .right_two .right_cen01 span{ float:left; padding:3px 3px 0 3px;}
#main_right .right_two .right_cen01 ul {background:url('/contents/images/new/main_middle_box_bg.gif') no-repeat; width:144px; float:left;}
#main_right .right_two .right_cen01 ul li{ float:left; padding:3px 0  5px 10px;}

#main_right .right_three {margin-top:10px; margin-bottom:10px; width:200px;}
#main_right .right_three h4 {margin-bottom:3px; margin-top:3px;}
#main_right .right_three .right_top02 {background:url('/contents/images/new/right_top_1.gif') no-repeat; width: 200px; height:13px; font-size:0;  clear:both;} 
#main_right .right_three .right_bom02 {background:url('/contents/images/new/right_bom_1.gif') no-repeat; width: 200px; height:13px; font-size:0; clear:both;}
#main_right .right_three .right_cen02 {background:url('/contents/images/new/right_cen_1.gif') repeat-y; width: 180px; padding:0 10px 0 10px; float:left;}
#main_right .right_three .right_cen02 ul li{float:left; padding-left:5px;}

/*sub container 而⑦뀗痢좎쟾泥�*/
#container {position:relative;margin:0 auto;width:1024px; background-position: center; }

/*nav�꽌釉뚮찓�돱�쁺�뿭*/
#subnav {float:left; width:216px; padding-bottom:10px;}
#snb {float:left; width:216px; padding-bottom:20px;  background:url('/contents/intro/images/new/intro_left_bottom.gif') no-repeat bottom left;}
#snb h2 {padding:23px 0 0 24px; height:35px; background:url('/contents/intro/images/new/intro_left_title.gif') no-repeat;}
#snb ul {width:181px; padding-left:14px; letter-spacing:-1px; font-weight:bold;}
#snb ul li ul {width:167px; padding-left:14px; letter-spacing:-1px;  border:solid 1px #CAE3EE; background:#EAF4FB; font-weight:normal;}
#snb li {border-bottom:solid 1px #e1e1e1; font-size:12px; padding:2px 0 2px 0;}
#snb li a:link, 
#snb li a:visited {color:#666; display:block; padding:5px 10px 5px 12px; background:url('/contents/intro/images/new/intro_left_dot.gif') 6px 10px no-repeat;}
#snb li a:hover, 
#snb li a:active {color:#006DB8; display:block; padding:5px 10px 5px 12px; background:url('/contents/intro/images/new/intro_left_dot.gif') 6px 10px no-repeat;}
#snb li ul li { border:0; line-height:0; padding:0; font-size:12px; line-height:100%; padding:5px 0 1px 0;}
#snb li ul li a:link, 
#snb li ul li a:visited {color:#666; display:block; padding:0 3px 0 10px; background:url('/contents/intro/images/new/intro_left_dot_01.gif') 1px 5px no-repeat;}
#snb li ul li a:hover, 
#snb li ul li a:active {color:#006DB8; display:block;  padding:0 3px 0 10px; background:url('/contents/intro/images/new/intro_left_dot_01.gif') 1px 5px no-repeat;}

#subnav_new {float:left; width:216px; padding-bottom:10px;}
#snb_new {float:left; width:216px; padding-bottom:20px;}
#snb_new A:link { COLOR: #616161 ; FONT-FAMILY: �룍���,Verdana, Arial, Helvetica, sans-serif; FONT-SIZE:9pt; TEXT-DECORATION: none}
#snb_new A:visited {COLOR: #616161 ; FONT-FAMILY: �룍���,Verdana, Arial, Helvetica, sans-serif; FONT-SIZE:9pt; TEXT-DECORATION: none}
#snb_new A:active {COLOR: #616161 ; FONT-FAMILY: �룍���,Verdana, Arial, Helvetica, sans-serif; FONT-SIZE:9pt; TEXT-DECORATION: none}
#snb_new A:hover {COLOR: #0561A9 ; FONT-FAMILY: �룍���,Verdana, Arial, Helvetica, sans-serif; FONT-SIZE:9pt; TEXT-DECORATION: underline}

/* sub contants*/
#contents {float:left; width:680px; margin-left:10px; padding-bottom:20px; margin-top:10px; display:inline;}
#contents #loc {float:right; text-align:right; position:absolute; top:10px; right:120px; height:18px;}
#contents #loc a:link, #contents #loc a:visited {color:#666; text-decoration:none; font-weight:bold;}
#contents #loc a:hover, #contents #loc a:active {color:#006DB8; text-decoration:none; font-weight:bold;}
#contents h3 {height:26px; border-bottom:solid 3px #006DB8; width:680px; clear:both;}
#contents h3 img {padding-left:10px;}
#contents .titletext {float:left; width:670px; padding-left:10px; height:263px; background:url('/contents/shortcut/images/new/index_top_background.gif') 1px 5px no-repeat;}
#contents .titletext dt{padding:45px 0 0 10px;}
#contents .titletext dd{padding:30px 0 0 20px;  overflow:auto; width:370px; text-align:justify;}

#contents .titletext_01 { float:left; width:670px; padding-left:10px; height:190px; background:url('/contents/funnySGIS/images/new/index_top_background.gif') 1px 5px no-repeat;}
#contents .titletext_01 dt{padding:40px 0 0 12px;}
#contents .titletext_01 dd{padding:30px 0 0 20px; overflow:auto; width:370px; text-align:justify;}

#contents .titletext_02 { float:left; width:670px; padding-left:10px; height:190px; background:url('/contents/shortcut/images/new/openapi_topcontent_bg.gif') 1px 5px no-repeat;}
#contents .titletext_02 dt{padding:40px 0 0 12px;}
#contents .titletext_02 dd{padding:30px 0 0 20px; overflow:auto; width:600px; text-align:justify;}

#contents .titletext_03 { float:left; width:670px; padding-left:10px; height:400px; background:url('/contents/shortcut/images/new/openapi_topcontent_bg.gif') 1px 5px no-repeat;}
#contents .titletext_03 dt{padding:40px 0 0 12px;}
#contents .titletext_03 dd{padding:75px 0 0 20px;}
#contents .titletext_03 .agreement_text_box_01 { height:180px; overflow:auto; width:580px; text-align:justify; padding:5px;}
#contents .titletext_03 .agreement_text_box_01 h4 { padding-top:5px; font-size:14px;}
#contents .titletext_03 .agreement_text_box_01 h5 { padding-top:10px;}
#contents .titletext_03 .agreement_text_box_01 ul { padding-bottom:10px;}
#contents .titletext_03 .agreement_text_box_01 ul li { padding-top:10px;}

#contents .titletext_04 { float:left; width:670px; padding-left:10px; height:190px;}
#contents .titletext_04 dt{padding:40px 0 0 12px;}
#contents .titletext_04 dd{padding:30px 0 0 20px; overflow:auto; width:600px; text-align:justify;}

#contents .subbox {width:640px; padding:0 0 0 40px;}
#contents .subbox li{float:left; height:83px; margin:20px 20px 10px 0;}
ul.left_ball li {padding-left:18px; background:url('/contents/images/new/dot_01.gif') 6px 6px no-repeat;}

#contents #article {clear:both; padding-top:20px; padding-left:10px; width:670px; float:left;}
#contents #article h4{ clear:both;}
#contents #article img{ vertical-align:middle;}
.text_p { padding:5px 0 10px 15px; clear:both;}

/*footer */
#footer {clear:both; position:relative; width:100%; height:71px; background:#F3F3F3; border-top:1px solid #B4B4B4;}
#footer_con{overflow:hidden;position:relative;margin:0 auto;padding:0;width:971px;}

dl.copy{overflow:hidden;float:left;margin:17px 0 0 43px;padding:0;width:600px;}
dl.copy dt{float:left;}
dl.copy dd{float:right;display:inline;padding-right:10px;}
dl.copy dd li{line-height:20px;color:#666;}
dl.copy dd li a{color:#666;font-weight:bold;}

dl.copy2{overflow:hidden;float:left;margin:17px 0 0 23px;padding:0;width:760px;}
dl.copy2 dt{float:left;}
dl.copy2 dd{float:right;display:inline;padding-right:10px;}
dl.copy2 dd li{line-height:20px;color:#666;}
dl.copy2 dd li a{color:#666;font-weight:bold;}

ul.today{float:right;overflow:hidden;position:relative;margin:16px 0 0 20px;width:173px;}
ul.today li{position:relative;padding:0 0 0 11px;background:url('../../images/main/ico_today.gif') no-repeat left 4px;line-height:14px;color:#464646;font-weight:bold;}
ul.today .num{position:absolute;right:5px;top:0;color:#98999B;font-weight:normal;}

/*Pop Movie add  */
/*popup*/

#pop_movie .movie_area {width:500px; float:left; margin-left:0px;  margin-top:0px;   display:inline;  position:relative; z-index:5; padding: 0px 0px 0px 0px;}
#pop_movie .movie_area .play_stop { padding-top:0px; height:23px; padding-left:0px; float:left; }
#pop_movie .movie_area dl {width:647px; height:720px; border:solid 6px #D3DFEB; float:left; margin: 0px; margin: 0px;} 
#pop_movie .movie_area dt img {vertical-align:top; margin-left: 5px}
#pop_movie .movie_area .main_title {position:absolute; top:3px; left:90px; width:115px; color:#fff; margin: 0px; margin: 0px;}
#pop_movie .movie_area .a_text_01 {position:absolute; top:480px; right:100px; z-index:3; margin: 0px; margin: 0px;}
#pop_movie .movie_area .a_text_02 {position:absolute; top:480px; right:15px; z-index:3; margin: 0px; margin: 0px;}
#pop_movie .movie_area .view_text { width:600px; height:120px; overflow:auto; border:solid 1px #C3C3C3; position:absolute; top:530px; left:0px; background:#FFFFFF; padding:5px; margin-left: 10px;}
#pop_movie .movie_area .main_pop_img {position:absolute; top:8px; left:10px; margin:0; padding:0; z-index:5; background:#FFFFFF; height:208px;}
#pop_movie .movie_area .main_close {position:absolute; top:670px; left:560px; height:18px; z-index:3; margin:0; padding:0;}

/*quickLink */
#quickCon{ position:absolute; width: 100%; top:-280px; left:550px; z-index:10000;}
#quick{ width:150px; margin: auto;}
#goTop{position:absolute;  width:120px; height:20px; text-align: left;}
/* //quickLink */


/*family site */

#family{ position:absolute;  width:200px; bottom: 200px; left:390px; z-index:10000;}
#family_sub{text-align:left;   width:150px;}
#fa_out {position:absolute;  top:150px; width:120px; height:22px; border:1px solid #bfbfbf; z-index:1000; padding: 0px 0px 0px 0px; text-align: left;background:#fff;}
#top1 {display:none; position:absolute; top:40px; background:#fff; padding: 0px 0px 0px 0px; width:120px; height:140px; border:1px solid #bfbfbf;  z-index:1000;}
.tx01 {margin:5px 0px 0px 3px; padding: 0; width:100px; text-align:left; padding:0px 0px 0px 15px;		}
.tx01 a:link { text-decoration: none; color:#6c6c6c; font-size:9pt; font-family:"�룍���","arila"; } 
.tx01 a:visited { text-decoration: none; color:#6c6c6c; font-size:9pt; font-family:"�룍���","arila";} 
.tx01 a:active { text-decoration: none; color:#6c6c6c; font-size:9pt; font-family:"�룍���","arila";} 
.tx01 a:hover {color:#71A6C5; text-decoration:none; font-size:9pt; font-family:"�룍���","arila"; }


/*�꽭遺��솕硫�*/
 .sub_title {width:690px; }
 .sub_title .tx01 {font-size:9pt; font-family:"�룍���","arila"; color:#636363; line-height:17px;}
 .sub_title .tx02 {font-size:9pt; font-family:"�룍���","arila"; color:#4FADBF; font-weight:bold;}
.sub_title .sub_text {float:left; width:480px; height:90px; border:0px solid #000; text-decoration:none;}
.sub_title .sub_img  {position:relative; top:0px; left:480px; width:208px; height:100px;  border:0px solid #000;}
.sub_title .sub_but {width:197px; height:23px;}
.sub_title .sub_info {position:relative; top:-90px;}
.sub_title .sub_link {position: relative; top: -70px;}
.sub_title .sub_dl{height: 180px;}

/*20110829異붽��*/
.api_info {
	border: 2px solid #f1f1f1;
	width: 100%;
	overflow: hidden;
	margin: 0 0 10px 0
}

.api_info dl {
	width: 100%;
	overflow: hidden;
	border: 1px solid #e2e2e2
}

.api_info dl dt {
	float: left;
	padding: 10px
}

.api_info dl dd {
	float: right;
	padding: 17px 10px 0 10px
}

.service_api {
	margin: 5px 0 10px 0;
	background-color: #f7f7f7
}

.api_wrap .api_title {
	background: url('/contents/shortcut/images/new/blt_tab.gif') left top
		no-repeat;
	padding: 0 0 0 18px;
	font-weight: bold;
	font-size: 14px;
	color: #000;
	margin: 0 0 10px 0
}

.api_wrap .api_tt {
	background: url('dotline.gif') left bottom repeat-x;
	padding-bottom: 10px;
	color: #333
}

.api_wrap .api_tt2 {
	padding-bottom: 5px;
	color: #333
}

.api_wrap .api_tt3 {
	padding-bottom: 5px;
	color: #888;
	font-size: 11px
}

.api_wrap .api_play {
	text-align: right;
	padding: 10px
}

.api_wrap h4 {
	font-weight: bold;
	color: #456cbc;
	font-size: 14px;
	margin: 20px 0 10px 0
}

.api_wrap h5 {
	font-weight: bold;
	color: #333;
	font-size: 12px;
	margin: 0 0 10px 0
}

.api_wrap h6 {
	font-weight: bold;
	color: #777;
	font-size: 11px;
	margin: 10px 0 5px 0
}

.api_db {
	width: 100%;
	border-top: 1px solid #e2e2e2
}

.api_db th {
	border-bottom: 1px solid #e2e2e2;
	border-right: 1px solid #e2e2e2;
	padding: 5px 0 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #444
}

.api_db td {
	border-bottom: 1px solid #e2e2e2;
	padding: 5px 0 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #999
}

.api_db2 {
	width: 100%;
	border-top: 1px solid #a8a8a8;
	border-bottom: 1px solid #a8a8a8;
	margin: 20px 0 20px 0
}

.api_db2 th {
	border-bottom: 1px solid #a8a8a8;
	padding: 5px 0;
	font-weight: normal;
	text-align: center;
	color: #444
}

.api_db2 td {
	border-top: 1px solid #e2e2e2;
	padding: 5px 0 5px 15px;
	font-weight: normal;
	text-align: left;
	color: #999
}

.api_db2 td.t_c {
	text-align: center;
	padding: 5px 0
}

.api_wrap .api_sample textarea {
	border: 1px solid #d4d0c8;
	background-color: #eee;
	padding: 7px 10px;
	width: 95%;
	font-family: 'consolas, courier new';
	color: #444;
	height: 110px
}

.api_wrap .mrt20 {
	margin-top: 20px
}

.lnb_sub_tb {
	width: 95%;
	border: 1px solid #ccc;
	background-color: #f3f3f3;
	margin: 5px auto
}

.lnb_sub_tb td {
	padding: 1px 5px 0 10px;
	letter-spacing: -1px;
	background:
		url('http://sgis1.kostat.go.kr/contents/images/leftMeun/dot.gif') 5px
		7px no-repeat;
	border-bottom: 1px dashed #c1c1c1
}

.lnb_sub_tb a {
	font-size: 11px !important;
	color: #888 !important
}