/*@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);*/
@charset "utf-8"; 
@font-face {
  font-family:'Nanum Gothic';
  font-style:normal;
  font-weight:400;
  src:url(/edu/include/font/NanumGothic-Regular.eot);
  src:url(/edu/include/font/NanumGothic-Regular.eot?#iefix) format('embedded-opentype'),
       url(/edu/include/font/NanumGothic-Regular.woff2) format('woff2'),
       url(/edu/include/font/NanumGothic-Regular.woff) format('woff'),
       url(/edu/include/font/NanumGothic-Regular.ttf) format('truetype');
}
@font-face {
  font-family:'Nanum Gothic';
  font-style:normal;
  font-weight:700;
  src:url(/edu/include/font/NanumGothic-Bold.eot);
  src:url(/edu/include/font/NanumGothic-Bold.eot?#iefix) format('embedded-opentype'),
       url(/edu/include/font/NanumGothic-Bold.woff2) format('woff2'),
       url(/edu/include/font/NanumGothic-Bold.woff) format('woff'),
       url/edu/include/font/NanumGothic-Bold.ttf) format('truetype');
} 
*{ font-family: 'Nanum Gothic', sans-serif; }
html,body,p, input, select, form, label, mark, ul, ul li, ol, ol li, dl, dl dt, dl dd, img, a, table{ margin:0; padding:0; }
img{ border:0; } 
ul, ol{ list-style:none; }
a{ color:#7c7c7c; text-decoration:none; } 
a:hover{ color:#333; text-decoration:none; cursor: pointer;} 

table{ border:0;  border-collapse:collapse; }
.mb5{ margin-bottom:5px !important; }
.mt5{ margin-top:5px !important; }

 /*input{margin-left:15px; width:300px;}*/
 *{margin:0; padding:0;}
    #wrapper{width:1000px; height:3450px; background:#eef1f6; padding-top:14px;}
 a {color:#505050; margin-right:5px; background:#fff; border-radius:15px; width:20px; height:20px; text-align:center; line-height:20px; border:1px solid #505050; display:inline-block; }
 a:hover, a.on{background:#4da4af; color:#fff; border:1px solid #3a8690;}
 /*header*/
 .wrap{width:959px; height:3200px; margin:0 auto; padding-top:25px; border:1px solid #bababb; background:#fff; /*background: #fff url(../include/image/img-2.png)no-repeat bottom;*/}
 .header{width:909px; height:176px; border:1px solid #e1e1e1; font-size:35px; font-weight:bold; color:#383838; background:url(/html/survey/images/img1.png)no-repeat; letter-spacing:-4px; margin:0 auto;}
 .header p{padding:24px 0 0 19px; line-height:40px; }
 .header-img{width:909px; margin:0 auto; border:1px solid #e1e1e1;}

 /*content*/
 .content-top{padding:20px 0 0px 25px;}
 .content-1 p{margin-bottom:20px; font-size:20px; color:#505050; font-weight:bold; width: 900px;}
 .content-1 ul{font-size:17px; color:#505050; line-height:28px;}
 .content-1 li span{cursor: pointer;}
 .content-2{display:inline-block;}
 .content-2 ul{font-size:17px; color:#505050; line-height:28px; float:left; margin-left:34px;}
 .content-2 ul:first-child{margin-left:0px;}
 .content-2 li span{cursor: pointer;}
 

 .content-3{margin-top:30px; width:869px; height:123px; background:#f6f6f6; border:1px solid #919191; overflow:hidden;}
 .content-squre{width:869px; height:123px; background:#f6f6f6; border:1px solid #919191; text-align:left; padding:10px;}
 .content-squre-1{width:869px; height:197px; background:#f6f6f6; border:1px solid #919191;}
 .squre-type{margin:25px 40px;}
 .squre-type li{list-style:circle; font-size:18px; color:#505050; font-weight:bold;}
 .last{padding:32px 25px; font-size:20px; color:#505050; font-weight:bold;}
 .h185{height:150px;}
 .ml15{margin-left:15px;}
 .squre-type1{ text-align:center;}
 .squre-type1 li{
     list-style: circle;
	font-size: 18px;
	color: #505050;
	font-weight: bold;
	display: inline;
	float: left;
	margin-bottom: 50px;
	cursor: pointer;
}
.squre-type1 li input{width:30px;}
.squre-type1 li:last-child{margin-left:30px;}
.squre-type2 {height:110px;}
.squre-type2 li{margin:25px 40px; list-style:circle; font-size:18px; color:#505050; font-weight:bold; line-height:30px;}

.quizBtn{width:100%;height:auto;overflow:hidden;text-align:center;margin-top: 20px;}
.quizBtn a{margin:0 10px;}

.btnType01{width:110px;height:32px;line-height:32px;display:inline-block;overflow:hidden;text-align:center;color:#fff;border-radius:5px;border:1px solid #f9a93c;background:#ffb657;box-shadow:1px 1px 0 #777;font-size:15px;font-family:'NanumGothicBold';}
.btnType01:hover{background:#e09734;border:1px solid #e09734; cursor:pointer;}

.btnType02{width:110px;height:32px;line-height:32px;display:inline-block;overflow:hidden;text-align:center;color:#fff;border-radius:5px;border:1px solid #55c2bf;background:#60c9c6;box-shadow:1px 1px 0 #777;font-size:15px;font-family:'NanumGothicBold';}
.btnType02:hover{background:#4ba8a5;border:1px solid #4ba8a5; cursor:pointer;}