@charset 'utf-8'; 
@import url('./datepicker.css');   
/* reset */
html,body {width: 100%;height: 100%}
body {margin: 0;padding: 0;-webkit-text-size-adjust: none;min-width: 320px;/*word-wrap: break-word;*/}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block}
dl,ul,ol,menu,li {list-style: none}
blockquote, q {quotes: none}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none}
input,select,textarea,button {vertical-align: middle;-webkit-border-radius: 0;}
label,button {cursor: pointer}
img, a {border: 0 none;}
button {border:0 none;background-color:transparent}
address,caption,cite,code,dfn,em,i,var {font-style:normal;font-weight:normal}
table {border-collapse: collapse;table-layout: fixed;border-spacing: 0}
/*  body,div,th,td,input,select,textarea,button,select{font-family: "나눔고딕"; font-size: 15px;color: #666;} */
 body,div,th,td,input,select,textarea,button,select{font-family: "Malgun Gothic"; font-size: 15px;color: #666;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin: 0;padding: 0}
a {color: #666;text-decoration: none}
/* common */
.blind {display: block;left: 0;overflow: hidden;position: absolute;top: -1000em}
/* display */
.dp-b {display: block}
.dp-i {display: inline}
.dp-ib {display: inline-block}
.dp-n {display: none}
/* float */
.fl-n {float: none}
.fl-l {float: left}
.fl-r {float: right}
/* clear */
.cl-l {clear: left}
.cl-r {clear: right}
.cl-b {clear: both}
/* text-align */
.ta-l {text-align: left}
.ta-r {text-align: right}
.ta-c {text-align: center}
.ta-j {text-align: justify}
/* vertical-align */
.va_t {vertical-align:top;}
.va_m {vertical-align:middle;}
.va_b {vertical-align:bottom;}
/* font-weight */
.fw-b {font-family:"나눔고딕B";}
.fw-n {font-weight: normal}
/* font-size */
.fs14 {font-size: 14px}
.fs20 {font-size: 20px}
/* margin */
.m0 {margin: 0}
.m5 {margin: 5px}
.m10 {margin: 10px}
.m15 {margin: 15px}
.m20 {margin: 20px}
.m25 {margin: 25px}
.m30 {margin: 30px}
.m35 {margin: 35px}
.m40 {margin: 40px}
.m45 {margin: 45px}
.m50 {margin: 50px}

.mr0 {margin-right: 0}
.mr5 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr15 {margin-right: 15px}
.mr20 {margin-right: 20px}
.mr25 {margin-right: 25px}
.mr30 {margin-right: 30px}
.mr35 {margin-right: 35px}
.mr40 {margin-right: 40px}
.mr45 {margin-right: 45px}
.mr50 {margin-right: 50px}

.mt0 {margin-top: 0}
.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mt30 {margin-top: 30px}
.mt35 {margin-top: 35px}
.mt40 {margin-top: 40px}
.mt45 {margin-top: 45px}
.mt50 {margin-top: 50px}

.mb0 {margin-bottom: 0}
.mb5 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb25 {margin-bottom: 25px}
.mb30 {margin-bottom: 30px}
.mb35 {margin-bottom: 35px}
.mb40 {margin-bottom: 40px}
.mb45 {margin-bottom: 45px}
.mb50 {margin-bottom: 50px}
.mb100 {margin-bottom: 105px}

.ml0 {margin-left: 0}
.ml5 {margin-left: 5px}
.ml10 {margin-left: 10px}
.ml15 {margin-left: 15px}
.ml20 {margin-left: 20px}
.ml25 {margin-left: 25px}
.ml30 {margin-left: 30px}
.ml35 {margin-left: 35px}
.ml40 {margin-left: 40px}
.ml45 {margin-left: 45px}
.ml50 {margin-left: 50px}

.para .ml20 .mb25 table{margin-left: 20px;  width: 740px;}
.para .ml20 .mb25 table td{text-align: center;}
.TB01{border-collapse: collapse;  border-top: #009999 solid 2px;  margin-bottom: 20px;  clear: both;}
.TB01 thead th.fst { border-left: none;}
.TB01 tbody td.fst { border-left: none 0;}
.TB01 thead th {
  border-bottom: #dcdcdc solid 1px;
  border-left: #dcdcdc solid 1px;
  background: #edf5f8;
  padding: 4px 3px 4px 3px;
  color: #333;
  font-size: 13px;
}
.TB01 tbody td {
  border-left: #dcdcdc solid 1px;
  border-bottom: #dcdcdc solid 1px;
  vertical-align: top;
  padding: 5px;
   font-size: 12px;
   text-align: center;
}

/* padding */
.p0 {padding: 0}
.p5 {padding: 5px}
.p10 {padding: 10px}
.p15 {padding: 15px}
.p20 {padding: 20px}
.p25 {padding: 25px}
.p30 {padding: 30px}
.p35 {padding: 35px}
.p40 {padding: 40px}
.p45 {padding: 45px}
.p50 {padding: 50px}

.pr0 {padding-right: 0}
.pr5 {padding-right: 5px}
.pr10 {padding-right: 10px}
.pr15 {padding-right: 15px}
.pr20 {padding-right: 20px}
.pr25 {padding-right: 25px}
.pr30 {padding-right: 30px}
.pr35 {padding-right: 35px}
.pr40 {padding-right: 40px}
.pr45 {padding-right: 45px}
.pr50 {padding-right: 50px}

.pt0 {padding-top: 0}
.pt5 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pt20 {padding-top: 20px}
.pt25 {padding-top: 25px}
.pt30 {padding-top: 30px}
.pt35 {padding-top: 35px}
.pt40 {padding-top: 40px}
.pt45 {padding-top: 45px}
.pt50 {padding-top: 50px}
.pt100 {padding-top: 100px}

.pb0 {padding-bottom: 0}
.pb5 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}
.pb20 {padding-bottom: 20px}
.pb25 {padding-bottom: 25px}
.pb30 {padding-bottom: 30px}
.pb35 {padding-bottom: 35px}
.pb40 {padding-bottom: 40px}
.pb45 {padding-bottom: 45px}
.pb50 {padding-bottom: 50px}
.pb100 {padding-bottom: 105px}

.pl0 {padding-left: 0}
.pl5 {padding-left: 5px}
.pl10 {padding-left: 10px}
.pl15 {padding-left: 15px}
.pl20 {padding-left: 20px}
.pl25 {padding-left: 25px}
.pl30 {padding-left: 30px}
.pl35 {padding-left: 35px}
.pl40 {padding-left: 40px}
.pl45 {padding-left: 45px}
.pl50 {padding-left: 50px}
/* letter-spacing */
.ls-1 {letter-spacing: -1px}
/* font color */
.c666 {color: #666;}
/* overflow */
.of-h {overflow: hidden;}
/* line-height */
.lh18 {line-height: 18px;}
.lh20 {line-height: 20px;}
.lh24 {line-height: 24px;}
/* text-indent */
.ti10 {text-indent: 10px;}
.ti15 {text-indent: 15px;}
/* paragraph */
p.para {line-height: 1.7;letter-spacing: -0.6px;}
/* skip */
#skip {position: relative;width: 100%;z-index: 10}
#skip a {position: absolute;left: 0;top: -30px;width: 100%;background-color: #000;color: #fff;font-family:"나눔고딕B";text-align: center;padding: 5px 0}
#skip a:active,
#skip a:focus {top: 0}

/* 버튼 */
.anc-btn {display: inline-block;text-align: center;font-size: 14px;height: 34px;line-height: 34px;color: #fff;font-family:"나눔고딕B";background-color: #3385d3;width: 100px;}

/* 팝업 */
.popText{ width:100%; height:auto; overflow:hidden; text-align:center; color:#4f4f4f; }
.popBtnBox{ width:90%; border-top:1px solid #a2a2a2; padding:20px 0 0 0; height:auto; margin:50px auto 0 auto; overflow:hidden; text-align:center; }
.popBtnBox01{ width:100%; padding:20px 0 0 0; height:auto; margin:0 auto 0 auto; overflow:hidden; text-align:center; }

/* 지역 네비게이션 배경 투명 */
.navi_select_background {
    background-color: transparent;
/* 	color: rgb(79, 166, 253); */
/* 	background-color: rgba(255, 255, 255, 0.5); */
    color: BLACK;
    cursor: pointer; 
}

/* 로그인 */
.login_pop { position: fixed; z-index: 105; background: #fff;}
.login_pop .login_con { padding: 25px 20px 40px 20px;}
.login_pop .login_con .login_title { height: 50px; background: url("/img/um/bg_logintit.gif") no-repeat left bottom; margin-bottom: 23px;}
.login_pop .login_con .login_txt { color: #666666; font-size: 13px; line-height: 20px; text-align: center; margin-bottom: 14px;}
.login_pop .login_con .login_btn_center { text-align: center;}
.login_pop .login_con .login_btn_center a { margin-left : 5px;}
.login_pop .btn_close_b { position: absolute; right: 20px; top: 25px;}
.login_pop .login_con .boxlogincon { width: 378px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 3px; background: #f1f1f1; margin-bottom: 30px; position: relative;}
.login_pop .login_con .boxlogincon > div { padding: 20px;}
.login_pop .login_con .boxlogincon > div > dl { width: 255px;}
.login_pop .login_con .boxlogincon > div > dl:after { content: ''; display: block; clear: both;}
.login_pop .login_con .boxlogincon > div > dl dt { float: left; width: 55px; margin-right: 15px; height: 30px; text-align: right; color: #333333; font-size: 13px; font-family:"나눔고딕B"; line-height: 30px;}
.login_pop .login_con .boxlogincon > div > dl dd { float: left; width: 184px; height: 30px;}
.login_pop .login_con .boxlogincon > div > dl dd input { height: 28px; /* line-height: 26px; */ color: #999999; text-indent: 13px; border: 1px solid #dddddd; width: 182px !important;}
.login_pop .login_con .boxlogincon > div > p { position: absolute; right: 20px; top: 20px;}
.login_pop .login_con .boxlogincon > div > p a { height: 63px; display: block; width: 73px; border: 1px solid #aaaaaa; text-align: center; line-height: 63px; background: #fafafa; color: #333333; font-size: 14px; font-family:"나눔고딕B";}
/* 로그인 2015-08-07*/
.loginbox{width:968px;height:auto;overflow:hidden;margin:30px auto 100px auto;border:1px solid #d6dfef;background:#fff url(/img/ico/ico_lock.png) no-repeat 30px 20px;}
.loginbox h3{margin:20px 0 10px 100px}
.loginbox ul{margin:10px 0 30px 100px}
.loginBtnbox{position:relative;width:100%;height:210px;overflow:hidden;border-top:1px solid #d6dfef;background:#f7f7f7}
.loginBtnbox>a{top:40px;width:180px;height:70px;overflow:hidden;color:#fff;text-align:center;line-height:70px;display:block;position:absolute;background:#4a65c6;border:1px solid #294d8c;border-radius:8px}
.btnTotalLogin{left:200px}
.btnOldLogin{right:200px}
.loginBtnbox>p{top:140px;width:400px;height:auto;overflow:hidden;text-align:center;line-height:1.5em;display:block;position:absolute;}
.totalTxt{left:90px}
.oldTxt{right:90px}

/* ajax 마스킹 */
.ajax_mask {background: #D3D3D3; border:0px solid black; position:absolute; left:0px; top:0px; z-index:100000; filter:alpha(opacity=60); opacity:0.6; MozOpacity:0.6; KhtmlOpacity:0.6;width:100%;height:100%;}
.ajax_loading {positon:absolute; height:100%; width:100%; z-index:11000; }
.ajax_loading_img {position:absolute; height:10px; width:400px; line-height:50px; padding-bottom:40px; top:50%; left:50%; z-index:11000; background:url("/img/common/loding_type01.gif") no-repeat;}


h2, h3, h4, dt, strong, b { font-weight:normal !important;}

/*페이지 타이틀 2016-02-19*/
.toolBar h2 {float: left;font-family: "나눔고딕EB";font-size: 14px;color: #333;padding: 8px 10px 8px 25px;background: url(/img/common/icon_title.png) no-repeat 10px center;}
.interactiveSelect {background-color: #e5e7e8 !important; background-image:url(/img/common/ico_arr01_new.gif) !important;color: #555 !important;}
  
body{background:url(/img/bg/bg_header.jpg) repeat-x;}
body a, body a:before{-webkit-transition-duration: 0.3s;transition-duration: 0.3s;-webkit-transition-property:transform;transition-property: transform;-webkit-transition-timing-function:ease-in-out;transition-timing-function:ease-in-out;}
#wrap{height:auto;overflow:hidden;}
/* header */
a.skipNav {position:fixed; top:0; left:0; overflow:hidden; display:block; width:1; height:1px; margin-top:-1px; font-size:1; line-height:0;}
a.skipNav:hover, a.skipNav:focus, a.skipNav:active{width:100%; padding:20px 0; font-size:14px; text-align:center; font-weight:bold; color:#fff; background:#3376ad; z-index:5;}
header{position:relative;width:970px;height:104px;margin:0 auto;}
.headerEtc{width:100%;height:26px;line-height:26px;text-align:right;}
.headerEtc a{display:inline-block;margin-right:20px;font-size:11px;color:#616161;}
.headerContents{width:100%;height:78px;position:relative;}
.headerContents h1{width:170px;height:78px;overflow:hidden;float:left;}
.headerContents h1 img{margin:9px 0 0 0;}
.headerContents form{position:absolute;right:0;top:0;width:84px;border-radius:15px;height:30px;display:block;float:left;overflow:hidden;float:left;border:0;padding:22px 0;}
.headerContents form fieldset{border-radius:15px;height:30px;display:block;float:left;overflow:hidden;float:left;border:2px solid #2f4d6a;}
.headerContents form.on{width:260px;}  
.headerContents form fieldset>legend, .headerContents form label{position:absolute;left:-2000px}
.headerContents form #totalSearchBox{display:none;float:left;border:0;height:30px;border-radius:15px;width:150px;padding:0 10px;overflow:hidden;font-size:13px}
.headerContents form.on #totalSearchBox{display:block;}
.headerContents form a{float:right;margin:0;display:block;height:30px;width:79px;overflow:hidden;background:#2f4d6a;border-top-left-radius:10px;border-bottom-left-radius:10px;}
.headerContents form.on a{border-top-left-radius:15px;border-bottom-left-radius:15px;}
.headerContents form a img{height:30px;}
.headerContents h2{position:absolute;left:-2000px}
.gnb{font-family: "나눔고딕B"; width:600px;height:58px;margin-left:86px;float:left;margin-top:20px;position:relative;}
.gnb li{text-align:left;float:left;width:20%;height:auto;overflow:hidden;}
.gnb li>a{padding:10px 0;height:32px;display:inline-block;border-top:2px solid #fff;font-size:16px;}
.gnb li>ul{display:none;position:absolute;left:0;top:140px;background:#6c6c6c;}
.gnb li:nth-child(1)>ul{left:16px;}
.gnb li:nth-child(2)>ul{left:0px;}
.gnb li:nth-child(3)>ul{left:230px;}
.gnb li:nth-child(4)>ul{left:100px;}
.gnb li:nth-child(5)>ul{left:100px;} 
.gnb li.on>a{color:#21b69a;border-bottom:2px solid #21b69a;}
.gnb li.on>ul{display:inline;top:40px}
.gnb li>ul>li{float:none;display:inline-block;width:auto;padding:5px 10px}
.gnb li>ul>li a{display:inline;font-size:15px;color:#fff}

.submenuBox{z-index:10;width:100%;height:0;overflow:hidden;position:fixed;left:0;top:102px;background:#f5f5f5;border-top:0px solid #b5b5b5;border-bottom:0px solid #b5b5b5;}
.submenuBox .rela{position:relative;width:970px;height:150px;margin:0 auto;background:url(/img/bg/bg_submenu.png) no-repeat left center}
.submenuBox .rela .etc{width:256px;height:130px;overflow:hidden;font-size:0;float:left;margin-top:10px;}
.submenuBox .rela ul{width:119px;height:130px;overflow:hidden;float:left;margin-top:10px;}
.submenuBox .rela ul li{font-size:11px;margin:5px auto;}
.submenuBox .rela ul li a{font-size:14px;}
.submenuBox .rela ul li a:hover{color:#21b69a;}

.searchPop{display:none;z-index:99;position:absolute;right:17px;top:56px;width:232px;height:auto;overflow:hidden;background:#fff;border:1px solid #b4b4b6}
.searchPop .subj{width:100%;height:33px;font-size:13px;line-height:33px;text-indent:10px;overflow:hidden;background:#f6f6f6;}
.searchPop ul{width:100%;height:auto;overflow:hidden;margin:10px auto;}
.searchPop ul li{font-size:11px;display:inline-block;margin:5px 10px;line-height:16px;}
.searchPop ol{width:100%;height:auto;overflow:hidden;margin:10px auto;}
.searchPop ol li{font-size:11px;display:inline-block;position:relative;margin:5px 10px;padding-left:20px;line-height:16px;}
.searchPop ol li:before{position:absolute;left:0;top:0;content:"1";width:16px;height:16px;text-align:center;line-height:16px;overflow:hidden;background:#f0f0f0;}
.searchPop ol li:nth-child(1):before{content:"1";}
.searchPop ol li:nth-child(2):before{content:"2";}
.searchPop ol li:nth-child(3):before{content:"3";}
.searchPop ol li:nth-child(4):before{content:"4";}
.searchPop ol li:nth-child(5):before{content:"5";}
.searchPop ol li:nth-child(6):before{content:"6";}
.searchPop ol li:nth-child(7):before{content:"7";}
.searchPop ol li:nth-child(8):before{content:"8";}
.searchPop ol li:nth-child(9):before{content:"9";}
.searchPop ol li:nth-child(10):before{content:"10";}

/* footer */
body #footer{background:#fff;border-top:1px solid #cbcbcb;}
#footer .rela{width:970px;height:100px;margin:0 auto;position:relative;}
#footer .rela img{position:absolute;left:10px;top:20px;}
#footer .rela ul{position:absolute;left:200px;top:10px;}
#footer .rela ul li{font-size:12px;display:inline-block;padding:0 10px;background:url(/img/bg/bg_line02.png) repeat-y left center;}
#footer .rela ul li:first-child{background:none;padding-left:0;}
#footer .rela address{font-size:11px;position:absolute;left:200px;top:30px;line-height:1.8em}
#footer .rela address span{padding-right:20px;}
#footer .rela address span.post{display:block;}
#footer .rela .btnService{position:absolute;right:0;top:25px;width:173px;height:29px;line-height:29px;overflow:hidden;border:1px solid #bdbfc6;background:#e2e8e8;font-size:13px;text-indent:15px;}
#footer .rela .btnService:before{float:right;content:"";background:url(/img/ico/ico_more.png) no-repeat;width:12px;height:12px;overflow:hidden;margin:8px 8px 0 0;}
#footer .rela .btnService.on:before{-webkit-transform:rotate(225deg);transform: rotate(225deg);}

.serviceLayer{display:none;z-index:10;width:173px;height:auto;overflow:hidden;border:1px solid #bdbfc6;position:absolute;right:0;bottom:74px;}
#footer .rela .serviceLayer>ol{position:static;background:#fff;}
#footer .rela .serviceLayer>ol li{height:30px;line-height:30px;overflow:hidden;width:100%;border-bottom:1px solid #dcdcdc}
#footer .rela .serviceLayer>ol li a{display:block;margin:0 10px;font-size:11px;}

.btnBottom .btnService{position:absolute;right:10px;bottom:10px;width:140px;height:25px;line-height:27px;overflow:hidden;border:1px solid #bdbfc6;background:#e2e8e8;font-size:11px;text-indent:0;}
.btnBottom .btnService:before{float:right;content:"";background:url(/img/ico/ico_more.png) no-repeat;width:12px;height:12px;overflow:hidden;margin:7px 6px 0 0;}
.btnBottom .btnService.on:before{-webkit-transform:rotate(225deg);transform: rotate(225deg);}

.btnBottom .serviceLayer{display:none;z-index:10;width:140px;height:auto;overflow:hidden;border:1px solid #bdbfc6;position:absolute;right:10px;bottom:36px;}
.btnBottom .serviceLayer>ol{position:static;background:#fff;}
.btnBottom .serviceLayer>ol li{height:30px;line-height:30px;overflow:hidden;width:100%;border-bottom:1px solid #dcdcdc}
.btnBottom .serviceLayer>ol li a{display:block;margin:0 10px;font-size:11px;text-align:left;}

#container{width:970px;height:auto;overflow:hidden;margin:0 auto;padding-top:23px;padding-bottom:23px}

.btnType01, .btnType02, .btnType03{border-radius:5px;display:inline-block;padding:0;text-align:center;font-size:13px;height:34px;line-height:34px;background:#555;color:#fff;margin:0 2px;width:100px;}
.btnType03{width:auto;min-width:80px;background:#00bcd4;border-radius:17px;color:#fff;}
.btnType01:hover,.btnType01.on{background:#3385d3;color:#fff}
.btnType02:hover,.btnType02.on{background:#000;color:#fff}
.btnType03:hover,.btnType03.on{background:#028c9d;color:#fff}
.btnType05{border-radius:5px;width:auto;display:inline-block;padding:0 10px;text-align:center;font-size:13px;height:34px;line-height:34px;background:#53a6f5;color:#fff;margin:0 2px;}
.btnType06{border-radius:5px;width:auto;display:inline-block;padding:0 10px;text-align:center;font-size:13px;height:34px;line-height:34px;background:#666;color:#fff;margin:0 2px;}
.btnType07{border-radius:5px;width:auto;display:inline-block;padding:0 10px;text-align:center;font-size:13px;height:34px;line-height:34px;background:#666;color:#fff;margin:0 2px;}
.btnType05:hover,.btnType06:hover,.btnType07:hover,.btnType02.on{background:#333;color:#fff}

/* .htCore tr:nth-child(4){display:none !important} */

.mr20{margin-right:20px !important}
.ui-state-disabled, .ui-widget-content .ui-state-disabled, .ui-widget-header .ui-state-disabled{opacity:1}

.viewTitle span {float:left;width:60px;line-height:34px;font-weight:bold;text-align:center;display:none;color:#ffffff;font-size:13px;}
.mapBtnWrapper {width:34px;height:34px;right:-5px;}
.mapZoomWrapper {width:34px;height:116px;right:-5px;cursor:pointer;}
.combineShowHide {float:right;width:24px;height:24px;background:#20b699;margin-right:10px;margin-top:3px;border-radius:50%;display:table;cursor:pointer;}
.combineShowHide.off {background:#29435e;}
.combineShowHideText {font-size:12px;display:table-cell;text-align:center;vertical-align:middle;color:#ffffff;font-weight:bold;}
.btnStyle10 {display:inline-block;padding:5px 10px;font-size:13px;height:20px;line-height:20px;background:#dcdcdc;color:#666;margin:0 5px}
.btnStyle10.on {background:#00bcd4;color:#fff}
.btnStyle10.on:hover {background:#29435e;}
.combineViewIcon {float:left;width:16px;height:16px;background:#20b699;margin-top:7px;margin-left:5px;border-radius:50%;display:table;}
.combineViewIcon.view1 {background:#0070c0;}
.combineViewIcon.view2 {background:#9ed563;}
.combineViewIcon.view3 {background:#ff0066;}
.combineChart {/* position:static; left:-20000px;  */background:#ffffff; width:530px; overflow:hidden;}
.combineGrid{/* position:static;left:-20000px; */width:530px;height:auto;overflow:hidden;display:none;}
.combineGrid .btn_excelDownload{display:block;margin:5px 50px 5px auto;width:41px;height:41px;overflow:hidden;text-indent:-2000px;background:url(/img//ico/ico_excel.png)}

.legendRrefresh{text-indent:-2000px;display:none;position:absolute;right:6px;top:208px;width:14px;height:14px;overflow:hidden;background:url(/img//common/reverse.png);}
.legendBox.max .legendRrefresh{display:block}
.legendBox.max .heat .legendRrefresh, .legendBox.max .ring .legendRrefresh{display:none}
.legendBox.max .jum .legendRrefresh{top:6px}
.color .colorck li:last-child,
.jum .colorck li:last-child{display:block;}
.colorck li.jumGap {width:35px;}

/* 2016.03.18 수정, 결합조건 도움말 추가  */
.fusionHelper {position:absolute;width:500px;top:10px;left:310px;}
.fusionHelper > div {font-size:11px;line-height:20px;color:#ff0000;}

/*조사원*/
.gnb li:nth-child(1){width:170px !important}
.submenuBox{z-index:9999;}
.submenuBox .rela{width:600px;background:none;padding-left:139px;}
.submenuBox .rela ul{width:174px;}
.submenuBox .rela ul.item02{width:125px;}
.submenuBox .rela ul.item03{width:120px}  

.inp{border-radius:5px;}
.select{border-radius:5px;}

.dataSideScroll{}
.dataSideScroll>.mCustomScrollBox>.mCSB_scrollTools .mCSB_dragger .mCSB_dragger_bar{width:14px;}
.dataSideScroll>.mCustomScrollBox>.mCSB_scrollTools .mCSB_dragger{right:5px;}
.dataGridDiv { border: solid 1px; }

/* 알럿팝업 */
.popupWrapper{background:rgba(0,0,0,0.8); position: absolute; top: 0; width: 100%; height: 100%; display:; z-index: 30000;}
.alertPopupWrapper{border:1px solid #ccc;background:#fff;width:400px;height:auto;overflow:hidden;position:absolute;left:50%;margin-left:-200px;}
.alertPopupWrapper .topbar{border-bottom:1px solid #ccc;width:100%;height:32px;line-height:32px;overflow:hidden;background:#f5f5f5;position:relative;}
.alertPopupWrapper .topbar>span{display:block;margin:0 0 0 10px}
.alertPopupWrapper .topbar a{opacity:.4;display:block;width:32px;height:32px;overflow:hidden;position:absolute;right:0;top:0;background:url(/img/ico/ico_close01.png) no-repeat center center;text-indent:-2000px;  transition-duration: .3s; transition-property: transform; transition-timing-function: ease-in-out; cursor: pointer; }
.alertPopupWrapper .topbar a:hover{transform: rotate(90deg);opacity:1;}
.alertPopupWrapper .popContents{width:100%;height:auto;overflow:hidden;padding:15px 0;}
.alertPopupWrapper .txt{position:relative;display:block;height:auto;padding-left:15px;overflow:hidden;margin:5px 0 0 72px;color:#666;font-size:11px;line-height:1.5em;text-align:left;}
.alertPopupWrapper .txt:before{content:"※";font-size:13px;position:absolute;left:0;top:0;}
.alertPopupWrapper .btnBox{width:100%;height:auto;overflow:hidden;margin:15px auto 0 auto;text-align:center;}
.alertPopupWrapper .messageBox{ width:90%; height:auto; overflow:hidden; text-align:center; margin:20px auto;line-height:25px;}
.alertPopupWrapper .btnStyle01 {display:inline-block;padding:5px 10px;font-size:13px;height:20px;line-height:20px;background:#dcdcdc;color:#666;margin:0 5px; cursor: pointer; }
.alertPopupWrapper .btnStyle01:hover,.btnStyle01.on{background:#21b699;color:#fff}

.deem {
    background: rgba(0,0,0,0.8);
    display: block;
    height: 100%;
    left: 0;
    opacity: 0.6;
    filter: alpha(opacity=60);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 20000;
}

/* 에러화면 */
.errorBody { height: 200px; }
.errorMessage {
	width: 400px;
/* 	height: auto; */
	overflow: hidden;
	border: 3px solid #656972;
	border-radius: 5px;
	padding: 20px 20px 20px 70px;
	font-size: 20px;
	margin: 100px auto;
	color: #333;
	box-shadow: 1px 1px 3px #ccc;
	background: url(/img/im/icon_warning.gif) no-repeat 20px center;
	word-break: break-all;
}

/* 마우스 오버시 효과 */
a{transition:.3s;}
a:hover{opacity:.8;-webkit-transform: scale(0.95);-webkit-transition-timing-function: cubic-bezier(0.47, 2.02, 0.47, 2.02);}