@charset "utf-8";

/* 국가 db연계 서비스 popup */
.pop_planar { border: 1px solid #1b3453; background: #fff;}
.pop_planar .planar_section { }
.pop_planar .planar_section .planar_sectiont { height: 41px; line-height: 41px; background: #1b3453;}
.pop_planar .planar_section .planar_sectiont .planar_tit { color: #fff; font-weight: bold; padding-left: 10px; font-size: 14px; float: left;}
.pop_planar .planar_section .planar_sectiont .planar_btn { float: right; padding-right: 10px;}
.pop_planar .planar_section .planar_sectiont .planar_btn a { display: inline-block; padding: 6px 0; text-align: center; font-size: 12px; line-height: 12px; color: #fff; background: #619ee8; font-weight: bold;}

.planar_sectionc { border-bottom: 1px solid #1b3453; position: relative; min-height: 380px;}
.planar_sectionc:after { content: ''; display: block; clear: both;}
.planar_sectionc .planar_section01 { border-right: 1px solid #aeb6bf; margin-right: 278px; min-height: 380px;}
.planar_sectionc .planar_section01 .planar_sec01 { height: 31px; border-bottom: 1px solid #1b3453; background: #eeeeee; box-shadow: 1px 0 1px 0 #999;}
.planar_sectionc .planar_section01 .planar_sec01:after { content: ''; display: block; clear: both;}
.planar_sectionc .planar_section01 .planar_sec01 .planar_sec01_tit { float: left; color: #666666; font-size: 12px; padding: 8px 0 0 10px;}
.planar_sectionc .planar_section01 .planar_sec01 .planar_sec01box { float: right; border-left: 1px solid #aeb6bf; height: 31px; width: 49px; text-align: center; line-height: 31px;}
.planar_sectionc .planar_section01 .planar_sec01 .planar_sec01box a { color: #666666; font-weight: bold; font-size: 12px;}
.planar_sectionc .planar_section01 .planar_sec01 .planar_sec01box img { vertical-align: middle;}
.planar_sectionc .planar_section01 .planar_sec02 { text-align: center;}
.planar_sectionc .planar_section01 .planar_sec02 .planar_sec02box { z-index: 1;}
.planar_sectionc .planar_section02 { width: 278px; height: 100%; position: absolute; right: 0; top: 0;}
.planar_sectionc .planar_section02 .planar_sec01 { height: 31px; border-bottom: 1px solid #1b3453; background: #eeeeee; box-shadow: 1px 0 1px 0 #999;}
.planar_sectionc .planar_section02 .planar_sec01 .planar_sec01_tit { color: #666666; font-size: 12px; padding: 8px 0 0 10px;}
.planar_sectionc .planar_section02 .open_info_modify { position: absolute; right: 0; top: 0; width: 11px; border-left: 1px solid #d5d5d5; height: 100%; background: #eeeeee;}
.planar_sectionc .planar_section02 .open_info_modify a { display: block; width: 11px; height: 100%; background: url("/img/im/pop_btn_arrow.gif") no-repeat left center;}
.planar_sectionc .planar_section02 .open_info_modify a span { font: 0/0 serif;}
.planar_sectionc .planar_section02 .open_info_modify a.on { background: url("/img/im/pop_btn_arrow.gif") no-repeat right center;}
.planar_sectionc .planar_section02 .planar_sec02box { height: 295px;}

.planar_sectionb { height: 191px; position: relative;}
.planar_sectionb:after { content: ''; display: block; clear: both;}
.planar_sectionb .planar_section01 { position: relative; border-right: 1px solid #aeb6bf; height: 191px; margin-right: 278px;}
.planar_sectionb .planar_section01 .planar_sec01 { height: 31px; border-bottom: 1px solid #1b3453; background: #eeeeee; box-shadow: 1px 0 1px 0 #999;}
.planar_sectionb .planar_section01 .planar_sec01:after { content: ''; display: block; clear: both;}
.planar_sectionb .planar_section01 .planar_sec01 .planar_sec01_tit { float: left; color: #666666; font-size: 12px; padding: 8px 0 0 10px;}
.planar_sectionb .planar_section01 .planar_sec01 .planar_sec01box { float: right; border-left: 1px solid #aeb6bf; height: 31px; width: 49px; text-align: center; line-height: 31px;}
.planar_sectionb .planar_section01 .planar_sec01 .planar_sec01box a { color: #666666; font-weight: bold; font-size: 12px;}
.planar_sectionb .planar_section01 .planar_sec01 .planar_sec01box img { vertical-align: middle;}
.planar_sectionb .planar_section01 .open_info_modify { border-top: 1px solid #d5d5d5; position: absolute; left: 0; bottom: 0; width: ; right: 0; border-left: 1px solid #d5d5d5; height: 11px; background: #eeeeee;}
.planar_sectionb .planar_section01 .open_info_modify a { display: block; width: 100%; height: 11px; background: url("/img/im/pop_btn_arrow2.gif") no-repeat center top;}
.planar_sectionb .planar_section01 .open_info_modify a span { font: 0/0 serif;}
.planar_sectionb .planar_section01 .open_info_modify a.on { background: url("/img/idm/pop_btn_arrow2.gif") no-repeat center bottom;}
.planar_sectionb .planar_section01 .planar_sec02 { text-align: center;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box { width: 405px; margin: 0 auto; padding-top: 20px;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box:after { content: ''; display: block; clear: both;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select01 { float: left; width: 154px; overflow-y: scroll; border: 1px solid #e1e1e1; height: 105px;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select01 ul li { height: 25px; line-height: 25px; border-bottom: 1px solid #e6e6e6; padding-left: 10px; text-align: left;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select01 ul li a { color: #333333; font-size: 12px;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select01 ul li:hover { background: #d9eefd;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select02 { float: left; width: 235px; overflow-y: scroll; border: 1px solid #e1e1e1; margin-left: 10px; height: 102px;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select02 dl { padding: 10px 0 0 10px;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select02 dl dt { color: #333333; font-size: 12px; line-height: 12px; font-weight: bold; text-align: left; margin-bottom: 5px;}
.planar_sectionb .planar_section01 .planar_sec02 .planar_sec02box .planar_select02 dl dd { color: #333333; font-size: 12px; line-height: 12px; text-align: left;}
.planar_sectionb .planar_section02 { width: 278px; height: 191px; position: absolute; right: 0; top: 0;}
.planar_sectionb .planar_section02 .planar_sec01 { height: 31px; border-bottom: 1px solid #1b3453; background: #eeeeee; box-shadow: 1px 0 1px 0 #999;}
.planar_sectionb .planar_section02 .planar_sec01 .planar_sec01_tit { color: #666666; font-size: 12px; padding: 8px 0 0 10px;}
.planar_sectionb .planar_section02 .planar_sec02 { padding-top: 3px;}

.planar_sectionb .highcharts-button { display: none !important;}
.planar_sectionb #highcharts-0 { height: 145px !important;}
.highcharts-legend-item { font-weight: normal !important; font-size: 11px !important;}

/* 국가 db연계 서비스 layer */
.layer_pop_planar { position: absolute; left: 1px; top: 42px; width: 439px; height: 556px; background: #fff; z-index: 10;}
.layer_pop_planar .planar_sec01 { height: 31px; border-bottom: 1px solid #1b3453; background: #fff; box-shadow: 1px 0 0 0 #999; position: relative;}
.layer_pop_planar .planar_sec01 .planar_sec01_tit { color: #666666; font-size: 12px; padding: 8px 0 0 10px;}
.layer_pop_planar .planar_sec01 .planar_sec01box { position: absolute; right: 10px; top: 10px;}
.layer_pop_planar .planar_sec02 .planar_sec02box { height: 513px; overflow-y: scroll;}
.layer_pop_planar .planar_sec02 .planar_sec02box ul li { height: 25px; line-height: 25px; padding-left: 10px;}
.layer_pop_planar .planar_sec02 .planar_sec02box ul li a { color: #666666; font-size: 11px;}
.layer_pop_planar .planar_sec02 .planar_sec02box ul li a span { font-size: 12px; font-weight: bold; color: #3792de;}
.layer_pop_planar .planar_sec02 .planar_sec02box ul li:hover { background: #f5f5f5;}

.layer_pop_planar2 { position: absolute; right: 13px; top: 42px; width: 266px; height: 376px; background: #fff; z-index: 5000;}
.layer_pop_planar2 .planar_sec01 { height: 31px; border-bottom: 1px solid #1b3453; background: #fff; box-shadow: 1px 0 0 0 #999; position: relative;}
.layer_pop_planar2 .planar_sec01 .planar_sec01_tit { color: #666666; font-size: 12px; padding: 8px 0 0 10px;}
.layer_pop_planar2 .planar_sec01 .planar_sec01box { position: absolute; right: 10px; top: 10px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box { padding-left: 20px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_tit_l { color: #666666; font-size: 12px; font-weight: bold; margin-bottom: 7px; line-height: 12px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_sel { margin-bottom: 18px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_sel { margin-bottom: 18px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_sel .combo {
    border: 1px solid #e1e1e1;
    display: inline-block;
    margin: 0;
    overflow: hidden;
    padding: 0;
    vertical-align: middle;
    white-space: nowrap;
	background: #fff;
}

.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_sel .combo input { color: #606060; font-size: 12px; border: none !important; line-height: 25px !important; text-indent: 9px; height: 25px; background: #fff;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_sel .combo a {
    background: url("/img/idm/icon_select2.gif") no-repeat scroll 100% 0 !important;
    border: none !important;
    color: #606060 !important;
    display: block !important;
    font-size: 12px !important;
    height: 25px !important;
    line-height: 25px !important;
    text-indent: 9px !important;
	width: 100px !important;
}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_text { margin-bottom: 18px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_text .textbox { width: 224px !important;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_text textarea { width: 224px !important; height: 155px !important; border: 1px solid #e1e1e1; color: #666666; font-size: 12px; line-height: 20px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_btn { text-align: center; padding-right: 20px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_btn a { display: inline-block; color: #fff; font-weight: bold; font-size: 14px; padding: 7px 0; background: #333333; line-height: 14px;}
.layer_pop_planar2 .planar_sec02 .planar_sec02box .planar_btn a.bg_blue { background: #3386d4;}

/* 건물전체 입체도 */

/* Vertical Accordion Style */
.va-container{
	position:relative;
	margin: 40px auto 0 auto;
	width: 220px !important;
}
.va-wrapper{
	width:100%;
	height:100%;
	position:relative;
	overflow:hidden;
}
.va-slice{
	cursor:pointer;
	position:absolute;
	width:100%;
	left:0px;
}
.va-slice.on h3 { background: #3386d4 !important; color: #fff !important;}
.va-title{
	font-size:11px;
	color:#656262;
	line-height: 24px !important;
	font-weight: normal;
	width: 38px;
	text-align: center;
	border-top: 1px solid #bbbbbb;
	border-left: 1px solid #bbbbbb;
	border-right: 1px solid #bbbbbb;
}
.va-title.last { border-bottom: 1px solid #bbbbbb; line-height: 23px !important;}

.va-content{
	display:block;
	margin-left:65px;
	margin-top:-25px
}
.va-slice p{
	font-size: 22px;
	font-style: italic;
	font-family:Georgia, serif;
}
.va-slice ul{
	margin-top:20px;
}
.va-slice ul li{
	float:left;
	margin:0px 2px;
}
.va-slice ul li a{
	color:#000;
	background:#eede2f;
	padding:3px 6px;
	font-size:14px;
	font-family:'PT Sans', sans-serif;
	text-transform:uppercase;
}
.va-slice ul li a:hover{
	background:#000;
	color:#fff;
	text-shadow:none;
}
.va-nav span{
	position:absolute;
	top:-19px;
	left:0;
	opacity: 1;
	cursor:pointer;
	z-index:100;
}
.va-nav span.va-nav-next{
	top:auto;
	bottom:-22px;
}
.va-nav span:hover{
	opacity:1.0;
}

.devFigure {
	background: #fff0f2;
}

.va-slice.on .va-content img { }