@charset "utf-8";
/* 2016-01-18 수정 */
/* font-face */
/* @font-face{
	font-family: ng;
	src: url(./fonts/NanumGothic.eot);
	src: url(./fonts/NanumGothic.eot?#iefix) format('embedded-opentype'),
			 url(./fonts/NanumGothic.woff) format('woff'),
			 url(./fonts/NanumGothic.ttf) format('truetype');
} 

 @font-face{
	font-family:nbg;
	src: url(./fonts/NanumBarunGothic.eot);
	src: url(./fonts/NanumBarunGothic.eot?#iefix) format('embedded-opentype'),
			 url(./fonts/NanumBarunGothic.woff) format('woff'),
			 url(./fonts/NanumBarunGothic.ttf) format('truetype');
}*/
/* 나눔고딕 */
@font-face {font-family:"나눔고딕"; font-style:normal; font-weight:normal; src:url(./fonts/NanumGothic.woff) format('woff');}
@font-face {font-family:"나눔고딕B"; font-style:normal; font-weight:bold; src:url(./fonts/NanumGothicBold.woff) format('woff');}
@font-face {font-family:"나눔고딕EB"; font-style:normal; font-weight:bold; src:url(./fonts/NanumGothicExtraBold.woff) format('woff');}

@font-face{
font-family:noto_sans;
src:url('./fonts/NotoSansKR-DemiLight-Hestia.woff') format('woff');
}

/* reset */
html,body {width: 100%;height: 100%}
body {margin: 0;padding: 0;-webkit-text-size-adjust: none;min-width: 320px;/*word-wrap: break-word;*/}
article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section {display: block}
dl,ul,ol,menu,li {list-style: none}
blockquote, q {quotes: none}
blockquote:before,blockquote:after,q:before,q:after {content: '';content: none}
input,select,textarea,button {vertical-align: middle;-webkit-border-radius: 0;}
label,button {cursor: pointer}
img, a {border: 0 none;}
button {border:0 none;background-color:transparent}
address,caption,cite,code,dfn,em,i,var {font-style:normal;font-weight:normal}
table {border-collapse: collapse;table-layout: fixed;border-spacing: 0}
/*body,div,th,td,input,select,textarea,button,select{font-family: "noto_sans", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif; font-size: 15px;color: #666;}*/
 body,div,th,td,input,select,textarea,button,select{font-family: "나눔고딕"; font-size: 15px;color: #666;} 
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,textarea,p,blockquote,th,td,input,select,textarea,button {margin: 0;padding: 0}
a {color: #666;text-decoration: none}
/* common */
.blind {display: block;left: 0;overflow: hidden;position: absolute;top: -1000em}
/* display */
.dp-b {display: block}
.dp-i {display: inline}
.dp-ib {display: inline-block}
.dp-n {display: none}
/* float */
.fl-n {float: none}
.fl-l {float: left}
.fl-r {float: right}
/* clear */
.cl-l {clear: left}
.cl-r {clear: right}
.cl-b {clear: both}
/* text-align */
.ta-l {text-align: left}
.ta-r {text-align: right}
.ta-c {text-align: center}
.ta-j {text-align: justify}
/* vertical-align */
.va_t {vertical-align:top;}
.va_m {vertical-align:middle;}
.va_b {vertical-align:bottom;}
/* font-weight */
.fw-b {font-family:"나눔고딕B";}
.fw-n {font-weight: normal}
/* font-size */
.fs14 {font-size: 14px}
.fs20 {font-size: 20px}
/* margin */
.m0 {margin: 0}
.m5 {margin: 5px}
.m10 {margin: 10px}
.m15 {margin: 15px}
.m20 {margin: 20px}
.m25 {margin: 25px}
.m30 {margin: 30px}
.m35 {margin: 35px}
.m40 {margin: 40px}
.m45 {margin: 45px}
.m50 {margin: 50px}

.mr0 {margin-right: 0}
.mr5 {margin-right: 5px}
.mr10 {margin-right: 10px}
.mr15 {margin-right: 15px}
.mr20 {margin-right: 20px}
.mr25 {margin-right: 25px}
.mr30 {margin-right: 30px}
.mr35 {margin-right: 35px}
.mr40 {margin-right: 40px}
.mr45 {margin-right: 45px}
.mr50 {margin-right: 50px}

.mt0 {margin-top: 0}
.mt5 {margin-top: 5px}
.mt10 {margin-top: 10px}
.mt15 {margin-top: 15px}
.mt20 {margin-top: 20px}
.mt25 {margin-top: 25px}
.mt30 {margin-top: 30px}
.mt35 {margin-top: 35px}
.mt40 {margin-top: 40px}
.mt45 {margin-top: 45px}
.mt50 {margin-top: 50px}

.mb0 {margin-bottom: 0}
.mb5 {margin-bottom: 5px}
.mb10 {margin-bottom: 10px}
.mb15 {margin-bottom: 15px}
.mb20 {margin-bottom: 20px}
.mb25 {margin-bottom: 25px}
.mb30 {margin-bottom: 30px}
.mb35 {margin-bottom: 35px}
.mb40 {margin-bottom: 40px}
.mb45 {margin-bottom: 45px}
.mb50 {margin-bottom: 50px}
.mb100 {margin-bottom: 105px}

.ml0 {margin-left: 0}
.ml5 {margin-left: 5px}
.ml10 {margin-left: 10px}
.ml15 {margin-left: 15px}
.ml20 {margin-left: 20px}
.ml25 {margin-left: 25px}
.ml30 {margin-left: 30px}
.ml35 {margin-left: 35px}
.ml40 {margin-left: 40px}
.ml45 {margin-left: 45px}
.ml50 {margin-left: 50px}

.para .ml20 .mb25 table{margin-left: 20px;  width: 740px;}
.para .ml20 .mb25 table td{text-align: center;}
.TB01{border-collapse: collapse;  border-top: #009999 solid 2px;  margin-bottom: 20px;  clear: both;}
.TB01 thead th.fst { border-left: none;}
.TB01 tbody td.fst { border-left: none 0;}
.TB01 thead th {
  border-bottom: #dcdcdc solid 1px;
  border-left: #dcdcdc solid 1px;
  background: #edf5f8;
  padding: 4px 3px 4px 3px;
  color: #333;
  font-size: 13px;
}
.TB01 tbody td {
  border-left: #dcdcdc solid 1px;
  border-bottom: #dcdcdc solid 1px;
  vertical-align: top;
  padding: 5px;
   font-size: 12px;
   text-align: center;
}

/* padding */
.p0 {padding: 0}
.p5 {padding: 5px}
.p10 {padding: 10px}
.p15 {padding: 15px}
.p20 {padding: 20px}
.p25 {padding: 25px}
.p30 {padding: 30px}
.p35 {padding: 35px}
.p40 {padding: 40px}
.p45 {padding: 45px}
.p50 {padding: 50px}

.pr0 {padding-right: 0}
.pr5 {padding-right: 5px}
.pr10 {padding-right: 10px}
.pr15 {padding-right: 15px}
.pr20 {padding-right: 20px}
.pr25 {padding-right: 25px}
.pr30 {padding-right: 30px}
.pr35 {padding-right: 35px}
.pr40 {padding-right: 40px}
.pr45 {padding-right: 45px}
.pr50 {padding-right: 50px}

.pt0 {padding-top: 0}
.pt5 {padding-top: 5px}
.pt10 {padding-top: 10px}
.pt15 {padding-top: 15px}
.pt20 {padding-top: 20px}
.pt25 {padding-top: 25px}
.pt30 {padding-top: 30px}
.pt35 {padding-top: 35px}
.pt40 {padding-top: 40px}
.pt45 {padding-top: 45px}
.pt50 {padding-top: 50px}
.pt100 {padding-top: 100px}

.pb0 {padding-bottom: 0}
.pb5 {padding-bottom: 5px}
.pb10 {padding-bottom: 10px}
.pb15 {padding-bottom: 15px}
.pb20 {padding-bottom: 20px}
.pb25 {padding-bottom: 25px}
.pb30 {padding-bottom: 30px}
.pb35 {padding-bottom: 35px}
.pb40 {padding-bottom: 40px}
.pb45 {padding-bottom: 45px}
.pb50 {padding-bottom: 50px}
.pb100 {padding-bottom: 105px}

.pl0 {padding-left: 0}
.pl5 {padding-left: 5px}
.pl10 {padding-left: 10px}
.pl15 {padding-left: 15px}
.pl20 {padding-left: 20px}
.pl25 {padding-left: 25px}
.pl30 {padding-left: 30px}
.pl35 {padding-left: 35px}
.pl40 {padding-left: 40px}
.pl45 {padding-left: 45px}
.pl50 {padding-left: 50px}
/* letter-spacing */
.ls-1 {letter-spacing: -1px}
/* font color */
.c666 {color: #666;}
/* overflow */
.of-h {overflow: hidden;}
/* line-height */
.lh18 {line-height: 18px;}
.lh20 {line-height: 20px;}
.lh24 {line-height: 24px;}
/* text-indent */
.ti10 {text-indent: 10px;}
.ti15 {text-indent: 15px;}
/* paragraph */
p.para {line-height: 1.7;letter-spacing: -0.6px;}
/* skip */
#skip {position: relative;width: 100%;z-index: 10}
#skip a {position: absolute;left: 0;top: -30px;width: 100%;background-color: #000;color: #fff;font-family:"나눔고딕B";text-align: center;padding: 5px 0}
#skip a:active,
#skip a:focus {top: 0}

/* 버튼 */
.anc-btn {display: inline-block;text-align: center;font-size: 14px;height: 34px;line-height: 34px;color: #fff;font-family:"나눔고딕B";background-color: #3385d3;width: 100px;}

/* 팝업 */
.popText{ width:100%; height:auto; overflow:hidden; text-align:center; color:#4f4f4f; }
.popBtnBox{ width:90%; border-top:1px solid #a2a2a2; padding:20px 0 0 0; height:auto; margin:50px auto 0 auto; overflow:hidden; text-align:center; }
.popBtnBox01{ width:100%; padding:20px 0 0 0; height:auto; margin:0 auto 0 auto; overflow:hidden; text-align:center; }

/* 지역 네비게이션 배경 투명 */
.navi_select_background {
    background-color: transparent;
/* 	color: rgb(79, 166, 253); */
/* 	background-color: rgba(255, 255, 255, 0.5); */
    color: BLACK;
    cursor: pointer; 
}

/* 로그인 */
.login_pop { position: fixed; z-index: 105; background: #fff;}
.login_pop .login_con { padding: 25px 20px 40px 20px;}
.login_pop .login_con .login_title { height: 50px; background: url("/img/um/bg_logintit.gif") no-repeat left bottom; margin-bottom: 23px;}
.login_pop .login_con .login_txt { color: #666666; font-size: 13px; line-height: 20px; text-align: center; margin-bottom: 14px;}
.login_pop .login_con .login_btn_center { text-align: center;}
.login_pop .login_con .login_btn_center a { margin-left : 5px;}
.login_pop .btn_close_b { position: absolute; right: 20px; top: 25px;}
.login_pop .login_con .boxlogincon { width: 378px; margin: 0 auto; border: 1px solid #e1e1e1; border-radius: 3px; background: #f1f1f1; margin-bottom: 30px; position: relative;}
.login_pop .login_con .boxlogincon > div { padding: 20px;}
.login_pop .login_con .boxlogincon > div > dl { width: 255px;}
.login_pop .login_con .boxlogincon > div > dl:after { content: ''; display: block; clear: both;}
.login_pop .login_con .boxlogincon > div > dl dt { float: left; width: 55px; margin-right: 15px; height: 30px; text-align: right; color: #333333; font-size: 13px; font-family:"나눔고딕B"; line-height: 30px;}
.login_pop .login_con .boxlogincon > div > dl dd { float: left; width: 184px; height: 30px;}
.login_pop .login_con .boxlogincon > div > dl dd input { height: 28px; /* line-height: 26px; */ color: #999999; text-indent: 13px; border: 1px solid #dddddd; width: 182px !important;}
.login_pop .login_con .boxlogincon > div > p { position: absolute; right: 20px; top: 20px;}
.login_pop .login_con .boxlogincon > div > p a { height: 63px; display: block; width: 73px; border: 1px solid #aaaaaa; text-align: center; line-height: 63px; background: #fafafa; color: #333333; font-size: 14px; font-family:"나눔고딕B";}
/* 로그인 2015-08-07*/
.loginbox{width:968px;height:auto;overflow:hidden;margin:30px auto 100px auto;border:1px solid #d6dfef;background:#fff url(/img/ico/ico_lock.png) no-repeat 30px 20px;}
.loginbox h3{margin:20px 0 10px 100px}
.loginbox ul{margin:10px 0 30px 100px}
.loginBtnbox{position:relative;width:100%;height:210px;overflow:hidden;border-top:1px solid #d6dfef;background:#f7f7f7}
.loginBtnbox>a{top:40px;width:180px;height:70px;overflow:hidden;color:#fff;text-align:center;line-height:70px;display:block;position:absolute;background:#4a65c6;border:1px solid #294d8c;border-radius:8px}
.btnTotalLogin{left:200px}
.btnOldLogin{right:200px}
.loginBtnbox>p{top:140px;width:400px;height:auto;overflow:hidden;text-align:center;line-height:1.5em;display:block;position:absolute;}
.totalTxt{left:90px}
.oldTxt{right:90px}

/* ajax 마스킹 */
/*
MozOpacity:0.6; 삭제,  KhtmlOpacity:0.6;
*/
.ajax_mask {background: #D3D3D3; border:0px solid black; position:absolute; left:0px; top:0px; z-index:100000; filter:alpha(opacity=60); opacity:0.6; width:100%;height:100%;}
.ajax_loading {position:absolute; height:100%; width:100%; z-index:11000; }
.ajax_loading_img {position:absolute; height:10px; width:400px; line-height:50px; padding-bottom:40px; top:50%; left:50%; z-index:11000; background:url("/img/common/loding_type01.gif") no-repeat;}


h2, h3, h4, dt, strong, b { font-weight:normal !important;}

/*페이지 타이틀 2016-02-19*/
.toolBar h2 {float: left;font-family: "나눔고딕EB";font-size: 14px;color: #333;padding: 8px 10px 8px 25px;background: url(../../img/common/icon_title.png) no-repeat 10px center;}
.interactiveSelect {background-color: #e5e7e8 !important; background-image:url(../../img/common/ico_arr01_new.gif) !important;color: #555 !important;}

/* 삭제 */
/*
body {-webkit-print-color-adjust:exact;}
@media print{
body{print-color-adjust:exact;} 
}
*/

/* 2017-11-21 [개발팀] */
.ui-widget-content {background:#fff !important;}
 caption{overflow:hidden;width:1px;height:1px;*height:0;padding:0;margin-top:-1px;font-size:0;line-height:0;text-indent:-999px}
