/* 2016-01-19 수정 */
@import url("/css/common.css");
@import url("/css/default.css");

.containerBox{width:970px;height:auto;overflow:hidden;margin:0 auto;}
.thematicGuide{font-size:12px;margin:15px 0 20px 0;color:#273c50;width:100%;height:auto;overflow:hidden;}
.thematicSubTitle{width:100%;height:auto;overflow:hidden;position:relative;}
.thematicSubTitle h3{font-size:28px;color:#273c50; font-weight:normal; font-family:"나눔고딕EB";}
.thematicSubTitle p{color:#575757;font-size:14px;margin-top:10px;}
.thematicSubTitle .Btn_request {float: right;margin-top: -25px;}
.thematicSubTitle .Btn_request a b { font-weight: normal; font-family: "나눔고딕B";}
/* .thematicSubTitle a{color:#727272;font-size:14px;background:url(/img/bg/bg_thematicLink.png);width:203px;height:39px;line-height:39px;text-align:left;text-indent:45px;display:block;position:absolute;right:0;top:0;} */
.thematicForm{margin-top:25px;text-align:center;width:100%;padding:15px 0;overflow:hidden;border-top:2px solid #00498f;border-bottom:2px solid #00498f;}
#atc-kwd{width:314px;height:32px;line-height:32px;padding:0 10px;font-size:13px;border:1px solid #e4e4e4;}
#themeSearchBtn{margin:0 10px;display:inline-block;width:93px;height:34px;line-height:34px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#21b69a; border:none;}
#atc-kwd, #themeSearchBtn{vertical-align:middle}
.searchResultBox{width:100%;height:auto;overflow:hidden;}
.searchResultBox .fl{float:left;width:403px;overflow:hidden;border-top:1px solid #d6d6d6;background:left 10px no-repeat; min-height:100px;}
.searchResultBox .fl.icon01{background-image:url("/img/ico/population.png");}
.searchResultBox .fl.icon02{background-image:url("/img/ico/house.png");}
.searchResultBox .fl.icon03{background-image:url("/img/ico/welfare.png");} 
.searchResultBox .fl.icon04{background-image:url("/img/ico/work.png");}
.searchResultBox .fl.icon05{background-image:url("/img/ico/environment.png");}

/* #icon02{background:url(/img/ico/ico_thematicSearch02.png) no-repeat left 40px;} */
/* #icon03{background:url(/img/ico/ico_thematicSearch03.png) no-repeat left 40px;} */
/* #icon04{background:url(/img/ico/ico_thematicSearch04.png) no-repeat left 40px;} */
.searchResultBox .fl .tit{font-size:20px;color:#273c50;margin: 50px 0 0 120px;font-weight: normal; font-family: "나눔고딕EB";}
.searchResultBox .fl .txt01{margin:5px 0 0 120px;font-size:14px;color:#273c50; display:none;}
.searchResultBox .fl .txt02{margin:10px 0 0 123px;font-size:14px;color:#727272;}
.searchResultBox .fr{float:left;width:566px;overflow:hidden;border-top:1px solid #d6d6d6;border-left:1px solid #d6d6d6; min-height:150px;}

/* .thematicSearchList{margin:45px;display:block;height:auto;overflow:hidden;} */
/* .thematicSearchList li{width:100%;height:auto;margin-bottom:30px;overflow:hidden;} */
/* .thematicSearchList li .thematicLink{width:100%;height:auto;overflow:hidden;} */
/* .thematicSearchList li .thematicLink a{font-size:17px;color:#3b3b3b;} */
/* .thematicSearchList li .thematicLink a, .thematicSearchList li .thematicLink img{vertical-align:middle} */
/* .thematicSearchList li .thematicEtc{margin:5px 0;color:#727272;font-size:13px;width:100%;height:auto;overflow:hidden;} */
/* .thematicSearchList li .thematicSpan{width:100%;height:auto;overflow:hidden;} */


.section{margin:20px;display:block;height:auto;overflow:hidden;}
.section div{width:100%;height:auto; overflow:hidden;}
.section div .thematicLink{width:100%;height:auto;overflow:hidden; margin-bottom:25px; height:80px;}
.section div .thematicLink a{font-size:16px;color:#3b3b3b;line-height:1;}
.section div .thematicLink a, .thematicSearchList li .thematicLink img{vertical-align:middle}
.section div .thematicEtc{margin:5px 0;color:#727272;font-size:13px;width:100%;height:auto;overflow:hidden; margin-left: 30px;}
.section div .thematicSpan{width:100%;height:auto;overflow:hidden;}
.section div .thematicLink .date { font-size:12px; line-height:1; margin-left: 0 !important; margin-top:-7px; height:20px;}
.searchResultBox .fc{width:100%;height:auto;overflow:hidden;}
.searchResultBox .fc .thematicSearchList{margin:0;}
.searchResultBox .fc .thematicSearchList li{margin-bottom:0;border-bottom:1px solid #d6d6d6;width:auto;display:block;padding:20px;}
.spbox{display:inline-block;min-width:40px;text-align:center;margin:0 5px 0 0;padding:5px;color:#fff;font-size:11px;border-radius:5px; font-family: "dotum", "돋움", sans-serif;}
.spbox.type01{background:#2f4f4f;}
.spbox.type02{background:#1e90ff;}
.spbox.type03{background:#2f4d6a;}
.rstxt{color:#606060;font-size:15px;display:block;padding:10px 20px;border-bottom:1px solid #d6d6d6;}
.spbox.type04{background:#d2691e;}
.spbox.type05{background:#ff8c00;}
.spbox.type06{background:#2e8b57;}
.spbox.type07{background:#fb6554;}
.spbox.type08{background:#71105C;}
.spbox.type09{background:#F361A6;}
.spbox.type10{background:#8C8C8C;}

.ui-tooltip, .arrow:after {background:#f5f5f5;border:1px solid #dcdcdc;}
  .ui-tooltip {
    padding:10px;
    color: #666;  
    box-shadow:none;
    border:1px solid #dcdcdc !important; line-height:1em;
  }
  .ui-tooltip *{font-size:11px !important;}
  .ui-tooltip .subj{display:block;height:20px;margin:0 0 5px 0;font-size:11px;padding-left:20px;line-height:20px;background:url(/img/ico/ico_tooltip.png) no-repeat 5px center;}
  .arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    background:transparent;
  }
  .arrow.top {top:-16px;bottom: auto;}
  .arrow.left {left: 20%;}
  .arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 15px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
  .arrow.top:after {bottom: -20px;top: auto;}