<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>statsPotal</display-name>
  <servlet>
    <servlet-name>statsPotal</servlet-name>
    <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
    <init-param>
      <param-name>contextConfigLocation</param-name>
      <param-value>
	
			    /conf/durian-api.xml
			    /conf/durian-beans.xml
			    /conf/durian-default.xml
			    /conf/durian-jdbc.xml
			    /conf/durian-properties.xml
			    /conf/durian-views.xml
			</param-value>
    </init-param>
    <load-on-startup>1</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>statsPotal</servlet-name>
    <url-pattern>/view/*</url-pattern>
    <url-pattern>*.json</url-pattern>
	<url-pattern>*.jsonp</url-pattern>
    <url-pattern>*.geojson</url-pattern>
    <url-pattern>*.form</url-pattern>
    <url-pattern>*.download</url-pattern>
    <url-pattern>*.excel</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>jcaptcha</servlet-name>
    <servlet-class>kostat.sop.ServiceAPI.common.util.CreateCaptchaImage</servlet-class>
    <load-on-startup>0</load-on-startup>
  </servlet>
  <servlet-mapping>
    <servlet-name>jcaptcha</servlet-name>
    <url-pattern>/jcaptcha</url-pattern>
  </servlet-mapping>
  <filter>
    <filter-name>Set Character Encoding</filter-name>
    <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
    <init-param>
      <param-name>encoding</param-name>
      <param-value>UTF-8</param-value>
    </init-param>
    <init-param>
      <param-name>forceEncoding</param-name>
      <param-value>true</param-value>
    </init-param>
  </filter>
  <filter-mapping>
    <filter-name>Set Character Encoding</filter-name>
    <url-pattern>/</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>authenticationFilter</filter-name>
    <filter-class>kostat.sop.ServiceAPI.common.security.AuthenticationFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>authenticationFilter</filter-name>
    <url-pattern>/html/mypage/*</url-pattern>
    <url-pattern>/html/board/boardRegist.html</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>httpsFilter</filter-name>
    <filter-class>kostat.sop.ServiceAPI.common.security.HttpsFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>httpsFilter</filter-name>
    <url-pattern>/*</url-pattern>
  </filter-mapping>
  <filter>
    <filter-name>sslFilter</filter-name>
    <filter-class>kostat.sop.ServiceAPI.common.security.SSLFilter</filter-class>
  </filter>
  <filter-mapping>
    <filter-name>sslFilter</filter-name>
    <url-pattern>/view/*</url-pattern>
  </filter-mapping>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <session-config>
    <session-timeout>99999</session-timeout>
  </session-config>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.locale</param-name>
    <param-value>
			ko-KR
		</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.localizationContext</param-name>
    <param-value>
			ApplicationResources
		</param-value>
  </context-param>
  <context-param>
    <param-name>javax.servlet.jsp.jstl.fmt.fallbackLocale</param-name>
    <param-value>
			ko-KR
		</param-value>
  </context-param>
  <servlet>
    <servlet-name>SPStub</servlet-name>
    <servlet-class>gov.mogaha.gpin.connect.servlet.SPStub</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SPStub</servlet-name>
    <url-pattern>/SPStub</url-pattern>
  </servlet-mapping>
  <error-page>
    <error-code>400</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>403</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>404</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>405</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>500</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  <error-page>
    <error-code>502</error-code>
    <location>/html/common/errorCode.html</location>
  </error-page>
  
  <!-- 2917.12.21 [개발팀] 취약성 조치 -->
  <security-constraint>
	<display-name>openCross http auth</display-name>
	<web-resource-collection>
		<web-resource-name>Secure File</web-resource-name>
			<url-pattern>/*</url-pattern>
			<http-method>HEAD</http-method>
			<http-method>PUT</http-method>
			<http-method>DELETE</http-method>
			<http-method>TRACE</http-method>
			<http-method>OPTIONS</http-method>
	</web-resource-collection>
  </security-constraint>
  
</web-app>