@charset "utf-8";    

@font-face {
  font-family: 'NanumGothicBold';
  font-style: normal;
  font-weight: 700;
  src: url('../font/NanumGothic-Bold.eot');
  src: url('../font/NanumGothic-Bold.eot?#iefix') format('embedded-opentype'),
       url('../font/NanumGothic-Bold.woff2') format('woff2'),
       url('../font/NanumGothic-Bold.woff') format('woff'),
       url('../font/NanumGothic-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'NanumGothic';
  font-style: normal;
  font-weight: 700;
  /* 
  src: url('../font/NanumGothic-Regular.eot');
  src: url('../font/NanumGothic-Regular.eot?#iefix') format('embedded-opentype'),
       url('../font/NanumGothic-Regular.woff2') format('woff2'),
       url('../font/NanumGothic-Regular.woff') format('woff'),
       url('../font/NanumGothic-Regular.ttf') format('truetype');
  */
}

*{ font-family:'NanumGothic', 'Malgun Gothic', sans-serif;font-size:13px;color:#666;letter-spacing:-1px;}
html,body,p, input, select, form, label, mark, ul, ul li, ol, ol li, dl, dl dt, dl dd, img, a, table, h1, h2, h3, h4, h5{margin:0;padding:0;}
img{ border:0; } 
ul, ol{ list-style:none; }
a{color:#555;text-decoration:none; } 
a:hover{text-decoration:none; }  
table{border:0;border-collapse:collapse;table-layout:fixed;}  
.slick-slider{position:relative;display:block;box-sizing:border-box;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;-webkit-touch-callout:none;-khtml-user-select:none;-ms-touch-action:pan-y;-webkit-tap-highlight-color:transparent}
.slick-list{position:relative;display:block;overflow:hidden;margin:0;padding:0}
.slick-list:focus{outline:none}
.slick-list.dragging{cursor:pointer;}
.slick-slider .slick-track,.slick-slider .slick-list{-webkit-transform:translate3d(0,0,0);-moz-transform:translate3d(0,0,0);-ms-transform:translate3d(0,0,0);-o-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}
.slick-track{position:relative;top:0;left:0;display:block}
.slick-track:before,.slick-track:after{display:table;content:''}
.slick-track:after{clear:both}
.slick-loading .slick-track{visibility:hidden}
.slick-slide{display:none;float:left;height:100%;min-height:1px}
[dir='rtl'] .slick-slide{float:right}
.slick-slide img{display:block}
.slick-slide.slick-loading img{display:none}

.slick-initialized .slick-slide{display:block}
.slick-loading .slick-slide{visibility:hidden}
.slick-vertical .slick-slide
{display: block;height: auto;border: 1px solid transparent;}
.slick-arrow.slick-hidden {display: none;}
.slick-next.slick-arrow, .slick-prev.slick-arrow{display:none !important;}
.slick-dots{position:absolute;left:0;bottom:30px;width:100%;height:auto;overflow:hidden;text-align:center;}
.slick-dots li{display:inline-block;text-indent:-2000px;border:0;width:26px;height:4px;margin:2px;overflow:hidden;background:#f5f5f5;cursor:pointer;}
.slick-dots .slick-active{background:#e51937;}
.slick-initialized .slick-slide{outline:none;}
 
.w46{width:46px !important;}
.w20{width:20px !important;}
.w30{width:30px !important;}
.w40{width:40px !important;}
.w50{width:50px !important;}
.w55{width:55px !important;}
.w60{width:60px !important;}
.w70{width:70px !important;}
.w80{width:80px !important;}
.w100{width:100px !important;} 
.w110{width:110px !important;} 
.w120{width:120px !important;} 
.w150{width:150px !important;} 
.w200{width:200px !important;} 
.w205{width:205px !important;}
.w217{width:217px !important;}
.w235{width:235px !important;} 
.w247{width:247px !important;}
.w300{width:300px !important;} 
.w380{width:380px !important;} 
.w400{width:400px !important;} 
.inpDate{font-size:13px !important;text-align:center;width:100px !important;}

.ml3{margin-left:3px !important}
.ml10{margin-left:10px !important}
.ml20{margin-left:20px !important}
.mt0{margin-top:0px !important}
.mt10{margin-top:10px !important}
.mt15{margin-top:15px !important}
.mt20{margin-top:20px !important}
.mt25{margin-top:25px !important}
.mt30{margin-top:30px !important}
.mt40{margin-top:40px !important}
.mt50{margin-top:50px !important}

.mb10{margin-bottom:10px !important} 
.mb20{margin-bottom:20px !important} 
.mb30{margin-bottom:30px !important} 
.mb40{margin-bottom:40px !important} 
.mb50{margin-bottom:50px !important} 