@charset "utf-8"; 


button {border:0 none;background-color:transparent; cursor: pointer;}
input,select,textarea,button {vertical-align: middle;-webkit-border-radius: 0; border:0}


.header{background:#fff;width:1200px;height:56px;overflow:hidden;margin:0 auto;}
.header h1{width:300px;height:56px;overflow:hidden;float:left;}
.header h1 img{margin-top:5px;}
.header .gnb{width:900px;height:56px;text-align:center;overflow:hidden;float:left;}
.header .gnb li{display:inline-block;padding:0 25px;height:56px;line-height:56px;}
.header .gnb li a{font-size:16px;color:#585858;}
.header .gnb li a:hover, .header .gnb li a.on{color:#ff8e70;}
.header .topRight{width:30px;height:56px;overflow:hidden;float:right;text-align:center;}
.header .topRight img{margin-top:18px;}

.container{width:100%;height:auto;overflow:hidden;min-width:1200px;max-width:1920px;margin:0 auto;}
.noticWrap{width:100%; height:1143px; overflow:hidden; position:relative; background:url(../img/bg/notic2.jpg) no-repeat center top; position:relative;}
.notic {width:1074px; position:absolute; top:290px; left:50%; margin-left:-526px;  overflow:hidden;}
.notic h1{font-size:20px; font-weight:100; color:#486e5f; background:url(../img/ico/ico_notic.png) no-repeat left top; text-indent:22px; height:46px; border-bottom:1px solid #e9e9e9; width:100%;}

.search{ background:#ebf2eb; padding:12px }
.search select{background:#fff; width:188px; height:31px; font-size:13px; color:#676767; text-indent:10px;}
.search input{background:#fff; width:530px; height:31px; font-size:13px; color:#676767;}
.search input[type="button"]{width:36px; height:36px;background:url(../img/etc/btn_search.png)no-repeat; border:0;}

.table01{width:100%;}
.table01 th{background:#3f8b6d; height:50px; color:#fff; font-size:13px;  text-align:center;}
.table01 td{color:#777777; border-bottom:1px solid #e6e6e6; font-size:13px; text-align:center; height:44px; cursor:pointer;}
.table01 td.tAling{text-align:left; padding-left:20px;}
.table01 td.re{background:url(../img/ico/ico_re.png)no-repeat 20px 12px; padding-left:50px; }

.table02{width:100%; border-top:1px solid #e6e6e6;}
.table02 th{background:#ebf2eb;  padding-left:30px; text-align:left; color:#39594a; font-size:13px; border-bottom:1px solid #e6e6e6; height:44px;  }
.table02 td{text-align:left;  border-bottom:1px solid #e6e6e6;  height:24px; font-size:13px; color:#787878; padding:10px 0 10px 30px; }

.tableBtn{border-radius:5px; background:#666666; font-size:13px; color:#fff; width:83px; height:30px; text-align:center; line-height:30px;}
.table02 input, .table02 select{border:1px solid #e6e6e6; height:28px; font-size:13px; color:#787878; text-indent:10px;}
.table02 textarea{border:1px solid #e6e6e6; height:28px; font-size:13px; color:#787878;  margin:10px 0; height:250px; padding:10px; width:780px;}



.table03{width:100%;}
.table03 th{background:#ebf2eb; font-size:18px; padding:0 20px; color:#395849; height:56px; text-align:left; font-weight:500;}
.table03 th span{font-size:13px; float:right; color:#30352f; }
.table03 td{padding:20px; font-size:13px; color:#777777; border-bottom:1px solid #e6e6e6; }




.noticButtonWrap{position:fixed; bottom:80px; right:0}
.noticButton{width:107px; height:37px; border-radius:30px; font-size:13px; color:#fff; text-align:center; float:left;}
.noticButton.orange{background:#f27259;}
.noticButton.bule{background:#40567b;}
.noticButton.green{background:#269a87;}
.noticButton.gray{background:#666666;}


.page{margin:0 auto; clear:both; width:420px;}
.page li{width:30px; height:30px; text-align:center; line-height:30px; color:#656565; font-size:13px; float:left;}
.page li a{font-size:13px; display:inline-block; width:30px; height:30px;}
.page li a:hover, .page li a.on{width:28px; height:28px; border:1px solid #f0f0f0; color:#7b9cbb; line-height:28px; font-weight:500;}



.w798{width:798px;}
.mr10{margin-right:10px;}
.fl{float:left;}
.fr{float:right;}