@import url("./bizStats.css");
@import url("./jquery.tagsinput.min.css");

html,body{overflow:auto;background:none;}
#wrap{background:url(/img/bg/bg_header.jpg) repeat-x;}
.containerBox{position:static;background:#fff;width:970px;height:auto;overflow:hidden;margin:0 auto;}
.mpGuide{font-size:15px;margin:30px 0 50px 0;color:#273c50;width:100%;height:auto;overflow:hidden;}
.mpGuide span{color:#273c50}
.mpSubTitle{width:100%;height:auto;overflow:hidden;position:relative;}
.mpSubTitle h3{font-size:28px;color:#273c50;} 
.mpSubTitle p{color:#575757;font-size:12px;margin-top:10px;padding-bottom:10px;border-bottom:1px solid #f4f4f4;}
.mpSubTitle a{color:#727272;font-size:14px;display:block;background:#ccc;height:34px;line-height:34px;text-align:center;width:150px;position:absolute;right:0px;bottom:0;border-radius:17px}
.mpForm{margin-top:35px;text-align:right;width:100%;height:auto;padding:25px 0;overflow:hidden;border-top:2px solid #00498f;}
.mpForm input{width:120px;height:34px;line-height:34px;padding:0 10px;font-size:13px;border:1px solid #e4e4e4;}
.mpForm select{width:100px;height:34px;font-size:13px;border:1px solid #e4e4e4;}
.mpForm select.type01{font-size:20px;background:#ccc;color:#333;border-radius:17px;padding-left:15px;width:60px;}
.mpForm .etc{font-size:20px;display:inline-block;width:60px;height:34px;line-height:34px;background:#ccc;color:#333;border-radius:17px;text-align:center;overflow:hidden;}
.mpForm a{margin:0;display:inline-block;width:93px;height:34px;line-height:34px;text-align:center;overflow:hidden;color:#fff;font-size:13px;background:#21b69a;}
.mpForm span, .mpForm label, .mpForm input, .mpForm select, .mpForm a{vertical-align:middle}

.paging{margin:20px 0;width:100%;height:auto;overflow:hidden;text-align:center;}
.paging a{margin:0 5px;display:inline-block;height:25px;line-height:25px;text-align:center;color:#555;font-size:13px;}
.paging a.on, .paging a:hover{font-weight:bold;text-decoration:underline;}
.paging a, .paging a img{vertical-align:middle}
.paging .current{color : #f50909;}
.popBox .txt{text-align:center;margin:5px 0 0 0;}
.useArea{width:100%;height:auto;overflow:hidden;margin:25px 0 0 0;}
.useWrite{width:690px;height:auto;overflow:hidden;float:left;}
.useWrite table{width:100%;}
.useWrite table th{vertical-align:top;padding:7px 0;text-align:left;font-size:15px;color:#4d4d4d;}
.useWrite table td{padding:7px 0;}
.useWrite table td .inp{width:269px;height:31px;line-height:31px;padding:0 5px;background:#f9f9fa;border:0;box-shadow:inset 0 0 1px #999;font-size:12px;color:#555;}
.useWrite table td .inp.full{width:678px}
.useWrite table td .inp.t01{width:528px}
.useWrite table td .select{width:280px;height:33px;border:1px solid #e2e2e3;font-size:12px;color:#555;}
.useWrite table td .textarea{width:526px;height:385px;line-height:21px;padding:0 5px;background:#f9f9fa;border:1px solid #e2e2e3;font-size:12px;color:#555;}
/* .useSide{width:260px;height:auto;overflow:hidden;float:right;} */
.useSide{width:260px;height:auto;float:right;}
.gbtnType01{display:inline-block;padding:0 20px;height:26px;line-height:26px;background:#4f87b6;color:#fff;font-size:13px;border-radius:13px;}
.usSubj{position:relative;margin:15px 0 5px 0;width:100%;height:auto;overflow:hidden;}
.usSubj span{font-weight:bold;font-size:15px;color:#4d4d4d;}
.usSubj a{position:absolute;right:0;top:0px;font-size:13px;color:#4d4d4d;}
.imgView{display:block;margin-top:6px;cursor:pointer;box-shadow:inset 0 0 1px #999;position:relative;width:100%;height:150px;overflow:hidden;background:#f9f9fb url(/img/ico/ico_plus03.png) no-repeat center 50px;}
.imgView span{display:block;width:100%;height:auto;overflow:hidden;position:absolute;left:0;top:85px;text-align:center;font-size:13px;}
.imgView input{position:absolute;left:-2000px;}
.usForm{margin:0 0 0 0;width:100%;height:40px;overflow:hidden;box-shadow:inset 0 0 1px #999;background:#f9f9fa;}
.usForm input{background:transparent;border:0;height:40px;width:280px;padding:0 10px;line-height:40px;}
.usListBox{width:100%;height:120px;overflow:hidden;box-shadow:inset 0 0 1px #999;}
.usListBox ul{width:280px;height:auto;overflow:hidden;margin:10px;}
.usListBox ul li{width:100%;height:auto;overflow:hidden;margin-top:5px;}
.usListBox ul li:first-child{margin-top:0}
.usListBox ul li a, .usListBox ul li span{font-size:12px;vertical-align:middle;color:#355a9e;display:inline-block;}
.hashTag{margin-top:10px;width:100%;height:80px;overflow:hidden;box-shadow:inset 0 0 1px #999;background:#f9f9fa;}
.hashTag #hashTag{resize:none;background:transparent;border:0;height:60px;display:block;width:280px;padding:10px;}
.contForm{width:100%;height:160px;overflow:hidden;box-shadow:inset 0 0 1px #999;background:#f9f9fa;}
.contForm textarea{resize:none;background:transparent;border:0;height:140px;display:block;width:280px;padding:10px;}
.josaListBox{border:1px solid #e2e2e3;border-top:0;width:258px;height:auto;overflow:hidden;}
.josaListBoxScroll{width:100%;height:90px;overflow:hidden;}
.josaListBox ul{margin:10px;width:240px;height:auto;overflow:hidden;}
.josaListBox ul li{width:100%;height:atuo;overflow:hidden;margin-bottom:5px;}
.josaListBox ul li input{height:28px;line-height:28px;width:198px;border-radius:15px;border:1px solid #e2e2e3;background:#f9f9fa;font-size:12px;color:#9e9e9f;overflow:hidden;padding:0 20px;}
.josaListBox ul li a{height:28px;line-height:28px;width:208px;border-radius:15px;border:1px solid #e2e2e3;background:#f9f9fa;display:block;font-size:12px;color:#595857;overflow:hidden;padding:0 10px 0 20px;}
.radioLink{background:url(/img/ico/ico_rdbox.gif) no-repeat right center;height:28px;line-height:28px;width:240px;display:block;font-size:13px;color:#595857;overflow:hidden;margin:5px auto;}
.radioLink.on{background:url(/img/ico/ico_rdbox_on.gif) no-repeat right center;}
input:focus{outline:none}
.btnbox{width:100%;height:auto;overflow:hidden;margin:20px 0;}
.btnbox.ar{text-align:right;}
.gallerySearchBox{margin:30px 0;width:100%;height:48px;overflow:visible;}
.gallerySearchBox .form{float:left;height:46px;width:500px;overflow:hidden;border:1px solid #d6d6d6;border-radius:23px;border-top-left-radius:0;border-bottom-left-radius:0;border-left:0;}
.selectDiv{height:46px;width:150px;float:left;position:relative;border:1px solid #d6d6d6;border-radius:23px;border-top-right-radius:0;border-bottom-right-radius:0;border-right:0;}
.selectDiv a{margin:0;height:46px;width:150px;text-align:center;font-size:13px;line-height:46px;background:url(/img/bg/bg_down01.png) no-repeat 120px center;display:block;}
.selectDiv ul{display:none;border:1px solid #333;background:#fff;width:148px;height:auto;overflow:hidden;position:absolute;right:0;top:-1px;z-index:99;border-top-left-radius:23px;border-bottom-left-radius:23px;border-bottom-right-radius:23px;}
.selectDiv ul li{width:100%;height:46px;line-height:46px;text-align:center;border-top:1px solid #333;}
.selectDiv ul li>a{background:none;height:46px;width:100%;overflow:hidden;display:block;}
.gadd{font-size:0;text-indent:-2000px;background:#f4f4f4 url(/img/ico/ico_add02.png) no-repeat center center;background-size:100px 64px;margin-top:10px;width:100px;height:87px;overflow:hidden;float:right;border:1px solid #ddd;}
.selectDiv ul li>a:hvoer{background:#f4f4f4;}
.selectDiv ul li:first-child{border-top:0;border-top-left-radius:23px;}
.selectDiv ul li:last-child{border-bottom-left-radius:23px;border-bottom-right-radius:23px;}
.gallerySearchBox .form select{margin-left:20px;margin-right:10px;height:46px;border:0;width:90px;float:left;}
.gallerySearchBox .form input{padding-left:20px;height:46px;border:0;width:420px;float:left;background:transparent;}
.gallerySearchBox .form a{float:right;margin-right:20px;margin-top:10px}
.gallerySearchBox .gsbRight{cursor:pointer;float:right;}
.gallerySearchBox .gsbRight .cycle{font-weight:bold;float:left;line-height:46px;text-align:center;font-size:15px;height:46px;width:46px;overflow:hidden;border-radius:50%;}
.gallerySearchBox .gsbRight .cycle{background:#feda00;color:#3f3e43;} 
.gallerySearchBox .gsbRight:hover .cycle{background:#2f4d6a;color:#fff;}
.gallerySearchBox .gsbRight .info{display:none;width:130px;height:46px;overflow:hidden;float:left;margin-left:10px;}
.gallerySearchBox .gsbRight.before .info{display:none;}
.gallerySearchBox .gsbRight.after .info{display:block;}
.gallerySearchBox .gsbRight .info .p01{width:100%;height:23px;line-height:23px;overflow:hidden;border-bottom:1px solid #f2f2f2;font-size:15px;color:#6b6b6b;}
.gallerySearchBox .gsbRight .info .p02{width:100%;height:22px;line-height:22px;overflow:hidden;}
.gallerySearchBox .gsbRight .info .p02 .t01{font-size:11px;color:#8c8c8c;float:left;}
.gallerySearchBox .gsbRight .info .p02 .t02{font-size:11px;color:#8c8c8c;float:right;}
.galleryCategory{border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;padding:10px 0;width:100%;height:auto;overflow:hidden;}
.galleryCategory a{font-size:13px;color:#7c7c7c;float:left;margin-right:20px;}
.galleryCategory a.on{color:#ffda00;font-weight:bold;}
.galleryCategory select{font-size:13px;color:#7c7c7c;float:left;border:0;}
.galleryListTop{margin:50px 0 20px 0;width:100%;height:auto;overflow:hidden;}
.galleryListTop span{float:left;font-size:13px;color:#7c7c7c;}
.galleryListTop a{float:right;font-size:13px;color:#5b5b5b;background:#ffda00;height:36px;width:100px;line-height:36px;text-align:center;border-radius:18px;}
.galleryListItem{width:990px;height:auto;overflow:hidden;margin:0 0 0 -10px;}

/*test */
.galleryListItem li{float:left;width:310px;height:auto;overlfow:hidden;margin:0 10px 20px 10px;}
.galleryListItem li .rela{position:relative;width:308px;height:360px;overflow:hidden;border:1px solid #e1e1e1;border-radius:5px;}
.galleryListItem li .rela .map{width:308px;height:360px;overflow:hidden;}
.galleryListItem li .rela .map img{width:308px;height:220px;}
.galleryListItem li .rela .maskbox{background:rgba(255,255,255,1);width:308px;height:auto;overflow:hidden;position:absolute;left:0;bottom:0;border-top : 1px solid #d6d6cb}
.galleryListItem li .rela .cont{width:100%;height:auto;overflow:hidden;}
.galleryListItem li .rela .cont .conBar{position:relative;background:url(/img/ico/ico_gwon02.png) no-repeat 10px center;background-size:35px 35px;width:100%;height:60px;overflow:hidden;border-bottom:1px solid #e1e1e1;}
.galleryListItem li .rela .cont .conBar.gw01{background:url(/img/ico/ico_gwon01.png) no-repeat 10px center;background-size:35px 35px;}
.galleryListItem li .rela .cont .conBar.gw02{background:url(/img/ico/ico_gwon02.png) no-repeat 10px center;background-size:35px 35px;}
.galleryListItem li .rela .cont .conBar.gw03{background:url(/img/ico/ico_gwon03.png) no-repeat 10px center;background-size:35px 35px;}
.galleryListItem li .rela .cont .conBar.gw04{background:url(/img/ico/ico_gwon04.png) no-repeat 10px center;background-size:35px 35px;}
.galleryListItem li .rela .cont .conBar.gw05{background:url(/img/ico/ico_gwon05.png) no-repeat 10px center;background-size:35px 35px;}
.galleryListItem li .rela .cont .conBar.gw06{background:url(/img/ico/ico_gwon06.png) no-repeat 10px center;background-size:35px 35px;} /* 2017.03.31 활용사례/자료제공 아이콘 */

.galleryListItem li .rela .cont .conBar .t01{font-size:13px;color:#5b5b5b;width:210px;margin:15px auto 0 auto;height:auto;overflow:hidden; text-overflow:ellipsis;-o-text-overflow: ellipsis;white-space: nowrap;word-wrap: normal !important;}
.galleryListItem li .rela .cont .conBar .t02{font-size:11px;color:#5b5b5b;width:210px;margin:5px auto 0 auto;height:auto;overflow:hidden;}
.galleryListItem li .rela .cont .conBar a{width:21px;height:22px;overflow:hidden;background:url(/img/ico/ico_nemo.png);font-size:11px;text-indent:5px;line-height:27px;position:absolute;right:20px;top:15px}
.galleryListItem li .rela .cont .contEtc{width:100%;height:219px;overflow:hidden;display:none}
/* .galleryListItem li .rela .cont .contEtc .t01{font-size:13px;color:#666;width:280px;margin:80px auto 0 auto;height:auto;overflow:hidden;} */
.galleryListItem li .rela .cont .contEtc .t01{font-size:13px;color:#666;width:280px;margin:30px auto 0 auto;height:auto;overflow:hidden;} 
/* .galleryListItem li .rela .cont .contEtc .t02{font-size:16px;color:#666;width:280px;margin:5px auto 0 auto;height:auto;overflow:hidden;line-height:1.2em} */
.galleryListItem li .rela .cont .contEtc .t02{font-size:13px;color:#666;width:280px;margin:5px auto 0 auto;height:auto;overflow:hidden;line-height:1.2em}
.galleryListItem li .rela .tailTxt{border-top:1px solid #f8f8f6;position:relative;background:#fff url(/img/ico/ico_tailTxt.png) no-repeat 10px center;text-indent:30px;width:100%;height:40px;overflow:hidden;font-size:11px;color:#686868;line-height:40px;}
.galleryListItem li .rela .tailIcon{border-top:1px solid #f8f8f6;background:#fff;width:100%;height:auto;padding:10px 0;overflow:hidden;}
.galleryListItem li .rela .tailIcon .t01{margin-left:10px;margin-right:5px;display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg01.png) no-repeat left center;font-size:12px;}
.galleryListItem li .rela .tailIcon .t02{margin-right:5px;display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg02.png) no-repeat left center;font-size:12px;}
.galleryListItem li .rela .tailIcon .t03{display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg03.png) no-repeat left center;font-size:12px;}
.galleryListItem li .rela .tailIcon .t04{margin-top:5px;float:right;margin-right:10px;display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg04.png) no-repeat left center;font-size:11px;}


.galleryListItem li.on .rela .maskbox{height:360px;}
.galleryListItem li.on .rela .cont .contEtc{display:block;}


/* .galleryListItem li.on .rela .maskbox{height:360px;}
.galleryListItem li.on .rela .cont .contEtc{display:block} */

.etcTp{position:absolute;left:0;top:0;}  



.myRgBox{width:100%;height:auto;overflow:hdiden;margin:50px 0 20px 0;}
.myRgBox p{font-weight:bold;font-size:22px;color:#3f3f3f;text-align:center;}
.myRgBox .nun{margin-top:10px;width:100%;height:auto;overflow:hdiden;text-align:center;}
.myRgBox .nun span{color:#8e8e8e;font-size:13px;display:inline-block;margin:0 5px;}
.mrgTabs{width:600px;margin:0 auto;height:50px;overflow:hidden;text-align:center;}
.mrgTabs a{border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;float:left;font-size:15px;width:200px;height:48px;text-align:center;line-height:48px;color:#8a8a8a;}
.mrgTabs a.on{font-weight:bold;color:#333;border-bottom:2px solid #fdda05;}
.mrgTabsList{width:600px;margin:0 auto;height:50px;overflow:hidden;text-align:center;}
.mrgTabsList a{border-top:1px solid #f4f4f4;border-bottom:1px solid #f4f4f4;float:left;font-size:15px;width:200px;height:48px;text-align:center;line-height:48px;color:#8a8a8a;}
.mrgTabsList a.on{font-weight:bold;color:#333;border-bottom:2px solid #fdda05;}


.btnGtype, .btnGtype01{display:inline-block;margin-right:5px;font-size:13px;color:#5b5b5b;background:#d3d3d3;height:36px;width:100px;line-height:36px;text-align:center;border-radius:18px;}
.btnGtype.on{background:#feda00;}
.btnGtype:hover{background:#feda00;}

.myGalleryListItem{width:990px;height:auto;overflow:hidden;margin:0 0 0 -10px;}
.myGalleryListItem li{cursor:pointer;float:left;width:310px;height:auto;overlfow:hidden;margin:0 10px 20px 10px;}
.myGalleryListItem li .rela{position:relative;width:308px;height:280px;overflow:hidden;border:1px solid #e1e1e1;border-radius:5px;}
.myGalleryListItem li .rela .map{width:308px;height:220px;overflow:hidden;}
.myGalleryListItem li .rela .maskbox{display:none;background:rgba(255,255,255,.8) url(/img/ico/ico_ck03.png) no-repeat center center;width:308px;height:280px;overflow:hidden;position:absolute;left:0;bottom:0;border-radius:5px;border-top : 1px solid #d6d6cb}
.myGalleryListItem li .rela .cont{width:100%;height:auto;overflow:hidden;}
.myGalleryListItem li .rela .cont .conBar{position:relative;background:url(/img/ico/ico_gwon02.png) no-repeat 10px center;background-size:35px 35px;width:100%;height:60px;overflow:hidden;border-bottom:1px solid #e1e1e1;}
.myGalleryListItem li .rela .cont .conBar.gw01{background:url(/img/ico/ico_gwon01.png) no-repeat 10px center;background-size:35px 35px;}
.myGalleryListItem li .rela .cont .conBar.gw02{background:url(/img/ico/ico_gwon02.png) no-repeat 10px center;background-size:35px 35px;}
.myGalleryListItem li .rela .cont .conBar.gw03{background:url(/img/ico/ico_gwon03.png) no-repeat 10px center;background-size:35px 35px;}
.myGalleryListItem li .rela .cont .conBar.gw04{background:url(/img/ico/ico_gwon04.png) no-repeat 10px center;background-size:35px 35px;}
.myGalleryListItem li .rela .cont .conBar.gw05{background:url(/img/ico/ico_gwon05.png) no-repeat 10px center;background-size:35px 35px;}
.myGalleryListItem li .rela .cont .conBar .t01{font-size:13px;color:#5b5b5b;width:210px;margin:15px auto 0 auto;height:auto;overflow:hidden;}
.myGalleryListItem li .rela .cont .conBar .t02{font-size:11px;color:#5b5b5b;width:210px;margin:5px auto 0 auto;height:auto;overflow:hidden;}
.myGalleryListItem li.on .rela .maskbox{display:block;}

/* .myGalleryListItem li.on .rela .maskbox{height:360px;}
.myGalleryListItem li.on .rela .cont .contEtc{display:block} */


.writeGalleryListItem{width:990px;height:auto;overflow:hidden;margin:0 0 0 -10px;}
.writeGalleryListItem li{cursor:pointer;float:left;width:310px;height:auto;overlfow:hidden;margin:0 10px 20px 10px;}
.writeGalleryListItem li .rela{position:relative;width:308px;height:auto;overflow:hidden;border:1px solid #e1e1e1;border-radius:5px;}
.writeGalleryListItem li .rela .map{width:308px;height:220px;overflow:hidden;}
.writeGalleryListItem li .rela .maskbox{z-index:10;display:none;background:rgba(255,255,255,.8) url(/img/ico/ico_ck03.png) no-repeat center center;border-radius:5px;width:308px;height:347px;overflow:hidden;position:absolute;left:0;bottom:0;border-top : 1px solid #d6d6cb}
.writeGalleryListItem li .rela .cont{width:100%;height:auto;overflow:hidden;border-top : 1px solid #d6d6cb}
.writeGalleryListItem li .rela .cont .conBar{position:relative;background:url(/img/ico/ico_gwon06.png) no-repeat 10px center;background-size:35px 35px;width:100%;height:60px;overflow:hidden;border-bottom:1px solid #e1e1e1;} /* 2017.04.03 심볼변경 */
.writeGalleryListItem li .rela .cont .conBar.gw01{background:url(/img/ico/ico_gwon01.png) no-repeat 10px center;background-size:35px 35px;}
.writeGalleryListItem li .rela .cont .conBar.gw02{background:url(/img/ico/ico_gwon02.png) no-repeat 10px center;background-size:35px 35px;}
.writeGalleryListItem li .rela .cont .conBar.gw03{background:url(/img/ico/ico_gwon03.png) no-repeat 10px center;background-size:35px 35px;}
.writeGalleryListItem li .rela .cont .conBar.gw04{background:url(/img/ico/ico_gwon04.png) no-repeat 10px center;background-size:35px 35px;}
.writeGalleryListItem li .rela .cont .conBar.gw05{background:url(/img/ico/ico_gwon05.png) no-repeat 10px center;background-size:35px 35px;}
.writeGalleryListItem li .rela .cont .conBar.gw06{background:url(/img/ico/ico_gwon06.png) no-repeat 10px center;background-size:35px 35px;} /* 2017.04.03 활용사례/자료제공 및 기타아이콘 */

.writeGalleryListItem li .rela .cont .conBar .t01{font-size:13px;color:#5b5b5b;width:210px;margin:15px auto 0 auto;height:auto;overflow:hidden;}
.writeGalleryListItem li .rela .cont .conBar .t02{font-size:11px;color:#5b5b5b;width:210px;margin:5px auto 0 auto;height:auto;overflow:hidden;}
.writeGalleryListItem li .rela .cont .conBar a{width:21px;height:22px;overflow:hidden;background:url(/img/ico/ico_nemo.png);font-size:11px;text-indent:5px;line-height:27px;position:absolute;right:20px;top:20px}
.writeGalleryListItem li .rela .tailTxt{border-top:1px solid #f8f8f6;position:relative;background:#fff url(/img/ico/ico_tailTxt.png) no-repeat 10px center;padding-top:5px;text-indent:30px;width:100%;height:30px;overflow:hidden;font-size:11px;color:#686868;line-height:27px;}
.writeGalleryListItem li .rela .tailIcon{border-top:1px solid #f8f8f6;background:#fff;width:100%;height:auto;padding:0 0 10px 0;overflow:hidden;}
.writeGalleryListItem li .rela .tailIcon .t01{margin-left:10px;margin-right:5px;display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg01.png) no-repeat left center;font-size:12px;}
.writeGalleryListItem li .rela .tailIcon .t02{margin-right:5px;display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg02.png) no-repeat left center;font-size:12px;}
.writeGalleryListItem li .rela .tailIcon .t03{display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg03.png) no-repeat left center;font-size:12px;}
.writeGalleryListItem li .rela .tailIcon .t04{margin-top:5px;float:right;margin-right:10px;display:inline-block;padding-left:15px;background:url(/img/ico/ico_rg04.png) no-repeat left center;font-size:11px;}
.writeGalleryListItem li.on .rela .maskbox{display:block;}
.writeGalleryListItem li .tempSave{display:none;/* width:100%;height:25px;line-height:25px;*/overflow:hidden;position:absolute;left:5px;top:190px;/* text-align:center;border-bottom:1px solid #b3b3b3;background:#d6d6d6;color:#3f3f3f;font-size:13px; */}
.writeGalleryListItem li.temp .tempSave{display:block;}

/* .writeGalleryListItem li.on .rela .maskbox{height:360px;}
.writeGalleryListItem li.on .rela .cont .contEtc{display:block} */


.btnbox{position:relative;}
.btnbox .leftEtc{position:absolute;left:0;top:10px;}
.btnbox .leftEtc span{display:inline-block;margin-right:20px;font-size:13px;color:#8d8d8d;}

.popUseCasesRela{width:960px;height:600px;overflow:hidden;position:fixed;left:50%;top:50%;margin:-300px 0 0 -480px;}
.popUseCasesRela .popUseCases{background:#fff;width:900px;height:600px;overflow:hidden;float:left;}
.popUseCasesRela .rightClose{float:right;}
.popUseCasesRela .popUseCases .usecLeft{width:450px;height:600px;overflow:hidden;background:#feda00;float:left;}
.popUseCasesRela .popUseCases .usecRight{background:url(/img/bg/bg_useRight.png) no-repeat left bottom;width:450px;height:600px;overflow:hidden;float:left;}
.popUseCasesRela .popUseCases .useTit{width:380px;height:auto;overflow:hidden;margin:60px auto 0 auto;font-size:26px;font-weight:bold;color:#4a4a45;}
.popUseCasesRela .popUseCases .useTxt{width:380px;height:auto;overflow:hidden;margin:10px auto 0 auto;font-size:15px;color:#5c5d62;}
.ulIconList{width:380px;height:auto;overflow:hidden;margin:60px auto 0 auto;border-top:1px solid #f1d00d;}
.ulIconList li{width:100%;overflow:hidden;height:90px;border-bottom:1px solid #f1d00d;}
.ulIconList li .t01{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:25px;color:#595a64;font-size:15px;font-weight:bold;}
.ulIconList li .t02{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:10px;color:#595a64;font-size:11px;}
.ulIconList li.b01{background:url(/img/ico/ico_ulIconList01.png) no-repeat 10px center;}
.ulIconList li.b02{background:url(/img/ico/ico_ulIconList02.png) no-repeat 10px center;}
.useTailsubj{width:380px;height:auto;overflow:hidden;margin:60px auto 0 auto;font-weight:bold;font-size:15px;color:#4a4a45;}
.utIconList{width:380px;height:auto;overflow:hidden;margin:10px auto 0 auto;}
.utIconList li{width:122px;height:47px;overflow:hidden;float:left;}

.utIconList01{width:380px;height:auto;overflow:hidden;margin:30px auto 0 auto;}
.utIconList01 li{width:50%;height:47px;overflow:hidden;float:left;}

.ulIconList01{width:380px;height:auto;overflow:hidden;margin:42px auto 0 auto;border-top:1px solid #f1f1f1;}
.ulIconList01 li{width:100%;overflow:hidden;height:90px;border-bottom:1px solid #f1f1f1;}
.ulIconList01 li .t01{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:25px;color:#595a64;font-size:15px;font-weight:bold;}
.ulIconList01 li .t02{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:10px;color:#595a64;font-size:11px;}
.ulIconList01 li.b01{background:url(/img/ico/ico_ulIconList03.png) no-repeat 10px center;}

.dialogGtype{position:fixed;width:100%;height:100%;left:0;top:0;z-index:10001;background:rgba(0,0,0,.5);}
.popGalleryCreateRela{width:1100px;height:640px;overflow:hidden;position:fixed;left:50%;top:50%;margin:-320px 0 0 -550px;}
.popGalleryCreateRela .popGalleryCreate{background:#fff;width:1000px;height:600px;padding:20px;overflow:hidden;float:left;}
.popGalleryCreateRela .rightClose{float:right;}
.popGalleryCreateRela .gcLeft{float:left;width:670px;margin-left:10px;height:600px;overflow:hidden;}
.popGalleryCreateRela .useSide{margin-top:10px;margin-right:10px;}
.popGalleryCreateRela .topForm{width:100%;height:40px;overflow:hidden;margin:10px 0;background:#f9f9fa;box-shadow:inset 0 0 1px #999;}
.popGalleryCreateRela .topForm input{background:transparent;border:0;height:40px;width:650px;padding:0 10px;line-height:40px;}


.btnPen{position:absolute;left:20px;bottom:20px;font-size:0;text-indent:-2000px;display:block;width:50px;height:50px;overflow:hidden;background:url(/img/ico/ico_pen.png);} 
.btnPen:hover, .btnPen.on{background:url(/img/ico/ico_pen_on.png);}
/* .gicobox{display:none;width:312px;height:152px;overflow:hidden;background:#fff;border:1px solid #ddd;position:absolute;left:20px;bottom:90px;}
.gicobox .ico{margin-top:20px;width:220px;height:auto;overflow:hidden;float:left;border-right:1px solid #d3d3d3;}
.gicobox .ico p{font-size:13px;font-weight:bold;width:190px;height:auto;overflow:hidden;margin-left:30px;}
.gicobox .ico ul{margin-top:10px;width:190px;height:auto;overflow:hidden;margin-left:30px;}
.gicobox .ico ul li{width:30px;height:40px;overflow:hidden;float:left;}
.gicobox .talkArea{margin-top:20px;width:74px;height:96px;overflow:hidden;float:left;}
.gicobox .talkArea p{font-size:13px;font-weight:bold;width:190px;height:auto;overflow:hidden;margin-left:20px;}
.gicobox .talkArea ul{margin-top:10px;width:190px;height:auto;overflow:hidden;margin-left:20px;}
.gicobox .talkArea ul li{width:100%;height:40px;overflow:hidden;} */
.gicobox{display:none;width:312px;height:152px;background:#fff;border:1px solid #ddd;position:absolute;left:20px;bottom:90px;}
.gicobox .ico{margin-top:20px;width:220px;height:auto;float:left;border-right:1px solid #d3d3d3;}
.gicobox .ico p{font-size:13px;font-weight:bold;width:190px;height:auto;margin-left:30px;}
.gicobox .ico ul{margin-top:10px;width:190px;height:auto;margin-left:30px;}
.gicobox .ico ul li{width:30px;height:40px;overflow:hidden;float:left;}
.gicobox .talkArea{margin-top:20px;width:74px;height:96px;float:left;}
.gicobox .talkArea p{font-size:13px;font-weight:bold;width:190px;height:auto;margin-left:20px;}
.gicobox .talkArea ul{margin-top:10px;width:190px;height:auto;margin-left:20px;}
.gicobox .talkArea ul li{width:100%;height:40px;} 



.josaListEtcBox{width:100%;height:auto;overflow:hidden;padding:10px 0;text-align:center;}
.gcMap{width:670px;height:417px;overflow:hidden;position:relative;}
.gcSlideBox{position:relative;width:668px;height:auto;padding:10px 0;border:1px solid #ddd;margin-top:10px;}
.gcSlideArea{width:560px;height:auto;overflow:hidden;margin:0 auto;}
.gcSlideArea .item{float:left;}
.gcSlideArea .item .rela{width:102px;height:auto;overflow:hidden;position:relative;}
.gcSlideArea .item .rela .gdel{display:none;border:1px solid #ddd;border-radius:50%;position:absolute;right:5px;top:5px;width:15px;height:15px;}
.gcSlideArea .item .rela .gdel:hover{border:1px solid #ddd;}
.gcSlideArea .item .rela:hover .gdel{display:block}
.gcSlideArea .item .rela .gdel img{width:15px;border-radius:50%;}
.gcSlideArea .item img{width:100px;}
.gcSlideArea .item a{display:block;width:100px;height:auto;overflow:hidden;border:1px solid #fff;}
.gcSlideArea .item a:hover{border:1px solid #6a7e8c;}
.gcSlideBox .gcPrev{position:absolute;left:10px;top:30px;}
.gcSlideBox .gcNext{position:absolute;right:10px;top:30px;}
 .gviewMap{width:100%;height:540px;overflow:hidden;position:relative;} 
/* .gviewMap{width:710px;height:417px;overflow:hidden;position:relative;} */

.gvDownload{position:absolute;right:20px;bottom:20px;}
.gcLeft.t01{margin-left:0;width:689px;border-right:1px solid #ddd;}
.gvSlideBox{position:relative;width:100%;height:auto;padding:10px 0;}
.gvSlideArea{width:520px;height:auto;overflow:hidden;margin:0 0 0 120px;}
.gvSlideBox .item{float:left;}
.gvSlideBox .item img{width:60px;}
.gvSlideBox .item a{display:block;width:60px;height:auto;overflow:hidden;border:1px solid #fff;}
.gvSlideBox .item a:hover{border:1px solid #6a7e8c;}
.gvSlideBox .gvPrev{position:absolute;left:86px;top:18px;}
.gvSlideBox .gvNext{position:absolute;right:10px;top:18px;}
.gvController{position:absolute;left:10px;top:18px;height:auto;width:66px;border-right:1px solid #ddd;}
.popGalleryCreateRela .useSide.t01{width:310px;margin-right:0;margin-top:0;}
.useSide.t01 .gvTitle{margin:0 auto;width:220px;padding-left:50px;height:70px;line-height:70px;font-size:16px;font-weight:bold;color:#525252;}
.useSide.t01 .gvTitle.gwon01{background:url(/img/ico/ico_gwon01.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon02{background:url(/img/ico/ico_gwon02.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon03{background:url(/img/ico/ico_gwon03.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon04{background:url(/img/ico/ico_gwon04.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon05{background:url(/img/ico/ico_gwon05.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvInfo{width:270px;height:45px;overflow:hidden;margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;position:relative;}
.useSide.t01 .gvInfo .t01{margin-top:5px;width:100%;height:auto;overflow:hidden;font-size:12px;color:#7e7f7f;}
.useSide.t01 .gvInfo .t02{margin-top:5px;width:100%;height:auto;overflow:hidden;font-size:12px;color:#7e7f7f;}
.useSide.t01 .gvInfo a{position:absolute;right:0;top:5px;}
.useSide.t01 .gvText{width:270px;height:60px;padding:10px 0;font-size:13px;color:#585858;overflow:hidden;margin:0 auto;}
.useSide.t01 .gvText *{font-size:13px;}
.useSide.t01 .gvVote{width:268px;height:auto;overflow:hidden;border:1px solid #ddd;margin:0 auto;}
.useSide.t01 .gvVoteSubj{width:248px;margin:10px auto;height:auto;overflow:hidden;}
.useSide.t01 .gvVoteSubj .t01{letter-spacing:-1px;float:left;font-size:12px;color:#666;}
.useSide.t01 .gvVoteSubj .t02{letter-spacing:-1px;float:right;font-size:10px;color:#999;padding-left:10px;background:url(/img/ico/ico_etc01.png) no-repeat left center;}
.useSide.t01 .gvVoteBox01{margin:10px auto 0 auto;position:relative;width:248px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#fff;border:1px solid #ddd;}
.useSide.t01 .gvVoteBox01 .t01{padding-left:15px;background:url(/img/ico/ico_ck04.png) no-repeat left center;position:absolute;left:10px;top:0;z-index:4;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox01 .t02{position:absolute;right:10px;top:0;z-index:4;float:right;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox01 .gage{font-size:0;text-indent:-2000px;height:23px;display:block;position:absolute;left:0;top:0;background:#feda00;border-radius:12px;}
.useSide.t01 .gvVoteBox02{margin:10px auto 0 auto;position:relative;width:248px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#fff;border:1px solid #ddd;}
.useSide.t01 .gvVoteBox02 .t01{position:absolute;left:10px;top:0;z-index:4;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox02 .t02{position:absolute;right:10px;top:0;z-index:4;float:right;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox02 .gage{font-size:0;text-indent:-2000px;height:23px;display:block;position:absolute;left:0;top:0;background:#ccc;border-radius:12px;}
.useSide.t01 .gvVote .btnVote{display:block;margin:10px auto;position:relative;width:250px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#efedee;font-size:13px;text-align:center;}
.useSide.t01 .gvVote .btnVote:hover{background:#feda00;}
.gvTag{width:255px;padding-left:15px;height:auto;overflow:hidden;margin:10px auto 5px auto;background:url(/img/ico/ico_rg04.png) no-repeat left center;}
.gvTag span{display:inline-block;margin-right:5px;font-size:11px;}
.gvIconEventBox{width:270px;height:30px;overflow:hidden;margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.gvIconEventBox .t01{margin-top:5px;float:left;}
.gvIconEventBox .t01 span{font-size:12px;display:inline-block;margin-right:10px;padding-left:15px;}
.gvIconEventBox .t01 .s01{background:url(/img/ico/ico_rg01.png) no-repeat left center;}
.gvIconEventBox .t01 .s02{background:url(/img/ico/ico_rg02.png) no-repeat left center;}
.gvIconEventBox .t01 .s03{background:url(/img/ico/ico_rg03.png) no-repeat left center;}

.gvIconEventBox .t02{float:right;margin-top:4px;}
.gvIconEventBox .t02 a{display:inline-block;margin-left:10px;}
.gvReplyForm{width:270px;height:30px;border-radius:15px;margin:10px auto;overflow:hidden;background:#efedee;}
.gvReplyForm .like{margin:8px 10px 0 15px;width:15px;height:15px;overflow:hidden;background:url(/img/ico/ico_hart01.png);float:left;font-size:0;text-indent:-2000px;}
.gvReplyForm .like.on{background:url(/img/ico/ico_hart01_on.png);}
.gvReplyForm input{float:left;width:175px;height:30px;line-height:30px;border:0;background:transparent;font-size:13px;}
.gvReplyForm .btnGesi{float:left;font-size:13px;height:30px;width:40px;overflow:hidden;line-height:30px;text-align:center;}
.gvReplyListBox{width:270px;height:140px;overflow:hidden;margin:0 auto;}
.gvReplyList{width:100%;height:auto;overflow:hidden;}
.gvReplyList li{width:100%;height:auto;overflow:hidden;margin-bottom:5px;}
.gvReplyList li .t01{float:left;width:70px;height:auto;overflow:hidden;font-size:12px;color:#666;}
.gvReplyList li .t02{float:left;width:200px;height:auto;overflow:hidden;font-size:12px;color:#666;}
.gcLeft.t01 .gdTitle{width:100%;height:70px;overflow:hidden;}
.gcLeft.t01 .gdTitle .t01{padding-left:50px;float:left;heigth:70px;line-height:70px;margin-left:20px;background:url(/img/ico/ico_gwon06.png) no-repeat left center;font-size:18px;font-weight:bold;color:#666;}
.gcLeft.t01 .gdTitle .t02{float:right;margin:15px 15px 0 0;text-align:right;}
.gcLeft.t01 .gdTitle .t02 .s01{font-size:12px;color:#666;}
.gcLeft.t01 .gdTitle .t02 .s02{margin-top:5px;}
.gcLeft.t01 .gdTitle .t02 .s02 a, 
.gcLeft.t01 .gdTitle .t02 .s02 img, 
.gcLeft.t01 .gdTitle .t02 .s02 span{vertical-align:middle}
.gcLeft.t01 .gdTitle .t02 .s02 a{position:relative;display:inline-block;width:37px;height:17px;overflow:hidden;}
.gcLeft.t01 .gdTitle .t02 .s02 a img{position:absolute;left:0;top:0;}
.gcLeft.t01 .gdTitle .t02 .s02 span{font-size:12px;color:#666;}
.gdContScrollBox{width:100%;height:529px;border-top:1px solid #ddd;overflow:hidden;}
.gdContScrollBox table{width:100%;}
.gdContScrollBox table th{padding:10px 20px;vertical-align:top;font-size:15px;text-align:left;}
.gdContScrollBox table td{line-height:1.5em;padding:10px 20px;vertical-align:top;font-size:15px;text-align:left;}
.gdMapArea{width:100%;height:140px;overflow:hidden;position:relative;}
.gdMapArea .gdDownload{position:absolute;right:10px;bottom:10px;}
.gdEtcList{width:270px;margin:10px auto;height:auto;overflow:hidden;}
.gdEtcList li{width:100%;height:auto;overflow:hidden;margin-bottom:5px;}
.gdEtcList li .t01{float:left;width:70px;height:auto;overflow:hidden;font-size:12px;color:#666;}
.gdEtcList li .t02{color:#3759a0;float:left;width:200px;height:auto;overflow:hidden;font-size:12px;}
.gcFavBox{display:none;width:600px;height:320px;overflow:hidden;border:1px solid #ddd;background:#fff;position:absolute;left:50%;top:50%;margin:-160px 0 0 -300px;z-index:90;}
.gcFavBox .rela{width:530px;height:auto;overflow:hidden;margin:0 auto;}
.gcFavBox .rela .gcFavTitle{width:100%;height:auto;overflow:hidden;font-size:16px;font-weight:bold;color:#555;margin:20px 0 5px 0;}
.gcFavBox .rela table{width:100%;}
.gcFavBox .rela table th{border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:13px;padding:5px;font-weight:normal;color:#555;}
.gcFavBox .rela table td{font-size:13px;padding:5px;text-align:center;color:#555;}
.gcFavBox .rela table td.al{text-align:left;}
.gcFavBox .rela .fovScrollBox{width:100%;height:150px;overflow:hidden;border-bottom:1px solid #ddd;}
.gcTailTitle{width:100%;height:auto;overflow:hidden;font-size:16px;font-weight:bold;color:#555;margin:20px 0 5px 0;}
.gcTailTitle span{color:#999;font-size:13px;font-weight:normal;}
.gcTailList{width:100%;height:auto;overflow:hidden;margin-top:10px;}
.gcTailList li{float:left;width:102px;margin-left:3px;background:#f4f4f4;text-align:center;}
.gcTailList li:first-child{margin-left:0;}
.gcTailList li a{font-size:11px;letter-spacing:-1px;}
.gwon01{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon01.png) no-repeat left center;background-size:25px 25px;}
.gwon02{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon02.png) no-repeat left center;background-size:25px 25px;}
.gwon03{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon03.png) no-repeat left center;background-size:25px 25px;}
.gwon04{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon04.png) no-repeat left center;background-size:25px 25px;}
.gwon05{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon05.png) no-repeat left center;background-size:25px 25px;}

.nico01{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico01.png) no-repeat left center;background-size:15px 15px;}
.nico02{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico02.png) no-repeat left center;background-size:15px 15px;}
.nico03{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico03.png) no-repeat left center;background-size:15px 15px;}
.nico04{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico04.png) no-repeat left center;background-size:15px 15px;}
.nico05{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico05.png) no-repeat left center;background-size:15px 15px;}
.mCSB_inside > .mCSB_container{margin:0 !important;}
.hidden{position:absolute;left:-2000px;}
.calendarEtcBox{display:none;border:1px solid #ddd;width:238px;margin:5px auto;height:auto;overflow:hidden;}
.calendarEtcBox input{border:0;height:25px;line-height:25px;text-align:center;width:210px;overflow:hidden;}
.calendarEtcBox input, .calendarEtcBox img, .calendarEtcBox a, .calendarEtcBox button{vertical-align:middle}
#ui-datepicker-div{background:#fff;}
.gcClose{position:absolute;right:5px;top:5px;}


.mal01{float:left;margin-top:5px;overflow:visible;padding:10px;position:relative;background:#f7b62d;}
/* .mal01:before{content:"";width:4px;height:4px;overflow:hidden;position:absolute;right:20px;bottom:-4px;background:url(/img/ico/ico_mal03.png) no-repeat right center;}
.mal01 textarea{resize:none;text-align:center;width:120px;border:0;background:transparent;color:#000;font-size:12px;} */
.mal02{margin-top:5px;float:left;border-radius:10px;display:inline-block;overflow:visible;padding:10px;position:relative;background:#f7b62d;}
/* .mal02:before{content:"";width:4px;height:4px;overflow:hidden;position:absolute;right:20px;bottom:-4px;background:url(/img/ico/ico_mal03.png) no-repeat right center;}
.mal02 textarea{resize:none;text-align:center;width:120px;border:0;background:transparent;color:#000;font-size:12px;} */
.mapIconBox{position:absolute;z-index:99999;}

.containerBox .mpGuide .current{color : #3c9cd7;text-decoration : underline}

.ui-tooltip, .arrow:after {background:#f5f5f5;border:1px solid #dcdcdc;}
 .ui-tooltip {
    padding:10px;
    color: #666;  
    box-shadow:none;
    border:1px solid #dcdcdc !important; line-height:1em;
 }
.ui-tooltip *{font-size:11px !important;}
.ui-tooltip .subj{display:block;height:20px;margin:0 0 5px 0;font-size:11px;padding-left:20px;line-height:20px;background:url(/img/ico/ico_tooltip.png) no-repeat 5px center;}
.arrow {
    width: 70px;
    height: 16px;
    overflow: hidden;
    position: absolute;
    left: 50%;
    margin-left: -35px;
    bottom: -16px;
    background:transparent;
}
.arrow.top {top:-16px;bottom: auto;}
.arrow.left {left: 20%;}
.arrow:after {
    content: "";
    position: absolute;
    left: 20px;
    top: -20px;
    width: 15px;
    height: 25px;
    box-shadow: 6px 5px 9px -9px black;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}
.arrow.top:after {bottom: -20px;top: auto;}
