@import url("/css/common.css"); 
@import url("./jquery.tagsinput.min.css");

.paging{margin:20px 0;width:100%;height:auto;overflow:hidden;text-align:center;}
.paging a{margin:0 5px;display:inline-block;height:25px;line-height:25px;text-align:center;color:#555;font-size:13px;}
.paging a.on, .paging a:hover{font-weight:bold;text-decoration:underline;}
.paging a, .paging a img{vertical-align:middle}
.paging .current{color : #f50909;}
.popBox .txt{text-align:center;margin:5px 0 0 0;}
.useArea{width:100%;height:auto;overflow:hidden;margin:25px 0 0 0;}
.useWrite{width:650px;height:auto;overflow:hidden;float:left;}
.useWrite table{width:100%;}
.useWrite table th{vertical-align:top;padding:7px 0;text-align:left;font-size:15px;color:#4d4d4d;}
.useWrite table td{padding:7px 0;}
.useWrite table td .inp{width:209px;height:31px;line-height:31px;padding:0 5px;background:#f9f9fa;border:0;box-shadow:inset 0 0 1px #999;border-radius:3px;font-size:12px;color:#555;}
.useWrite table td .inp.full{width:638px}
.useWrite table td .inp.t01{width:488px}
.useWrite table td .select{width:221px;height:33px;border:1px solid #e2e2e3;border-radius:3px;font-size:12px;color:#555;}
.useWrite table td .textarea{width:486px;height:385px;line-height:21px;padding:0 5px;background:#f9f9fa;border:1px solid #e2e2e3;border-radius:3px;font-size:12px;color:#555;}
/* .useSide{width:260px;height:auto;overflow:hidden;float:right;} */
.useSide{width:260px;height:auto;float:right;}

.gbtnType01{display:inline-block;padding:0 20px;height:26px;line-height:26px;background:#4f87b6;color:#fff;font-size:13px;border-radius:13px;}
.usSubj{position:relative;margin:10px 0 5px 0;width:100%;height:auto;overflow:hidden;}
.usSubj span{font-weight:bold;font-size:15px;color:#4d4d4d;}
.usSubj a{position:absolute;right:0;top:0px;font-size:13px;color:#4d4d4d;}
.imgView{display:block;margin-top:6px;cursor:pointer;box-shadow:inset 0 0 1px #999;position:relative;width:100%;height:150px;overflow:hidden;background:url(/img/ico/ico_plus03.png) no-repeat center 50px;}
.imgView span{display:block;width:100%;height:auto;overflow:hidden;position:absolute;left:0;top:85px;text-align:center;font-size:13px;}
.imgView input{position:absolute;left:-2000px;}
.usForm{margin:0 0 0 0;width:100%;height:40px;overflow:hidden;box-shadow:inset 0 0 1px #999;background:#f9f9fa;}
.usForm input{background:transparent;border:0;height:40px;width:280px;padding:0 10px;line-height:40px;}
.usListBox{width:100%;height:120px;overflow:hidden;box-shadow:inset 0 0 1px #999;}
.usListBox ul{width:280px;height:auto;overflow:hidden;margin:10px;}
.usListBox ul li{width:100%;height:auto;overflow:hidden;margin-top:5px;}
.usListBox ul li:first-child{margin-top:0}
.usListBox ul li a, .usListBox ul li span{font-size:12px;vertical-align:middle;color:#355a9e;display:inline-block;margin-right:3px;}
.hashTag{margin-top:10px;width:100%;height:80px;overflow:hidden;box-shadow:inset 0 0 1px #999;background:#f9f9fa;}
.hashTag #hashTag{resize:none;background:transparent;border:0;height:60px;display:block;width:280px;padding:10px;}
.contForm{width:100%;height:160px;overflow:hidden;box-shadow:inset 0 0 1px #999;background:#f9f9fa;}
.contForm textarea{resize:none;background:transparent;border:0;height:140px;display:block;width:280px;padding:10px;}
.josaListBox{border:1px solid #e2e2e3;border-top:0;width:258px;height:auto;overflow:hidden;}
.josaListBoxScroll{width:100%;height:125px;overflow:hidden;}
/* .josaListBox ul{margin:10px;width:240px;height:auto;overflow:hidden;} */
/* .josaListBox ul{margin:10px;width:240px;height:100px;overflow:hidden;} */
.josaListBox ul{margin:10px;width:245px;height:100px;overflow:hidden;}
/* .josaListBox ul li{width:100%;height:atuo;overflow:hidden;margin-bottom:5px;} */
.josaListBox ul li{width:100%;height:30px;overflow:hidden;margin-bottom:5px;} 
.josaListBox ul li .rela{width:100%;height:auto;overflow:hidden;position:relative;}
 .josaListBox ul li input{height:28px;line-height:28px;width:240px;border-radius:15px;border:1px solid #e2e2e3;background:#f9f9fa;font-size:12px;color:#9e9e9f;overflow:hidden;padding:0 20px; box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;}
/* .josaListBox ul li input{height:28px;line-height:28px;width:100%;border-radius:15px;border:1px solid #e2e2e3;background:#f9f9fa;font-size:12px;color:#9e9e9f;overflow:hidden;padding:0 20px;} */
/* .josaListBox ul li a.itemDel{height:auto;width:auto;display:inline;border:0;border-radius:0;position:absolute;right:10px;top:5px;margin:0;padding:0;} */
.josaListBox ul li a.itemDel{height:15px;width:15px;border:0;border-radius:0;position:relative;right:-215px;top:-23px;margin:0;padding:0;}
.josaListBox ul li a{height:28px;line-height:28px;width:208px;border-radius:15px;border:1px solid #e2e2e3;display:block;font-size:12px;color:#595857;overflow:hidden;padding:0 10px 0 20px;}
.radioLink{background:url(/img/ico/ico_rdbox.gif) no-repeat right center;height:23px;line-height:23px;width:240px;display:block;font-size:13px;color:#595857;overflow:hidden;margin:2px auto;}
.radioLink.on{background:url(/img/ico/ico_rdbox_on.gif) no-repeat right center;}
input:focus{outline:none}
.btnbox{width:100%;height:auto;overflow:hidden;margin:20px 0;}
.btnbox.ar{text-align:right;} 
/* .galleryListItem li.on .rela .maskbox{height:360px;}
.galleryListItem li.on .rela .cont .contEtc{display:block} */
.etcTp{position:absolute;left:0;top:0;}
.etcExcellent{position:absolute;left:260px;top:0;}

.myRgBox{width:100%;height:auto;overflow:hidden;margin:50px 0 20px 0;} /* 2017.12.12 [개발팀] 접근성 시정조치 */
.myRgBox p{font-weight:bold;font-size:22px;color:#3f3f3f;text-align:center;}
.myRgBox .nun{margin-top:10px;width:100%;height:auto;overflow:hidden;text-align:center;} /* 2017.12.12 [개발팀] 접근성 시정조치 */
.myRgBox .nun span{color:#8e8e8e;font-size:13px;display:inline-block;margin:0 5px;}
.mrgTabs{width:100%;height:50px;overflow:hidden;text-align:center;}
.mrgTabs a{display:inline-block;font-size:15px;width:200px;height:48px;border-bottom:2px solid #fff;text-align:center;line-height:48px;color:#8a8a8a;}
.mrgTabs a.on{font-weight:bold;color:#333;border-bottom:2px solid #fdda05;}

.btnGtype, .btnGtype01{display:inline-block;margin-right:5px;font-size:13px;color:#5b5b5b;background:#d3d3d3;height:36px;width:100px;line-height:36px;text-align:center;border-radius:18px;}
.btnGtype.on{background:#feda00;}
.btnGtype:hover{background:#feda00;}

 
.btnbox{position:relative;}
.btnbox .leftEtc{position:absolute;left:0;top:10px;}
.btnbox .leftEtc span{display:inline-block;margin-right:20px;font-size:13px;color:#8d8d8d;}

.dialogGtype{position:fixed;width:100%;height:100%;left:0;top:0;z-index:90;background:rgba(0,0,0,.5);}
.popUseCasesRela{width:960px;height:600px;overflow:hidden;position:fixed;left:50%;top:50%;margin:-300px 0 0 -480px;}
.popUseCasesRela .popUseCases{background:#fff;width:900px;height:600px;overflow:hidden;float:left;}
.popUseCasesRela .rightClose{float:right;}
.popUseCasesRela .popUseCases .usecLeft{width:450px;height:600px;overflow:hidden;background:#feda00;float:left;}
.popUseCasesRela .popUseCases .usecRight{background:url(/img/bg/bg_useRight.png) no-repeat left bottom;width:450px;height:600px;overflow:hidden;float:left;}
.popUseCasesRela .popUseCases .useTit{width:380px;height:auto;overflow:hidden;margin:60px auto 0 auto;font-size:26px;font-weight:bold;color:#4a4a45;}
.popUseCasesRela .popUseCases .useTxt{width:380px;height:auto;overflow:hidden;margin:10px auto 0 auto;font-size:15px;color:#5c5d62;}
.ulIconList{width:380px;height:auto;overflow:hidden;margin:60px auto 0 auto;border-top:1px solid #f1d00d;}
.ulIconList li{width:100%;overflow:hidden;height:90px;border-bottom:1px solid #f1d00d;}
.ulIconList li .t01{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:25px;color:#595a64;font-size:15px;font-weight:bold;}
.ulIconList li .t02{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:10px;color:#595a64;font-size:11px;}
.ulIconList li.b01{background:url(/img/ico/ico_ulIconList01.png) no-repeat 10px center;cursor:pointer;}
.ulIconList li.b02{background:url(/img/ico/ico_ulIconList02.png) no-repeat 10px center;cursor:pointer;}
.useTailsubj{width:380px;height:auto;overflow:hidden;margin:60px auto 0 auto;font-weight:bold;font-size:15px;color:#4a4a45;}
.utIconList{width:380px;height:auto;overflow:hidden;margin:10px auto 0 auto;}
.utIconList li{width:122px;height:47px;overflow:hidden;float:left;}

.utIconList01{width:380px;height:auto;overflow:hidden;margin:20px auto 0 auto;}
.utIconList01 li{background:#fbfbfb;border:1px solid #ededed;width:150px;margin-right:10px;height:auto;padding:10px;overflow:hidden;float:left;}

.ulIconList01{width:380px;height:auto;overflow:hidden;margin:42px auto 0 auto;border-top:1px solid #f1f1f1;}
.ulIconList01 li{width:100%;overflow:hidden;height:90px;border-bottom:1px solid #f1f1f1;}
.ulIconList01 li .t01{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:25px;color:#595a64;font-size:15px;font-weight:bold;}
.ulIconList01 li .t02{width:290px;height:auto;overflow:hidden;margin-left:70px;margin-top:10px;color:#595a64;font-size:11px;}

.ulIconList01 li.b01{background:url(/img/ico/ico_ulIconList03.png) no-repeat 10px center;cursor:pointer;}

.dialogGtype{position:fixed;width:100%;height:100%;left:0;top:0;z-index:10000;background:rgba(0,0,0,.5);}
.popGalleryCreateRela{width:1100px;height:640px;overflow:hidden;position:fixed;left:50%;top:50%;margin:-320px 0 0 -550px;}
.popGalleryCreateRela .popGalleryCreate{background:#fff;width:1000px;padding:20px;height:600px;overflow:hidden;float:left;}
.popGalleryCreateRela .rightClose{float:right;}
.popGalleryCreateRela .gcLeft{float:left;width:710px;margin-left:10px;height:600px;overflow:hidden;}
.popGalleryCreateRela .useSide{margin-top:10px;margin-right:10px;}
.popGalleryCreateRela .topForm{width:100%;height:40px;overflow:hidden;margin:10px 0;background:#f9f9fa;box-shadow:inset 0 0 1px #999;}
.popGalleryCreateRela .topForm input{background:transparent;border:0;height:40px;width:650px;padding:0 10px;line-height:40px;}

.btnPen{position:absolute;left:20px;bottom:20px;font-size:0;text-indent:-2000px;display:block;width:50px;height:50px;overflow:hidden;background:url(/img/ico/ico_pen.png);}
.btnPen:hover, .btnPen.on{background:url(/img/ico/ico_pen_on.png);}
/* .gicobox{display:none;width:312px;height:152px;overflow:hidden;background:#fff;border:1px solid #ddd;position:absolute;left:20px;bottom:90px;}
.gicobox .ico{margin-top:20px;width:220px;height:auto;overflow:hidden;float:left;border-right:1px solid #d3d3d3;}
.gicobox .ico p{font-size:13px;font-weight:bold;width:190px;height:auto;overflow:hidden;margin-left:30px;}
.gicobox .ico ul{margin-top:10px;width:190px;height:auto;overflow:hidden;margin-left:30px;}
.gicobox .ico ul li{width:30px;height:40px;overflow:hidden;float:left;}
.gicobox .talkArea{margin-top:20px;width:74px;height:96px;overflow:hidden;float:left;}
.gicobox .talkArea p{font-size:13px;font-weight:bold;width:190px;height:auto;overflow:hidden;margin-left:20px;}
.gicobox .talkArea ul{margin-top:10px;width:190px;height:auto;overflow:hidden;margin-left:20px;}
.gicobox .talkArea ul li{width:100%;height:40px;overflow:hidden;} */
/* .gicobox{display:none;width:312px;height:152px;background:#fff;border:1px solid #ddd;position:absolute;left:20px;bottom:90px;} */
.gicobox{display:none;width:275px;height:122px;background:#fff;border:1px solid #ddd;position:absolute;left:20px;bottom:90px;}
/* .gicobox .ico{margin-top:20px;width:220px;height:auto;float:left;border-right:1px solid #d3d3d3;} */
.gicobox .ico{margin-top:10px;width:200px;height:auto;float:left;border-right:1px solid #d3d3d3;}
/* .gicobox .ico p{font-size:13px;font-weight:bold;width:190px;height:auto;margin-left:30px;} */
.gicobox .ico p{font-size:13px;font-weight:bold;width:190px;height:auto;margin-left:10px;}
/* .gicobox .ico ul{margin-top:10px;width:190px;height:auto;margin-left:30px;} */
.gicobox .ico ul{margin-top:10px;width:190px;height:auto;margin-left:10px;}
.gicobox .ico ul li{width:30px;height:40px;overflow:hidden;float:left;}
/* .gicobox .talkArea{margin-top:20px;width:74px;height:96px;float:left;} */
.gicobox .talkArea{margin-top:10px;width:74px;height:96px;float:left;}
/* .gicobox .talkArea p{font-size:13px;font-weight:bold;width:190px;height:auto;margin-left:20px;} */
.gicobox .talkArea p{font-size:13px;font-weight:bold;width:190px;height:auto;margin-left:10px;}
/* .gicobox .talkArea ul{margin-top:10px;width:190px;height:auto;margin-left:20px;} */
.gicobox .talkArea ul{margin-top:10px;width:190px;height:auto;margin-left:10px;}
.gicobox .talkArea ul li{width:100%;height:40px;} 

.josaListEtcBox{width:100%;height:auto;overflow:hidden;padding:10px 0;text-align:center;}
.gcMap{width:710px;height:417px;overflow:hidden;position:relative;}
#mapArea{width:710px;height:417px;overflow:hidden;position:relative;cursor:pointer}
.gcSlideBox{position:relative;width:600px;float:left;height:auto;padding:10px 0;border:1px solid #ddd;margin-top:10px;}
.gcSlideArea{width:530px;height:auto;overflow:hidden;margin:0 auto;}
.gadd{font-size:0;text-indent:-2000px;background:#f4f4f4 url(/img/ico/ico_add02.png) no-repeat center center;background-size:100px 64px;margin-top:10px;width:100px;height:87px;overflow:hidden;float:right;border:1px solid #ddd;}
.gcSlideBox{position:relative;width:600px;height:auto;padding:10px 0;border:1px solid #ddd;margin-top:10px;}
.gcSlideArea .item{float:left;}
.gcSlideArea .item .rela{width:102px;height:auto;overflow:hidden;position:relative;}
/* .gcSlideArea .item .rela .gdel{display:none;border:1px solid #ddd;border-radius:50%;position:absolute;right:5px;top:5px;width:15px;height:15px;}
.gcSlideArea .item .rela .gdel:hover{border:1px solid #ddd;} */
.gcSlideArea .item .rela .gdel{display:none;border:1px solid #151414;border-radius:50%;position:absolute;right:5px;top:5px;width:15px;height:15px;}
.gcSlideArea .item .rela .gdel:hover{border:1px solid #151414;}
.gcSlideArea .item .rela:hover .gdel{display:block}
.gcSlideArea .item .rela .gdel img{width:15px;border-radius:50%;}
.gcSlideArea .item img{width:100px;}
.gcSlideArea .item a{display:block;width:100px;height:auto;overflow:hidden;border:1px solid #fff;}
.gcSlideArea .item a:hover{border:1px solid #6a7e8c;}
.gcSlideBox .gcPrev{position:absolute;left:10px;top:30px;}
.gcSlideBox .gcNext{position:absolute;right:10px;top:30px;}
.gviewMap{width:100%;height:417px;overflow:hidden;position:relative;}
.gvDownload{position:absolute;right:20px;bottom:20px;}
.gvDownloadPreView{position:absolute;left:665px;bottom:160px;}
.GalleryServiceNotice{position:absolute;left:500px;bottom:140px;color:#23238e;font-weight:bold;font-size:12px;}
.gcLeft.t01{margin-left:0;border-right:1px solid #ddd;}
.gvSlideBox{position:relative;width:100%;height:auto;padding:20px 0;} 
/* .gvSlideArea{width:550px;height:auto;overflow:hidden;margin:0 0 0 120px;} */
.gvSlideArea{width:550px;height:auto;overflow:hidden;margin:0 0 0 120px;} 
/*start*/
.gvSlideArea .item{float:left;}
.gvSlideArea .item .rela{width:102px;height:auto;overflow:hidden;position:relative;}
/* .gvSlideArea .item .rela .gdel{display:none;border:1px solid #ddd;border-radius:50%;position:absolute;right:5px;top:5px;width:15px;height:15px;}
.gvSlideArea .item .rela .gdel:hover{border:1px solid #ddd;} */
.gvSlideArea .item .rela .gdel{display:none;border:1px solid #151414;border-radius:50%;position:absolute;right:5px;top:5px;width:15px;height:15px;}
.gvSlideArea .item .rela .gdel:hover{border:1px solid #151414;}
.gvSlideArea .item .rela:hover .gdel{display:block}
.gvSlideArea .item .rela .gdel img{width:15px;border-radius:50%;}
.gvSlideArea .item img{width:100px;}
.gvSlideArea .item a{display:block;width:100px;height:auto;overflow:hidden;border:1px solid #fff;}
.gvSlideArea .item a:hover{border:1px solid #6a7e8c;}
/*end*/
/* .gvSlideBox .item{float:left;width:130px;height:auto;overflow:hidden;}
.gvSlideBox .item img{width:100px;}
.gvSlideBox .item a{display:block;width:100px;height:auto;overflow:hidden;border:1px solid #fff;}
.gvSlideBox .item a:hover{border:1px solid #6a7e8c;} */
/* 승진씨가 수정*/
/* .gvSlideBox .item .rela .gdel{display:none;border:1px solid #ddd;border-radius:50%;position:absolute;right:5px;top:5px;width:15px;height:15px;}
.gvSlideBox .item .rela .gdel img{width:15px;}
.gvSlideBox .item .rela:hover .gdel{display:block} */
/*승진씨가 수정 끝 */
.gvSlideBox .gvPrev{position:absolute;left:86px;top:38px;}
/* .gvSlideBox .gvNext{position:absolute;right:10px;top:38px;} */
.gvSlideBox .gvNext{position:absolute;right:-86px;top:38px;}
.gvController{position:absolute;left:10px;top:38px;height:auto;width:66px;border-right:1px solid #ddd;}
.popGalleryCreateRela .useSide.t01{width:280px;margin-right:0;margin-top:0;}
.useSide.t01 .gvTitle{display:block;margin:0 auto;width:220px;padding-left:50px;height:70px;line-height:70px;font-size:16px;font-weight:bold;color:#525252;text-overflow:ellipsis;-o-text-overflow: ellipsis;overflow: hidden;white-space: nowrap;word-wrap: normal !important;}
.useSide.t01 .gvTitle.gwon01{background:url(/img/ico/ico_gwon01.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon02{background:url(/img/ico/ico_gwon02.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon03{background:url(/img/ico/ico_gwon03.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon04{background:url(/img/ico/ico_gwon04.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon05{background:url(/img/ico/ico_gwon05.png) no-repeat left center;background-size:45px 45px;}
.useSide.t01 .gvTitle.gwon06{background:url(/img/ico/ico_gwon06.png) no-repeat left center;background-size:45px 45px;} /* 2017.03.31 활용갤러리/자료제공 추가 */
.useSide.t01 .gvInfo{width:270px;height:45px;overflow:hidden;margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;position:relative;}
.useSide.t01 .gvInfo .t01{margin-top:5px;width:100%;height:auto;overflow:hidden;font-size:12px;color:#7e7f7f;}
.useSide.t01 .gvInfo .t02{margin-top:5px;width:100%;height:auto;overflow:hidden;font-size:12px;color:#7e7f7f;}
.useSide.t01 .gvInfo a{position:absolute;right:0;top:5px;}
/* .useSide.t01 .gvText{line-height:1.5em;width:270px;height:60px;padding:10px 0;font-size:13px;color:#585858;overflow:hidden;margin:0 auto;} */
.useSide.t01 .gvText{line-height:1.5em;width:270px;height:75px;padding:10px 0;font-size:13px;color:#585858;overflow:hidden;margin:0 auto;}
.useSide.t01 .gvText *{font-size:13px;}
.useSide.t01 .gvVote{width:268px;height:auto;overflow:hidden;border:1px solid #ddd;margin:0 auto;}
.useSide.t01 .gvVoteSubj{width:248px;margin:10px auto;height:auto;overflow:hidden;}
.useSide.t01 .gvVoteSubj .t01{letter-spacing:-1px;float:left;font-size:12px;color:#666;}
.useSide.t01 .gvVoteSubj .t02{letter-spacing:-1px;float:right;font-size:10px;color:#999;padding-left:10px;background:url(/img/ico/ico_etc01.png) no-repeat left center;}
/* .useSide.t01 .gvVoteBox01{margin:0 auto;position:relative;width:248px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#fff url(/img/bg/bg_yellow.png) no-repeat left top;border:1px solid #ddd;} */
.useSide.t01 .gvVoteBox01{margin:10px auto 0 auto;position:relative;width:248px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#fff url(/img/bg/bg_yellow.png) no-repeat left top;border:1px solid #ddd;}
.useSide.t01 .gvVoteBox01 .t01{padding-left:15px;background:url(/img/ico/ico_ck04.png) no-repeat left center;position:absolute;left:10px;top:0;z-index:4;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox01 .t02{position:absolute;right:10px;top:0;z-index:4;float:right;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox01 .gage{font-size:0;text-indent:-2000px;height:23px;display:block;position:absolute;left:0;top:0;background:#feda00;border-radius:12px;}
.useSide.t01 .gvVoteBox02{margin:10px auto 0 auto;position:relative;width:248px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#fff url(/img/bg/bg_gray.png) no-repeat left top;border:1px solid #ddd;}
.useSide.t01 .gvVoteBox02 .t01{position:absolute;left:10px;top:0;z-index:4;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox02 .t02{position:absolute;right:10px;top:0;z-index:4;float:right;font-size:11px;color:#666;}
.useSide.t01 .gvVoteBox02 .gage{font-size:0;text-indent:-2000px;height:23px;display:block;position:absolute;left:0;top:0;background:#ccc;border-radius:12px;}
.useSide.t01 .gvVote .btnVote{display:block;margin:10px auto;position:relative;width:250px;line-height:23px;height:23px;overflow:hidden;border-radius:12px;background:#efedee;font-size:13px;text-align:center;}
.useSide.t01 .gvVote .btnVote:hover{background:#feda00;}
.gvTag{width:255px;padding-left:15px;height:auto;overflow:hidden;margin:10px auto 5px auto;background:url(/img/ico/ico_rg04.png) no-repeat left center;}
.gvTag span{display:inline-block;margin-right:5px;font-size:11px;}
.gvIconEventBox{width:270px;height:30px;overflow:hidden;margin:0 auto;border-top:1px solid #ddd;border-bottom:1px solid #ddd;}
.gvIconEventBox .t01{margin-top:5px;float:left;}
.gvIconEventBox .t01 span{font-size:12px;display:inline-block;margin-right:10px;padding-left:15px;}
.gvIconEventBox .t01 .s01{background:url(/img/ico/ico_rg01.png) no-repeat left center;}
.gvIconEventBox .t01 .s02{background:url(/img/ico/ico_rg02.png) no-repeat left center;}
.gvIconEventBox .t01 .s03{background:url(/img/ico/ico_rg03.png) no-repeat left center;}

.gvIconEventBox .t02{float:right;margin-top:4px;}
.gvIconEventBox .t02 a{display:inline-block;margin-left:10px;}
.gvReplyForm{width:270px;height:30px;border-radius:15px;margin:10px auto;overflow:hidden;background:#efedee;}
.gvReplyForm .like{margin:8px 10px 0 15px;width:15px;height:15px;overflow:hidden;background:url(/img/ico/ico_hart01.png);float:left;font-size:0;text-indent:-2000px;}
.gvReplyForm .like.on{background:url(/img/ico/ico_hart01_on.png);}
.gvReplyForm input{float:left;width:175px;height:30px;line-height:30px;border:0;background:transparent;font-size:13px;}
.gvReplyForm .btnGesi{float:left;font-size:13px;height:30px;width:40px;overflow:hidden;line-height:30px;text-align:center;}
/* .gvReplyListBox{width:270px;height:80px;overflow:hidden;margin:0 auto;} */
.gvReplyListBox{width:270px;height:70px;overflow:hidden;margin:0 auto;}
.gvReplyList{width:100%;height:auto;overflow:hidden;}
.gvReplyList li{width:100%;height:auto;overflow:hidden;margin-bottom:5px;}
.gvReplyList li .t01{float:left;width:70px;height:auto;overflow:hidden;font-size:12px;color:#666;}
.gvReplyList li .t02{float:left;width:200px;height:auto;overflow:hidden;font-size:12px;color:#666;}
.gcLeft.t01 .gdTitle{width:100%;height:70px;overflow:hidden;}
/* mng_s 20170717_주용민 */
/* .gcLeft.t01 .gdTitle .t01{padding-left:50px;float:left;heigth:70px;line-height:70px;margin-left:20px;background:url(/img/ico/ico_gwon06.png) no-repeat left center;font-size:18px;font-weight:bold;color:#666;} */
.gcLeft.t01 .gdTitle .t01{padding-left:50px;float:left;width:500px;height:70px;line-height:70px;margin-left:20px;background:url(/img/ico/ico_gwon06.png) no-repeat left center;font-size:18px;font-weight:bold;color:#666;overflow:hidden;position:absolute;text-overflow:ellipsis;white-space:nowrap;}
/* mng_e 20170717_주용민 */
.gcLeft.t01 .gdTitle .t02{float:right;margin:15px 15px 0 0;text-align:right;}
.gcLeft.t01 .gdTitle .t02 .s01{font-size:12px;color:#666;}
.gcLeft.t01 .gdTitle .t02 .s02{margin-top:5px;}
.gcLeft.t01 .gdTitle .t02 .s02 a, 
.gcLeft.t01 .gdTitle .t02 .s02 img, 
.gcLeft.t01 .gdTitle .t02 .s02 span{vertical-align:middle}
.gcLeft.t01 .gdTitle .t02 .s02 a{position:relative;display:inline-block;width:37px;height:17px;overflow:hidden;}
.gcLeft.t01 .gdTitle .t02 .s02 a img{position:absolute;left:0;top:0;}
.gcLeft.t01 .gdTitle .t02 .s02 span{font-size:12px;color:#666;}
.gdContScrollBox{width:100%;height:529px;border-top:1px solid #ddd;overflow:hidden;}
.gdContScrollBox table{width:100%;}
.gdContScrollBox table th{padding:10px 20px;vertical-align:top;font-size:15px;text-align:left;}
.gdContScrollBox table td{line-height:1.5em;padding:10px 20px;vertical-align:top;font-size:15px;text-align:left;}
.gdMapArea{width:100%;height:140px;overflow:hidden;position:relative;}
.gdMapArea .gdDownload{position:absolute;right:10px;bottom:10px;}
.gdEtcList{width:270px;margin:10px auto;height:auto;overflow:hidden;}
.gdEtcList li{width:100%;height:auto;overflow:hidden;margin-bottom:5px;}
.gdEtcList li .t01{float:left;width:70px;height:auto;overflow:hidden;font-size:12px;color:#666;}
.gdEtcList li .t02{color:#3759a0;float:left;width:200px;height:auto;overflow:hidden;font-size:12px;}
.gcFavBox{display:none;width:600px;height:320px;overflow:hidden;border:1px solid #ddd;background:#fff;position:absolute;left:50%;top:50%;margin:-160px 0 0 -300px;z-index:10001;}
.gcFavBox .rela{width:530px;height:auto;overflow:hidden;margin:0 auto;}
.gcFavBox .rela .gcFavTitle{width:100%;height:auto;overflow:hidden;font-size:16px;font-weight:bold;color:#555;margin:20px 0 5px 0;}
.gcFavBox .rela table{width:100%;}
.gcFavBox .rela table th{border-top:1px solid #ddd;border-bottom:1px solid #ddd;font-size:13px;padding:5px;font-weight:normal;color:#555;}
.gcFavBox .rela table td{font-size:13px;padding:5px;text-align:center;color:#555;}
.gcFavBox .rela table td.al{text-align:left;}
.gcFavBox .rela .fovScrollBox{width:100%;height:150px;overflow:hidden;border-bottom:1px solid #ddd;}
.gcTailTitle{width:100%;height:auto;overflow:hidden;font-size:16px;font-weight:bold;color:#555;margin:20px 0 5px 0;}
.gcTailTitle span{color:#999;font-size:13px;font-weight:normal;}
.gcTailList{width:100%;height:auto;overflow:hidden;margin-top:10px;}
.gcTailList li{float:left;width:102px;margin-left:3px;background:#f4f4f4;text-align:center;}
.gcTailList li:first-child{margin-left:0;}
.gcTailList li a{font-size:11px;letter-spacing:-1px;}
.gwon01{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon01.png) no-repeat left center;background-size:25px 25px;}
.gwon02{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon02.png) no-repeat left center;background-size:25px 25px;}
.gwon03{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon03.png) no-repeat left center;background-size:25px 25px;}
.gwon04{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon04.png) no-repeat left center;background-size:25px 25px;}
.gwon05{display:inline-block;padding-left:30px;background:url(/img/ico/ico_gwon05.png) no-repeat left center;background-size:25px 25px;}

.nico01{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico01.png) no-repeat left center;background-size:15px 15px;}
.nico02{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico02.png) no-repeat left center;background-size:15px 15px;}
.nico03{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico03.png) no-repeat left center;background-size:15px 15px;}
.nico04{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico04.png) no-repeat left center;background-size:15px 15px;}
.nico05{display:inline-block;padding-left:15px;background:url(/img/ico/ico_nico05.png) no-repeat left center;background-size:15px 15px;}
.mCSB_inside > .mCSB_container{margin:0 !important}
.hidden{position:absolute;left:-2000px;}
.calendarEtcBox{display:none;border:1px solid #ddd;width:278px;margin:5px auto;height:auto;overflow:hidden;}
.calendarEtcBox input{border:0;height:25px;line-height:25px;text-align:center;width:226px;overflow:hidden;}
.calendarEtcBox input, .calendarEtcBox img, .calendarEtcBox a, .calendarEtcBox button{vertical-align:middle}
#ui-datepicker-div{background:#fff;}
.gcClose{position:absolute;right:5px;top:5px;}

.mal01{float:left;margin-top:5px;overflow:visible;padding:10px;position:relative;background:#f7b62d;} 
.mal01:before{content:"";width:4px;height:4px;overflow:hidden;position:absolute;right:20px;bottom:-4px;background:url(/img/ico/ico_mal03.png) no-repeat right center;}
.mal01 textarea{resize:none;text-align:center;width:120px;border:0;background:transparent;color:#000;font-size:12px;}
.mal02{margin-top:5px;float:left;border-radius:10px;display:inline-block;overflow:visible;padding:10px;position:relative;background:#f7b62d;}
.mal02:before{content:"";width:4px;height:4px;overflow:hidden;position:absolute;right:20px;bottom:-4px;background:url(/img/ico/ico_mal03.png) no-repeat right center;}
.mal02 textarea{resize:none;text-align:center;width:120px;border:0;background:transparent;color:#000;font-size:12px;}
.mapIconBox{position:absolute;z-index:99999;}
.mapIconClose{float:left;margin-left:-7px;position:relative;z-index:90;}
.mapIconClose img{width:15px;height:15px;border-radius:50%;overflow:hidden;}
.mapIconCont{float:left;}
.malType{width:120px;height:56px;overflow:hidden;}

.galleryPopBox{border:1px solid #ccc;background:#fff;width:400px;height:auto;overflow:hidden;position:absolute;left:50%;margin-left:-200px;top:25%;}
.galleryPopBox .topbar{border-bottom:1px solid #ccc;width:100%;height:32px;line-height:32px;overflow:hidden;background:#f5f5f5;position:relative;}
.galleryPopBox .topbar>span{display:block;margin:0 0 0 10px}
.galleryPopBox .topbar a{opacity:.4;display:block;width:32px;height:32px;overflow:hidden;position:absolute;right:0;top:0;background:url(/img/ico/ico_close01.png) no-repeat center center;text-indent:-2000px;  transition-duration: .3s; transition-property: transform; transition-timing-function: ease-in-out;}
.galleryPopBox .topbar a:hover{transform: rotate(90deg);opacity:1;}
.galleryPopBox .popContents{width:100%;height:auto;overflow:hidden;padding:15px 0;}
.galleryPopBox .listFormPop{display:block;margin:10px;}
.galleryPopBox .listFormPop li{margin:5px auto;width:100%;height:auto;overflow:hidden;}
.galleryPopBox .listFormPop li .label{display:inline-block;font-size:13px;width:60px;height:25px;line-height:25px;}
.galleryPopBox .listFormPop li .inp{width:280px;padding:0 10px;height:25px;line-height:25px;}
.galleryPopBox .listFormPop li .date{width:104px;padding:0 10px;height:25px;line-height:25px;}
.galleryPopBox .listFormPop li .mr20{margin-right:20px}
.galleryPopBox .listFormPop li span, .popBox .listFormPop li input, .popBox .listFormPop li label, .popBox .listFormPop li button, .popBox .listFormPop li img{vertical-align:middle}
.galleryPopBox .txt{position:relative;display:block;text-align:center;height:auto;overflow:hidden;margin:5px 0 0 0;color:#666;font-size:11px;line-height:1.5em;}
.galleryPopBox .txt:before{content:"";font-size:13px;position:absolute;left:0;top:0;}
.galleryPopBox .btnBox{width:100%;height:auto;overflow:hidden;margin:15px auto 0 auto;text-align:center;} /* 2017.12.12 [개발팀] 접근성 시정조치 */
.galleryPopBox .lvSelect{position:absolute;left:110px;top:4px;height:25px;font-size:11px;}

.popGalleryCreateRela.viewType{height:570px}

/* 2017.03.22 수정시 내용스크롤 잘리는 현상 - width 수정  */
.useSide.t01 .gvTextArea{display:block;border:0;line-height:1.3em;font-size:11px;width:260px;height:50px;padding:5px;border:1px solid #ddd;color:#585858;overflow:hidden;overflow-y:scroll;resize:none;margin:0 auto;}
.useSide.t01 .gvTitle.gwon01 .inp{height:30px;line-height:30px;border:1px solid #ccc;width:180px;padding:0 10px}
.hashTag.t01{width:270px;margin:0 auto;box-shadow:none;height:37px;}
.hashTag.t01 div.tagsinput{height:25px !important}


/**/
/* .popGalleryCreateRela .gcLeft.t01 .btnPen{left:30px;bottom:145px} */
.hashTag.t01{margin-top:10px}
/* .useSide.t01 .gvVote.type01{border:1px;} */
.useSide.t01 .gvVote.type01 .josaListBox{width:266px}
.useSide.t01 .gvVote.type01 .calendarEtcBox{width:240px}
.useSide.t01 .gvVote.type01 .calendarEtcBox input{width:205px}
.useSide.t01 .gvVote.type01 .gvTextArea{width:256px;height:50px;padding:5px;border:1px solid #ddd}
input::-ms-clear{
	display:none;
}
