.stepClose2{opacity:.4;display:block;width:32px;height:38px;overflow:hidden;position:absolute;right:0;top:0;background:url(/img/ico/ico_close01.png) no-repeat center center;text-indent:-2000px;  transition-duration: .3s; transition-property: transform; transition-timing-function: ease-in-out;}
.stepClose2:hover{transform: rotate(90deg);opacity:1;}

.sqListBox{z-index:999;display:block;height:40px;position:absolute;left:-640px;background:#333;}
.sqListBox.sq03{height:auto;border:1px solid #dbdbdd;background:#fff;text-align:right;width:240px}
.sqListBox.sq03 .sqTabs{width:230px;height:40px;border-bottom:1px solid #dcdcdc;padding:0 5px;overflow:hidden;background:#f5f5f5}
.sqListBox.sq03 .sqTabs span{text-align:left;margin-left:100px;line-height:40px;color:#666;font-size:13px;display:block;}
.sqListBox.sq03 .sqList{width:100%;height:40px;overflow:hidden;}
.sqListBox.sq03 .sqList ul{margin:0 5px 5px 5px;display:block;}
.sqListBox.sq03 .sqList ul li{text-align:left;width:100%;height:40px;padding:3px 0;overflow:hidden;line-height:40px;position:relative;margin:0;}
.sqListBox.sq03 .sqList ul li span{margin-right:20px;display:block;float:left;height:40px;line-height:40px;color:#414141;font-size:13px;}
.sqListBox.sq03 .sqList ul li select{font-size:11px;float:left;width:100px;height:22px;border:1px solid #1aa58b;margin-top:8px;border-radius:8px;}
.sqListBox.sq03 .sqList ul li a{margin-top:8px;font-size:11px;text-align:center;display:block;width:60px;height:20px;line-height:20px;overflow:hidden;float:left;background:#b6b6b6;color:#fff;border:1px solid #9f9f9f;border-radius: 8px}
.sqListBox.sq03 .sqList ul li a:first-of-type:not(:last-of-type){border-top-right-radius: 0;border-bottom-right-radius: 0}
.sqListBox.sq03 .sqList ul li a:last-of-type:not(:first-of-type){border-top-left-radius: 0;border-bottom-left-radius: 0}
.sqListBox.sq03 .sqList ul li a:not(:first-of-type):not(:last-of-type){border-radius: 0}
.sqListBox.sq03 .sqList ul li a.on{background:#21b69a;border:1px solid #1aa58b;}
.sqListBox.sq03 .sqEtc{padding:5px 0;background:#dcdcdc}
.sqListBox.sq03 .sqEtc span, .sqListBox.sq03 .sqEtc select{vertical-align:middle;height:30px;margin-right:5px}

.sqListBox.sq03 .sqList ul li a.drag>span.mask{display:block;z-index:2;background-image:url(/img/bg/bg_color01.png);position:absolute;left:0;top:0;width:100%;height:30px;overflow:hidden;}
.sqListBox.sq03 .sqList ul li a.drag>span.color{display:block;z-index:3;background:url(/img/bg/bg_mask.png) repeat-x;position:absolute;left:0;top:0;width:100%;height:30px;overflow:hidden;}
.sqListBox.sq03 .sqList ul li .sqdel{position:absolute;right:5px;top:3px}
.sqListBox.sq03 .sqList ul li .sqdel img{width:10px}
.sqListBox>li{float:left;width:36px;height:36px;margin:2px;overflow:hidden;}
.sqListBox>li a{display:block;width:36px;height:36px;font-size:11px;overflow:hidden;background:#666;color:#fff;}
.sqListBox>li a:hover{background:green}
